Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(formatter): wrap long page closure parameters
  crates/reinhardt-admin-cli/README.md
  crates/reinhardt-admin/src/pages/components/common.rs
  crates/reinhardt-admin/src/pages/components/features.rs
  crates/reinhardt-formatter/src/format_engine.rs
  crates/reinhardt-pages/tests/ui/page/pass/for_loop.rs
  crates/reinhardt-pages/tests/ui/page/pass/nested_for.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): design DTO-derived client form bindings
  docs/rfc/2026-07-02-client-form-bindings-design.md
Due: none

feat(pages): compose resource values with action results
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/resource_value.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): plan DTO-derived client form bindings
  docs/rfc/2026-07-02-client-form-bindings-design.md
  docs/rfc/2026-07-02-client-form-bindings-implementation-plan.md
Due: none

feat(pages): add typed form action helper
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add action-state helpers
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat!(pages): require named component route names
  CHANGELOG.md
  crates/reinhardt-commands/templates/app_pages_template/client/components/placeholder.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/macros/CHANGELOG.md
  crates/reinhardt-pages/macros/src/component.rs
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/downstream_builder_reexport_integration_tests.rs
  crates/reinhardt-pages/tests/ui/component/fail/identifier_name.rs
  crates/reinhardt-pages/tests/ui/component/fail/identifier_name.stderr
  crates/reinhardt-pages/tests/ui/component/fail/missing_name.stderr
  crates/reinhardt-pages/tests/ui/component/fail/non_page_return.rs
  crates/reinhardt-pages/tests/ui/component/fail/plain_arg.rs
  crates/reinhardt-pages/tests/ui/component/fail/positional_name.rs
  crates/reinhardt-pages/tests/ui/component/fail/positional_name.stderr
  crates/reinhardt-pages/tests/ui/component/pass/basic_path.rs
  crates/reinhardt-pages/tests/ui/component/pass/import_surface.rs
  crates/reinhardt-pages/tests/ui/component/pass/path_and_query.rs
  instructions/MIGRATION_0.3.md
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): generate DTO-derived client form bindings
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/client_form.rs
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/metadata.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/data_variant.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/data_variant.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/missing_default.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/missing_default.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/tuple_variant.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/tuple_variant.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/unsupported_rename_all.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/unsupported_rename_all.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/serde_renames.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/collection_field.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/collection_field.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/tuple_struct.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/tuple_struct.stderr
  crates/reinhardt-pages/tests/ui/client_form/pass/basic.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/name_override.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/server_fn_submit.rs
  crates/reinhardt-pages/tests/ui/server_fn/response_metadata.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
  docs/rfc/2026-07-02-client-form-bindings-design.md
  docs/rfc/2026-07-02-client-form-bindings-implementation-plan.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): unblock quick-xml security audit
  .cargo/audit.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-views/Cargo.toml
  docs/security-audit-0.3.0.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): migrate tutorial component examples
  crates/reinhardt-urls/src/routers/client_router/core.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/choice_delete.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/choice_edit.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/choice_new.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/polls_detail.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/polls_index.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/polls_results.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/question_delete.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/question_edit.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components/question_new.rs
  examples/examples-tutorial-basis/src/apps/users/client/components/login_page.rs
  examples/examples-tutorial-basis/src/apps/users/client/components/logout_page.rs
  examples/examples-tutorial-basis/src/apps/users/client/components/signup_page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(formatter): normalize wrapped closure indentation
  crates/reinhardt-formatter/src/format_engine.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: address password policy review feedback
  crates/reinhardt-auth/src/core/hasher.rs
  crates/reinhardt-auth/tests/password_hash_policy.rs
  crates/reinhardt-db/src/orm/type_decorator.rs
  crates/reinhardt-utils/src/staticfiles/storage/azure.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Authentication & Security, Utilities & Infrastructure

fix(db): address orm review feedback
  crates/reinhardt-db/src/orm/many_to_many_accessor.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix: address develop merge review feedback
  benchmarks/frontend/fixtures/reinhardt-pages/scripts/reinhardt-dev.mjs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/relation_info_serde.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/relation_info_preserves_explicit_serde.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(security): allow upstream-bound quick-xml advisories
  .cargo/audit.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-views/Cargo.toml
  docs/security-audit-0.3.0.md
  examples/Cargo.lock
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): harden form action lifecycle
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/tests/ui/form/fail/old_use_form_options.stderr
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve client form submit invariants
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/server_fn/metadata.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/serde_renames.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/server_fn_submit.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
  docs/rfc/2026-07-02-client-form-bindings-implementation-plan.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): parse page body form
  crates/reinhardt-manouche/src/core/node.rs
  crates/reinhardt-manouche/src/core/typed_node.rs
  crates/reinhardt-manouche/src/parser/page.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/ast/src/node.rs
  crates/reinhardt-pages/ast/src/parser.rs
  crates/reinhardt-pages/ast/src/typed_node.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): collect and generate implicit body captures
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/hook_deps_validator.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover ast page body reexports
  crates/reinhardt-pages/ast/tests/page_body_form.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): adapt XML parser to quick-xml 0.41
  crates/reinhardt-core/src/parsers/xml.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): complete implicit body capture analysis
  crates/reinhardt-manouche/Cargo.toml
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/ast/src/node.rs
  crates/reinhardt-pages/ast/src/parser.rs
  crates/reinhardt-pages/ast/src/typed_node.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): cover implicit page body captures
  crates/reinhardt-formatter/src/format_engine.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/ui/page/fail/implicit_body_non_clone_capture.rs
  crates/reinhardt-pages/tests/ui/page/fail/implicit_body_non_clone_capture.stderr
  crates/reinhardt-pages/tests/ui/page/pass/implicit_body_capture.rs
  crates/reinhardt-pages/tests/ui/page/pass/implicit_body_head.rs
  crates/tree-sitter-reinhardt-page/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs!(pages): clarify direct body migration
  crates/reinhardt-pages/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(formatter): normalize admin feature page closures
  crates/reinhardt-admin/src/pages/components/features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): strip phone trunk prefixes before formatting
  crates/reinhardt-db/src/orm/type_decorator.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): validate page body capture scopes
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/scope_utils.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(security): clarify quick-xml audit rationale
  .cargo/audit.toml
  docs/security-audit-0.3.0.md
Due: none

fix(pages): harden client form bindings
  .cargo/audit.toml
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/server_fn/metadata.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/serde_renames.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/basic.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/name_override.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/server_fn_submit.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/skipped_field_without_partial_eq.rs
  crates/reinhardt-pages/tests/ui/server_fn/response_metadata.rs
  docs/security-audit-0.3.0.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
