Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

style(tests): apply rustfmt to repro_issue_3651 test
  tests/integration/tests/macros/repro_issue_3651.rs
Due: none

feat(urls): add client-side URL resolution via ClientUrlReverser
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/global.rs
  crates/reinhardt-urls/src/routers/client_router/reverser.rs
  crates/reinhardt-urls/src/routers/resolver.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

fix(macros): use tt repetition instead of path fragment in __for_each_url_resolver
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: add Reinhardt design philosophy as standalone instruction file
  CLAUDE.md
  instructions/DESIGN_PHILOSOPHY.md
Due: none

feat(macros): add client mode to #[url_patterns] for typed client URL methods
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(macros): apply rustfmt to url_patterns tests
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): replace undefined cfg(server) with cfg(native) in twitter example
  examples/examples-twitter/src/apps/auth/shared/types.rs
  examples/examples-twitter/src/apps/profile/shared/types.rs
  examples/examples-twitter/src/apps/tweet/shared/types.rs
  examples/examples-twitter/src/config/urls.rs
Due: none

fix(tests): correct is_active assertion in repro_issue_3651 test
  tests/integration/tests/macros/repro_issue_3651.rs
Due: none

fix(pages): add super:: prefix to msw module parameter types
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): add AdminAuthenticatedUser argument to get_dashboard test calls
  tests/integration/tests/admin/server_fn_usecase_tests.rs
Due: none

fix(ci): add AdminAuthenticatedUser argument to get_dashboard test call
  tests/integration/tests/admin/server_fn_usecase_tests.rs
Due: none

fix(di): use Debug format for ValidationFailed instead of JSON serialization
  crates/reinhardt-di/src/params.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

test(pages): add FileField and ImageField coverage for typed form macro
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): add UrlResolver trait import to generated url_prelude methods
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci: add public API diff PR comments via cargo-public-api
  .github/workflows/semver-check.yml
Due: none

style(core): fix formatting in reinhardt-core macros and lib
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(macros): apply rustfmt formatting fixes
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): clarify msw guard comment wording
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci: add missing docker images to CI cache lists
  .github/docker-images-cross-crate.txt
  .github/docker-images-intra-crate.txt
  .github/docker-images-unit-test.txt
Due: none

fix(ci): resolve format and clippy deprecated lint errors
  crates/reinhardt-core/src/messages/utils.rs
  crates/reinhardt-core/src/messages/utils/filter.rs
  crates/reinhardt-core/src/security.rs
  crates/reinhardt-mail/src/utils.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Communication

fix(ci): replace remaining escape_html_content calls with escape_html
  crates/reinhardt-core/src/security.rs
  crates/reinhardt-testkit/src/debug.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(testkit): align rabbitmq image tag to pre-pulled 3-management-alpine
  crates/reinhardt-testkit/src/containers.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): use resolve_from_registry() in HTTP method macros for factory type compatibility
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): use resolve_from_registry() in #[server_fn] for factory type compatibility
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(forms): parse scope annotations; reject client_validators with migration error
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(forms): propagate scope in manouche transform, drop client transforms and js validator
  crates/reinhardt-manouche/src/validator/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): propagate namespace to inner ClientRouter in UnifiedRouter
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(forms): filter .validate() codegen by server scope
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(apps): extend AppLabel with path() method for enum-style implementors
  crates/reinhardt-apps/src/apps.rs
  crates/reinhardt-apps/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(forms): add migration guide for client_validators deprecation
  docs/migration/0.2.0-client-validators-removal.md
Due: none

docs(macros): clarify cross-crate extract_depends_inner_type duplication
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

security(macros): redact DI error details in server_fn 500 responses
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(forms): add trybuild fixture pinning client_validators rejection
  crates/reinhardt-pages/tests/ui/form/fail/client_validators_rejected.rs
  crates/reinhardt-pages/tests/ui/form/fail/client_validators_rejected.stderr
Due: unit, intra-crate-integration, cross-crate-integration

docs(changelog): deprecate client_validators block with migration path
  CHANGELOG.md
Due: none

feat(macros)!: typed #[url_patterns(InstalledApp::..., mode = ...)]
  crates/reinhardt-core/macros/Cargo.toml
  crates/reinhardt-core/macros/src/installed_apps.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/tests/installed_apps_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(integration): add url_patterns_typed_integration
  tests/integration/tests/routing.rs
  tests/integration/tests/routing/url_patterns_typed_integration.rs
Due: none

style(forms): apply rustfmt to scope_tests module
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(macros): update #[url_patterns] docs to the typed syntax
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(macros): add compile-pass coverage for Depends<FactoryType> in #[get] and #[server_fn]
  tests/integration/Cargo.toml
  tests/integration/tests/di/ui.rs
  tests/integration/tests/di/ui/pass/factory_depends_in_route_macro.rs
  tests/integration/tests/di/ui/pass/factory_depends_in_server_fn.rs
Due: none
