Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

ci(semver-check): skip proc-macro crates in per-crate matrix
  .github/workflows/semver-check.yml
Due: none

test(integration): nest #[routes] trybuild fixtures under mod apps
  tests/integration/tests/routes_registration_no_client_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_no_ws_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_server_only_idempotent_trybuild.rs
  tests/integration/tests/routes_registration_server_only_trybuild.rs
Due: none

fix(urls): normalize viewset prefix in URL reversal to prevent triple slash
  crates/reinhardt-urls/src/routers/server_router/introspection.rs
  examples/examples-tutorial-rest/README.md
  examples/examples-tutorial-rest/tests/urls_typed_accessors.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

docs(examples-tutorial-rest): replace dangling 'see note below' with actual viewset URLs
  examples/examples-tutorial-rest/README.md
Due: none

fix(examples-tutorial-basis): forward `client-router` feature to wasm-pack test
  examples/examples-tutorial-basis/Makefile.toml
Due: none

fix(examples-tutorial-basis): replace broken success_url with success-signal use_effect
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

feat(reinhardt-commands): implement Django-style migrate-with-target rollback
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/tests/migrate_target_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(db): derive NOT NULL from FieldState.nullable in autodetector
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(examples-twitter): derive Default on User to satisfy #[user] auto-register
  examples/examples-twitter/src/apps/auth/models/user.rs
Due: none

docs(db): correct rationale comment in from_field_state
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(reinhardt-commands): ensure recorder table exists before rollback
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/tests/migrate_target_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(reinhardt-commands): skip ensure_schema_table in --plan/--dry-run paths
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/tests/migrate_target_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(reinhardt-commands): only swallow table-missing errors during --plan
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(examples-tutorial-basis): gate vote-success redirect block to wasm
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

test(integration): add client resolver fixture to url_patterns_viewset typed test
  tests/integration/tests/url_patterns_viewset_typed_integration.rs
Due: none

fix(macros): namespace installed_apps state file by CARGO_CRATE_NAME
  crates/reinhardt-core/macros/src/macro_state.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): align macro_state.rs fallback with #[routes]'s hard-fail include_bytes!
  crates/reinhardt-core/macros/src/macro_state.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(ci): move lightweight gate jobs to self-hosted hotpath runner
  .github/workflows/auto-label-pr.yml
  .github/workflows/ci.yml
  .github/workflows/develop-leak-guard.yml
  .github/workflows/develop-merge-guard.yml
Due: none

fix(ci): bound hotpath gate timeouts and add canonical-label pointer
  .github/workflows/auto-label-pr.yml
  .github/workflows/ci.yml
  .github/workflows/develop-leak-guard.yml
  .github/workflows/develop-merge-guard.yml
Due: none

fix(integration): add no_client_resolvers to viewset_typed_integration #[routes]
  tests/integration/tests/url_patterns_viewset_typed_integration.rs
Due: none

fix(manouche): drop redundant ':' in success_url parser arm
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): add use_router() hook + RouterHandle + navigate() free function
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/router.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/navigate.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover use_router and navigate integration paths
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/tests/navigate_free_fn_integration.rs
  crates/reinhardt-pages/tests/use_router_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add try_with_spa_router + NavigateError::RouterNotInstalled
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/reactive/hooks/router.rs
  crates/reinhardt-pages/tests/use_router_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages-macros): lift success_url to outer scope + SPA-aware redirect
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): trybuild fixture for success_url outer-scope capture
  crates/reinhardt-pages/tests/ui/form/pass/success_url_captures_outer_local.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(examples-tutorial-basis): restore success_url attribute, drop use_effect workaround
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

style(pages): apply rustfmt to navigate.rs
  crates/reinhardt-pages/src/router/navigate.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(manouche): use unwrap_or_else for parse error in success_url tests
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): address Copilot review feedback on PR #4623
  crates/reinhardt-pages/macros/src/form/validator.rs
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/reactive/hooks/router.rs
  crates/reinhardt-pages/src/router/navigate.rs
  crates/reinhardt-pages/tests/use_router_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): address CodeRabbit review on PR #4623
  crates/reinhardt-pages/macros/src/form/validator.rs
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/tests/navigate_free_fn_integration.rs
  crates/reinhardt-pages/tests/use_router_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): lift form! on_success: closure to outer scope when annotated
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/ui/form/pass/on_success_captures_outer_local.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(manouche): add on_success_ref to form callbacks AST and parser
  crates/reinhardt-manouche/src/core/form_node.rs
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-manouche/src/parser/form.rs
  crates/reinhardt-manouche/src/validator/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-ast): mirror on_success_ref field on pages-side AST
  crates/reinhardt-pages/ast/src/form_node.rs
  crates/reinhardt-pages/ast/src/form_parser.rs
  crates/reinhardt-pages/ast/src/form_typed.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-macros): lift on_success_ref to outer scope
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): trybuild fixture for on_success_ref outer-scope capture
  crates/reinhardt-pages/tests/ui/form/pass/on_success_ref_and_on_success_coexist.rs
  crates/reinhardt-pages/tests/ui/form/pass/on_success_ref_captures_outer_local.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document on_success_ref vs on_success trade-off
  crates/reinhardt-pages/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(stability): consolidate stability policy and drop 0.x exception
  .github/ISSUE_TEMPLATE/8-api_change.yml
  CONTRIBUTING.md
  README.md
  docs/API_STABILITY.md
  instructions/STABILITY_POLICY.md
Due: none

fix(pages): gate on_success lift on wasm + inject move for 'static
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages-macros): enforce on_success_ref closure value type at compile time
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/ui/form/pass/on_success_ref_and_on_success_coexist.rs
  crates/reinhardt-pages/tests/ui/form/pass/on_success_ref_captures_outer_local.rs
Due: unit, intra-crate-integration, cross-crate-integration

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
