Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(core): reject nonzero float underflow in bindings
  crates/reinhardt-core/src/types/page/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): preserve select fallback claims after timeout
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): evaluate bound radio values once
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): normalize native control tag casing
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): reject duplicate bound choice values
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_duplicate_option_value.rs
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_duplicate_option_value.stderr
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_duplicate_radio_value.rs
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_duplicate_radio_value.stderr
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): clarify controlled binding guarantees
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): harden dependency migration
  crates/reinhardt-admin-cli/src/migrate_v2/rules/use_effect_deps.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/tests/ui.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): normalize native event target casing
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): preserve enum domain round trips
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/state_loader.rs
  tests/integration/tests/migrations/model_enum_migration_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core): preserve page element parts compatibility
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/tests/page_element_parts.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

test(core): gate page element parts test by features
  crates/reinhardt-core/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): harden dependency migration edge cases
  crates/reinhardt-admin-cli/src/migrate_v2/rules/use_effect_deps.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(core)!: add structured database errors
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/exception.rs
  crates/reinhardt-core/src/exception/database.rs
  crates/reinhardt-core/tests/exception_hierarchy.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): roll back failed element mounts
  crates/reinhardt-pages/src/component/into_page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): prevalidate hydrated controls atomically
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): preserve enum constraint edge cases
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-db/src/migrations/state_loader.rs
  tests/integration/tests/migrations/model_enum_migration_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): retain sanitized number editor input
  crates/reinhardt-pages/src/dom/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): validate controls before hydration adoption
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover controlled binding runtime rollback
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: preserve renamed migration artifacts
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/m2m_naming.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
  instructions/MIGRATION_0.4.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(http)!: map structured database failures
  crates/reinhardt-http/src/response.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): use sanitized browser number values
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): clarify browser number sanitization
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): complete typed constraint execution
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(db)!: centralize SQLx error classification
  crates/reinhardt-db/src/backends.rs
  crates/reinhardt-db/src/backends/error.rs
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): preserve rejected composition values
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(core): snapshot controlled binding state
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): reproject reentrant number compositions
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): restore transactional controlled input state
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat!(pages): require explicit hook dependency modes
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/deps.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/covered_dep_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/extra_dep_not_flagged_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/get_untracked_escape_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/mount_only_unit_deps_inside_page.rs
  src/pages.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

docs(pages): document incomplete number preservation
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): require raw incomplete number preservation
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): classify SQLx transaction failures
  crates/reinhardt-db/src/backends/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core): restore control snapshots atomically
  crates/reinhardt-core/src/reactive/signal.rs
  crates/reinhardt-core/src/types/page/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): apply number edits at browser selection
  crates/reinhardt-pages/src/dom/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover positioned number editor changes
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): align dependency mode exports and tests
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/trackable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

feat(migrations): diff model enum constraints
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/migration.rs
  crates/reinhardt-db/src/migrations/migration_namer.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
  tests/integration/tests/migrations/makemigrations_logic_integration.rs
  tests/integration/tests/migrations/model_enum_migration_integration.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
