Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs(readme): fix dispatch crate label and add missing components
  README.md
Due: none

docs: update version references in crate READMEs to 0.1.0-rc.9
  crates/reinhardt-rest/README.md
  crates/reinhardt-views/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(instructions): update outdated version references to 0.1.0-rc.9
  instructions/CRATE_STRUCTURE.md
  instructions/MIGRATION_CARGO_WATCH_TO_BACON.md
Due: none

fix(commands): rename restful template settings files with .example suffix
  crates/reinhardt-commands/templates/project_restful_template/settings/base.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/local.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/production.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/staging.example.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): add feature gates for database backend connections
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(macros): remove feature-dependent code generation from #[routes] macro
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-urls/src/routers/registration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(macros): handle empty input in installed_apps! macro
  crates/reinhardt-core/macros/src/installed_apps.rs
  crates/reinhardt-core/macros/tests/installed_apps_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(infra): fix terraform fmt alignment in runner.tf
  infra/github-runners/runner.tf
Due: none

fix(commands): propagate openapi-router feature to reinhardt-commands
  Cargo.toml
  crates/reinhardt-commands/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(graphql): re-export async_graphql base types through reinhardt facade
  crates/reinhardt-graphql/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(macros): resolve 'use of moved value' with pre_validate destructuring patterns
  crates/reinhardt-core/macros/src/routes.rs
  tests/integration/src/pre_validate.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(macros): add range(min, max) support to #[derive(Validate)]
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/validate_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(reinhardt-commands): add explicit type annotation for database connection
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(reinhardt-web): change default feature from "full" to "standard"
  Cargo.toml
Due: none

docs(reinhardt-commands): document --force-empty-state flag and linkme dependency
  crates/reinhardt-commands/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(reinhardt-web): propagate postgres feature to reinhardt-commands
  Cargo.toml
Due: none

fix(reinhardt-web): propagate postgres feature to db-cockroachdb commands
  Cargo.toml
Due: none

ci(terraform): remove manual approval gate from apply job
  .github/workflows/terraform-apply.yml
Due: none

fix(examples): add missing feature flags for examples CI
  examples/examples-database-integration/Cargo.toml
  examples/examples-github-issues/Cargo.toml
  examples/examples-rest-api/Cargo.toml
Due: none

fix(examples): add missing feature flags for github-issues and rest-api examples
  examples/examples-github-issues/Cargo.toml
  examples/examples-rest-api/Cargo.toml
Due: none

docs: add draft PR conversion protection policy
  CLAUDE.md
  instructions/PR_GUIDELINE.md
Due: none

feat: add reinhardt-taggit crate on main baseline
  Cargo.toml
  crates/reinhardt-taggit/Cargo.toml
  crates/reinhardt-taggit/README.md
  crates/reinhardt-taggit/macros/Cargo.toml
  crates/reinhardt-taggit/macros/src/lib.rs
  crates/reinhardt-taggit/src/error.rs
  crates/reinhardt-taggit/src/lib.rs
  crates/reinhardt-taggit/src/models.rs
  crates/reinhardt-taggit/src/models/tag.rs
  crates/reinhardt-taggit/src/models/taggable.rs
  crates/reinhardt-taggit/src/models/tagged_item.rs
  crates/reinhardt-taggit/tests/Cargo.toml
  crates/reinhardt-taggit/tests/fixtures.rs
  crates/reinhardt-taggit/tests/fixtures/database_fixture.rs
  crates/reinhardt-taggit/tests/fixtures/tag_fixture.rs
  crates/reinhardt-taggit/tests/fixtures/tagged_item_fixture.rs
  crates/reinhardt-taggit/tests/integration.rs
  crates/reinhardt-taggit/tests/integration/cascade_delete_test.rs
  crates/reinhardt-taggit/tests/integration/tag_crud_test.rs
  crates/reinhardt-taggit/tests/integration/tag_relationship_test.rs
  crates/reinhardt-taggit/tests/integration/tagged_item_crud_test.rs
  crates/reinhardt-taggit/tests/lib.rs
  crates/reinhardt-taggit/tests/unit.rs
  crates/reinhardt-taggit/tests/unit/error_mod_test.rs
  crates/reinhardt-taggit/tests/unit/tag_mod_test.rs
  crates/reinhardt-taggit/tests/unit/tagged_item_mod_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(http): make AuthState::from_extensions() find AuthState object directly
  crates/reinhardt-http/src/auth_state.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(db): warn when FilesystemSource root directory does not exist
  crates/reinhardt-db/src/migrations/source/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(db): recommend CARGO_MANIFEST_DIR for workspace-safe migration paths
  crates/reinhardt-db/src/migrations/source/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(auth): add warning log when DatabaseConnection is missing for CurrentUser injection
  crates/reinhardt-auth/src/current_user.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(auth): document DI context requirements for CurrentUser injection
  crates/reinhardt-auth/src/current_user.rs
  crates/reinhardt-auth/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(testkit): add postgres_with_migrations_from_dir helper using FilesystemSource
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
Due: unit, intra-crate-integration, cross-crate-integration

deprecated(core): deprecate collect_migrations! macro in favor of FilesystemSource
  crates/reinhardt-core/macros/src/collect_migrations.rs
  crates/reinhardt-core/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(db): apply auto-fix formatting to filesystem source
  crates/reinhardt-db/src/migrations/source/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs: add Copilot review handling workflow (CR-1 ~ CR-5)
  CLAUDE.md
  instructions/GITHUB_INTERACTION.md
Due: none

feat(di): add Option<T> blanket Injectable impl for optional injection
  crates/reinhardt-di/src/injectable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

feat(core): auto-detect #[inject] without requiring use_inject = true
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/tests/ui/routes/fail/inject_without_use_inject.stderr
  crates/reinhardt-core/macros/tests/ui/routes/pass/inject_auto_detect.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(auth): add AuthUser<U> extractor with tuple struct destructuring
  crates/reinhardt-auth/src/auth_user.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(auth): update re-exports and suppress deprecation warnings
  crates/reinhardt-admin/src/server.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/list.rs
  crates/reinhardt-auth/src/lib.rs
  src/lib.rs
  tests/integration/tests/auth/current_user_di_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Frontend & Pages

fix(rest): normalize type names in OpenAPI schema lookup
  crates/reinhardt-rest/src/openapi/endpoint_inspector.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(commands): implement secret_key template substitution with example overrides
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/src/template.rs
  crates/reinhardt-commands/templates/project_pages_template/settings/base.example.toml
  crates/reinhardt-commands/templates/project_pages_template/settings/local.example.toml
  crates/reinhardt-commands/templates/project_pages_template/settings/production.example.toml
  crates/reinhardt-commands/templates/project_pages_template/settings/staging.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/base.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/local.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/production.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/staging.example.toml
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(rest): add operation-level OpenAPI route attributes
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/src/endpoint.rs
  crates/reinhardt-rest/src/openapi/endpoint_inspector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework

test(rest): add comprehensive tests for new OpenAPI annotation attributes
  tests/integration/tests/rest/openapi_derive_schema_tests.rs
  tests/integration/tests/rest/openapi_parameter_recognition_tests.rs
  tests/integration/tests/rest/schema_integration_tests.rs
Due: none

fix(commands): clarify installed_apps comment in TOML settings templates
  crates/reinhardt-commands/templates/project_pages_template/settings/base.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/base.example.toml
Due: unit, intra-crate-integration, cross-crate-integration
