Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs: add Final Comment Period process for API stabilization to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

fix(ci): use PR base SHA as semver-checks baseline for unpublished crates
  .github/workflows/semver-check.yml
Due: none

fix(examples): update CorsConfig initialization to use default-then-mutate pattern
  examples/examples-github-issues/src/config/urls.rs
  examples/examples-twitter/src/config/middleware.rs
Due: none

chore: complete Cargo.toml metadata for all published crates
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-http/Cargo.toml
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-rest/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(workspace): audit deprecated attributes and document migration paths across all crates
  CONTRIBUTING.md
Due: none

docs(workspace): strengthen crate-level documentation for all major crates
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-conf/src/lib.rs
  crates/reinhardt-core/src/lib.rs
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-middleware/src/lib.rs
  crates/reinhardt-rest/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security

docs(core,db): fix rustdoc warnings in reinhardt-core and reinhardt-db
  crates/reinhardt-core/src/types.rs
  crates/reinhardt-db/src/nosql/repository.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM

docs(db): fix doc test failures in migrations module
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/recorder.rs
  crates/reinhardt-db/src/migrations/state_loader.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(auth): fix rustdoc warnings and doc test failures in reinhardt-auth
  crates/reinhardt-auth/src/social/oidc/discovery.rs
  crates/reinhardt-auth/src/user_management.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(rest,conf): fix broken intra-doc link in reinhardt-rest lib.rs
  crates/reinhardt-rest/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(ci): add workspace parameter to semver-checks to include all crates
  .github/workflows/semver-check.yml
Due: none

fix(docs): fix bare URL and bracket escaping in doc comments for RUSTDOCFLAGS
  crates/reinhardt-admin-cli/src/ast_formatter.rs
  crates/reinhardt-auth/src/social/oidc/discovery.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(commands): convert non-exhaustive Settings struct literals to field mutation in tests
  crates/reinhardt-commands/tests/test_sendtestemail.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(core,db): fix invalid rustdoc code blocks to pass -D warnings
  crates/reinhardt-core/src/types.rs
  crates/reinhardt-db/src/nosql/repository.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM

fix(auth): add missing common trait implementations to public types
  crates/reinhardt-auth/src/core/user.rs
  crates/reinhardt-auth/src/group_management.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/sessions/backends/cache.rs
  crates/reinhardt-auth/src/sessions/backends/jwt.rs
  crates/reinhardt-auth/src/social/core/error.rs
  crates/reinhardt-auth/src/token_storage.rs
  crates/reinhardt-auth/src/user_management.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): install 64-bit OpenSSL via chocolatey for Windows cross-platform check
  .github/workflows/cross-platform-check.yml
Due: none

fix(ci): use Strawberry Perl OpenSSL for Windows cross-platform check
  .github/workflows/cross-platform-check.yml
Due: none

fix(db): add missing common trait implementations to public types
  crates/reinhardt-db/src/backends/error.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/nosql/error.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): use choco openssl with dynamic linking for Windows cross-platform check
  .github/workflows/cross-platform-check.yml
Due: none

fix(db): add PartialEq/Eq trait implementations to query and config types
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/backends_pool/config.rs
  crates/reinhardt-db/src/migrations/di_support.rs
  crates/reinhardt-db/src/migrations/recorder.rs
  crates/reinhardt-db/src/orm/engine.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(http): add missing common trait impls to TrustedProxies and Response
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-http/src/response.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(guidelines): update branch naming convention from feat/ to feature/
  instructions/PR_GUIDELINE.md
Due: none

fix(auth): prevent JwtConfig secret exposure in Debug output via manual impl
  crates/reinhardt-auth/src/sessions/backends/jwt.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): use runner.temp for CARGO_TARGET_DIR to support Windows runners
  .github/actions/setup-rust/action.yml
  .github/workflows/cross-platform-check.yml
Due: none

docs(core): remove duplicate signals entry in crate-level documentation
  crates/reinhardt-core/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(db): fix stale SQLite references in executor.rs migration doctest comments
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): remove invalid workspace parameter from cargo-semver-checks-action
  .github/workflows/semver-check.yml
Due: none

fix(ci): replace cargo-semver-checks action with direct workspace check
  .github/workflows/semver-check.yml
Due: none

fix(ci): add fetch-depth: 0 to checkout for baseline-rev support
  .github/workflows/semver-check.yml
Due: none

ci(semver-check): fix release-type to minor on normal PRs, run full check on release PRs
  .github/workflows/ci.yml
  .github/workflows/semver-check.yml
Due: none

fix(ci): force nightly toolchain in docs-rs-check to override rust-toolchain.toml
  .github/workflows/docs-rs-check.yml
  Makefile.toml
Due: none

fix(ci): move CARGO_TARGET_DIR to job-level env in cross-platform-check
  .github/workflows/cross-platform-check.yml
Due: none

fix(ci): use RUNNER_TEMP shell var instead of runner.temp context
  .github/workflows/cross-platform-check.yml
Due: none

docs(core): fix broken doctest in lib.rs crate-level documentation
  crates/reinhardt-core/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(middleware): update integration test struct initialization for #[non_exhaustive] config structs
  crates/reinhardt-middleware/tests/boundary_value_integration.rs
  crates/reinhardt-middleware/tests/combination_integration.rs
  crates/reinhardt-middleware/tests/decision_table_integration.rs
  crates/reinhardt-middleware/tests/edge_cases_integration.rs
  crates/reinhardt-middleware/tests/equivalence_partitioning_integration.rs
  crates/reinhardt-middleware/tests/fuzz_integration.rs
  crates/reinhardt-middleware/tests/happy_path_integration.rs
  crates/reinhardt-middleware/tests/property_based_integration.rs
  crates/reinhardt-middleware/tests/sanity_integration.rs
  crates/reinhardt-middleware/tests/use_cases_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration
