Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(throttling): use per-key bucket state in TokenBucket rate limiter
  crates/reinhardt-throttling/src/token_bucket.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(auth): validate client_id matches authorization code in OAuth2 exchange
  crates/reinhardt-auth/src/oauth2.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): correct security issue template to warn about public visibility
  .github/ISSUE_TEMPLATE/7-security.yml
Due: none

fix(websockets): release connection slot on disconnect in RateLimitMiddleware
  crates/reinhardt-websockets/src/middleware.rs
  crates/reinhardt-websockets/src/throttling.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(tasks): implement weight-based ordering for Priority enum
  crates/reinhardt-tasks/src/priority_queue.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(websockets): use tokio::select! for early pong detection in HeartbeatMonitor
  crates/reinhardt-websockets/src/connection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

refactor(deploy): replace regex-based code analysis with syn AST parsing
  crates/reinhardt-deploy/src/detection/code_analysis.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(deploy): return error for malformed terraform plan output instead of silent zero
  crates/reinhardt-deploy/src/terraform/state.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(deploy): propagate json serialization errors instead of fallback
  crates/reinhardt-deploy/src/report.rs
  crates/reinhardt-deploy/tests/deploy_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(deploy): preserve all detected nosql engines instead of overwriting
  crates/reinhardt-deploy/src/detection.rs
  crates/reinhardt-deploy/src/detection/code_analysis.rs
  crates/reinhardt-deploy/src/detection/feature_flags.rs
  crates/reinhardt-deploy/src/init.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(deploy): add input validation and tera template for dockerfile generation
  crates/reinhardt-deploy/src/build/docker_image.rs
  crates/reinhardt-deploy/templates/build/Dockerfile.backend.tera
  crates/reinhardt-deploy/templates/build/Dockerfile.wasm.tera
Due: unit, intra-crate-integration, cross-crate-integration

fix(deploy): execute preflight check commands instead of hardcoding success
  crates/reinhardt-deploy/src/checks.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(deploy): mark wizard stub with unimplemented macro
  crates/reinhardt-deploy/src/detection/wizard.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore(deploy): remove unused syn dependency
  crates/reinhardt-deploy/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(deploy): add field validation for deploy config
  crates/reinhardt-deploy/src/config.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(deploy): add error path and lifecycle tests
  crates/reinhardt-deploy/src/rollback.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: add PR conflict resolution strategy and GitHub Discussions references
  CLAUDE.md
  instructions/GITHUB_INTERACTION.md
  instructions/ISSUE_GUIDELINES.md
  instructions/PR_GUIDELINE.md
Due: none

ci: skip CI when PR has merge conflicts
  .github/workflows/ci.yml
Due: none

chore(deploy): replace dialoguer with inquire, console, and comfy-table
  crates/reinhardt-deploy/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(deploy): implement detection wizard interactive prompts
  crates/reinhardt-deploy/src/detection/wizard.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(websockets): add non_exhaustive to ConnectionContext
  crates/reinhardt-websockets/src/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(views): add RefUnwindSafe impl for ViewSetHandler
  crates/reinhardt-views/src/viewsets/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(views): remove unsafe keyword from RefUnwindSafe impl
  crates/reinhardt-views/src/viewsets/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(middleware): add missing import in HttpsRedirectMiddleware doc test
  crates/reinhardt-middleware/src/https_redirect.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(db): preserve backward compatibility for batch_ops API
  crates/reinhardt-db/src/backends/optimization/batch_ops.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

style(db): apply formatter to batch_ops
  crates/reinhardt-db/src/backends/optimization/batch_ops.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

chore(branding): add white-background wordmark for trademark registration
  branding/reinhardt-trademark-white-bg.png
Due: none

fix(deploy): correct nosql_engine field name to nosql_engines in wizard
  crates/reinhardt-deploy/src/detection/wizard.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore(ci): add cargo-audit security scanning workflow
  .github/workflows/ci.yml
  .github/workflows/security-audit.yml
  CLAUDE.md
  Makefile.toml
Due: none

fix(websockets): remove stale IP entries from ConnectionRateLimiter
  crates/reinhardt-websockets/src/throttling.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(tasks): check semaphore before dequeue to prevent task loss
  crates/reinhardt-tasks/src/worker.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(rest): fix HostNameVersioning regex pattern corruption
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

security(admin): fix constant_time_eq token length leak
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-forms/Cargo.toml
  crates/reinhardt-forms/src/form.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(tasks): fix SqliteResultBackend discarding result on error
  crates/reinhardt-tasks/src/backends/sqlite.rs
  crates/reinhardt-tasks/src/result.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(di): fix depth counter leak on circular dependency detection
  crates/reinhardt-di/src/cycle_detection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(http): prevent Extensions::remove losing value on downcast failure
  crates/reinhardt-http/src/extensions.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(utils): fix ordinal() for negative numbers
  crates/reinhardt-utils/src/utils_core/text.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(deps): remove version field from reinhardt-test dependency
  crates/reinhardt-commands/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(auth): use deterministic UUID for RemoteUserAuthentication
  Cargo.toml
  crates/reinhardt-auth/src/remote_user.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): use deterministic UUID for non-UUID user IDs in TokenAuth/BasicAuth
  Cargo.toml
  crates/reinhardt-auth/src/rest_authentication.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security
