Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(pages): remove WASM head test warnings
  crates/reinhardt-pages/tests/wasm/document_head_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve default head metadata during hydration
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/ssr_head_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve managed head descriptor ordering
  crates/reinhardt-pages/src/document_head/dom.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve hydrated head order
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover metadata-free route navigation
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(orm): reject oversized queryset bind values
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): preserve action button DOM while pending
  crates/reinhardt-pages/src/ui/action_button.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): envelope server function failures
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/tests/server_fn_native_handler_tests.rs
  crates/reinhardt-test/src/msw/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(orm): keep UUID-looking filters as text
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): envelope server function request failures
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/router_ext.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): bind action button attributes reactively
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ui/action_button.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): hydrate reactive element attributes
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): skip stale server form errors
  crates/reinhardt-pages/src/form_state.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(orm): bind typed temporal filter values
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): classify server function failures
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/tests/server_fn_native_handler_tests.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/serde_alias_collision.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/serde_alias_collision.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): retain document head error diagnostics
  crates/reinhardt-pages/src/document_head.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): dispose reactive attribute effects
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/component.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(orm): retain UUID filter bindings
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): preserve structured server form errors
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/form_state.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): materialize reactive test attributes
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): preserve reactive attribute precedence
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): retain custom error status
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore: remove task execution reports
  .superpowers/sdd/task-1-report.md
  .superpowers/sdd/task-2-report.md
  .superpowers/sdd/task-3-report.md
  .superpowers/sdd/task-4-report.md
Due: none

fix(pages): preserve controlled reactive attributes
  crates/reinhardt-pages/src/component/into_page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): reconcile reactive attributes
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/wasm/ui_primitives_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): preserve reactive control hydration
  crates/reinhardt-pages/src/component/reactive_if.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): normalize boolean attribute names
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/util.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/wasm/ui_primitives_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(core): satisfy reactive attribute lint requirements
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-core/src/types/page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): restore reactive attribute test checks
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/head_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_head_integration_tests.rs
  crates/reinhardt-pages/tests/ui/head/fail/base_missing_href.rs
  crates/reinhardt-pages/tests/ui/head/pass/base.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(examples): import tutorial database error types
  examples/examples-tutorial-basis/src/apps/users/models.rs
Due: none

fix(pages): stabilize empty head compile fixture
  crates/reinhardt-pages/tests/ui/head/fail/base_missing_href.rs
  crates/reinhardt-pages/tests/ui/head/fail/base_missing_href.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): update PageElement parts regression test
  crates/reinhardt-core/tests/page_element_parts.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): simplify reactive boolean attribute predicates
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(examples): own tutorial resource error messages
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
Due: none

fix(commands): restore phase 1 CI gates
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/template_manifest.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(integration): validate server function error envelope
  tests/integration/tests/admin/server_fn_e2e_tests.rs
Due: none

fix(examples): format tutorial basis resource errors
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
Due: none

fix(pages): prevent invalid head macro doc link
  crates/reinhardt-pages/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(formatter): preserve match arm spacing
  crates/reinhardt-formatter/queries/page_formatting.scm
  crates/reinhardt-formatter/src/format_engine.rs
Due: unit, intra-crate-integration, cross-crate-integration
