Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(routing): harden URL pattern scope analysis
  README.md
  crates/reinhardt-commands/templates/app_pages_template/urls.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/instructions/MACRO_USAGE.md
  crates/reinhardt-commands/tests/e2e_pages.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(db): standardize race recovery tests
  crates/reinhardt-db/src/orm/upsert/execution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): harden model form default metadata
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/src/model_form/policy.rs
  crates/reinhardt-pages/docs/model_forms.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/form/model.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(dispatch): keep test mutex import out of production code
  crates/reinhardt-dispatch/src/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(routing): reject typed and opaque nested server builders
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.stderr
Due: unit, intra-crate-integration, cross-crate-integration

ci(wasm): install protoc for the native browser harness
  .github/workflows/wasm-check.yml
  tests/integration/tests/url_patterns_target_parity.rs
Due: none

docs(dispatch): make the legacy exception adapter example executable
  crates/reinhardt-dispatch/README.md
  crates/reinhardt-dispatch/src/exception.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(routing): cover alias flow in URL pattern analysis
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve native model form edits before hydration
  crates/reinhardt-core/src/model_form/policy.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/hydration.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): normalize native model form multipart fields
  crates/reinhardt-pages/docs/model_forms.md
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/server_fn/multipart.rs
  crates/reinhardt-pages/tests/server_fn_native_handler_tests.rs
  crates/reinhardt-pages/tests/ui/form/model_multipart_support.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(core): use rstest for noscript fallback coverage
  crates/reinhardt-core/src/types/page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(routing): cover additional URL pattern alias flows
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve JSON string scalars in multipart forms
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/src/model_form/policy.rs
  crates/reinhardt-pages/docs/model_forms.md
  crates/reinhardt-pages/src/server_fn/multipart.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(routing): cover control-flow router aliases
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): detect release tags with consistent snapshot ordering
  .github/workflows/release-plz.yml
  instructions/RELEASE_PROCESS.md
  scripts/tests/test-release-tag-snapshots.sh
Due: none

docs: add release announcement(s)
  announcements/v0.1.0.md
  announcements/v0.2.0.md
  announcements/v0.3.0.md
  announcements/v0.3.13.md
  announcements/v0.3.15.md
  announcements/v0.3.16.md
  announcements/v0.3.17.md
Due: none

fix(pages): retain native edits when hydrating model forms
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve JSON types in multipart model forms
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/src/model_form/policy.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/server_fn/multipart.rs
  tests/integration/tests/model_form_multipart_validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

test(pages): reserve cold-build time for facade consumers
  .config/nextest.toml
Due: none

fix(deps): constrain incompatible AWS Smithy releases
  Cargo.toml
  README.md
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-providers/Cargo.toml
  crates/reinhardt-tasks/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

docs: remove Tachyon Inc. attribution
  README.md
  announcements/v0.1.0-rc.2.md
  website/templates/base.html
Due: none

fix(pages): preserve native model form intent across startup and reset
  crates/reinhardt-core/src/model_form/policy.rs
  crates/reinhardt-pages/docs/model_forms.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/native_model_form.js
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

docs: preserve release announcement history
  announcements/v0.1.0-rc.2.md
Due: none

docs(agents): reconcile execution policies and task prompts
  .codex/agents/frontend-qa-tester.toml
  AGENTS.md
  CLAUDE.md
  instructions/AGENT_WORKFLOW.md
  instructions/ANTI_PATTERNS.md
  instructions/COMMIT_GUIDELINE.md
  instructions/DOCUMENTATION_STANDARDS.md
  instructions/GITHUB_INTERACTION.md
  instructions/PR_GUIDELINE.md
  instructions/QUICK_REFERENCE.md
  instructions/RESEARCH_ESCALATION.md
  instructions/TASK_PROMPTS.md
  instructions/TESTING_STANDARDS.md
Due: none

docs(release): constrain announcements to supplied evidence
  scripts/prompts/announcement-system.md
Due: none

fix(deps): constrain AWS Smithy releases on the stable line
  Cargo.toml
  README.md
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-providers/Cargo.toml
  crates/reinhardt-tasks/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): constrain AWS dependencies in published release baselines
  .github/workflows/release-plz.yml
  instructions/RELEASE_PROCESS.md
  scripts/prepare-release-baseline.py
  scripts/run-release-pr.sh
  scripts/tests/test_release_pr_baseline.py
Due: none

fix(ci): build develop release baselines with compatible Smithy types
  .github/workflows/release-plz.yml
  instructions/RELEASE_PROCESS.md
  scripts/prepare-release-baseline.py
  scripts/run-release-pr.sh
  scripts/tests/test-release-pr-baseline.sh
  scripts/tests/test_release_pr_baseline.py
Due: none

fix(macros): limit companion length validators to text fields
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/macros/validator_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): include bootstrap in SSR timeout expectation
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/tests/ssr_resource_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(deps): allow the required synstructure 0.13 line
  deny.toml
Due: none

ci: avoid workspace lock conflicts in publish checks
  .github/workflows/publish-check.yml
  instructions/RELEASE_PROCESS.md
Due: none

docs: add release announcement(s)
  announcements/v0.3.18.md
Due: none

fix(pages): honor WebSocket retry options with owned cancellation
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket/connection.rs
  crates/reinhardt-pages/tests/websocket_reconnect_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(forms): add scoped validated form patches
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/src/model_derive/form_patch.rs
  crates/reinhardt-core/src/model_form.rs
  crates/reinhardt-core/src/model_form/patch.rs
  crates/reinhardt-forms/README.md
  crates/reinhardt-forms/src/lib.rs
  crates/reinhardt-forms/src/model_form.rs
  crates/reinhardt-forms/src/model_form/patch.rs
  crates/reinhardt-pages/docs/model_forms.md
  crates/reinhardt-pages/src/form.rs
  crates/reinhardt-pages/tests/facade_model_form_wasm_compile.rs
  crates/reinhardt-pages/tests/fixtures/facade_model_form_wasm/Cargo.toml
  crates/reinhardt-pages/tests/fixtures/facade_model_form_wasm/src/lib.rs
  tests/integration/tests/model_form_patch.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages
