Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

feat(macros): add url_patterns mode = ws with .consumer() token scan
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit): add KafkaContainer fixture and producer/consumer integration test
  crates/reinhardt-streaming/Cargo.toml
  crates/reinhardt-streaming/tests/kafka_integration.rs
  crates/reinhardt-testkit/src/containers.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(websockets): add URL resolver integration tests for WebSocketEndpointInfo and reverse()
  crates/reinhardt-websockets/tests/url_resolver_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat: add streaming feature to reinhardt facade and fix KafkaContainer API
  Cargo.toml
  crates/reinhardt-testkit/src/containers.rs
  src/lib.rs
  src/streaming.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(query): rename SeaRc to SharedRc, deprecate old alias
  crates/reinhardt-query/src/types.rs
  crates/reinhardt-query/src/types/iden.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): route tracing through __private re-export in server_fn macro
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore(build): move profile settings from .cargo/config.toml to Cargo.toml and remove redundant tokio rt feature
  .cargo/config.toml
  Cargo.toml
Due: none

feat(query/nosql): implement RespCommand, core traits, and all Redis command builders
  crates/reinhardt-query/src/nosql/redis/command.rs
  crates/reinhardt-query/src/nosql/redis/hash.rs
  crates/reinhardt-query/src/nosql/redis/key.rs
  crates/reinhardt-query/src/nosql/redis/list.rs
  crates/reinhardt-query/src/nosql/redis/resp.rs
  crates/reinhardt-query/src/nosql/redis/set.rs
  crates/reinhardt-query/src/nosql/redis/string.rs
  crates/reinhardt-query/src/nosql/redis/transaction.rs
  crates/reinhardt-query/src/nosql/redis/value.rs
  crates/reinhardt-query/src/nosql/redis/zset.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(query/nosql): add connection retry to Redis integration tests
  crates/reinhardt-query/tests/integration_redis.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(query/nosql): elide redundant explicit lifetimes per clippy
  crates/reinhardt-query/src/nosql/redis/key.rs
  crates/reinhardt-query/src/nosql/redis/value.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(websockets): add E2E tests for WebSocket URL resolver with real tcp connection
  crates/reinhardt-websockets/tests/websocket_macro_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(streaming): add global KafkaProducer registry for #[producer] macro
  crates/reinhardt-streaming/src/global.rs
  crates/reinhardt-streaming/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(urls): add UnifiedRouter::mount_streaming() for streaming handler registration
  crates/reinhardt-streaming/src/router.rs
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(streaming): address Copilot review feedback on Phase 1 PR
  Cargo.toml
  crates/reinhardt-streaming/src/backend.rs
  crates/reinhardt-streaming/src/di.rs
  crates/reinhardt-streaming/src/error.rs
  crates/reinhardt-streaming/src/in_memory.rs
  crates/reinhardt-streaming/src/kafka/config.rs
  crates/reinhardt-streaming/src/kafka/consumer.rs
  crates/reinhardt-streaming/src/kafka/producer.rs
  crates/reinhardt-streaming/src/lib.rs
  crates/reinhardt-streaming/src/message.rs
  crates/reinhardt-streaming/tests/kafka_integration.rs
  crates/reinhardt-tasks/src/backends.rs
  crates/reinhardt-tasks/src/backends/kafka.rs
  crates/reinhardt-testkit/src/containers.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

fix(pages): remove duplicate __private module causing E0428 compile error
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add hot module replacement support
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/build.rs
  crates/reinhardt-pages/src/hmr.rs
  crates/reinhardt-pages/src/hmr/change_kind.rs
  crates/reinhardt-pages/src/hmr/client_script.rs
  crates/reinhardt-pages/src/hmr/config.rs
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-pages/src/hmr/server.rs
  crates/reinhardt-pages/src/hmr/watcher.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(infra): address Copilot review feedback on mac runner scripts
  infra/mac-runner/docker/scripts/entrypoint-wrapper.sh
  infra/mac-runner/host/cleanup-host.sh
Due: none

fix(macros/ws): parse path attribute via syn::LitStr
  crates/reinhardt-core/macros/src/websocket.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros/ws): error on non-async handler functions
  crates/reinhardt-core/macros/src/websocket.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): remove duplicate StreamingTopicResolver trait
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/resolver.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(query/tests): loop until complete RESP frame is received
  crates/reinhardt-query/tests/integration_redis.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ws/tests): connect to resolved URL in e2e resolver test
  crates/reinhardt-websockets/tests/websocket_macro_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros/streaming): require async fn and propagate ConsumerArgs.group
  crates/reinhardt-core/macros/src/streaming.rs
Due: unit, intra-crate-integration, cross-crate-integration

style: apply cargo fmt --all
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages

fix(hmr): add backoff and tracing on accept() errors to prevent busy-loop
  crates/reinhardt-pages/src/hmr/server.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(hmr): handle WebSocket Close/Ping frames for deterministic teardown
  crates/reinhardt-pages/src/hmr/server.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(hmr): derive dedup interval from config.debounce_ms instead of hardcoded 100ms
  crates/reinhardt-pages/src/hmr/server.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style(pages): fix rustfmt formatting in suspense integration tests
  crates/reinhardt-pages/tests/suspense_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages/hmr): add boundary, edge-case, and integration unit tests for HMR modules
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/hmr/change_kind.rs
  crates/reinhardt-pages/src/hmr/client_script.rs
  crates/reinhardt-pages/src/hmr/config.rs
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-pages/src/hmr/server.rs
  crates/reinhardt-pages/src/hmr/watcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): use backtick for ResourceState::Loading in suspense doc comment
  crates/reinhardt-pages/src/component/suspense.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): add feature = "hmr" cfg gate to hmr integration test file
  crates/reinhardt-pages/tests/hmr_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(testkit): update bitnami/kafka image tag from 3.7 to 3.9
  crates/reinhardt-testkit/src/containers.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(middleware): resolve SessionData injection for unauthenticated requests
  crates/reinhardt-middleware/src/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(examples): gate config::apps on cfg(native) for WASM builds
  examples/examples-twitter/src/config.rs
Due: none

test(examples): include _csrf_token in HTTP login test bodies
  examples/examples-twitter/src/apps/auth/tests/server_fn.rs
Due: none

fix(core): add WebSocketRouter::with_namespace for url_patterns ws mode
  crates/reinhardt-core/src/ws.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(middleware): propagate handler-side session ID rotation to Set-Cookie
  crates/reinhardt-middleware/src/cookie_session_auth.rs
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-testkit/src/auth/identity.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(testing): fix path reference, label schematic example, clarify TS-3/TI-7 relationship
  examples/CLAUDE.md
  instructions/TESTING_STANDARDS.md
Due: none

feat(commands): add --template-dir flag and REINHARDT_TEMPLATE_DIR env to startproject/startapp
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/tests/admin_scripts_tests.rs
  crates/reinhardt-commands/tests/template_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(commands): document --template-dir and REINHARDT_TEMPLATE_DIR overrides
  crates/reinhardt-commands/README.md
Due: unit, intra-crate-integration, cross-crate-integration

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
