Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

refactor(examples-tutorial-basis): switch User to #[user(...)] macro and inject UserManager
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_add_constraint_users.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/server_fn/polls.rs
  examples/examples-tutorial-basis/src/shared/types.rs
Due: none

feat(examples-tutorial-basis): add sign-up flow with #[validate]d DTOs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/src/client/components/users.rs
  examples/examples-tutorial-basis/src/client/lib.rs
  examples/examples-tutorial-basis/src/client/links.rs
  examples/examples-tutorial-basis/src/client/pages.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/src/server_fn/users.rs
  examples/examples-tutorial-basis/src/shared/types.rs
Due: none

fix(di-macros): route async_trait through reinhardt-core re-export
  crates/reinhardt-di/macros/src/crate_paths.rs
  crates/reinhardt-di/macros/src/injectable.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(di-macros): trybuild pass test for #[injectable] without async-trait dep
  crates/reinhardt-di/tests/compile_pass/injectable_no_async_trait_dep.rs
  crates/reinhardt-di/tests/trybuild_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): introspect within open SchemaEditor transaction during SQLite recreation
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/introspection.rs
  crates/reinhardt-db/src/migrations/schema_editor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): regression test for #4447 AddColumn + AddConstraint visibility
  tests/integration/tests/migrations.rs
  tests/integration/tests/migrations/sqlite_add_column_atomic.rs
Due: none

feat(core-macros): emit BaseUserManager impl from #[user(...)]
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
  crates/reinhardt-core/macros/tests/ui/user/fail/manager_disabled_no_manager.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/custom_field_names.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/extra_fields.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/full_false_explicit.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/full_user_all_conventions.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/manager_disabled.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/manager_renamed.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/minimal_with_manager.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/mixed_convention_and_override.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/no_permissions.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/partial_permissions_only_groups.rs
  crates/reinhardt-core/macros/tests/ui/user/pass/string_pk.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(middleware): add typed SessionValue<T> extractor + SessionAuthExt
  crates/reinhardt-middleware/src/session/auth_ext.rs
  crates/reinhardt-middleware/src/session/value.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(middleware): export SessionValue, OptionalSessionValue, SessionAuthExt, USER_ID_SESSION_KEY
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/data.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(examples): use SessionAuthExt instead of inline session rotation
  examples/examples-tutorial-basis/src/server_fn/users.rs
  examples/examples-twitter/src/apps/auth/shared/server_fn.rs
Due: none

feat(core-macros): propagate #[field(default = ...)] into FieldState.params
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/migrations/field_default_propagation.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(db): assert SQLite UNIQUE-by-column + enforcement after recreation
  tests/integration/tests/migrations/sqlite_add_column_atomic.rs
Due: none

fix(admin,core-macros): opt admin user out of auto-manager and re-apply rustfmt
  crates/reinhardt-admin/src/server/user.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Frontend & Pages

refactor(examples): use USER_ID_SESSION_KEY in polls require_user helper
  examples/examples-tutorial-basis/src/server_fn/polls.rs
Due: none

test(middleware): cover SessionValue extractor and SessionAuthExt login/logout
  crates/reinhardt-middleware/tests/session_auth_ext.rs
  crates/reinhardt-middleware/tests/session_value_extractor.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(middleware): document SessionValue and SessionAuthExt in README
  crates/reinhardt-middleware/README.md
Due: unit, intra-crate-integration, cross-crate-integration

refactor(examples-tutorial-basis): relocate server_fn modules into their owning apps
  examples/examples-tutorial-basis/src/apps/polls.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/polls/server_fn.rs
  examples/examples-tutorial-basis/src/apps/users.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/apps/users/server_fn.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/client/components/users.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/src/lib.rs
  examples/examples-tutorial-basis/src/server_fn.rs
Due: none

refactor(examples-tutorial-basis): compose SPA client routers via UnifiedRouter::mount_unified
  examples/examples-tutorial-basis/src/client/lib.rs
Due: none

chore: gitignore review-loop output directory
  .gitignore
Due: none

style(examples-tutorial-basis): apply `cargo make quality-fix` formatting
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/apps/users/server_fn.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/client/components/users.rs
  examples/examples-tutorial-basis/src/shared/types.rs
Due: none

test(commands): assert per-app pages layout in e2e_pages (RED)
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): opt #[user] integration test fixtures out of auto-manager
  crates/reinhardt-auth/tests/user_macro_integration.rs
  crates/reinhardt-auth/tests/user_model_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(commands): renumber urls.rs assertion block to section 5
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor!(commands/templates): gate per-app aggregator by target
  crates/reinhardt-commands/templates/app_pages_template/lib.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands/templates): add per-app server_fn.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/server_fn.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands/templates): add per-app client.rs.tpl aggregator
  crates/reinhardt-commands/templates/app_pages_template/client.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands/templates): add per-app client/components.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/client/components.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands/templates): add per-app client/pages.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/client/pages.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): empty server_urls.rs.tpl body
  crates/reinhardt-commands/templates/app_pages_template/urls/server_urls.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): empty client_router.rs.tpl body
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): update project lib.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/lib.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): delete project server_fn.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/server_fn.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): update project client.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): wire client lib.rs.tpl to router_client
  crates/reinhardt-commands/templates/project_pages_template/src/client/lib.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): delete project router.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/router.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): delete project pages.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/pages.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): update project components.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/components.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): create project nav.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/components/nav.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands/templates): update project urls.rs.tpl with server function notes
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(reinhardt-pages): update server_fn doc example paths to per-app form
  crates/reinhardt-pages/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration
