Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

deprecated: shield smtp_integration test from SmtpConfig deprecation
  crates/reinhardt-mail/tests/smtp_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

deprecated(auth): deprecate SessionConfig, JwtConfig, TokenRotationConfig
  crates/reinhardt-auth/src/sessions.rs
  crates/reinhardt-auth/src/sessions/backends.rs
  crates/reinhardt-auth/src/sessions/backends/jwt.rs
  crates/reinhardt-auth/src/sessions/config.rs
  crates/reinhardt-auth/src/token_rotation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

build(auth): add reinhardt-conf dependency for settings fragments
  crates/reinhardt-auth/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix: shield downstream consumers of newly deprecated config types
  crates/reinhardt-apps/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix: complete downstream shielding for deprecated config re-exports
  crates/reinhardt-apps/src/lib.rs
  crates/reinhardt-middleware/src/broken_link.rs
  src/exports/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security

fix(deeplink): derive Default for DeeplinkSettings
  crates/reinhardt-deeplink/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(testkit): shield server fixtures from deprecated RateLimitConfig
  crates/reinhardt-testkit/src/fixtures/server.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(mail,conf): fix unresolved intra-doc links to settings fragments
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-mail/src/backends.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Communication

fix(examples): add [contacts] section to settings base.toml
  examples/examples-tutorial-basis/settings/base.toml
  examples/examples-tutorial-rest/settings/base.toml
  examples/examples-twitter/settings/base.toml
Due: none

docs(deeplink): document #![allow(deprecated)] allowances
  crates/reinhardt-deeplink/src/config.rs
  crates/reinhardt-deeplink/src/lib.rs
  crates/reinhardt-deeplink/src/router.rs
  crates/reinhardt-deeplink/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(tasks): note that create_queue_from_settings does not retain settings
  crates/reinhardt-tasks/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(tasks): correct tracking issue reference to #5068
  crates/reinhardt-tasks/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(tasks)!: remove misleading create_queue_from_settings API
  crates/reinhardt-tasks/README.md
  crates/reinhardt-tasks/src/lib.rs
  crates/reinhardt-tasks/src/queue.rs
  crates/reinhardt-tasks/src/settings.rs
  crates/reinhardt-tasks/tests/queue_management_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(examples): use kebab-case URL names in tutorial-rest snippets
  examples/examples-tutorial-rest/README.md
  examples/examples-tutorial-rest/src/apps/snippets/views.rs
Due: none

docs(tasks): move deferred queue-settings note to lib.rs header
  crates/reinhardt-tasks/README.md
  crates/reinhardt-tasks/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(examples): migrate off deprecated CorsConfig and non-kebab URL names
  examples/examples-tutorial-rest/README.md
  examples/examples-tutorial-rest/src/apps/snippets/views.rs
  examples/examples-twitter/src/config/middleware.rs
Due: none

fix(examples): drop tutorial-rest kebab changes (owned by PR #5072)
  examples/examples-tutorial-rest/README.md
  examples/examples-tutorial-rest/src/apps/snippets/views.rs
Due: none

feat(pages-macros)!: implement compile-time hook deps verification
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/hook_deps_validator.rs
  crates/reinhardt-pages/macros/src/page/scope_utils.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): add trybuild fixtures for hook deps verification
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_inside_page.stderr
  crates/reinhardt-pages/tests/ui/hooks/pass/covered_dep_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/extra_dep_not_flagged_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/get_untracked_escape_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/hook_outside_page_unaffected.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/mount_only_unit_deps_inside_page.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): build CorsMiddleware via create_cors_middleware_from_settings
  examples/examples-twitter/src/config/middleware.rs
Due: none

fix(examples): use reinhardt::conf::CorsSettings for CORS middleware
  examples/examples-twitter/src/config/middleware.rs
Due: none

fix(examples): drop duplicate auth_group_name_uniq constraint
  examples/examples-tutorial-basis/migrations/auth/0002_alter_auth_permission_id_alter_auth_group_i_and_more.rs
Due: none

feat(pages): unify resource hooks into use_resource(fetcher, deps)
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/tests/resource_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

refactor(admin): migrate create_resource to use_resource
  crates/reinhardt-admin/src/pages.rs
  crates/reinhardt-admin/src/pages/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(examples-tutorial-basis): migrate to use_resource and page! v2
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
Due: none

refactor(examples-twitter): migrate create_resource to use_resource
  examples/examples-twitter/src/apps/dm/client/hooks.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
Due: none

fix(pages): address CodeRabbit use_resource review
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-pages/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(examples): use explicit dev CORS origins
  examples/examples-twitter/src/config/middleware.rs
Due: none

fix: make admin cli release publishable
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore: regenerate example migrations
  examples/examples-tutorial-basis/migrations/auth/0002_alter_auth_permission_id_alter_auth_group_i_and_more.rs
  examples/examples-tutorial-basis/migrations/default/0002_alter_sessions_session_key.rs
  examples/examples-tutorial-basis/migrations/polls/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0002_alter_choices_question_id.rs
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question__and_more.rs
  examples/examples-tutorial-basis/migrations/users/0001_initial.rs
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_alter_users_is_active_ad_and_more.rs
  examples/examples-tutorial-rest/migrations/auth/0001_initial.rs
  examples/examples-tutorial-rest/migrations/default/0001_initial.rs
  examples/examples-tutorial-rest/migrations/snippets/0001_initial.rs
  examples/examples-twitter/migrations/auth/0001_initial.rs
  examples/examples-twitter/migrations/default/0001_initial.rs
  examples/examples-twitter/migrations/dm/0001_initial.rs
  examples/examples-twitter/migrations/profile/0001_initial.rs
  examples/examples-twitter/migrations/tweet/0001_initial.rs
  examples/examples-twitter/src/migrations.rs
Due: none

Revert "fix: make admin cli release publishable"
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: split formatter from admin cli
  .github/labeler.yml
  .github/workflows/examples-test.yml
  .github/workflows/publish-check.yml
  .github/workflows/semver-check.yml
  Cargo.toml
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/README.md
  crates/reinhardt-admin-cli/src/main.rs
  crates/reinhardt-formatter/Cargo.toml
  crates/reinhardt-formatter/queries/form_formatting.scm
  crates/reinhardt-formatter/queries/head_formatting.scm
  crates/reinhardt-formatter/queries/page_formatting.scm
  crates/reinhardt-formatter/src/format_engine.rs
  crates/reinhardt-formatter/src/formatter.rs
  crates/reinhardt-formatter/src/main.rs
  crates/reinhardt-formatter/src/utils.rs
  examples/examples-tutorial-basis/Makefile.toml
  examples/examples-tutorial-rest/Makefile.toml
  examples/examples-twitter/Makefile.toml
  release-plz.toml
  website/content/quickstart/tutorials/basis/1-project-setup.md
Due: unit, intra-crate-integration, cross-crate-integration

fix: route fmt cargo-make tasks to formatter
  Makefile.toml
Due: none

fix(ci): tolerate release-plz dry-run dependency false positive
  .github/workflows/release-plz-dry-run.yml
Due: none

fix(release): publish reinhardt-formatter
  crates/reinhardt-formatter/Cargo.toml
  release-plz.toml
Due: unit, intra-crate-integration, cross-crate-integration

docs: add release announcement(s)
  announcements/v0.1.3.md
Due: none

fix: repair release examples tests
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/repository/filesystem.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-twitter/migrations/auth/0001_initial.rs
  examples/examples-twitter/migrations/default/0001_initial.rs
  examples/examples-twitter/migrations/dm/0001_initial.rs
  examples/examples-twitter/migrations/profile/0001_initial.rs
  examples/examples-twitter/migrations/tweet/0001_initial.rs
  examples/examples-twitter/src/apps/auth/lib.rs
  examples/examples-twitter/src/apps/dm/client/hooks.rs
  examples/examples-twitter/src/apps/dm/lib.rs
  examples/examples-twitter/src/apps/profile/lib.rs
  examples/examples-twitter/src/apps/relationship/lib.rs
  examples/examples-twitter/src/apps/tweet/lib.rs
  examples/examples-twitter/src/bin/manage.rs
  examples/examples-twitter/src/config/middleware.rs
  examples/examples-twitter/src/core/client/pages.rs
  examples/examples-twitter/src/test_utils/factories/dm.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
