Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs(readme): replace IsAuthenticated with AuthUser<U> extractor in profile view
  README.md
Due: none

docs(readme): fix ORM query pattern — filter().get() not get(predicate)
  README.md
Due: none

docs: add release announcement(s)
  announcements/v0.1.0-rc.20.md
Due: none

feat(scripts): extend validate-version-markers target list to crates/*/README.md and docs/**/*.md
  scripts/validate-version-markers.sh
Due: none

feat(scripts): extend update-version-refs target list to crates/*/README.md and docs/**/*.md
  scripts/update-version-refs.sh
Due: none

docs: add release announcement(s)
  announcements/v0.1.0-rc.21.md
Due: none

docs(tutorials/basis): clarify pages template structure in index and Part 1
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

docs(tutorials/basis): map Part 3 views to server_fn + client responsibilities
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
Due: none

docs(readme): reflect review feedback (accuracy, DI, user model)
  README.md
Due: none

docs(tutorials/basis): promote form! macro as the single recommended path in Part 4
  website/content/quickstart/tutorials/basis/4-forms-and-generic-views.md
Due: none

docs(tutorials/basis): rewrite Part 7 admin for pages WASM component model
  website/content/quickstart/tutorials/basis/7-admin-customization.md
Due: none

test(pages-macros): cover strip_arguments pass and fail cases
  crates/reinhardt-pages/tests/ui/form/fail/strip_arguments_duplicate_key.rs
  crates/reinhardt-pages/tests/ui/form/fail/strip_arguments_field_collision.rs
  crates/reinhardt-pages/tests/ui/form/pass/strip_arguments_basic.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples-tutorial-basis): pass csrf_token via strip_arguments
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/server_fn/polls.rs
Due: none

refactor(commands): restore ClientLauncher in --with-pages templates
  crates/reinhardt-commands/templates/project_pages_template/src/client.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/lib.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/router.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

feat(db): expose QuerySet::filters accessor
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(macros): add manager argument to #[model(...)] attribute
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(db): add CustomManager smoke tests
  crates/reinhardt-db/tests/custom_manager_basic.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(db): add runnable doctest and Quick Start to CustomManager
  crates/reinhardt-db/src/orm/custom_manager.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): construct unit-struct managers directly to satisfy clippy
  crates/reinhardt-db/tests/custom_manager_basic.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): silence clippy::type_complexity on bulk_update_sql_detailed
  crates/reinhardt-db/src/orm/custom_manager.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(pages): move WASM code splitting RFC to docs/rfc/
  docs/rfc/wasm-code-splitting-rfc.md
Due: none

test(admin): refactor e2e fixture and add dashboard test infrastructure
  crates/reinhardt-admin/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(views): update doctests and lib tests to use Model-implementing types
  crates/reinhardt-views/src/openapi_inspector.rs
  crates/reinhardt-views/src/viewsets/cached.rs
  crates/reinhardt-views/tests/viewset_routing.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

test(integration): adapt existing tests to ModelViewSet real CRUD wiring (#3985)
  tests/integration/tests/rest/openapi_parameter_recognition_tests.rs
  tests/integration/tests/rest/openapi_schema_generation_integration.rs
  tests/integration/tests/routing/nested_router_integration.rs
  tests/integration/tests/routing/router_viewset_integration.rs
  tests/integration/tests/routing/viewset_register_to_integration.rs
  tests/integration/tests/routing/viewset_router_integration.rs
  tests/integration/tests/viewsets/as_view_integration.rs
  tests/integration/tests/viewsets/filtering_viewsets_integration.rs
  tests/integration/tests/viewsets/pagination_viewsets_integration.rs
  tests/integration/tests/viewsets/router_tests.rs
  tests/integration/tests/viewsets/viewset_initialization_integration.rs
Due: none

test(rest): cover serializer builder configuration round-trip behaviors
  crates/reinhardt-rest/tests/serializers_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(pages): apply rustfmt to ClientLauncher hook implementation
  crates/reinhardt-pages/src/app.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(views): preserve UnwindSafe auto traits on viewset/generic public types
  crates/reinhardt-views/src/generic/composite.rs
  crates/reinhardt-views/src/generic/create_api.rs
  crates/reinhardt-views/src/viewsets/viewset.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

feat(auth): support EC keys (P-256/P-384/P-521) in OIDC JWKs
  crates/reinhardt-auth/src/social/oidc/jwks.rs
  crates/reinhardt-auth/src/social/providers/generic_oidc.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): map ES256/ES384 in compute_allowed_algorithms
  crates/reinhardt-auth/src/social/providers/generic_oidc.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(auth): extract GitHub userinfo fetch into dedicated method
  crates/reinhardt-auth/src/social/providers/github.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(urls): panic when mount() prefix contains path parameter placeholders
  crates/reinhardt-urls/src/routers/server_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

refactor(di,urls,http): preserve path parameter insertion order through pipeline
  crates/reinhardt-di/src/params.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/path_params.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-http/src/request/params.rs
  crates/reinhardt-testkit/src/views.rs
  crates/reinhardt-urls/src/routers/pattern.rs
  crates/reinhardt-urls/src/routers/server_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Dependency Injection, Server & Routing

fix(db): keep ModelMetadata.constraints private to preserve semver
  crates/reinhardt-db/src/migrations/model_registry.rs
  tests/integration/tests/migrations/macro_unique_together_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

chore(serena): sync project.yml with upstream template
  .serena/project.yml
Due: none

fix(tests): replace placeholder mount() prefixes with literal prefixes
  tests/integration/tests/routing/nested_router_integration.rs
  tests/integration/tests/routing/router_include_integration.rs
Due: none

fix(db): use table-name lookup in constraint and index diffs
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): cover constraint diff via offline-reconstructed from_state
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): emit add/drop constraint operations from generate_migrations()
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(macros): suppress null=true emission for Option<T> primary keys
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(apps): validate database url scheme at ApplicationBuilder::build
  crates/reinhardt-apps/src/builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework
