Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix: resolve CI clippy and format warnings
  crates/reinhardt-admin/src/pages/components/login.rs
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-conf/src/settings/database_config.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix: gate non-WASM reconcile tests with #[cfg(native)]
  crates/reinhardt-pages/src/hydration/reconcile.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix: align E2E tests with upstream WASM SPA fixes from PR #3350/#3351/#3352
  crates/reinhardt-admin/tests/e2e_pages.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: gate WASM-only imports with #[cfg(client)] to suppress unused warnings
  crates/reinhardt-admin/src/pages/components/login.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): add padding and max-width to admin page containers
  crates/reinhardt-admin/src/pages/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): add origin guard headers to E2E tests and fix AuthState doc link
  crates/reinhardt-admin/src/server/cookie_auth.rs
  tests/integration/tests/admin/server_fn_helpers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): apply rustfmt and fix collapsible_if clippy lint after main merge
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/tests/e2e_pages.rs
  crates/reinhardt-test/src/fixtures.rs
  crates/reinhardt-test/src/fixtures/wasm/e2e_cdp.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): update login tests for HTTP-Only cookie auth and fix inactive user test
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_login_tests.rs
Due: none

fix(test): add non-staff DB user and fix e2e_pages Docker host resolution
  crates/reinhardt-admin/tests/e2e_pages.rs
  tests/integration/tests/admin/server_fn_helpers.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): remove unused reinhardt::prelude import in tutorial-basis
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

feat(middleware): add RedisSessionBackend behind session-redis feature
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-middleware/src/lib.rs
  crates/reinhardt-middleware/src/redis_session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(middleware): add OriginGuardMiddleware for CSRF protection
  crates/reinhardt-middleware/src/lib.rs
  crates/reinhardt-middleware/src/origin_guard.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat: re-export cookie session auth and origin guard from facade crate
  Cargo.toml
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(admin)!: consolidate admin route builders into admin_routes_with_di
  crates/reinhardt-admin/src/core.rs
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/core/site.rs
  crates/reinhardt-admin/src/server/admin_auth.rs
  crates/reinhardt-admin/tests/e2e_pages.rs
  examples/examples-github-issues/src/config/urls.rs
  examples/examples-twitter/src/config/urls.rs
  src/admin.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_login_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

style(admin): apply cargo make auto-fix formatting
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/core/site.rs
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-admin/src/server/admin_auth.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/tests/e2e_pages.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-test/src/fixtures.rs
  crates/reinhardt-test/src/fixtures/wasm/e2e_cdp.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(di)!: make DependencyRegistration const-compatible for Rust 2024 edition
  crates/reinhardt-core/macros/src/injectable_struct.rs
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/src/registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(di-macros): add facade crate fallback to DI macro path resolution
  crates/reinhardt-di/macros/src/crate_paths.rs
Due: unit, intra-crate-integration, cross-crate-integration

style: apply auto-fix formatting corrections
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/tests/e2e_pages.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-test/src/fixtures.rs
  crates/reinhardt-test/src/fixtures/wasm/e2e_cdp.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(di): resolve `#[inject]` type mismatch in `#[injectable_factory]` macro
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/macros/src/utils.rs
  tests/integration/tests/di.rs
  tests/integration/tests/di/ui.rs
  tests/integration/tests/di/ui/pass/injectable_factory_inject_params.rs
Due: unit, intra-crate-integration, cross-crate-integration

style: apply cargo make auto-fix formatting
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/tests/e2e_pages.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-test/src/fixtures.rs
  crates/reinhardt-test/src/fixtures/wasm/e2e_cdp.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

feat(urls): implement Debug for UnifiedRouter and ServerRouter
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

docs(middleware): fix intra-doc link errors for feature-gated types
  crates/reinhardt-middleware/src/cookie_session_auth.rs
  crates/reinhardt-middleware/src/jwt_auth.rs
  crates/reinhardt-middleware/src/login_required.rs
  crates/reinhardt-middleware/src/redis_session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(di): relax Sync bound on async factory future type parameter
  crates/reinhardt-di/src/registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

test(di): add trybuild compile-fail tests for injectable_factory macro
  tests/integration/Cargo.toml
  tests/integration/tests/di.rs
  tests/integration/tests/di/function_handle_tests.rs
  tests/integration/tests/di/ui.rs
  tests/integration/tests/di/ui/fail/injectable_factory_invalid_scope.rs
  tests/integration/tests/di/ui/fail/injectable_factory_invalid_scope.stderr
  tests/integration/tests/di/ui/fail/injectable_factory_mixed_params.rs
  tests/integration/tests/di/ui/fail/injectable_factory_mixed_params.stderr
  tests/integration/tests/di/ui/fail/injectable_factory_no_return_type.rs
  tests/integration/tests/di/ui/fail/injectable_factory_no_return_type.stderr
  tests/integration/tests/di/ui/fail/injectable_factory_non_inject_params.rs
  tests/integration/tests/di/ui/fail/injectable_factory_non_inject_params.stderr
  tests/integration/tests/di/ui/fail/injectable_factory_sync_fn.rs
  tests/integration/tests/di/ui/fail/injectable_factory_sync_fn.stderr
  tests/integration/tests/di/ui/fail/invalid_inject_type.stderr
  tests/integration/tests/di/ui/fail/missing_clone_trait.stderr
Due: none

feat(core): set task-local resolve context in request dispatch macros
  crates/reinhardt-core/macros/src/action.rs
  crates/reinhardt-core/macros/src/injectable_common.rs
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/use_inject.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(server_fn): use SharedResponseCookies for reliable cookie delivery
  crates/reinhardt-admin/src/server/dashboard.rs
  crates/reinhardt-admin/src/server/login.rs
  crates/reinhardt-admin/src/server/logout.rs
  crates/reinhardt-http/src/extensions.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/response_cookies.rs
  crates/reinhardt-pages/src/server_fn/injectable.rs
  crates/reinhardt-pages/src/server_fn/router_ext.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

security(middleware): reject empty user_id as unauthenticated
  crates/reinhardt-middleware/src/cookie_session_auth.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(di): wrap injectable_factory body in cycle detection scope
  crates/reinhardt-di/macros/src/injectable_factory.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(http): update ResponseCookies docs to reflect shared Extensions mechanism
  crates/reinhardt-http/src/response_cookies.rs
  crates/reinhardt-pages/src/server_fn/router_ext.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(http): use newtype wrappers for bool extension values to prevent TypeId collision
  crates/reinhardt-admin/src/server/cookie_auth.rs
  crates/reinhardt-http/src/auth_state.rs
  crates/reinhardt-http/src/extensions.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-middleware/src/auth.rs
  crates/reinhardt-middleware/src/cookie_session_auth.rs
  crates/reinhardt-middleware/src/jwt_auth.rs
  crates/reinhardt-middleware/src/remote_user.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Frontend & Pages

style(urls): apply cargo make auto-fix formatting
  crates/reinhardt-urls/src/routers/server_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

chore: add .wtp.yml to .gitignore
  .gitignore
Due: none

refactor(middleware): address Copilot review on #3413
  crates/reinhardt-middleware/src/cookie_session_auth.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(urls): accumulate prefixes in register_all_routes() and address review
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/global.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(urls)!: support async functions in #[routes] macro
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/tests/ui.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/no_return_type.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/no_return_type.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/sync_with_inject.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/sync_with_inject.stderr
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/registration.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing, Utilities & Infrastructure

fix(di): wrap RESOLVE_CTX.scope() inner block return type as DiResult<T>
  crates/reinhardt-di/macros/src/injectable_factory.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(urls): extract `AsyncRouterFactoryFn` type alias to fix clippy type_complexity
  crates/reinhardt-urls/src/routers/registration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix: resolve CI failures in format check and cargo check (tests)
  crates/reinhardt-urls/src/routers/registration.rs
  tests/integration/tests/admin/server_fn_helpers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(test): resolve CI failures and address Copilot review feedback
  crates/reinhardt-urls/src/routers/registration.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/di/auto_injection_basic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
