Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(facade): expose auth short alias
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs: add release announcement(s)
  announcements/v0.2.0-rc.4.md
Due: none

feat(orm): allow builder overrides for generated fields
  crates/reinhardt-core/macros/src/model_derive.rs
  instructions/MACRO_USAGE.md
  website/content/docs/field-attributes.md
Due: unit, intra-crate-integration, cross-crate-integration

docs: align RC website docs.rs links
  scripts/tests/test-update-version-refs.sh
  website/config.toml
  website/content/docs/api/_index.md
  website/content/docs/cookbook/_index.md
  website/content/docs/troubleshooting/_index.md
  website/content/quickstart/getting-started.md
Due: none

docs: align CLI install version examples
  README.md
  crates/reinhardt-commands/README.md
  scripts/tests/test-update-version-refs.sh
Due: unit, intra-crate-integration, cross-crate-integration

fix(website): treat PR previews as preview channel
  .github/workflows/deploy-website.yml
  website/templates/index.html
  website/templates/shortcodes/crate_version.html
  website/templates/shortcodes/versioned_code.html
Due: none

fix(website): point stable selector to dev channel
  .github/workflows/deploy-website.yml
Due: none

fix(ci): install node before website deploy
  .github/workflows/deploy-website.yml
Due: none

ci: trigger website deploy workflow changes
  .github/workflows/deploy-website.yml
Due: none

feat(commands): add local infra management
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/local_infra.rs
  crates/reinhardt-commands/src/local_infra/command.rs
  crates/reinhardt-commands/src/local_infra/config.rs
  crates/reinhardt-commands/src/local_infra/docker.rs
  crates/reinhardt-commands/src/local_infra/ports.rs
  crates/reinhardt-commands/src/local_infra/service.rs
  crates/reinhardt-commands/src/local_infra/settings_overlay.rs
  crates/reinhardt-commands/src/local_infra/state.rs
  crates/reinhardt-commands/templates/project_pages_template/.gitignore.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/.gitignore.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/tests/cli_tests.rs
  crates/reinhardt-commands/tests/local_infra_tests.rs
  crates/reinhardt-conf/src/settings/builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

fix(commands): avoid manage template infra wiring
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/local_infra.rs
  crates/reinhardt-commands/src/local_infra/command.rs
  crates/reinhardt-commands/src/local_infra/docker.rs
  crates/reinhardt-commands/src/local_infra/settings_overlay.rs
  crates/reinhardt-commands/templates/project_pages_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/tests/local_infra_tests.rs
  crates/reinhardt-conf/src/settings/builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

fix(commands): separate local infra from runserver
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/local_infra/command.rs
  crates/reinhardt-commands/src/local_infra/config.rs
  crates/reinhardt-commands/src/template_source/filesystem.rs
  crates/reinhardt-commands/src/template_source/merged.rs
  crates/reinhardt-commands/tests/local_infra_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(makemigrations): add command boundary coverage
  tests/integration/tests/commands.rs
  tests/integration/tests/commands/makemigrations_command_boundary.rs
Due: none

fix(commands): address CodeRabbit local infra review
  crates/reinhardt-commands/src/local_infra/command.rs
  crates/reinhardt-commands/src/local_infra/docker.rs
  crates/reinhardt-commands/src/local_infra/service.rs
  crates/reinhardt-commands/tests/local_infra_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

chore(commands): ignore local infra state in templates
  crates/reinhardt-commands/templates/project_pages_template/.gitignore.tpl
  crates/reinhardt-commands/templates/project_restful_template/.gitignore.tpl
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): emit rename columns for safe makemigrations renames
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

feat(commands): add interactive dependency configuration
  README.md
  crates/reinhardt-admin-cli/CHANGELOG.md
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/README.md
  crates/reinhardt-admin-cli/src/main.rs
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/project_config.rs
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/project_pages_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/project_restful_template/Cargo.toml.tpl
  crates/reinhardt-commands/tests/embedded_startproject.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

perf(build): add build-loop benchmark harness
  Makefile.toml
  README.md
  docs/build-perf/README.md
  instructions/BUILD_PERFORMANCE.md
  scripts/bench-build.sh
Due: none

perf(build): tune dev profile for incremental builds
  Cargo.toml
Due: none

fix(db): avoid unique constraint churn on column rename
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

perf(commands): skip unrelated hot reload rebuilds
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

perf(commands): notify browsers after hot reload rebuilds
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
  crates/reinhardt-pages/src/hmr/server.rs
  crates/reinhardt-utils/src/staticfiles/middleware.rs
  docs/build-perf/README.md
  instructions/BUILD_PERFORMANCE.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

perf(build): keep measured dev profile defaults
  Cargo.toml
  docs/build-perf/issue-5218-incremental-check-results.md
  docs/rfc/build-time-reduction-rfc.md
Due: none

perf(commands): use staleness check for pages wasm reuse
  crates/reinhardt-commands/src/builtin.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

perf(build): measure pages wasm and server loops
  docs/build-perf/README.md
  scripts/bench-build.sh
Due: none

test(commands): verify hmr reload after rebuild
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

perf(pages): batch generated page attributes
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

perf(build): measure hot reload target selection
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
  scripts/bench-build.sh
Due: none

perf(pages): prune unused runtime parser deps
  crates/reinhardt-pages/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

docs(build): update wasm loop measurements
  docs/build-perf/issue-5218-incremental-check-results.md
Due: none

perf(pages): trim wasm dependency graph
  Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/reactive/context.rs
  crates/reinhardt-core/src/validators.rs
  crates/reinhardt-manouche/Cargo.toml
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/ast/Cargo.toml
  crates/reinhardt-pages/ast/src/form_typed.rs
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

perf(pages): gate non-browser wasm modules
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/ssr.rs
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): repair admin dependency config checks
  .github/scripts/patch-fixture-cargo-toml.py
  crates/reinhardt-admin-cli/src/main.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/tests/embedded_startproject.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

perf(pages): hot patch static page edits
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/examples/page_hot_patch_probe.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/page_hot_patch.rs
  crates/reinhardt-pages/src/hmr/client_script.rs
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/client.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/lib.rs
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
  scripts/bench-build.sh
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

perf(build): tune dev profile for hot reload
  Cargo.toml
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/templates/project_pages_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/project_restful_template/Cargo.toml.tpl
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/Cargo.toml
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
  scripts/bench-build.sh
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

perf(build): measure cold workspace build
  Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
  docs/build-perf/issue-5218-incremental-check-results.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(build): address CodeRabbit review feedback
  README.md
  crates/reinhardt-commands/src/page_hot_patch.rs
  crates/reinhardt-pages/src/hmr/client_script.rs
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-utils/src/staticfiles/middleware.rs
  docs/build-perf/issue-5218-incremental-check-results.md
  scripts/bench-build.sh
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
