Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(core): clear dependency graph on effect disposal to prevent infinite loops
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-core/src/reactive/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(db): detach sqlx PoolConnection in Drop when no tokio runtime is available
  crates/reinhardt-db/src/pool/pool.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

ci: run coverage only on main branch pushes, not on PRs
  .github/workflows/cancel-on-pr-close.yml
  .github/workflows/ci.yml
  .github/workflows/coverage-main.yml
Due: none

chore(infra): add idempotent import blocks and lifecycle ignore for Terraform
  infra/mac-runner/terraform/imports.tf
  infra/mac-runner/terraform/main.tf
Due: none

fix(ci): install protoc from GitHub Releases and fix DinD TLS hostname
  .github/actions/setup-protoc/action.yml
  infra/mac-runner/terraform/main.tf
Due: none

feat(examples): add rough2spec example - local LLM spec generator
  examples/Cargo.toml
  examples/examples-rough2spec/Cargo.toml
  examples/examples-rough2spec/README.md
  examples/examples-rough2spec/settings/base.toml
  examples/examples-rough2spec/settings/local.example.toml
  examples/examples-rough2spec/src/apps.rs
  examples/examples-rough2spec/src/apps/generate/lib.rs
  examples/examples-rough2spec/src/apps/generate/urls.rs
  examples/examples-rough2spec/src/apps/generate/views.rs
  examples/examples-rough2spec/src/bin/manage.rs
  examples/examples-rough2spec/src/config.rs
  examples/examples-rough2spec/src/config/apps.rs
  examples/examples-rough2spec/src/config/settings.rs
  examples/examples-rough2spec/src/config/urls.rs
  examples/examples-rough2spec/src/config/views.rs
  examples/examples-rough2spec/src/lib.rs
Due: none

fix(reinhardt-db): remove unnecessary dereference in pool connection
  crates/reinhardt-db/src/pool/pool.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

chore(terraform): remove the lock file changes
  infra/github-runners/.terraform.lock.hcl
Due: none

fix(reinhardt-core): fork DI context per-request in route and action macros
  crates/reinhardt-core/macros/src/injectable_common.rs
  crates/reinhardt-core/macros/src/routes.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(reinhardt-grpc): fork DI context per-request in gRPC handler macros
  crates/reinhardt-grpc/macros/src/grpc_handler.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(reinhardt-graphql): fork DI context per-request in GraphQL handler macros
  crates/reinhardt-graphql/macros/src/graphql_handler.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(reinhardt-pages): add submit_form function for WASM form submission
  crates/reinhardt-pages/src/dom.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(reinhardt-di): extract fork_inner helper for InjectionContext fork methods
  crates/reinhardt-di/src/context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

docs: correct git_release_enable and semver_check values in release process documentation
  instructions/RELEASE_PROCESS.md
Due: none

fix(ci): prevent shell injection, add job timeouts, and fix concurrency group in workflows
  .github/workflows/auto-close-parent-issue.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/ci.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/deploy-website.yml
  .github/workflows/detect-affected-packages.yml
  .github/workflows/develop-leak-guard.yml
  .github/workflows/develop-merge-guard.yml
  .github/workflows/monitor-rc-stability.yml
  .github/workflows/publish-check.yml
  .github/workflows/stale.yml
  .github/workflows/terraform-apply.yml
  .github/workflows/test-examples.yml
  .github/workflows/update-version-refs.yml
Due: none

fix(reinhardt-rest): enforce version prefix, reset operator state, and fix UTF-8 length in filters
  crates/reinhardt-rest/src/filters/fuzzy.rs
  crates/reinhardt-rest/src/filters/multi_term.rs
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(reinhardt-query): parameterize ValidUntil timestamp and add explicit match arms in postgres backend
  crates/reinhardt-query/src/backend/postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(reinhardt-urls): normalize path slashes to prevent double-slash in URL joining
  crates/reinhardt-urls/src/routers/server_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(reinhardt-graphql): evaluate field count immediately during character processing
  crates/reinhardt-graphql/src/schema.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(reinhardt-tasks): atomic lock acquisition with ownership verification and DAG edge rollback
  crates/reinhardt-tasks/src/dag.rs
  crates/reinhardt-tasks/src/lib.rs
  crates/reinhardt-tasks/src/locking.rs
  crates/reinhardt-tasks/src/worker.rs
  tests/integration/tests/utils/tasks_locking_redis_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs: clarify GitHub Releases are enabled only for reinhardt-web
  instructions/RELEASE_PROCESS.md
Due: none

fix(reinhardt-query): use string literal for VALID UNTIL and optimize hex encoding
  crates/reinhardt-query/src/backend/postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(reinhardt-admin): address Copilot review on router docs and test assertions
  crates/reinhardt-admin/src/core/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(reinhardt-rest): add segment boundary to version prefix regex
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(reinhardt-urls): restrict join_path visibility to pub(crate)
  crates/reinhardt-urls/src/routers/server_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(reinhardt-db): fix cache value in next_number_cached and optimize squash dedup
  crates/reinhardt-db/src/migrations/migration_numbering.rs
  crates/reinhardt-db/src/migrations/squash.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor: remove deprecated use_inject = true from all server_fn usages
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/dashboard.rs
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/detail.rs
  crates/reinhardt-admin/src/server/export.rs
  crates/reinhardt-admin/src/server/fields.rs
  crates/reinhardt-admin/src/server/import.rs
  crates/reinhardt-admin/src/server/list.rs
  crates/reinhardt-admin/src/server/update.rs
  crates/reinhardt-commands/templates/app_pages_template/server/server_fn.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/server/server_fn.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/server/server_fn.rs.tpl
  examples/examples-tutorial-basis/src/server_fn/polls.rs
  examples/examples-twitter/src/apps/auth/shared/server_fn.rs
  examples/examples-twitter/src/apps/dm/shared/server_fn.rs
  examples/examples-twitter/src/apps/profile/shared/server_fn.rs
  examples/examples-twitter/src/apps/relationship/shared/server_fn.rs
  examples/examples-twitter/src/apps/tweet/shared/server_fn.rs
  src/pages.rs
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
  website/content/quickstart/tutorials/basis/4-forms-and-generic-views.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

docs(readme): fix documentation discrepancies across crate READMEs
  crates/reinhardt-admin/README.md
  crates/reinhardt-auth/README.md
  crates/reinhardt-commands/README.md
  crates/reinhardt-core/README.md
  crates/reinhardt-db/README.md
  crates/reinhardt-dentdelion/README.md
  crates/reinhardt-di/README.md
  crates/reinhardt-dispatch/README.md
  crates/reinhardt-forms/README.md
  crates/reinhardt-grpc/README.md
  crates/reinhardt-http/README.md
  crates/reinhardt-middleware/README.md
  crates/reinhardt-pages/README.md
  crates/reinhardt-rest/README.md
  crates/reinhardt-server/README.md
  crates/reinhardt-shortcuts/README.md
  crates/reinhardt-utils/README.md
  crates/reinhardt-views/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages,forms): handle case-insensitive HTML tags and formset prefix collisions
  crates/reinhardt-forms/src/formset.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): improve test infrastructure reliability and E2E fixtures
  crates/reinhardt-test/src/fixtures/wasm/e2e.rs
  crates/reinhardt-testkit/src/fixtures/resources.rs
  crates/reinhardt-testkit/src/fixtures/server.rs
  crates/reinhardt-testkit/src/resource.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): quote column names in ON CONFLICT clauses
  crates/reinhardt-db/src/backends/query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): quote identifiers in BatchInsertBuilder::build_sql
  crates/reinhardt-db/src/backends/optimization/batch_ops.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(query): escape single quotes in MySQL user/role formatting
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/dcl/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(dentdelion): harden escape_for_script against XSS vectors
  crates/reinhardt-dentdelion/src/wasm/ssr.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(middleware): use append instead of insert for Set-Cookie headers
  crates/reinhardt-middleware/src/csrf.rs
  crates/reinhardt-middleware/src/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(views): return 405 instead of 400 for unsupported HTTP methods
  crates/reinhardt-views/src/detail.rs
  crates/reinhardt-views/src/generic/composite.rs
  crates/reinhardt-views/src/generic/create_api.rs
  crates/reinhardt-views/src/generic/destroy_api.rs
  crates/reinhardt-views/src/generic/list_api.rs
  crates/reinhardt-views/src/generic/retrieve_api.rs
  crates/reinhardt-views/src/list.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix: resolve session and middleware configuration issues
  crates/reinhardt-auth/src/sessions/session.rs
  crates/reinhardt-middleware/src/cors.rs
  crates/reinhardt-middleware/src/csrf.rs
  crates/reinhardt-middleware/src/etag.rs
  crates/reinhardt-middleware/src/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(macros): add scope and prebuilt options to #[injectable] for structs
  crates/reinhardt-core/macros/src/injectable_struct.rs
  crates/reinhardt-core/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): register AdminSite in global DI with correct TypeId
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/core/site.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): use parameterized SQL in SelectBuilder::build()
  crates/reinhardt-db/src/backends/query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
