Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(pages): preserve linked server fnset contracts
  crates/reinhardt-pages/macros/src/server_fnset/codegen.rs
  crates/reinhardt-pages/src/server_fn/model_set/resource.rs
  crates/reinhardt-pages/src/server_fn/model_set/runtime.rs
  crates/reinhardt-pages/tests/server_fnset_model_integration_tests.rs
  crates/reinhardt-pages/tests/ui/server_fnset/pass/model_qualified_paths.rs
  crates/reinhardt-pages/tests/wasm/server_fnset_wasm_compile_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): repair WASM retained effect coverage
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/router.rs
  crates/reinhardt-pages/tests/wasm/activity_view_transition_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): address model enum review findings
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): retain FK creates after table renames
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): preserve create model table names
  crates/reinhardt-db/src/migrations/operations/models.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): address controlled binding review findings
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
  crates/reinhardt-pages/tests/wasm/activity_view_transition_wasm_test.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(ci): skip aggregate job after cancellation
  .github/workflows/ci.yml
Due: none

fix(commands): validate cross app rename collisions
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(fixtures): support field-level primary keys
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): preserve route loader query cache contracts
  crates/reinhardt-pages/src/reactive/query.rs
  crates/reinhardt-pages/src/router/loader.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): fail fast SSR route loader errors
  crates/reinhardt-pages/src/ssr/route.rs
  crates/reinhardt-pages/tests/ssr_route_loader_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): defer lifecycle until loader mount
  crates/reinhardt-pages/docs/route_loaders.md
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/tests/wasm/route_loader_navigation_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): restore reactive scope ownership
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/tests/page_element_parts.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/hooks/id.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
  crates/reinhardt-pages/tests/wasm/activity_view_transition_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(ci): allow auto-fix on non-fast-forward-only branches
  .github/scripts/auto-fix-style-target.cjs
  .github/workflows/ci.yml
  docs/rfc/2026-06-30-ci-style-auto-fix-design.md
  scripts/tests/test-ci-auto-fix-style-target.sh
Due: none

fix(ci): paginate auto-fix branch-rule checks
  .github/scripts/auto-fix-style-target.cjs
  scripts/tests/test-ci-auto-fix-style-target.sh
Due: none

fix(orm): preserve executor create column mapping
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/tests/transaction_executor_orm.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(server-fn): authorize created objects
  crates/reinhardt-pages/src/server_fn/model_set/runtime.rs
  crates/reinhardt-pages/tests/server_fnset_model_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): complete controlled binding review follow-ups
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(ci): scope CockroachDB error kind import
  crates/reinhardt-db/src/backends/drivers/cockroachdb/distributed_tx.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): address typed model field reviews
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/src/model_enum_derive.rs
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(manouche): validate nested style values
  crates/reinhardt-manouche/src/parser/style/media.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): fingerprint variable constraints
  crates/reinhardt-commands/src/style_extractor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(fixtures): validate nullable foreign key identifiers
  crates/reinhardt-commands/README.md
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/macros/model_derive_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): repair controlled binding merge resolution
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(commands): scope global migration validation
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(urls): preserve prepared route state
  crates/reinhardt-urls/src/routers/client_router/history.rs
  crates/reinhardt-urls/src/routers/client_router/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(pages): harden route loader navigation
  crates/reinhardt-pages/docs/route_loaders.md
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/navigation.rs
  crates/reinhardt-pages/src/router/components.rs
  crates/reinhardt-pages/tests/wasm/route_loader_navigation_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): render configured SSR not found
  crates/reinhardt-pages/src/ssr/route.rs
  crates/reinhardt-pages/tests/ssr_route_loader_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

ci: install Rust for anyhow check
  .github/workflows/anyhow-check.yml
Due: none

fix(manouche): harden style DSL validation
  crates/reinhardt-manouche/src/parser/style/media.rs
  crates/reinhardt-manouche/src/parser/style/selector.rs
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve controlled binding state
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/macros/src/page/html_spec.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/testing/component/tests.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): refresh hydrated controlled branches
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): alias renamed executor return columns
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/tests/transaction_executor_orm.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/query/delete.rs
  crates/reinhardt-query/src/query/insert.rs
  crates/reinhardt-query/src/query/update.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): harden model server function sets
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/server_fn_macro.md
  crates/reinhardt-pages/macros/src/server_fnset/codegen.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/server_fn/model_set/runtime.rs
  crates/reinhardt-pages/tests/server_fnset_model_integration_tests.rs
  crates/reinhardt-pages/tests/ui/server_fnset/pass/model_linked_actions.rs
  crates/reinhardt-pages/tests/ui/server_fnset/pass/model_qualified_paths.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): isolate hydrated control refreshes
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): scope reactive fixtures
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/hooks/id.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/ui/page/pass/controlled_bindings.rs
  crates/reinhardt-pages/tests/ui/page/pass/typed_event_handlers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

test(pages): align hook dependency fixtures
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/non_trackable_dep.stderr
  crates/reinhardt-pages/tests/ui/hooks/pass/cleanup_generic_turbofish.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/explicit_deps_use_effect.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/hook_outside_page_unaffected.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/mount_only_unit_deps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): retain callback identity allocations
  crates/reinhardt-pages/src/callback.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): preserve physical model state
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(errors): preserve database classifications
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/serializers/serializer.rs
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/backends/drivers/cockroachdb/distributed_tx.rs
  crates/reinhardt-views/src/detail.rs
  crates/reinhardt-views/src/list.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
