Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(migrations): skip no-op migrations for struct-only renames
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(admin): implement SettingsFragment for AdminSettings
  crates/reinhardt-admin/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(admin): add CSP and security header validation warnings
  crates/reinhardt-admin/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(admin): add from_str parsing for FrameOptions and ReferrerPolicy
  crates/reinhardt-admin/src/server/security.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(admin): add SecurityHeaders conversion from AdminSettings
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style(admin): fix formatting in settings, security, and router
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): resolve format and WASM compilation issues
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-pages/tests/context_api_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style(admin): fix router.rs import ordering for cross-platform rustfmt compatibility
  crates/reinhardt-admin/src/core/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(auth): document SuperuserInit manual implementation path
  crates/reinhardt-auth/src/core/superuser_creator.rs
  crates/reinhardt-commands/src/createsuperuser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Utilities & Infrastructure

feat(auth): auto-register SuperuserCreator via inventory for #[user(full = true)] + #[model] types
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/src/core.rs
  crates/reinhardt-auth/src/core/superuser_creator.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/createsuperuser.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Utilities & Infrastructure

feat(admin): integrate UnoCSS generation into collectstatic
  crates/reinhardt-admin/src/core.rs
  crates/reinhardt-admin/src/core/unocss.rs
  crates/reinhardt-commands/src/collectstatic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

feat(admin): wire site_title and site_header from AdminSettings to UI
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-admin/src/server/dashboard.rs
  crates/reinhardt-admin/src/types/responses.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(admin): wire list_per_page and login/logout URLs from AdminSettings
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-admin/src/server/list.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

Revert "feat(admin): integrate UnoCSS generation into collectstatic"
  crates/reinhardt-admin/src/core.rs
  crates/reinhardt-admin/src/core/unocss.rs
  crates/reinhardt-commands/src/collectstatic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

fix(pages): add WASM cfg guards to proptest-dependent test files
  crates/reinhardt-pages/tests/hooks_integration.rs
  crates/reinhardt-pages/tests/watch_property_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): pass site_title argument to admin_spa_html in test
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-pages/tests/static_files_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(commands): auto-build WASM when runserver --with-pages is used
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(test): resolve values_panic type inference and remove unused proptest import
  crates/reinhardt-pages/tests/static_asset_property_tests.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_login_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(test): resolve values_panic type inference and merge duplicates
  crates/reinhardt-pages/tests/static_asset_property_tests.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_login_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(http): convert errors to responses within middleware chain
  crates/reinhardt-http/src/middleware.rs
  crates/reinhardt-middleware/src/logging.rs
  crates/reinhardt-server/src/server/http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Server & Routing

test(middleware): add integration tests for error response headers
  crates/reinhardt-middleware/tests/error_path_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(urls): add integration tests for router-level 404 middleware
  crates/reinhardt-urls/tests/router_error_middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): resolve CI failures blocking release-plz PR #3236
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/src/settings.rs
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_login_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

fix(admin): correct UnoCSS runtime CDN URL and font filename references
  crates/reinhardt-admin/assets/style.css
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/core/vendor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(middleware): ensure security headers on error responses from inner handlers
  crates/reinhardt-middleware/src/security_middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

style(commands): auto-format runserver command option declaration
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(conf): add OpenApiSettings fragment
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/openapi.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

deprecated(rest): deprecate OpenApiConfig since 0.1.0-rc.16
  crates/reinhardt-rest/src/openapi/config.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

feat(di): add DiError::Authorization variant for 403 responses
  crates/reinhardt-di/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

feat(core): add AuthProtection enum and EndpointMetadata extension
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/src/endpoint.rs
  crates/reinhardt-core/src/endpoint/auth_protection.rs
  crates/reinhardt-rest/src/openapi/endpoint_inspector.rs
  tests/integration/tests/rest/openapi_parameter_recognition_tests.rs
  tests/integration/tests/rest/schema_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework

feat(auth): add Guard<P>, Public, All, Any, Not runtime types
  crates/reinhardt-auth/src/guard.rs
  crates/reinhardt-auth/src/guard/combinators.rs
  crates/reinhardt-auth/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(core): detect auth parameters in route macros for metadata
  crates/reinhardt-core/macros/src/routes.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(rest): integrate auth protection with OpenAPI security generation
  crates/reinhardt-rest/src/openapi/config.rs
  crates/reinhardt-rest/src/openapi/endpoint_inspector.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

style(core): apply rustfmt formatting
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-core/macros/src/routes.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(auth): resolve clippy needless_borrow in Guard Injectable
  crates/reinhardt-auth/src/guard.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(conf): migrate all Settings structs to #[settings] macro
  crates/reinhardt-admin/src/settings.rs
  crates/reinhardt-conf/src/settings/cache.rs
  crates/reinhardt-conf/src/settings/contacts.rs
  crates/reinhardt-conf/src/settings/core_settings.rs
  crates/reinhardt-conf/src/settings/cors.rs
  crates/reinhardt-conf/src/settings/email.rs
  crates/reinhardt-conf/src/settings/i18n.rs
  crates/reinhardt-conf/src/settings/logging.rs
  crates/reinhardt-conf/src/settings/media.rs
  crates/reinhardt-conf/src/settings/security.rs
  crates/reinhardt-conf/src/settings/session.rs
  crates/reinhardt-conf/src/settings/static_files.rs
  crates/reinhardt-conf/src/settings/template_settings.rs
  crates/reinhardt-conf/tests/composable/boundary_values.rs
  crates/reinhardt-conf/tests/composable/combination.rs
  crates/reinhardt-conf/tests/composable/decision_table.rs
  crates/reinhardt-conf/tests/composable/equivalence_partition.rs
  crates/reinhardt-conf/tests/composable/error_path.rs
  crates/reinhardt-conf/tests/composable/fuzz.rs
  crates/reinhardt-conf/tests/composable/happy_path.rs
  crates/reinhardt-conf/tests/composable/property_tests.rs
  crates/reinhardt-conf/tests/composable/state_transitions.rs
  tests/integration/tests/settings/composable_use_cases.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(middleware): convert errors to responses in security-critical middleware
  crates/reinhardt-auth/src/sessions/middleware.rs
  crates/reinhardt-middleware/src/cors.rs
  crates/reinhardt-middleware/src/csp.rs
  crates/reinhardt-middleware/src/csrf.rs
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/xframe.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(middleware): convert errors to responses in functional middleware
  crates/reinhardt-middleware/src/broken_link.rs
  crates/reinhardt-middleware/src/brotli.rs
  crates/reinhardt-middleware/src/cache.rs
  crates/reinhardt-middleware/src/circuit_breaker.rs
  crates/reinhardt-middleware/src/conditional.rs
  crates/reinhardt-middleware/src/etag.rs
  crates/reinhardt-middleware/src/flatpages.rs
  crates/reinhardt-middleware/src/gzip.rs
  crates/reinhardt-middleware/src/messages.rs
  crates/reinhardt-middleware/src/metrics.rs
  crates/reinhardt-middleware/src/rate_limit.rs
  crates/reinhardt-middleware/src/redirect_fallback.rs
  crates/reinhardt-middleware/src/request_id.rs
  crates/reinhardt-middleware/src/site.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(middleware): convert errors to responses in cross-crate middleware
  crates/reinhardt-http/src/messages_middleware.rs
  crates/reinhardt-rest/src/browsable_api/middleware.rs
  crates/reinhardt-utils/src/staticfiles/caching.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Utilities & Infrastructure
