Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

test(middleware): remove ineffective duplicate use cases
  crates/reinhardt-middleware/tests/use_cases_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(mail): exercise SMTP failures through actual sends
  crates/reinhardt-mail/tests/smtp_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(server): align integration claims with HTTP behavior
  tests/integration/tests/server/combined_features_integration.rs
Due: none

fix(macros): honor db_column in composite primary keys
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/composite_pk_db_column.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(orm): match every composite key component when updating
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/tests/transaction_executor_orm.rs
  tests/integration/tests/composite_key_updates.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix!(orm): encode composite keys through database field codecs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/composite_pk.rs
  crates/reinhardt-db/src/orm/composite_pk/README.md
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-views/src/viewsets/handler/model_view_set_handler.rs
  instructions/MIGRATION_0.4.md
  tests/integration/tests/composite_key_codecs.rs
  tests/integration/tests/macros/composite_pk_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, REST Framework

fix(orm): match every composite key component when updating
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/manager.rs
  tests/integration/tests/composite_key_updates.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): round-trip binary composite keys through viewsets
  crates/reinhardt-db/src/orm/composite_pk.rs
  crates/reinhardt-db/src/orm/composite_pk/README.md
  instructions/MIGRATION_0.4.md
  tests/integration/tests/composite_key_codecs.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(macros): preserve field policy metadata in composite keys
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/composite_pk/README.md
  instructions/MIGRATION_0.4.md
  tests/integration/tests/composite_key_codecs.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

ci(feature-check): use git CLI for dependency fetches
  .github/workflows/reinhardt-feature-check.yml
Due: none

fix(commands): report newly applied migration counts
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/migrate_reporting.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(migrations): preserve unchanged physical table matches
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/tests/autodetector_table_identity.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): initialize contacts in REST scaffolds
  Cargo.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/base.example.toml
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
  tests/rest_scaffold_settings.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(query): render PostgreSQL bytes as typed bytea literals
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sql_writer.rs
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/src/query/traits.rs
  crates/reinhardt-query/tests/inline_params.rs
  crates/reinhardt-query/tests/postgres_byte_literals.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(query): preserve custom predicate grouping
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/tests/expression_grouping.rs
  crates/reinhardt-query/tests/expression_grouping_postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(commands): gate REST scaffold settings regression to native targets
  tests/rest_scaffold_settings.rs
Due: none

fix(commands): scope migrations to installed apps
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/makemigrations_installed_apps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(query): preserve positional byte literal syntax
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/query/traits.rs
  crates/reinhardt-query/tests/inline_params.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(query): render typed PostgreSQL byte arrays
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/tests/inline_params.rs
  crates/reinhardt-query/tests/postgres_byte_literals.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(query): terminate line comments before predicate parentheses
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/tests/expression_grouping.rs
  crates/reinhardt-query/tests/expression_grouping_postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): resolve installed app paths to migration labels
  crates/reinhardt-apps/src/registry.rs
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-core/macros/src/installed_apps.rs
  crates/reinhardt-core/macros/tests/installed_apps_tests.rs
  tests/integration/tests/makemigrations_installed_apps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

fix(query): preserve standalone current of predicates
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/tests/expression_grouping.rs
  crates/reinhardt-query/tests/expression_grouping_postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): preserve installed migration scope and history
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  tests/integration/tests/makemigrations_installed_apps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

docs(commands): clarify migration comparison scope
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(migrations): preserve scoped model move history
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
  tests/integration/tests/makemigrations_installed_apps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

test(orm): align standalone predicate sql expectations
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): align standalone predicate SQL expectations
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs: add release announcement(s)
  announcements/v0.4.0-alpha.19.md
Due: none

fix(commands): honor capability migration app scope
  .config/nextest.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/showmigrations.rs
  tests/integration/tests/capability_migration_scope.rs
  tests/integration/tests/fixtures/capability_migration_scope/Cargo.toml.tpl
  tests/integration/tests/fixtures/capability_migration_scope/manage.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(conf): backport deferred management settings bootstrap
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/lib.rs
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/composed.rs
  crates/reinhardt-conf/src/settings/migrations.rs
  crates/reinhardt-conf/src/settings/scoped.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-core/macros/src/settings_compose.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(commands): backport scoped migration dispatch
  Cargo.toml
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/capabilities.rs
  crates/reinhardt-commands/src/cargo_context.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/registry.rs
  crates/reinhardt-commands/src/showmigrations.rs
  crates/reinhardt-commands/tests/capability_bootstrap_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): honor capability migration app scope
  .config/nextest.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/showmigrations.rs
  tests/integration/tests/capability_migration_scope.rs
  tests/integration/tests/fixtures/capability_migration_scope/Cargo.toml.tpl
  tests/integration/tests/fixtures/capability_migration_scope/manage.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): include capability contract in full preset
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): count global verbosity before custom dispatch
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): resolve conditional migration dependencies
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/showmigrations.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  tests/integration/tests/capability_migration_scope.rs
  tests/integration/tests/fixtures/capability_migration_scope/manage.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(commands): fail checks for manual migration proposals
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/capability_migration_scope.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): omit credential-bearing database URL logs
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/capability_migration_scope.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(facade): forward UUID support to the optional DI dependency
  Cargo.toml
  tests/README.md
  tests/facade/Cargo.toml
  tests/facade/tests/uuid_path.rs
  website/content/docs/feature-flags.md
Due: none

refactor(testkit): use typed truncate statements for table cleanup
  crates/reinhardt-testkit/src/server_fn/transaction.rs
Due: unit, intra-crate-integration, cross-crate-integration
