Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(testkit): replace default headers with per-request values
  crates/reinhardt-testkit/README.md
  crates/reinhardt-testkit/src/client.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): dispatch head and options to raw handlers and views
  crates/reinhardt-urls/README.md
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): forward all methods to raw handlers and views
  crates/reinhardt-urls/src/lib.rs
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/registration.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(testkit): add redirect policy to APIClientBuilder
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/fixtures/client.rs
  crates/reinhardt-testkit/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit): add a server-backed client fixture
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/client.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit): add ordered per-request headers and payloads
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/lib.rs
  src/exports/misc.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(testkit): fork clients with independent state and transport
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/lib.rs
  tests/integration/tests/testkit/client_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(test): migrate header requests to the request builder
  crates/reinhardt-testkit/README.md
  tests/integration/tests/http/request_response_integration.rs
  tests/integration/tests/rest/versioning_routers_integration.rs
  tests/integration/tests/server/edge_cases_integration.rs
  tests/integration/tests/server/http2_advanced_integration.rs
  tests/integration/tests/server/rate_limit_strategies_integration.rs
  tests/integration/tests/server/server_error_scenarios_integration.rs
  tests/integration/tests/server/server_tests.rs
  tests/integration/tests/testkit/client_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(testkit): retain repeated per-request header values
  crates/reinhardt-testkit/README.md
  crates/reinhardt-testkit/src/client.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): preserve explicit head and options route overrides
  crates/reinhardt-urls/README.md
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(auth): gate OIDC-only OAuth server integration
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(admin): handle independently enabled pgvector field types
  .config/nextest.toml
  crates/reinhardt-admin/README.md
  crates/reinhardt-admin/src/server/type_inference.rs
  tests/facade/tests/admin_pgvector_features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(testkit): move redirect integration coverage to workspace tests
  crates/reinhardt-testkit/src/client.rs
  tests/integration/tests/testkit.rs
  tests/integration/tests/testkit/redirect_policy.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(admin): inherit workspace patches in vector consumer
  tests/facade/tests/admin_pgvector_features.rs
Due: none

fix(admin): reject vector edits without the admin feature
  crates/reinhardt-admin/README.md
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/server/form.rs
  crates/reinhardt-admin/src/server/type_inference.rs
  crates/reinhardt-admin/src/server/validation.rs
  tests/facade/tests/admin_pgvector_features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): keep builder array validation available with postgres only
  crates/reinhardt-db/src/backends/types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): preserve array arguments for raw-only custom backends
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/generated.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): refresh generated execution regression contracts
  crates/reinhardt-db/tests/runtime_sql_backend_analyze.rs
  crates/reinhardt-db/tests/runtime_sql_backend_inserts.rs
  crates/reinhardt-db/tests/runtime_sql_generated_backend.rs
  crates/reinhardt-db/tests/runtime_sql_pg_statement_cache.rs
  tests/integration/tests/backends/insert_select_conflict.rs
  tests/integration/tests/composite_key_unsigned.rs
  tests/integration/tests/queryset_arithmetic.rs
  tests/integration/tests/runtime_sql_conf.rs
  tests/integration/tests/views/generic_views_edge_cases_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(testkit): compare form fields independently of map order
  crates/reinhardt-testkit/src/client.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: add release announcement(s)
  announcements/v0.3.23.md
Due: none

fix(db): truncate generated temporal arguments to microseconds
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/generated.rs
  crates/reinhardt-db/src/backends/generated/mysql.rs
  crates/reinhardt-db/src/backends/generated/postgres.rs
  crates/reinhardt-db/src/backends/generated/tests.rs
  tests/integration/tests/orm_timestamp_precision.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(testkit): make native NATS JetStream fixture future Send
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(agents): attribute AI work to the agent and model that wrote it
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  instructions/COMMIT_GUIDELINE.md
  instructions/GITHUB_INTERACTION.md
  instructions/PR_GUIDELINE.md
Due: none

feat!(auth): add RFC 8628 device authorization grant to oauth2_server
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/http.rs
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
  crates/reinhardt-auth/src/oauth2_server/tests/device_tests.rs
  crates/reinhardt-auth/src/oidc_op/protocol.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
  crates/reinhardt-auth/src/oidc_op/tests/review_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(auth)!: add refresh token support to oauth2_server
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/http.rs
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
  crates/reinhardt-auth/src/oauth2_server/tests/refresh_postgres_tests.rs
  crates/reinhardt-auth/src/oauth2_server/tests/refresh_tests.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
  crates/reinhardt-auth/src/oidc_op/tests/review_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(auth): document oauth2_server refresh tokens
  crates/reinhardt-auth/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(auth): conclude expired device polls and rate-limit user code lookups by address
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests/device_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

chore(audit): classify device authorization runtime SQL sites
  docs/runtime-sql-inventory.json
Due: none

chore(audit): classify refresh token runtime SQL sites
  docs/runtime-sql-inventory.json
Due: none

fix(auth): expose GitHub login in social claims
  crates/reinhardt-auth/src/social/providers/github.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix!(auth): fail social callback when user claims are unavailable
  crates/reinhardt-auth/src/social/backend.rs
  crates/reinhardt-auth/tests/social.rs
  crates/reinhardt-auth/tests/social/github_callback_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(auth): document GitHub App scopes and social callback claims
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/social/core/config.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(conf,websockets): redact secret fields in settings Debug output
  crates/reinhardt-conf/src/settings/core_settings.rs
  crates/reinhardt-conf/src/settings/email.rs
  crates/reinhardt-conf/src/settings/secrets/providers/hashicorp.rs
  crates/reinhardt-websockets/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Communication

fix!(auth): request JSON on social token refresh and keep refresh expiry
  crates/reinhardt-auth/src/social/core/token.rs
  crates/reinhardt-auth/src/social/flow.rs
  crates/reinhardt-auth/src/social/flow/refresh.rs
  crates/reinhardt-auth/src/social/flow/token_endpoint.rs
  crates/reinhardt-auth/src/social/flow/token_exchange.rs
  crates/reinhardt-auth/src/social/providers/generic_oidc.rs
  crates/reinhardt-auth/tests/helpers/assertions.rs
  crates/reinhardt-auth/tests/helpers/mock_server.rs
  crates/reinhardt-auth/tests/helpers/test_fixtures.rs
  crates/reinhardt-auth/tests/oauth_mock_integration.rs
  crates/reinhardt-auth/tests/social/contextual_backend_test.rs
  crates/reinhardt-auth/tests/social/token_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(macros,conf): redact #[setting(secret)] fields in generated Debug
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/settings/core_settings.rs
  crates/reinhardt-conf/src/settings/email.rs
  crates/reinhardt-conf/tests/composable.rs
  crates/reinhardt-conf/tests/composable/secret_redaction.rs
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/settings_fragment.rs
  crates/reinhardt-core/macros/src/settings_schema.rs
  crates/reinhardt-websockets/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Communication

fix(websockets): redact password in RedisConfig Debug output
  crates/reinhardt-websockets/src/redis_channel.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(auth)!: make SessionStateStore consume atomic and context-aware
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/sessions.rs
  crates/reinhardt-auth/src/sessions/backends.rs
  crates/reinhardt-auth/src/sessions/backends/cache.rs
  crates/reinhardt-auth/src/sessions/backends/database.rs
  crates/reinhardt-auth/src/social/flow/state.rs
  crates/reinhardt-auth/tests/social/contextual_backend_test.rs
  tests/integration/tests/sessions.rs
  tests/integration/tests/sessions/database_oauth_state.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

chore(audit): refresh social token endpoint runtime SQL fingerprints
  docs/runtime-sql-inventory.json
Due: none

chore(audit): classify atomic session take runtime SQL site
  docs/runtime-sql-inventory.json
Due: none

fix(auth): enforce audience allowlist and allow unscoped families on refresh
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/tests/refresh_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security
