Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(core): preserve effect function through self-disposal
  crates/reinhardt-core/src/reactive/effect.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(style): preserve hyphen-leading identifiers during lookahead
  crates/reinhardt-manouche/src/parser/style/value.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): preserve count-style verbosity fallback
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(fixtures): align qualified relation metadata
  tests/integration/tests/macros/model_derive_integration.rs
Due: none

fix(pages): restore explicit deps compatibility
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/deps.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive.rs
  src/pages.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

test(reactive): cover explicit deps macro compatibility
  crates/reinhardt-core/src/reactive/deps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(commands): remove redundant dependency scan
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): scan explicit paths for anyhow usage
  scripts/check-anyhow.sh
Due: none

test(admin): unwrap fallible filter conversion results
  tests/integration/tests/admin/admin_database_tests.rs
Due: none

fix(macros): remove duplicate fixture accessor
  crates/reinhardt-core/macros/tests/ui/model/support.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): terminate cfg aliases macro invocations
  crates/reinhardt-admin/build.rs
  crates/reinhardt-apps/build.rs
  crates/reinhardt-core/build.rs
  crates/reinhardt-pages/build.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/build.rs
  crates/reinhardt-test/build.rs
  crates/reinhardt-testkit/build.rs
  crates/reinhardt-urls/build.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(manouche): validate component style values
  crates/reinhardt-manouche/src/core/style_typed.rs
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(manouche): preserve pseudo-element selectors
  crates/reinhardt-manouche/src/core/style_node.rs
  crates/reinhardt-manouche/src/parser/style/selector.rs
  crates/reinhardt-manouche/src/style/css_ir.rs
  crates/reinhardt-manouche/src/style/serializer.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(manouche): distinguish component style scopes
  crates/reinhardt-manouche/README.md
  crates/reinhardt-manouche/src/lib.rs
  crates/reinhardt-manouche/src/style/scope.rs
  crates/reinhardt-manouche/tests/fixtures/style/cascade-order.css
  crates/reinhardt-manouche/tests/fixtures/style/representative.css
  crates/reinhardt-manouche/tests/fixtures/style/selector-list.css
  crates/reinhardt-manouche/tests/fixtures/style/variables.css
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): preserve component style reload safety
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/style_extractor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(formatter): preserve custom property tokens
  crates/reinhardt-formatter/queries/style_formatting.scm
  crates/reinhardt-formatter/tests/fixtures/style/expressions.expected.rs
  crates/reinhardt-formatter/tests/fixtures/style/expressions.input.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: make commit attribution model-specific
  CONTRIBUTING.md
  docs/rfc/2026-07-10-typed-page-event-payloads-implementation-plan.md
  instructions/COMMIT_GUIDELINE.md
Due: none

fix(ci): terminate cfg alias macro invocations
  benchmarks/frontend/fixtures/reinhardt-pages/build.rs
  build.rs
  crates/reinhardt-admin/build.rs
  crates/reinhardt-apps/build.rs
  crates/reinhardt-core/build.rs
  crates/reinhardt-pages/build.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/build.rs
  crates/reinhardt-test/build.rs
  crates/reinhardt-testkit/build.rs
  crates/reinhardt-urls/build.rs
  examples/examples-tutorial-basis/build.rs
  examples/examples-tutorial-rest/build.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): unwrap fallible query SQL generation
  tests/integration/tests/macros/model_derive_integration.rs
Due: none

fix(build): terminate cfg alias macro invocations
  benchmarks/frontend/fixtures/reinhardt-pages/build.rs
  build.rs
  crates/reinhardt-admin/build.rs
  crates/reinhardt-apps/build.rs
  crates/reinhardt-core/build.rs
  crates/reinhardt-pages/build.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/build.rs
  crates/reinhardt-test/build.rs
  crates/reinhardt-testkit/build.rs
  crates/reinhardt-urls/build.rs
  examples/examples-tutorial-basis/build.rs
  examples/examples-tutorial-rest/build.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(styles): align generated and extracted scopes
  crates/reinhardt-commands/src/style_extractor.rs
  crates/reinhardt-manouche/src/style/scope.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(manouche): validate nested fallback values
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): honor custom Pages static directories
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): allow cfg aliases nightly lint
  .github/workflows/docs-rs-check.yml
Due: none

fix(manouche): constrain reviewed style values
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): preserve component style lifecycle
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/style_extractor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): restore nightly docs build
  benchmarks/frontend/fixtures/reinhardt-pages/build.rs
  build.rs
  crates/reinhardt-admin/build.rs
  crates/reinhardt-apps/build.rs
  crates/reinhardt-core/build.rs
  crates/reinhardt-pages/build.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/build.rs
  crates/reinhardt-test/build.rs
  crates/reinhardt-testkit/build.rs
  crates/reinhardt-urls/build.rs
  examples/examples-tutorial-basis/build.rs
  examples/examples-tutorial-rest/build.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): retain reactive owners through review edge cases
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-core/src/reactive/memo.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/csrf.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(styles): address component style review comments
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-manouche/src/parser/style/selector.rs
  crates/reinhardt-manouche/src/parser/style/value.rs
  crates/reinhardt-manouche/src/style/css_ir.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(manouche): tighten reviewed CSS grammar constraints
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): guard stale lifecycle handles
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/reactive/hooks/action.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/hooks/state.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/ssr_resource_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): retain mount scopes for events
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-pages/src/auth.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/form/binding.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/tests/wasm/activity_view_transition_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(manouche): close CSS grammar review gaps
  crates/reinhardt-manouche/README.md
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): preserve typed model field round trips
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/json.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages

fix(reactive): enforce explicit dependencies and memo invalidation
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/deps.rs
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-core/src/reactive/memo.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-core/src/signals/orm_integration.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing, Frontend & Pages

fix(pages): align controlled binding renderers
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-pages/ast/src/node.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/control_binding.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): complete explicit dependency migration
  crates/reinhardt-core/src/reactive/deps.rs
  crates/reinhardt-pages/src/auth.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/form/binding.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/reactive/resource_value.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(migrations): preserve model table identity
  crates/reinhardt-auth/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/templates/app_pages_template/models.rs.tpl
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/fail/relation_descriptor_source_mismatch.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/typed_relation_manual_target.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/typed_relation_traversal.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
  crates/reinhardt-db/src/migrations/operations.rs
  instructions/MACRO_USAGE.md
  website/content/docs/api/_index.md
  website/content/docs/field-attributes.md
  website/content/quickstart/tutorials/rest/3-models-and-database.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(deeplink): preserve client router extension
  crates/reinhardt-deeplink/Cargo.toml
  crates/reinhardt-deeplink/src/router.rs
  crates/reinhardt-deeplink/tests/router_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(reactive): isolate scope cleanup observers
  crates/reinhardt-core/src/reactive/scope.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
