Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

feat(macros): extend nom parser for { field: policy } override blocks
  crates/reinhardt-core/macros/src/settings_compose.rs
  crates/reinhardt-core/macros/src/settings_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(macros): add #[setting()] attribute parsing and field_policies() generation
  crates/reinhardt-core/macros/src/settings_fragment.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_invalid_default_policy.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_invalid_default_policy.stderr
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_required_with_default.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_required_with_default.stderr
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_unknown_setting_attr.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_unknown_setting_attr.stderr
  tests/integration/tests/settings/composable_macro_pass.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: resolve fmt-check and docs-rs-check CI failures
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-core/macros/src/settings_compose.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style: apply formatting fixes for field policy changes
  crates/reinhardt-conf/src/settings/core_settings.rs
  crates/reinhardt-core/macros/src/settings_compose.rs
  crates/reinhardt-core/macros/src/settings_fragment.rs
  crates/reinhardt-core/macros/src/settings_parser.rs
  docs/specs/2026-03-23-settings-field-policy-design.md
  docs/specs/2026-03-23-settings-field-policy-plan.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(http): add ExcludeMiddleware for declarative route exclusion
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(staticfiles): add serve_direct_file for SPA fallback from external path
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(commands): add --index CLI option to runserver command
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/tests/cli_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(commands): add --index option to collectstatic for index.html source
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/tests/cli_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

refactor(templates): remove index.html copy from wasm-finalize tasks
  crates/reinhardt-commands/templates/project_pages_template/Makefile.toml.tpl
Due: unit, intra-crate-integration, cross-crate-integration

style(commands): fix formatting and clippy warnings in staticfiles changes
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(test): account for auto-discovered app static files in collectstatic test
  crates/reinhardt-commands/tests/collectstatic_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(settings): address Copilot review feedback for field policy system
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-core/macros/src/settings_compose.rs
  crates/reinhardt-core/macros/src/settings_fragment.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

ci: optimize affected package detection with rdeps compilation, dynamic partitions, and cache improvements
  .github/actions/setup-rust/action.yml
  .github/scripts/detect-affected-packages.sh
  .github/workflows/ci.yml
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/detect-affected-packages.yml
  .github/workflows/doc-test.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-test.yml
Due: none

style(urls): apply formatting to server_router.rs
  crates/reinhardt-urls/src/routers/server_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(commands): use CLI parsing for non-exhaustive enum variants in integration tests
  crates/reinhardt-commands/tests/cli_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: replace bare unwrap() with safe fallbacks on fallible operations
  crates/reinhardt-auth/src/mfa.rs
  crates/reinhardt-core/src/pagination/cursor/encoder.rs
  crates/reinhardt-core/src/signals/distributed.rs
  crates/reinhardt-core/src/signals/graphql_integration.rs
  crates/reinhardt-core/src/signals/profiler.rs
  crates/reinhardt-core/src/signals/websocket_integration.rs
  crates/reinhardt-db/src/backends/drivers/cockroachdb/distributed_tx.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-middleware/src/locale.rs
  crates/reinhardt-middleware/src/metrics.rs
  crates/reinhardt-pages/src/form/rendering.rs
  crates/reinhardt-test/src/wasm/mock.rs
  crates/reinhardt-throttling/src/time_provider.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Frontend & Pages

fix(ci): avoid --exclude with -p flags in intra-crate integration tests
  .github/workflows/intra-crate-integration-test.yml
Due: none

chore(serena): update project.yml for Serena 0.1.4
  .serena/project.yml
Due: none

feat(staticfiles): add WasmEntry struct and auto-inject config fields
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(examples): remove manual WASM scripts for auto-injection
  crates/reinhardt-commands/templates/project_pages_template/index.html.tpl
  examples/examples-tutorial-basis/static/index.html
  examples/examples-twitter/static/index.html
Due: unit, intra-crate-integration, cross-crate-integration

chore(staticfiles): fix formatting and dead code warning
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): add empty wasm_entry check and fix log levels
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(admin): auto-register AdminSite in DI via admin_routes()
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/core/site.rs
  examples/examples-twitter/src/config/urls.rs
  src/admin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(admin): add admin_static_routes to reinhardt re-exports
  src/admin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(admin)!: introduce AdminUser trait and add permission configuration
  crates/reinhardt-admin/src/core.rs
  crates/reinhardt-admin/src/core/model_admin.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/list.rs
  src/admin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(admin): add truncation indicator to export response
  crates/reinhardt-admin/src/server/export.rs
  crates/reinhardt-admin/src/types/responses.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

security(admin): add auth check to get_fields and validate sort_by parameter
  crates/reinhardt-admin/src/server/fields.rs
  crates/reinhardt-admin/src/server/list.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): encode URL path segments and add form method/action attributes
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-admin/src/pages/components/features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

deprecated(admin): mark admin_routes() as deprecated with runtime failure note
  crates/reinhardt-admin/src/core.rs
  crates/reinhardt-admin/src/core/router.rs
  src/admin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

refactor(examples): replace DefaultUser with custom model-based User
  examples/examples-github-issues/Cargo.toml
  examples/examples-github-issues/migrations/auth/0001_initial.rs
  examples/examples-github-issues/migrations/issues/0001_initial.rs
  examples/examples-github-issues/migrations/projects/0001_initial.rs
  examples/examples-github-issues/src/apps/auth/admin.rs
  examples/examples-github-issues/src/apps/auth/models.rs
  examples/examples-github-issues/src/apps/auth/views.rs
  examples/examples-github-issues/src/apps/issues/admin.rs
  examples/examples-github-issues/src/apps/projects/admin.rs
  examples/examples-github-issues/src/config/admin.rs
Due: none

feat(examples): add admin permissions to all example projects
  examples/examples-database-integration/src/apps/todos/admin.rs
  examples/examples-rest-api/src/apps/api/admin.rs
  examples/examples-twitter/src/apps/dm/admin.rs
  examples/examples-twitter/src/apps/profile/admin.rs
  examples/examples-twitter/src/apps/tweet/admin.rs
Due: none

refactor(admin): extract build_admin_router() as internal route builder
  crates/reinhardt-admin/src/core/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): percent-encode model names and IDs in action button URLs
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-admin/src/pages/components/features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

deprecated(auth): mark User trait and DefaultUser as deprecated
  crates/reinhardt-auth/src/basic.rs
  crates/reinhardt-auth/src/core.rs
  crates/reinhardt-auth/src/core/backend.rs
  crates/reinhardt-auth/src/core/permission.rs
  crates/reinhardt-auth/src/core/user.rs
  crates/reinhardt-auth/src/default_user.rs
  crates/reinhardt-auth/src/default_user_manager.rs
  crates/reinhardt-auth/src/handlers.rs
  crates/reinhardt-auth/src/jwt.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/mfa.rs
  crates/reinhardt-auth/src/model_permissions.rs
  crates/reinhardt-auth/src/oauth2.rs
  crates/reinhardt-auth/src/object_permissions.rs
  crates/reinhardt-auth/src/rate_limit_permission.rs
  crates/reinhardt-auth/src/remote_user.rs
  crates/reinhardt-auth/src/repository.rs
  crates/reinhardt-auth/src/rest_authentication.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(macros): implement #[user] attribute macro for auth trait generation
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): enforce CSRF token validation in mutation endpoints
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/src/server/update.rs
  crates/reinhardt-admin/src/types/requests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): fix database query filter, count extraction, and create RETURNING logic
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/import.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): fix CSV skip_header handling and TSV empty header validation
  crates/reinhardt-admin/src/core/import.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
