Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(migrations): unify equivalent sqlite unique aliases
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): cover expression collation aliases
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: none

test(migrations): cover nested sqlite collations
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: none

fix(ci): parse workspace manifests semantically
  .github/workflows/anyhow-check.yml
  scripts/check-anyhow-manifests/Cargo.lock
  scripts/check-anyhow-manifests/Cargo.toml
  scripts/check-anyhow-manifests/src/main.rs
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

fix(migrations): normalize sqlite unique metadata
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): cover sqlite unique collation semantics
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: none

fix(migrations): preserve sqlite unique collation semantics
  crates/reinhardt-db/src/migrations/executor.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): cover sqlite collation recreation edge cases
  crates/reinhardt-db/src/migrations/executor.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): preserve sqlite column collations
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/sqlite_pragma.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

style(migrations): format sqlite parser tests
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): match sqlite column collation ddl
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): use dialect quoting for sqlite collations
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix: complete repository-owned error migration
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/backends/error.rs
  crates/reinhardt-db/src/migrations/recorder.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-testkit/src/fixtures/database.rs
  crates/reinhardt-views/src/viewsets/handler/error.rs
  tests/integration/tests/backends/database_error_classification.rs
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, REST Framework

fix(pages): bound number editor key predictions
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(orm): preserve typed model field encodings
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/json.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): preserve table rename state
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix: handle fixture database defaults
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): address controlled binding review findings
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix: harden component style delivery
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/src/style_extractor.rs
  crates/reinhardt-commands/src/wasm_builder.rs
  crates/reinhardt-commands/tests/component_style_delivery_tests.rs
  crates/reinhardt-manouche/src/parser/style/value.rs
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
  crates/reinhardt-pages/macros/src/style/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix: expose dependency-aware wasm freshness check
  crates/reinhardt-commands/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): retain copy handle owners
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/reactive/pages_arena.rs
  crates/reinhardt-pages/src/reactive/query.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

fix(pages): preserve composition dedupe after signal reentry
  crates/reinhardt-pages/src/dom/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): refresh hydrated controlled views
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): preserve count wildcard with relation joins
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix: compile dependency-aware wasm freshness check
  crates/reinhardt-commands/src/bin/runserver.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(reactive): retain scopes for copied handles
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/reactive/pages_arena.rs
  crates/reinhardt-pages/src/reactive/query.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/action_batching_integration_tests.rs
  crates/reinhardt-pages/tests/auth_integration_tests.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/component_testing.rs
  crates/reinhardt-pages/tests/context_api_integration.rs
  crates/reinhardt-pages/tests/form_binding_tests.rs
  crates/reinhardt-pages/tests/hooks_deps_integration.rs
  crates/reinhardt-pages/tests/hooks_integration.rs
  crates/reinhardt-pages/tests/reactive_autowrap_integration_tests.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

fix(admin): preserve unresolved local hook calls
  crates/reinhardt-admin-cli/src/migrate_v2/rules/use_effect_deps.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): project bound select state in string rendering
  crates/reinhardt-core/src/types/page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): retain owner scopes for deferred work
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/reactive/hooks/transition.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

fix: constrain component style value grammars
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(fixtures): support default and ORM relation edge cases
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): cover controlled binding review cases
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(orm): honor db columns in generated model metadata
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): handle table rename edge cases
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): compare table names directly
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core): tolerate runtime teardown during cleanup
  crates/reinhardt-core/src/reactive/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(admin): preserve unresolved omitted hook calls
  crates/reinhardt-admin-cli/src/migrate_v2/rules/use_effect_deps.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): honor array and primary key metadata
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query_helpers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(styles): validate font and style extraction edges
  crates/reinhardt-commands/src/style_extractor.rs
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(migrations): complete direct table rename operations
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM
