Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

feat(admin): integrate collectstatic API for manifest-aware URL resolution
  crates/reinhardt-admin/src/core/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(admin): add login page, auth gate, and 401 redirect for WASM SPA
  crates/reinhardt-admin/src/pages/components.rs
  crates/reinhardt-admin/src/pages/components/login.rs
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-admin/src/pages/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(admin): add permission-denial test helpers and tests
  tests/integration/tests/admin.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_permission_tests.rs
Due: none

test(workspace): add embedded asset content verification tests
  crates/reinhardt-core/tests/embedded_i18n_tests.rs
  crates/reinhardt-dentdelion/tests/embedded_js_asset_tests.rs
  crates/reinhardt-rest/tests/embedded_openapi_asset_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(views): add response body verification to viewset routing tests
  crates/reinhardt-views/tests/viewset_routing.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(urls): add content assertions to route introspection tests
  crates/reinhardt-urls/tests/route_introspection.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(admin-cli): add skip status validation to AST formatter tests
  crates/reinhardt-admin-cli/src/ast_formatter.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): add web-sys Storage feature for sessionStorage access
  crates/reinhardt-pages/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

test(admin-cli): extend skip status validation to remaining formatter tests
  crates/reinhardt-admin-cli/src/ast_formatter.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(admin): add comprehensive test suite covering 12 test categories
  crates/reinhardt-admin/src/core/model_admin.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/src/server/validation.rs
  crates/reinhardt-admin/src/types/errors.rs
  crates/reinhardt-admin/src/types/requests.rs
  tests/integration/tests/admin.rs
  tests/integration/tests/admin/server_fn_combination_tests.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_login_tests.rs
  tests/integration/tests/admin/server_fn_permission_tests.rs
  tests/integration/tests/admin/server_fn_state_transition_tests.rs
  tests/integration/tests/admin/server_fn_usecase_tests.rs
  tests/integration/tests/admin/server_fn_uuid_pk_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): use HashMap instead of serde_json::Map for MutationRequest data
  tests/integration/tests/admin/server_fn_permission_tests.rs
Due: none

fix(admin): call WASM init() in SPA HTML for web target output
  crates/reinhardt-admin/src/core/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): support HEAD requests for static file handler
  crates/reinhardt-admin/src/core/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(auth): add SuperuserInit trait and SuperuserCreator registry
  crates/reinhardt-auth/src/core.rs
  crates/reinhardt-auth/src/core/superuser_creator.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(commands): add createsuperuser as built-in management command
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/createsuperuser.rs
  crates/reinhardt-commands/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(auth): add deprecation notice to standalone createsuperuser binary
  crates/reinhardt-auth/src/bin/createsuperuser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

style(admin): fix import ordering in permission tests
  tests/integration/tests/admin/server_fn_permission_tests.rs
Due: none

fix(pages): exclude proptest from wasm32 target to fix WASM test compilation
  crates/reinhardt-pages/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

security(admin): exclude sensitive fields from admin list API responses
  crates/reinhardt-admin/src/core/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): replace non-existent ColumnDef::extra with ColumnDef::default
  tests/integration/tests/admin/server_fn_helpers.rs
Due: none

fix(admin): resolve compilation errors in spec-based test coverage
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/pages/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(docs): add missing imports to Snippet::highlighted doctest
  examples/examples-tutorial-rest/src/apps/snippets/models.rs
Due: none

feat(conf): add TBD DSL parser for pipes, functions, and arithmetic
  crates/reinhardt-conf/src/tbd/parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): add TBD DSL type checker with inference
  crates/reinhardt-conf/src/tbd.rs
  crates/reinhardt-conf/src/tbd/typechecker.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(commands): integrate TBD DSL processing into TemplateCommand
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/src/template.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(conf): add property-based tests for TBD DSL evaluator
  crates/reinhardt-conf/src/tbd/evaluator.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(admin): add self-hosted @font-face declarations
  .gitignore
  crates/reinhardt-admin/Makefile.toml
  crates/reinhardt-admin/assets/style.css
  crates/reinhardt-admin/assets/vendor/.gitkeep
Due: unit, intra-crate-integration, cross-crate-integration

style: apply rustfmt formatting
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/core/vendor.rs
  crates/reinhardt-commands/src/collectstatic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

feat(commands): add requires_database() and auto-init ORM dispatch
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

style(commands): fix formatting in createsuperuser deprecation warning
  crates/reinhardt-commands/src/createsuperuser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(settings): update tests to use nested security keys after #3176 de-flatten
  tests/integration/tests/settings/composable_use_cases.rs
Due: none

fix(ci): guard mutation-test if condition against undefined inputs context
  .github/workflows/mutation-test.yml
Due: none

style(commands): apply rustfmt and clippy fixes to runserver and wasm_builder
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/wasm_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

style(conf): apply rustfmt and clippy fixes to template and tbd parser
  crates/reinhardt-commands/src/template.rs
  crates/reinhardt-conf/src/tbd/parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

fix(commands): derive is_initial from migration number instead of hardcoding
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(migrations): add file-based migration state reconstruction
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/state_loader.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): expand coverage for all operation name fragments and edge cases
  crates/reinhardt-db/src/migrations/migration_namer.rs
  tests/integration/tests/migrations/makemigrations_e2e_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): restore AlterColumn and CreateIndex E2E tests
  tests/integration/tests/migrations/makemigrations_e2e_integration.rs
Due: none

fix(db): generate CreateIndex for indexes on newly created tables
  crates/reinhardt-db/src/migrations/schema_diff.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): detect and generate constraint changes in SchemaDiff
  crates/reinhardt-db/src/migrations/schema_diff.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM
