Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

docs: add release announcement(s)
  announcements/v0.1.0-rc.30.md
Due: none

style(examples-tutorial-basis): apply reinhardt-admin fmt to polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
Due: none

chore(scripts): add changelog aggregation tooling for 0.1.0 finalize
  scripts/aggregate_changelog.py
  scripts/verify_changelog_coverage.sh
Due: none

chore(scripts): filter sub-crate updates template placeholder line
  scripts/aggregate_changelog.py
Due: none

docs(changelog): aggregate alpha.1-rc.30 into 0.1.0 entry for root
  CHANGELOG.md
Due: none

chore(scripts): handle Unreleased-missing CHANGELOGs and workspace-canonical previous tag
  scripts/aggregate_changelog.py
Due: none

docs(changelog): rephrase pre-existing hmr scheme bullet to bypass semgrep CWE-319
  CHANGELOG.md
  crates/reinhardt-pages/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

style(reinhardt-di): collapse paged_request_factory signature to one line
  crates/reinhardt-di/tests/injectable_factory_inject_fallback_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(changelog): add Highlights and Migration Guide to root 0.1.0
  CHANGELOG.md
Due: none

chore(scripts): make verify_changelog_coverage a soft sanity report
  scripts/verify_changelog_coverage.sh
Due: none

refactor(examples-tutorial-basis): bind polls_detail result once to avoid redundant clones
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
Due: none

chore(scripts): read crate names from Cargo.toml instead of parent-leaf heuristic
  scripts/verify_changelog_coverage.sh
Due: none

docs(changelog): replace commit-aggregated 0.1.0 with curated feature summary in root
  CHANGELOG.md
Due: none

chore(scripts): address Copilot review on aggregate_changelog and verify_changelog_coverage
  scripts/aggregate_changelog.py
  scripts/verify_changelog_coverage.sh
Due: none

docs(scripts): remove AI-assistant attribution from aggregate_changelog docstring
  scripts/aggregate_changelog.py
Due: none

fix(examples-tutorial-basis): repair polls choice add flow and improve related UX
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
Due: none

feat(examples): unify infrastructure provisioning across basis / rest / twitter
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/Makefile.toml
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/scripts/infra_down.sh
  examples/examples-tutorial-basis/scripts/infra_up.sh
  examples/examples-tutorial-basis/scripts/parse_local_toml.py
  examples/examples-tutorial-basis/settings/base.toml
  examples/examples-tutorial-rest/Cargo.toml
  examples/examples-tutorial-rest/Makefile.toml
  examples/examples-tutorial-rest/scripts/infra_down.sh
  examples/examples-tutorial-rest/scripts/infra_up.sh
  examples/examples-tutorial-rest/scripts/parse_local_toml.py
  examples/examples-tutorial-rest/settings/base.toml
  examples/examples-twitter/Makefile.toml
  examples/examples-twitter/README.md
  examples/examples-twitter/docker-compose.yml
  examples/examples-twitter/scripts/infra_down.sh
  examples/examples-twitter/scripts/infra_up.sh
  examples/examples-twitter/scripts/parse_local_toml.py
Due: none

fix(examples-tutorial-basis): address Copilot review on polls error formatting and results owner gate
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
Due: none

fix(examples-infra): shell-quote parse_local_toml output for safe eval
  examples/examples-tutorial-basis/scripts/parse_local_toml.py
  examples/examples-tutorial-rest/scripts/parse_local_toml.py
  examples/examples-twitter/scripts/parse_local_toml.py
Due: none

fix(examples-infra): fail fast when PostgreSQL/Redis readiness times out
  examples/examples-tutorial-basis/scripts/infra_up.sh
  examples/examples-tutorial-rest/scripts/infra_up.sh
  examples/examples-twitter/scripts/infra_up.sh
Due: none

feat(pages): add ServerFnMetadata cross-target supertrait
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/metadata.rs
  crates/reinhardt-pages/src/server_fn/mockable.rs
  crates/reinhardt-pages/src/server_fn/registration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(core)!: remove 0.1.0-rc deprecated URL resolver codegen (refs #4520)
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/viewset_macro.rs
  examples/examples-tutorial-rest/src/lib.rs
  examples/examples-tutorial-rest/src/urls_demo.rs
  examples/examples-tutorial-rest/tests/urls_typed_accessors.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(core): scaffold MIGRATION_0.2.md and document BREAKING CHANGES (refs #4520)
  crates/reinhardt-core/CHANGELOG.md
  instructions/MIGRATION_0.2.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples-tutorial-rest): remove stale comment after deleted test (refs #4520)
  examples/examples-tutorial-rest/tests/urls_typed_accessors.rs
Due: none

feat(pages-macros): emit #[server_fn] marker on wasm without msw feature
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(changelog): record cross-target #[server_fn] marker visibility
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/macros/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(core): add reactive::deps module with Trackable, Deps, IntoDeps
  Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/deps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(db)!: add Lookup<M> → Filter conversion for typed query builder
  crates/reinhardt-db/src/orm/query_fields/lookup.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(db)!: unify Manager::filter / QuerySet::filter on impl Into<Filter>
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/custom_manager.rs
  crates/reinhardt-db/src/orm/expressions.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/tests/custom_manager_basic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor: migrate internal filter_by callers to filter (#4650)
  crates/reinhardt-admin/src/server/admin_auth.rs
  crates/reinhardt-auth/src/sessions/backends/database.rs
  tests/integration/src/validator_test_common.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Frontend & Pages

refactor(examples-tutorial-basis): use typed filter builder (#4650)
  examples/examples-tutorial-basis/src/apps/polls/di.rs
  examples/examples-tutorial-basis/src/apps/polls/server_fn.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/apps/users/server_fn.rs
Due: none

refactor(examples-twitter): use typed filter builder (#4650)
  examples/examples-twitter/src/apps/auth/shared/server_fn.rs
  examples/examples-twitter/src/apps/dm/shared/server_fn.rs
  examples/examples-twitter/src/apps/profile/shared/server_fn.rs
  examples/examples-twitter/src/apps/relationship/shared/server_fn.rs
  examples/examples-twitter/src/apps/tweet/shared/server_fn.rs
Due: none

feat(core): implement IntoDeps for tuples up to arity 12 and Signal Trackable
  crates/reinhardt-core/src/reactive/deps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(pages-macros)!: reject bare-identifier shorthand in element bodies
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): drop leftover empty test definition in viewset_macro tests (refs #4520)
  crates/reinhardt-core/macros/src/viewset_macro.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(db)!: return Vec<String> from Operation::to_reverse_sql
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  tests/integration/tests/migrations/migration_rollback_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(core): add Deps + IntoDeps + Trackable for React-style hook deps
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/deps.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/resource.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
