Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(db): reject lossy nullable float array serialization
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(admin): preserve null elements in scalar array updates
  crates/reinhardt-admin/README.md
  crates/reinhardt-admin/src/core/database.rs
  tests/integration/tests/admin_nullable_arrays.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(commands): correct REST scaffold routing examples
  crates/reinhardt-commands/templates/project_restful_template/src/config/urls.rs.tpl
  tests/facade/Cargo.toml
  tests/facade/tests/fixtures/rest_scaffold_views.rs
  tests/facade/tests/rest_scaffold_routing.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(cli): align capability verbosity regression with main
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(sync): reconcile migration and query regressions
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/insert_select_conflict.rs
  tests/integration/tests/capability_migration_scope.rs
  tests/integration/tests/migrate_cross_app_rollback.rs
  tests/integration/tests/orm_exists.rs
  tests/integration/tests/queryset_arithmetic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

test(rest): align mysql search expectations with hex escapes
  crates/reinhardt-rest/tests/filters_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(auth): remove redundant permission context link target
  crates/reinhardt-auth/src/guard.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(views): parse generic list filters using model field types
  crates/reinhardt-views/src/generic.rs
  crates/reinhardt-views/src/generic/composite.rs
  crates/reinhardt-views/src/generic/list_api.rs
  crates/reinhardt-views/src/generic/test_support.rs
  tests/integration/tests/views/generic_views_filtering_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(db): keep generated array conversion available in minimal builds
  crates/reinhardt-db/src/backends/types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): preserve query builder parameter variants
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(db): clarify the insert builder NULL parameter contract
  crates/reinhardt-db/src/backends/query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): validate targets before reconciling migration history
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/migrate_cross_app_rollback.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix!: infer native PostgreSQL NULL parameter types
  crates/reinhardt-db/CHANGELOG.md
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/dialect/postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(middleware): expose component features through the facade
  src/exports.rs
  src/lib.rs
  src/middleware.rs
  tests/README.md
  tests/facade/tests/middleware_features.rs
  website/content/docs/feature-flags.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(migrations): resolve SQL assets in filesystem repository reads
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/repository/filesystem.rs
  crates/reinhardt-db/src/migrations/source_format.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): render binary fields as bytea on PostgreSQL
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/fields.rs
  tests/integration/Cargo.toml
  tests/integration/tests/binary_model_migrations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

ci(tests): release uncached build output before post-job cleanup
  .github/workflows/intra-crate-integration-test.yml
Due: none

fix(tests): fetch uncached middleware consumer dependencies
  tests/README.md
  tests/facade/tests/middleware_features.rs
Due: none

test(db): align integration expectations with generated bindings
  crates/reinhardt-db/tests/migration_builder_stack.rs
  crates/reinhardt-db/tests/transaction_executor_orm.rs
  crates/reinhardt-db/tests/typed_aggregation_sql.rs
  tests/integration/tests/admin/server_fn_list_tests.rs
  tests/integration/tests/composite_key_unsigned.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): confine repository source identity scans
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/repository/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(features): forward postgres model macros through facade
  Cargo.toml
  crates/reinhardt-db/README.md
  tests/facade/tests/binary_model.rs
  tests/integration/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): skip database-only operations during file state replay
  crates/reinhardt-db/src/migrations/state_loader.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs: add release announcement(s)
  announcements/v0.3.21.md
Due: none

test(db): gate zero-sentinel model fixtures on migrations
  crates/reinhardt-db/src/orm/manager.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

ci: reduce integration test build disk usage
  .github/workflows/intra-crate-integration-test.yml
  crates/reinhardt-db/tests/pgvector_feature_boundary.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(facade): fetch isolated UUID consumer dependencies
  tests/facade/tests/uuid_path.rs
Due: none

docs: add release announcement(s)
  announcements/v0.3.22.md
Due: none

docs: add release announcement(s)
  announcements/v0.4.0-alpha.20.md
Due: none

docs(testkit): correct PostgreSQL container version
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(facade): forward optional WebSocket and GraphQL test features
  Cargo.toml
  tests/README.md
  tests/facade/tests/test_fixture_features.rs
  website/content/docs/feature-flags.md
Due: none

feat(testkit): add NATS JetStream testcontainers fixture
  .github/docker-images-unit-test.txt
  crates/reinhardt-test/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  crates/reinhardt-testkit/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit): make test_server_guard a composable rstest fixture
  crates/reinhardt-testkit/src/fixtures/client.rs
  crates/reinhardt-testkit/src/fixtures/server.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit): configure test-scoped postgres containers
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  crates/reinhardt-testkit/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit): apply postgres migrations to existing urls
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  crates/reinhardt-testkit/src/lib.rs
  tests/integration/tests/testkit.rs
  tests/integration/tests/testkit/postgres_container_migrations.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore: ignore domain context and adr files at any depth
  .gitignore
Due: none

feat(test): add method-aware async stub router
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-testkit/src/lib.rs
  crates/reinhardt-testkit/src/mock.rs
  crates/reinhardt-testkit/src/stub.rs
  crates/reinhardt-testkit/tests/stub_router.rs
  crates/reinhardt-urls/src/routers/server_router/registration.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  tests/integration/src/lib.rs
  tests/integration/tests/testkit/mock_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(testkit): move HTTP stub route coverage to integration suite
  crates/reinhardt-testkit/tests/stub_router.rs
  tests/integration/tests/testkit.rs
  tests/integration/tests/testkit/stub_router_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(testkit): correct SimpleHandler deprecation guidance
  crates/reinhardt-testkit/src/mock.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(test): document async stub routes through test facades
  crates/reinhardt-test/README.md
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-testkit/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(test): record SimpleHandler migration and removal timeline
  crates/reinhardt-test/CHANGELOG.md
  crates/reinhardt-test/README.md
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-testkit/CHANGELOG.md
  crates/reinhardt-testkit/README.md
  crates/reinhardt-testkit/src/mock.rs
Due: unit, intra-crate-integration, cross-crate-integration

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
