Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

ci(examples): add WASM target compilation check for example projects
  .github/workflows/test-examples.yml
Due: none

fix(examples): wire admin panel into URL routing in examples-twitter
  examples/examples-twitter/src/apps/tweet/admin.rs
  examples/examples-twitter/src/config/admin.rs
  examples/examples-twitter/src/config/urls.rs
Due: none

test(rest): add coverage test for host format dot escaping fix
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(reinhardt): add missing DI type re-exports from reinhardt-di
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(basis): align basis tutorial docs with actual API
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
  website/content/quickstart/tutorials/basis/5-testing.md
  website/content/quickstart/tutorials/basis/7-admin-customization.md
Due: none

fix(examples-github-issues): return auth error for unauthenticated me() and add email uniqueness check
  examples/examples-github-issues/src/apps/auth/views.rs
Due: none

perf(examples-twitter): batch fetch message senders to eliminate N+1 queries
  examples/examples-twitter/src/apps/dm/server/server_fn.rs
Due: none

fix(admin): add cfg gate for admin routes to prevent wasm build errors
  examples/examples-twitter/src/config/urls.rs
Due: none

fix(auth): return Ok(None) instead of Err for unauthenticated me() query
  examples/examples-github-issues/src/apps/auth/views.rs
Due: none

perf(dm): replace N+1 user queries with batch query using FilterOperator::In
  examples/examples-twitter/src/apps/dm/server/server_fn.rs
Due: none

test(forms): add tests for formset process_data
  crates/reinhardt-forms/src/formset.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(db): add tests for nullable override in model_registry
  crates/reinhardt-db/src/migrations/model_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(forms): add tests for constant_time_eq
  crates/reinhardt-forms/src/form.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(views): add tests for 405 Method Not Allowed handler
  crates/reinhardt-views/src/viewsets/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

test(db): add tests for session flush error propagation
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): add tests for autodetector app-prefixed keys and index propagation
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(auth): add tests for deterministic UUID generation
  crates/reinhardt-auth/src/rest_authentication.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix: restore unrelated files to main state
  crates/reinhardt-admin/src/server/validation.rs
  crates/reinhardt-auth/src/oauth2.rs
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/tests/collectstatic_tests.rs
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/migrations/fields.rs
  crates/reinhardt-db/src/migrations/schema_editor.rs
  crates/reinhardt-urls/src/proxy/loading.rs
  crates/reinhardt-utils/src/staticfiles/template_integration.rs
  examples/examples-twitter/src/apps/auth/server/server_fn.rs
  examples/examples-twitter/src/core/client/router.rs
  tests/integration/tests/auth/oauth2_flows_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Authentication & Security, Server & Routing, Frontend & Pages, Utilities & Infrastructure

fix(examples-github-issues): return auth error for unauthenticated me() query
  examples/examples-github-issues/src/apps/auth/views.rs
Due: none

ci: remove out-of-date branch skip from CI workflows
  .github/workflows/ci.yml
  .github/workflows/test-examples.yml
Due: none

feat(macros): add pre_validate parameter to route and server_fn macros
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(db): add coverage for to_database_schema app_label prefix and index propagation
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): add tests for session flush error mapping and insert path
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): improve Codecov coverage reporting for Flags and Components
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix(ci): improve Codecov coverage reporting for Flags and Components
  .github/workflows/ci.yml
  .github/workflows/coverage-main.yml
Due: none

test(core): add intra-crate integration tests for reinhardt-core
  crates/reinhardt-core/tests/exception_hierarchy.rs
  crates/reinhardt-core/tests/pagination_integration.rs
  crates/reinhardt-core/tests/security_integration.rs
  crates/reinhardt-core/tests/serializers_integration.rs
  crates/reinhardt-core/tests/validators_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci: add selective testing inputs to test workflow files
  .github/workflows/coverage.yml
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/doc-test.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-test.yml
Due: none

ci: integrate selective testing into main CI pipeline
  .github/workflows/ci.yml
Due: none

test(urls): add intra-crate integration tests for reinhardt-urls
  crates/reinhardt-urls/tests/namespace_resolver.rs
  crates/reinhardt-urls/tests/route_introspection.rs
  crates/reinhardt-urls/tests/route_pattern_matching.rs
  crates/reinhardt-urls/tests/url_converters.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(conf,rest): add intra-crate integration tests for reinhardt-conf and reinhardt-rest
  crates/reinhardt-conf/tests/env_loader.rs
  crates/reinhardt-conf/tests/profile_switching.rs
  crates/reinhardt-conf/tests/settings_builder.rs
  crates/reinhardt-rest/tests/filters_integration.rs
  crates/reinhardt-rest/tests/serializers_integration.rs
  crates/reinhardt-rest/tests/versioning_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(utils,views): add intra-crate integration tests for reinhardt-utils and reinhardt-views
  crates/reinhardt-utils/tests/cache_backend.rs
  crates/reinhardt-utils/tests/staticfiles_pipeline.rs
  crates/reinhardt-utils/tests/storage_backend.rs
  crates/reinhardt-views/tests/generic_views.rs
  crates/reinhardt-views/tests/viewset_routing.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(utils,views): improve test quality for intra-crate integration tests
  crates/reinhardt-utils/src/cache/hybrid.rs
  crates/reinhardt-views/tests/generic_views.rs
  crates/reinhardt-views/tests/viewset_routing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): handle cargo metadata failure and jq errors in detect-affected-packages.sh
  .github/scripts/detect-affected-packages.sh
Due: none

fix(ci): use git log to detect changed files in PR branches that contain main
  .github/scripts/detect-affected-packages.sh
Due: none

ci: skip examples-test when no examples changes on non-release PRs
  .github/workflows/ci.yml
Due: none

ci: skip test-examples matrix when no examples changes on non-release PRs
  .github/workflows/test-examples.yml
Due: none

fix(ci): resolve permanent cache miss in setup-rust action
  .github/actions/setup-rust/action.yml
Due: none

ci: use GitHub PR Files API to detect changed files in PR context
  .github/scripts/detect-affected-packages.sh
  .github/workflows/detect-affected-packages.yml
Due: none

ci: add pull-requests: read permission to CI workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
