Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs(examples-tutorial-basis): expand question_edit workaround comment with #4515 reference and ideal implementation
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

fix(commands): drop redundant auto_register_router call from start_server
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(macros): validate #[action(url_name = "...")] as a Rust identifier
  crates/reinhardt-core/macros/src/action.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): probe reinhardt facade crates before falling back to ::hyper
  crates/reinhardt-core/macros/src/crate_paths.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): uppercase HTTP method literals before passing to hyper::Method::from_bytes
  crates/reinhardt-core/macros/src/viewset_macro.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(macros): rephrase E0119 test comment to avoid Semgrep commented-out-code false positive
  crates/reinhardt-core/macros/src/viewset_macro.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(macros): anchor with_actions_wrong_arg_type UI test to a Reinhardt component
  crates/reinhardt-core/macros/tests/ui/viewset/fail/with_actions_wrong_arg_type.rs
  crates/reinhardt-core/macros/tests/ui/viewset/fail/with_actions_wrong_arg_type.stderr
Due: unit, intra-crate-integration, cross-crate-integration

docs(macros): document #[allow] rationale on flat_blanket_trait_is_deprecated UI fixture
  crates/reinhardt-core/macros/tests/ui/viewset/pass/flat_blanket_trait_is_deprecated.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(integration-tests): document #[allow(dead_code)] rationale on namespace regression fixtures
  tests/integration/tests/url_patterns_viewset_namespace_regression.rs
Due: none

test(macros): drop trailing unused-import warnings from non_uuid_pk_with_default_manager golden
  crates/reinhardt-core/macros/tests/ui/user/fail/non_uuid_pk_with_default_manager.stderr
Due: unit, intra-crate-integration, cross-crate-integration

feat(ci): trigger release-plz on develop/** branches
  .github/workflows/release-plz.yml
Due: none

docs(commands): replace broken intra-doc link to ServerRouter with backticks
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(commands): match # Errors heading on register_http_routes_from_inventory no-op variant
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(commands): clear pre-registered router via RAII guard in DP-7 test
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

refactor(ci): consolidate Rust + protoc setup into setup-test-env composite action
  .github/actions/setup-test-env/action.yml
  .github/workflows/coverage.yml
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/reinhardt-feature-check.yml
  .github/workflows/semver-check.yml
  .github/workflows/unit-test.yml
Due: none

feat(scripts): add develop branch lifecycle helpers
  scripts/freeze-develop-to-rc.sh
  scripts/init-develop-branch.sh
  scripts/strip-prerelease-suffix.sh
Due: none

feat(ci): add release-plz-promote workflow for develop → stable graduation
  .github/workflows/release-plz-promote.yml
Due: none

docs(release): document develop branch release workflow (DBR-1, DBR-2, DBR-3)
  instructions/RELEASE_PROCESS.md
  instructions/STABILITY_POLICY.md
Due: none

docs(quick-ref): add DBR-1/2/3 to Quick Reference; drop obsolete DB-6 NEVER
  instructions/QUICK_REFERENCE.md
Due: none

fix(ci): gate release-plz-release on Release-PR-merge for develop/**
  .github/workflows/release-plz.yml
Due: none

refactor(examples-twitter): unify User field access to direct struct fields in tests
  examples/examples-twitter/src/apps/auth/tests/server_fn.rs
  examples/examples-twitter/src/test_utils/factories/user.rs
Due: none

fix(examples-tutorial-basis): wire createsuperuser for minimal user model
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/bin/manage.rs
Due: none

feat(core): auto-register SuperuserCreator for any #[user] + #[model] type
  crates/reinhardt-auth/src/core/superuser_creator.rs
  crates/reinhardt-commands/src/createsuperuser.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
  tests/integration/tests/macros.rs
  tests/integration/tests/macros/repro_issue_4522.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Utilities & Infrastructure

chore(examples-rest): drop websockets feature now that server_only skips ws lookups
  examples/examples-tutorial-rest/Cargo.toml
Due: none

docs(examples-rest): describe server_only mode and drop stub references from README
  examples/examples-tutorial-rest/README.md
Due: none

fix(ci): rewrite setup-test-env input descriptions without literal expressions
  .github/actions/setup-test-env/action.yml
Due: none

perf(ci): split semver-check into per-crate matrix shards
  .github/workflows/semver-check.yml
  Makefile.toml
Due: none

fix(macros): embed basename in viewset manifest macro name (Fixes #4523)
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/src/viewset_macro.rs
  tests/integration/tests/url_patterns_viewset_collision_regression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(scripts): fail fast in init-develop-branch.sh on branch mismatch
  scripts/init-develop-branch.sh
Due: none

fix(ci): tighten release-plz-release gate with startsWith for chore: release
  .github/workflows/release-plz.yml
Due: none

fix(ci): drive semver-check phase detection from cargo metadata
  .github/workflows/semver-check.yml
Due: none

docs(core,pages): document nested watch{} !Copy Signal footgun and pin rustc diagnostic
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/docs/watch_semantics.md
  crates/reinhardt-pages/tests/ui/page/fail/reactive_nested_non_copy_capture.rs
  crates/reinhardt-pages/tests/ui/page/fail/reactive_nested_non_copy_capture.stderr
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(auth): honor manual SuperuserCreator registration across all inventory sizes
  crates/reinhardt-auth/src/core/superuser_creator.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): address Copilot review feedback on semver-check matrix split
  .github/workflows/semver-check.yml
  Makefile.toml
Due: none

fix(macros): reject malformed #[action] value types in shared parser
  crates/reinhardt-core/macros/src/action.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): derive Debug on ActionMeta for parser test expect_err calls
  crates/reinhardt-core/macros/src/action.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(reinhardt-db): cover rollback orchestration with in-crate sqlite tests
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): honor inputs.runner in helper jobs and scope phase to publishable crates
  .github/workflows/semver-check.yml
Due: none

test(reinhardt-db): reword rollback-test comments per Copilot review
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(examples-tutorial-basis): verify createsuperuser auto-registration after #4522
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/bin/manage.rs
  examples/examples-tutorial-basis/tests/createsuperuser.rs
Due: none
