Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

ci: pin Rust workflows to 1.96.0
  .github/workflows/detect-affected-packages.yml
  .github/workflows/msrv-test.yml
  .github/workflows/osv-scanner.yml
  .github/workflows/semver-check.yml
  examples/examples-tutorial-basis/README.md
Due: none

fix(pages): address async SSR review feedback
  crates/reinhardt-pages/src/component/suspense.rs
  crates/reinhardt-pages/src/reactive/hooks/id.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): render outlets in native component tests
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(commands): match drop column metadata
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/migrations/makemigrations_logic_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): handle outlet nodes in component tests
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): render outlets during async SSR
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): skip response metadata type parsing when disabled
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): avoid tracked locale reads in SSR options
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): tighten native component testing exports
  crates/reinhardt-pages/src/testing/component/tests.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  src/test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(db): handle constraint repairs during SQLite recreation
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): gate SSR ID scope to native targets
  crates/reinhardt-pages/src/reactive/hooks/id.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): gate contenttypes registry test target
  crates/reinhardt-db/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): sort migrate plans by dependencies
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(tasks): add durable job queue
  Cargo.toml
  crates/reinhardt-tasks/Cargo.toml
  crates/reinhardt-tasks/README.md
  crates/reinhardt-tasks/src/durable.rs
  crates/reinhardt-tasks/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): restore deterministic suspense replay state
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/ssr_resource_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): settle buffered suspense replays
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: fix stale testing rule ranges in CLAUDE.md and AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

docs(instructions): update quick reference index and OW rule range
  instructions/QUICK_REFERENCE.md
Due: none

fix(db): address generated column review feedback
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-db/src/orm/query.rs
  tests/integration/tests/migrations/data_migrations_integration.rs
  tests/integration/tests/migrations/error_handling_integration.rs
  tests/integration/tests/migrations/sql_generation_validation.rs
  tests/integration/tests/migrations/sqlite_default_value_preservation.rs
  tests/integration/tests/migrations/sqlite_edge_cases.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): address component testing review feedback
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/scheduler.rs
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/src/testing/component/server_fn_mock.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): address client form review feedback
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/serialization_changing_container.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/serialization_changing_container.stderr
  crates/reinhardt-pages/tests/ui/client_form/pass/raw_identifier_field.rs
  crates/reinhardt-pages/tests/ui/server_fn/response_metadata.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): address SSR resource review feedback
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): address reactive i18n hydration review feedback
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/i18n.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/i18n_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): address generated column review follow-up
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages)!: address i18n review feedback
  .github/workflows/msrv-test.yml
  crates/reinhardt-i18n/Cargo.toml
  crates/reinhardt-pages/src/i18n.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/i18n_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): hydrate nested reactive owners
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(tasks): address durable queue review feedback
  crates/reinhardt-tasks/src/durable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): reuse tracked SSR resources during replay
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): complete native component harness review fixes
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/platform/native.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/query.rs
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/src/testing/component/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): address client form server fn review feedback
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/metadata.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/serde_renames.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_request_signature.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_response_deserialize.stderr
  crates/reinhardt-pages/tests/ui/client_form/pass/server_fn_submit.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): satisfy strict clippy checks
  crates/reinhardt-admin/src/core/model_admin.rs
  crates/reinhardt-admin/src/server/limits.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/src/types/requests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore(examples): refresh example lockfile
  examples/Cargo.lock
Due: none

fix(pages): preserve i18n compatibility surfaces
  crates/reinhardt-i18n/Cargo.toml
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/ssr.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(tasks): harden durable claim leasing
  crates/reinhardt-tasks/src/durable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(db): harden generated column dependency ordering
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/introspect/generator.rs
  crates/reinhardt-db/src/migrations/introspection.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): harden streaming suspense resource scopes
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): harden client form review edge cases
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/metadata.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/alias_collision.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/alias_collision.stderr
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): scope hydrated i18n callbacks per root
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/i18n.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(tasks): commit durable lifecycle transitions atomically
  crates/reinhardt-tasks/src/durable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): reuse pending tracked SSR resources
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages
