Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

perf: trim standard facade feature dependencies
  Cargo.toml
  README.md
  crates/reinhardt-apps/Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/exception.rs
  crates/reinhardt-core/src/parsers.rs
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/src/orm/type_decorator.rs
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-rest/src/lib.rs
  crates/reinhardt-utils/Cargo.toml
  crates/reinhardt-utils/src/staticfiles/processing.rs
  crates/reinhardt-views/Cargo.toml
  crates/reinhardt-views/src/lib.rs
  scripts/dependency-feature-audit.sh
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Utilities & Infrastructure

fix: keep openapi facade feature standalone
  crates/reinhardt-rest/Cargo.toml
  src/exports/rest.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix: address CodeRabbit dependency gate review
  Cargo.toml
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-db/src/orm/file_fields.rs
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-middleware/src/lib.rs
  scripts/dependency-feature-audit.sh
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Authentication & Security

fix: preserve core and rest facade surfaces
  Cargo.toml
  src/exports/rest.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix: align urls routers macro feature graph
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-urls/src/routers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix: gate negotiation media type facade export
  src/exports/rest.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix: stop implicit openapi schema macro output
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-core/macros/src/dto.rs
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/dto/fail/unconditional_schema.rs
  crates/reinhardt-core/macros/tests/ui/dto/fail/unconditional_schema.stderr
  crates/reinhardt-core/macros/tests/ui/dto/pass/user_native_schema.rs
  crates/reinhardt-core/macros/tests/ui/dto/pass/user_native_validate.rs
  crates/reinhardt-middleware/src/lib.rs
  examples/examples-tutorial-basis/src/shared/types.rs
  tests/integration/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

ci: cancel stale reusable workflow runs
  .github/workflows/cancel-on-pr-close.yml
Due: none

fix(ci): stop masking release-plz 422 failures
  .github/workflows/release-plz.yml
Due: none

docs(settings): design embedded settings nodes
  docs/superpowers/specs/2026-06-05-embedded-settings-nodes-design.md
Due: none

feat(settings): add typed schema primitives
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/composed.rs
  crates/reinhardt-conf/src/settings/policy.rs
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/src/settings/schema.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(settings): preserve root section precedence
  crates/reinhardt-conf/src/settings/schema.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(settings): share schema macro analysis
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/settings_schema.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): enable security feature for WASM builds
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/hydration/events.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(settings): harden schema macro parsing
  crates/reinhardt-core/macros/src/settings_schema.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): enable tutorial admin CRUD
  crates/reinhardt-admin/README.md
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/pages/components/features.rs
  crates/reinhardt-admin/src/pages/main.rs
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-admin/src/server/type_inference.rs
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/config/admin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(settings): detect serde defaults in schema fields
  crates/reinhardt-core/macros/src/settings_schema.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(settings): generate embedded node schemas
  crates/reinhardt-core/macros/src/settings_fragment.rs
  crates/reinhardt-core/macros/src/settings_schema.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/fragment_no_section.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/fragment_no_section.stderr
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_flatten.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_flatten.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(settings): classify embedded config nodes
  crates/reinhardt-conf/src/settings/database_config.rs
  crates/reinhardt-conf/src/settings/template_settings.rs
  crates/reinhardt-core/macros/src/settings_fragment.rs
  crates/reinhardt-core/macros/src/settings_schema.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_flatten.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(settings): require explicit nested settings nodes
  crates/reinhardt-conf/src/settings/core_settings.rs
  crates/reinhardt-core/macros/src/settings_schema.rs
  crates/reinhardt-core/macros/tests/ui/settings/fail/settings_unknown_setting_attr.stderr
  crates/reinhardt-deeplink/src/settings.rs
  crates/reinhardt-storages/src/settings.rs
  crates/reinhardt-tasks/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

feat(settings): expose composed schema roots
  crates/reinhardt-conf/src/settings/schema.rs
  crates/reinhardt-core/macros/src/settings_compose.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(settings): keep schema accessor compatibility
  crates/reinhardt-conf/src/settings/schema.rs
  crates/reinhardt-core/macros/src/settings_compose.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(settings): cover embedded schema nodes
  tests/integration/tests/settings.rs
  tests/integration/tests/settings/composable_macro_pass.rs
  tests/integration/tests/settings/schema_trybuild.rs
  tests/integration/tests/settings/ui/fail/non_secret_ref.rs
  tests/integration/tests/settings/ui/fail/non_secret_ref.stderr
Due: none

docs(settings): document embedded schema nodes
  crates/reinhardt-conf/CHANGELOG.md
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/settings/fragment.rs
  crates/reinhardt-core/macros/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(settings): assert typed secret schema refs
  tests/integration/tests/settings/composable_macro_pass.rs
Due: none

fix(settings): simplify schema case conversion
  crates/reinhardt-core/macros/src/settings_schema.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(admin): format admin feature controls
  crates/reinhardt-admin/src/pages/components/features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): build CRUD URLs with router reverse
  crates/reinhardt-admin/src/pages/components/features.rs
  crates/reinhardt-admin/src/pages/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): preserve multi-select mutation values
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-admin/src/pages/components/features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: add release announcement(s)
  announcements/v0.2.0-rc.3.md
Due: none

fix(settings): preserve cfg gates in schema generation
  crates/reinhardt-core/macros/src/settings_fragment.rs
  crates/reinhardt-core/macros/src/settings_schema.rs
  tests/integration/tests/settings/schema_trybuild.rs
  tests/integration/tests/settings/ui/pass/cfg_gated_node_field.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(staticfiles): inject wasm loader for directory index
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): preserve raw index in non-spa mode
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): inject wasm loader for directory index without spa mode
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): remove ignored superpowers spec from release branch
  docs/superpowers/specs/2026-06-05-embedded-settings-nodes-design.md
Due: none

refactor(auth): make CurrentUser canonical extractor
  README.md
  crates/reinhardt-admin/src/server/admin_auth.rs
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/src/auth_extractors.rs
  crates/reinhardt-auth/src/auth_info.rs
  crates/reinhardt-auth/src/auth_user.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/tests/feature_flags_tests.rs
  crates/reinhardt-commands/templates/app_restful_template/views.rs.tpl
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-di/src/lib.rs
  examples/examples-tutorial-basis/src/apps/polls/di.rs
  examples/examples-tutorial-basis/src/apps/polls/server_fn.rs
  instructions/MIGRATION_0.2.md
  instructions/TESTING_STANDARDS.md
  src/exports/auth.rs
  tests/integration/tests/admin/server_fn_e2e_tests.rs
  tests/integration/tests/admin/server_fn_helpers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Dependency Injection, Frontend & Pages

fix: format tutorial-basis admin config
  examples/examples-tutorial-basis/src/config/admin.rs
Due: none

fix(conf): support secret source maps
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/settings/database_config.rs
  crates/reinhardt-conf/src/settings/secret_types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix: expose social auth and runserver facade features
  Cargo.toml
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(conf): escape secret source test paths
  crates/reinhardt-conf/src/settings/database_config.rs
  crates/reinhardt-conf/src/settings/secret_types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
