Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

feat(pages): batch actions with optimistic rollback
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/tests/action_batching_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

feat(pages): add router outlet and route metadata
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/components.rs
  crates/reinhardt-pages/tests/router_outlet_integration_tests.rs
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/tests/client_router_metadata_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

feat(examples): add canonical Todo pages example
  examples/Cargo.toml
  examples/README.md
  examples/examples-todo/Cargo.toml
  examples/examples-todo/README.md
  examples/examples-todo/build.rs
  examples/examples-todo/index.html
  examples/examples-todo/settings/base.toml
  examples/examples-todo/settings/ci.toml
  examples/examples-todo/settings/local.toml
  examples/examples-todo/src/bin/manage.rs
  examples/examples-todo/src/client.rs
  examples/examples-todo/src/config/mod.rs
  examples/examples-todo/src/config/settings.rs
  examples/examples-todo/src/config/urls.rs
  examples/examples-todo/src/lib.rs
  examples/examples-todo/src/server_fn.rs
  examples/examples-todo/src/todo.rs
  examples/examples-todo/src/ui.rs
  examples/examples-todo/tests/server_fn.rs
Due: none

feat(pages): add error boundary component
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/component.rs
  crates/reinhardt-pages/src/component/error_boundary.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/tests/error_boundary_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): support keyed page list rendering
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-manouche/src/core/node.rs
  crates/reinhardt-manouche/src/core/typed_node.rs
  crates/reinhardt-manouche/src/parser/page.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/ast/src/node.rs
  crates/reinhardt-pages/ast/src/parser.rs
  crates/reinhardt-pages/ast/src/typed_node.rs
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/page_keyed_for_integration_tests.rs
  crates/reinhardt-pages/tests/ui/page/fail/keyed_for_missing_expr.rs
  crates/reinhardt-pages/tests/ui/page/fail/keyed_for_missing_expr.stderr
  crates/reinhardt-pages/tests/ui/page/pass/keyed_for.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

style(storages): wrap long config-error assertion to satisfy rustfmt
  crates/reinhardt-storages/tests/settings_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(storages): split Err/Ok arms to avoid Debug on dyn backend
  crates/reinhardt-storages/tests/factory_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(storages): make default_backend feature-aware
  crates/reinhardt-storages/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands): add migrate-with-target direction detection
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(commands): add migrate-with-target E2E coverage
  crates/reinhardt-commands/tests/migrate_target_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands): document migrate-with-target semantics
  crates/reinhardt-commands/README.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(urls)!: unify UnifiedRouter::server closure type to ServerRouter on wasm
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(web)!: re-export unified wasm ServerRouter from urls prelude
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(examples): update tutorial-basis comment for ServerRouter rename
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

fix(storages): make StorageSettings::default() convertible in non-local builds
  crates/reinhardt-storages/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): compile migrate-with-target target handling
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/tests/cli_tests.rs
  crates/reinhardt-commands/tests/migrate_target_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(views): assert filter operator and value with matches! instead of Debug substring
  crates/reinhardt-views/src/generic/test_support.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

test(views): cover explicit queryset override on retrieve-update and retrieve-destroy views
  crates/reinhardt-views/src/generic/composite.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

feat(web): expose unified ServerRouter at crate root on wasm
  src/exports/routing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(examples): extract examples-twitter url delegates to drop aggregator cfg
  examples/examples-twitter/src/apps/auth/urls.rs
  examples/examples-twitter/src/apps/auth/urls/client_router.rs
  examples/examples-twitter/src/apps/auth/urls/server_urls.rs
  examples/examples-twitter/src/apps/dm/urls.rs
  examples/examples-twitter/src/apps/dm/urls/client_router.rs
  examples/examples-twitter/src/apps/dm/urls/server_urls.rs
  examples/examples-twitter/src/apps/profile/urls.rs
  examples/examples-twitter/src/apps/profile/urls/client_router.rs
  examples/examples-twitter/src/apps/profile/urls/server_urls.rs
  examples/examples-twitter/src/apps/relationship/urls.rs
  examples/examples-twitter/src/apps/relationship/urls/server_urls.rs
  examples/examples-twitter/src/apps/tweet/urls.rs
  examples/examples-twitter/src/apps/tweet/urls/client_router.rs
  examples/examples-twitter/src/apps/tweet/urls/server_urls.rs
Due: none

fix(commands): honor --fake and --plan on migrate-with-target paths
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/tests/migrate_target_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(facade): re-export serde traits via reinhardt_core path
  src/exports/misc.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(facade): gate prelude serde re-export to native
  src/exports/misc.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(pages): fix post-move use of router in router outlet doc example
  crates/reinhardt-pages/src/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): document Clone requirement for keyed for iterators
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): address CodeRabbit review on hydration tests
  crates/reinhardt-pages/src/ssr/markers.rs
  crates/reinhardt-pages/tests/ssr_hydration_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): tighten batch integration tests per review
  crates/reinhardt-pages/tests/action_batching_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): address CodeRabbit review on error boundary
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/tests/error_boundary_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): set REINHARDT_SETTINGS_MODULE before tokio runtime init
  examples/examples-todo/src/bin/manage.rs
  examples/examples-todo/src/config.rs
Due: none

fix(examples): keep Todo UI state consistent after optimistic and row mutations
  examples/examples-todo/src/ui.rs
Due: none

test(examples): use strict match-count assertions in todo page render test
  examples/examples-todo/tests/server_fn.rs
Due: none

docs: update scaffold template and basis tutorial for ServerRouter rename
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): keep filtered todo view consistent after toggle
  examples/examples-todo/src/ui.rs
Due: none

test(commands): cover migrate --migrations-dir flag parsing
  crates/reinhardt-commands/tests/cli_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): fail fast on recorder errors in migrate --plan
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(commands): clarify APP_LABEL/MIGRATION_NAME dependency
  crates/reinhardt-commands/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(urls): align WASM UnifiedRouter::server doc with no-invoke behavior
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(commands): drop needless #[allow(unreachable_patterns)] in migrate parse test
  crates/reinhardt-commands/tests/cli_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(examples): drop redundant #[cfg] from twitter server_url_patterns
  examples/examples-twitter/src/apps/auth/urls/server_urls.rs
  examples/examples-twitter/src/apps/dm/urls/server_urls.rs
  examples/examples-twitter/src/apps/profile/urls/server_urls.rs
  examples/examples-twitter/src/apps/relationship/urls/server_urls.rs
  examples/examples-twitter/src/apps/tweet/urls/server_urls.rs
Due: none

fix(examples-twitter): import serde directly in WASM-reachable pagination
  examples/examples-twitter/src/apps/tweet/shared/pagination.rs
Due: none
