Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

refactor(auth): extract UserRepository to shared repository module
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/oauth2.rs
  crates/reinhardt-auth/src/repository.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth)!: validate redirect_uri in OAuth2 authorization code exchange
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/src/oauth2.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs: add missing doc comments for public API modules and types
  crates/reinhardt-auth/src/core.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-core/src/lib.rs
  crates/reinhardt-core/src/parsers.rs
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/src/params.rs
  crates/reinhardt-forms/src/fields.rs
  crates/reinhardt-forms/src/lib.rs
  crates/reinhardt-graphql/src/lib.rs
  crates/reinhardt-graphql/src/resolvers.rs
  crates/reinhardt-grpc/src/lib.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-i18n/src/lib.rs
  crates/reinhardt-mail/src/lib.rs
  crates/reinhardt-pages/ast/src/lib.rs
  crates/reinhardt-shortcuts/src/lib.rs
  crates/reinhardt-tasks/src/lib.rs
  crates/reinhardt-throttling/src/lib.rs
  crates/reinhardt-utils/src/logging.rs
  crates/reinhardt-utils/src/staticfiles.rs
  crates/reinhardt-websockets/src/lib.rs
  src/admin.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Authentication & Security, Dependency Injection, Frontend & Pages, Communication, Utilities & Infrastructure

style(examples): fix formatting in twitter example server_fn
  examples/examples-twitter/src/apps/dm/server/server_fn.rs
Due: none

style(auth): fix trailing newline in token_storage tests
  crates/reinhardt-auth/src/token_storage.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(urls): correct UUID converter test expectations for case-insensitive validation
  crates/reinhardt-urls/tests/url_converters.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(migrations): ignore unimplemented makemigrations E2E tests
  tests/integration/tests/migrations/makemigrations_e2e_integration.rs
Due: none

ci(semver): update comments to reflect SP-1 relaxation policy
  .github/workflows/semver-check.yml
Due: none

feat(core): add ApplyUpdate trait for partial struct updates
  crates/reinhardt-core/src/apply_update.rs
  crates/reinhardt-core/src/lib.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(macros): add #[apply_update] attribute and ApplyUpdate derive macro
  crates/reinhardt-core/macros/src/apply_update_attribute.rs
  crates/reinhardt-core/macros/src/apply_update_derive.rs
  crates/reinhardt-core/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(macros): add integration tests for ApplyUpdate derive macro
  tests/integration/src/apply_update.rs
  tests/integration/src/lib.rs
Due: none

style(examples-twitter): fix component formatting
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
Due: none

fix(macros): dereference extractor before validation in pre_validate
  crates/reinhardt-core/macros/src/routes.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pr): add three-dot diff rule for PR verification (RP-5)
  CLAUDE.md
  instructions/PR_GUIDELINE.md
Due: none

ci: increase semver-check timeout from 45 to 90 minutes
  .github/workflows/semver-check.yml
Due: none

fix(macros): replace skeleton tests with meaningful assertions in pre_validate
  crates/reinhardt-core/macros/src/routes.rs
  tests/integration/src/pre_validate.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): address review feedback for SQL identifier quoting
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(examples): migrate polls.rs spawn_task to use_action
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

refactor(examples): migrate dm hooks initial load to create_resource
  examples/examples-twitter/src/apps/dm/client/hooks.rs
Due: none

style(auth): format jwt session error message and test case
  crates/reinhardt-auth/src/sessions/backends/jwt.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): check state_reason in auto-close parent issue workflow
  .github/workflows/auto-close-parent-issue.yml
Due: none

fix(whitenoise): migrate path-only dependencies to workspace dependencies
  crates/reinhardt-whitenoise/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): replace sub-crate dependencies with reinhardt re-exports
  examples/.cargo/config.local.toml
  examples/Cargo.toml
  examples/examples-twitter/Cargo.toml
  examples/examples-twitter/src/apps/dm/server/server_fn/handlers.rs
  examples/examples-twitter/src/test_utils/factories/dm.rs
  examples/examples-twitter/src/test_utils/factories/tweet.rs
  examples/examples-twitter/src/test_utils/factories/user.rs
Due: none

fix(di): add circular dependency detection and feature parity to Depends<T>
  crates/reinhardt-di/src/depends.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

security(db): address review feedback for SQL identifier quoting
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(views): accept non-numeric path parameters in extract_path_params
  crates/reinhardt-views/src/viewsets/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(db): respect custom table name in to_database_schema
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): serialize initial field in migration code generation
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/repository/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): replace loose assert!(contains) with strict assert_eq! in SQL tests
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(seeding): add version to reinhardt-seeding-macros dependency
  crates/reinhardt-seeding/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(test): add missing redirect_uri argument to oauth2 exchange_code tests
  tests/integration/tests/auth/oauth2_flows_integration.rs
Due: none

fix(test): restore orphaned apply_update and pre_validate module declarations
  tests/integration/src/lib.rs
Due: none

style(examples): apply rustfmt to examples-twitter components
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

style(examples): apply reinhardt-admin fmt to examples-twitter common.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

chore(serena): clean up project.yml formatting
  .serena/project.yml
Due: none

style: apply format fixes after main merge
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

ci: add develop leak guard to detect indirect develop/* merges
  .github/workflows/develop-leak-guard.yml
Due: none

test(auth): use Reinhardt API in authentication tests
  crates/reinhardt-auth/src/jwt.rs
  crates/reinhardt-auth/src/mfa.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

style: fix formatting in examples-twitter components
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/test_utils/factories/user.rs
Due: none
