Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(ci): update WASM consumer fixture for URL routing simplification
  .github/fixtures/wasm-consumer-augment.patch
  .github/scripts/build-wasm-consumer-fixture.sh
  crates/reinhardt-commands/templates/project_pages_template/src/client/lib.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

style: apply rustfmt to non-DSL files on develop/0.2.0
  crates/reinhardt-db/src/orm/annotation.rs
  crates/reinhardt-db/src/orm/custom_manager.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query_fields/compiler.rs
  crates/reinhardt-db/src/orm/relations.rs
  crates/reinhardt-db/src/orm/transaction.rs
  crates/reinhardt-db/tests/custom_manager_basic.rs
  crates/reinhardt-testkit/src/lib.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  src/exports/routing.rs
  tests/integration/tests/macros/model_info_ui.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, Server & Routing

fix(macros): remove unused has_derive_trait from model_derive
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): propagate serde derives to Info companion struct via model_config
  crates/reinhardt-core/macros/src/model_attribute.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/macros/model_info_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(examples): format examples-twitter common.rs with reinhardt-admin fmt
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

docs: add Obsidian wiki maintenance instructions (OW-1 ~ OW-4)
  AGENTS.md
  CLAUDE.md
  instructions/OBSIDIAN_WIKI.md
  instructions/QUICK_REFERENCE.md
Due: none

style(examples): format page! macros in examples-twitter common.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

docs: prohibit direct pushes to release-plz branches
  AGENTS.md
  CLAUDE.md
  instructions/QUICK_REFERENCE.md
Due: none

docs: clarify release-plz branch policy — code fixes vs CHANGELOG edits
  AGENTS.md
  CLAUDE.md
  instructions/QUICK_REFERENCE.md
Due: none

Revert "style(examples): format page! macros in examples-twitter common.rs"
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

fix(docs): address Copilot review feedback on OBSIDIAN_WIKI.md
  instructions/OBSIDIAN_WIKI.md
  instructions/QUICK_REFERENCE.md
Due: none

fix(docs): replace user-specific skip wording with neutral language
  AGENTS.md
  CLAUDE.md
  instructions/OBSIDIAN_WIKI.md
Due: none

docs: add wiki-query retrieval and dual-write ingest rules (OW-5, OW-6)
  AGENTS.md
  CLAUDE.md
  instructions/OBSIDIAN_WIKI.md
  instructions/QUICK_REFERENCE.md
Due: none

style(examples): expand page! macros to multi-line in examples-twitter
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

fix(docs): add develop/* example to Release PR base branch reference
  instructions/QUICK_REFERENCE.md
Due: none

fix(docs): remove hardcoded vault path, discover via Obsidian MCP
  AGENTS.md
  CLAUDE.md
  instructions/OBSIDIAN_WIKI.md
Due: none

fix(admin-cli): traverse past sub-crate Cargo.toml when searching for rustfmt config
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): guard WASM-unused exports and restrict compat visibility
  src/compat.rs
  src/exports.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(di): collapse nested if-let into let-chain
  crates/reinhardt-di/src/context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(urls): update tests for page() and reverse() API changes
  crates/reinhardt-urls/tests/client_url_resolver.rs
  crates/reinhardt-urls/tests/clientrouter_page_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): suppress missing_docs on generated Info companion types
  crates/reinhardt-auth/build.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/build.rs
  tests/integration/build.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(docs): neutralize user-specific wording in OBSIDIAN_WIKI.md
  instructions/OBSIDIAN_WIKI.md
Due: none

fix(docs): replace absolute user path with ~ in Obsidian vault references
  AGENTS.md
  CLAUDE.md
  instructions/OBSIDIAN_WIKI.md
Due: none

fix(docs): resolve vault path via Obsidian MCP instead of hardcoding
  AGENTS.md
  CLAUDE.md
  instructions/OBSIDIAN_WIKI.md
Due: none

fix(ci): cancel semver-check and examples-test on merged PRs
  .github/workflows/cancel-on-pr-close.yml
Due: none

docs(di,auth): fix rustdoc link warnings on nightly
  crates/reinhardt-auth/src/core/auth_identity.rs
  crates/reinhardt-auth/src/repository.rs
  crates/reinhardt-di/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Dependency Injection

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
