Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs: add release announcement(s)
  announcements/v0.1.0-rc.24.md
Due: none

feat(commands): add start_server helper for container entrypoints
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(reactive): make Signal<T> Sync on native via Arc<RwLock<T>>
  crates/reinhardt-core/src/reactive/signal.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages-macros): reference server_fn ident on native to silence unused_imports
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/ui/form/pass/choices_loader_basic.rs
  crates/reinhardt-pages/tests/ui/form/pass/server_fn_action_use.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: add release announcement(s)
  announcements/v0.1.0-rc.25.md
Due: none

test(pages): add native Effect+Router control test (Refs #4075)
  crates/reinhardt-pages/tests/router_effect_reactivity_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): add native thread-local-borrow repro for #4075 (Refs #4075)
  crates/reinhardt-pages/tests/router_effect_reactivity_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): merge child client routes in native mount_unified
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(urls): cover native mount_unified client merge
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(pages): add wasm regression test for ClientLauncher SPA navigation
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(wasm-check): wire client_launcher_navigation_test into CI
  .github/workflows/wasm-check.yml
Due: none

fix(pages): hoist Router signal reads out of with_router in launcher Effect
  crates/reinhardt-pages/src/app.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(changelog): note SPA navigation fix (Refs #4075)
  CHANGELOG.md
  crates/reinhardt-pages/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

style(pages): apply rustfmt to native repro tests (Refs #4075)
  crates/reinhardt-pages/tests/router_effect_reactivity_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): address Copilot review feedback on launcher Effect and wasm test docs
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): ignore RUSTSEC-2026-0118 / RUSTSEC-2026-0119 (hickory-proto via mongodb)
  .github/workflows/security-audit.yml
Due: none

docs(rfc): add build time reduction RFC for Phase 0/A/B
  docs/rfc/build-time-reduction-rfc.md
Due: none

docs(rfc): address Copilot review feedback on build time reduction RFC
  docs/rfc/build-time-reduction-rfc.md
Due: none

build(conf): pull workspace nom dependency
  crates/reinhardt-conf/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(conf): scaffold Interpolator types for TOML interpolation
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): add nom-based template parser for TOML interpolation
  crates/reinhardt-conf/src/settings/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(conf): tighten interpolation parser negative assertions
  crates/reinhardt-conf/src/settings/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): add Interpolator::interpolate_str with strict empty handling
  crates/reinhardt-conf/src/settings/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): walk TOML AST in Interpolator::interpolate_value
  crates/reinhardt-conf/src/settings/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): add SourceError::Interpolation variant
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/tests/file_sources.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(macros): bring ClientUrlResolver into scope in client typed accessors
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(conf): add TomlFileSource::with_interpolation opt-in
  crates/reinhardt-conf/src/settings/interpolation.rs
  crates/reinhardt-conf/src/settings/sources.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(conf): restore alphabetical order of prelude re-exports
  crates/reinhardt-conf/src/settings/prelude.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(conf): integration tests for TOML interpolation
  crates/reinhardt-conf/tests/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(conf): priority composition with interpolated TOML
  crates/reinhardt-conf/tests/source_priority.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(conf): apply cargo fmt to interpolation module
  crates/reinhardt-conf/src/settings/interpolation.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/tests/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(conf): document TOML interpolation feature
  crates/reinhardt-conf/CHANGELOG.md
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(ci): trigger wasm-check on pull_request and push to main
  .github/workflows/wasm-check.yml
Due: none

fix(macros): bring ClientUrlResolver into scope in resolve() fallback
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(conf): align test conventions with project standards
  crates/reinhardt-conf/src/settings/interpolation.rs
  crates/reinhardt-conf/tests/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(conf): correct interpolation scope wording
  crates/reinhardt-conf/CHANGELOG.md
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/settings/sources.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(conf): reuse remove_env_vars helper for consistency
  crates/reinhardt-conf/tests/source_priority.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): split wasm-check into reusable + standalone wrapper
  .github/workflows/wasm-check-standalone.yml
  .github/workflows/wasm-check.yml
Due: none

feat(reactive): add #[doc(hidden)] diagnostic API for dependency graph inspection
  crates/reinhardt-core/src/reactive/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(conf): apply rustfmt to source_priority.rs
  crates/reinhardt-conf/tests/source_priority.rs
Due: unit, intra-crate-integration, cross-crate-integration
