Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(di): forward GraphQL and gRPC injection patterns
  crates/reinhardt-graphql/macros/CHANGELOG.md
  crates/reinhardt-graphql/macros/README.md
  crates/reinhardt-graphql/macros/src/graphql_handler.rs
  crates/reinhardt-graphql/tests/di_integration.rs
  crates/reinhardt-grpc/README.md
  crates/reinhardt-grpc/macros/CHANGELOG.md
  crates/reinhardt-grpc/macros/src/grpc_handler.rs
  crates/reinhardt-grpc/tests/di_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(di): preserve handler injection argument order
  crates/reinhardt-graphql/macros/src/graphql_handler.rs
  crates/reinhardt-graphql/tests/di_integration.rs
  crates/reinhardt-grpc/macros/src/grpc_handler.rs
  crates/reinhardt-grpc/tests/di_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(di): document mutable injection patterns
  .superpowers/sdd/task-6-report.md
  crates/reinhardt-core/macros/CHANGELOG.md
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-di/README.md
  crates/reinhardt-graphql/macros/README.md
  crates/reinhardt-grpc/README.md
  crates/reinhardt-pages/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): remove obsolete route inject pattern metadata
  crates/reinhardt-core/macros/src/action.rs
  crates/reinhardt-core/macros/src/receiver.rs
  crates/reinhardt-core/macros/src/routes.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore(tooling): stop tracking SDD runtime reports
  .superpowers/sdd/task-2-report.md
  .superpowers/sdd/task-6-report.md
Due: none

fix(di): preserve interleaved handler argument order
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/use_inject.rs
  crates/reinhardt-core/macros/src/websocket.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): update controlled bind diagnostic
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_wrong_signal.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): avoid Clone bound on server function arguments
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): restore URL-based backend owner connection
  crates/reinhardt-auth/src/sessions/backends/database.rs
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/orm/query.rs
  docs/migration/0.4.0-copy-database-connection.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Authentication & Security

fix(macros): remove obsolete inject pattern metadata
  crates/reinhardt-core/macros/src/injectable_common.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(i18n): complete registered catalog workflow
  crates/reinhardt-commands/src/i18n_commands.rs
  crates/reinhardt-commands/tests/i18n_commands_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): scope named macro argument capture skipping
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): normalize static asset mount prefixes
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): surface form action validation failures
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/ui/form_action_button.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(macros): make injected temporaries hygienic
  crates/reinhardt-core/macros/src/injectable_common.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): gate i18n facade integration target
  Cargo.toml
Due: none

fix(pages): support non-Clone server function mocks
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/src/testing/component/server_fn_mock.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve borrowed signal bindings
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/signal.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/tests/ui/page/pass/controlled_bindings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): preserve captures for shadowable macros
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): forward named injection arguments safely
  crates/reinhardt-core/macros/src/use_inject.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): mount collected assets from static root
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(commands): add custom hooks directory to Pages apps
  README.md
  crates/reinhardt-commands/templates/app_pages_template/client/hooks/.gitkeep
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(i18n): isolate facade state test
  Cargo.toml
  crates/reinhardt-pages/README.md
  tests/pages_i18n_facade.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(i18n): preserve registered catalog domains
  crates/reinhardt-commands/src/i18n_commands.rs
  crates/reinhardt-commands/tests/i18n_commands_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): accept mutable signal borrows
  crates/reinhardt-core/src/reactive/signal.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): resolve named macro paths safely
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/i18n_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(i18n): preserve structured PO entries
  crates/reinhardt-commands/src/i18n_commands.rs
  crates/reinhardt-commands/tests/i18n_commands_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(i18n): skip empty extracted messages
  crates/reinhardt-commands/src/i18n_commands.rs
  crates/reinhardt-commands/tests/i18n_commands_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(db): retain connection leases in CI consumers
  crates/reinhardt-testkit/src/fixtures/mock.rs
  examples/examples-tutorial-rest/tests/integration.rs
  src/lib.rs
  tests/integration/tests/admin/server_fn_combination_tests.rs
  tests/integration/tests/admin/server_fn_create_tests.rs
  tests/integration/tests/admin/server_fn_delete_tests.rs
  tests/integration/tests/admin/server_fn_detail_tests.rs
  tests/integration/tests/admin/server_fn_export_tests.rs
  tests/integration/tests/admin/server_fn_fields_tests.rs
  tests/integration/tests/admin/server_fn_import_tests.rs
  tests/integration/tests/admin/server_fn_list_tests.rs
  tests/integration/tests/admin/server_fn_permission_tests.rs
  tests/integration/tests/admin/server_fn_state_transition_tests.rs
  tests/integration/tests/admin/server_fn_update_tests.rs
  tests/integration/tests/admin/server_fn_usecase_tests.rs
  tests/integration/tests/admin/server_fn_uuid_pk_tests.rs
  tests/integration/tests/validation/validator_orm_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(admin): restore Arc import in database tests
  crates/reinhardt-admin/src/core/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style(rest): format tutorial integration fixtures
  examples/examples-tutorial-rest/tests/integration.rs
Due: none

fix(admin): configure pagination test backend
  tests/integration/tests/admin/admin_database_tests.rs
Due: none

docs(db): update database engine examples
  crates/reinhardt-db/src/orm/engine.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(pages): refresh controlled bind diagnostic
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_wrong_signal.stderr
Due: unit, intra-crate-integration, cross-crate-integration

docs: add release announcement(s)
  announcements/v0.4.0-alpha.2.md
Due: none

fix(commands): resolve static manifest aliases
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-utils/src/staticfiles/middleware.rs
  tests/integration/tests/server/runserver_project_static.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(http): add an installable exception handler hook
  crates/reinhardt-http/src/exception.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(http): resolve imports and clippy findings in the exception hook
  crates/reinhardt-http/src/exception.rs
  crates/reinhardt-http/src/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(macros): emit unsuffixed integer bounds in generated range validators
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration
