Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

feat(auth): expose OAuth HTTP protocol handlers
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/http.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Server & Routing

test(auth): cover OAuth grants and replay boundaries
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(auth): explain OAuth server setup and migration
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2_server.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

test(auth): verify OAuth migration rollback
  crates/reinhardt-auth/src/oauth2_server/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(auth): show OAuth handler routing
  crates/reinhardt-auth/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(auth)!: document OAuth server migration
  crates/reinhardt-auth/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(policy): remove SemVer check guidance
  docs/API_STABILITY.md
  instructions/STABILITY_POLICY.md
Due: none

security(auth): validate azp on multi-audience ID tokens
  crates/reinhardt-auth/src/social/oidc/id_token.rs
  crates/reinhardt-auth/tests/generic_oidc_integration.rs
  crates/reinhardt-auth/tests/oauth_mock_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(commands): compile scoped capabilities without database features
  crates/reinhardt-commands/src/capabilities.rs
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(pages): refresh consumer lockfile after dependency graph changes
  crates/reinhardt-pages/tests/client_form_view_facade_compile.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(auth): preserve OAuth HTTP error and method semantics
  crates/reinhardt-auth/src/oauth2_server/http.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): enforce safe OAuth persistence and credentials
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(commands): propagate CLI verbosity to capability commands
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/capabilities.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/tests/capability_bootstrap_tests.rs
  docs/migration/0.4.0-command-capability-bootstrap.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): default migration state to files without TestContainers
  Cargo.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/tests/capability_consumer_smoke.rs
  docs/migration/0.4.0-command-capability-bootstrap.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): align lean feature gates and generated launchers
  crates/reinhardt-commands/src/capabilities.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/templates/project_pages_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/bin/manage.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs: add release announcement(s)
  announcements/v0.4.0-alpha.16.md
Due: none

feat(auth): isolate OIDC grants in the OAuth server
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(auth): persist OIDC subjects and signing-key state
  crates/reinhardt-auth/migrations/0002_oidc_op.sql
  crates/reinhardt-auth/src/oidc_op/postgres.rs
  crates/reinhardt-auth/src/oidc_op/signer.rs
  crates/reinhardt-auth/src/oidc_op/store.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(auth): serve OIDC code flow and provider metadata
  Cargo.toml
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/oidc_op.rs
  crates/reinhardt-auth/src/oidc_op/http.rs
  crates/reinhardt-auth/src/oidc_op/protocol.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

test(auth): verify OIDC flows with an independent RP and PostgreSQL
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(auth): explain OIDC issuer integration and key operations
  crates/reinhardt-auth/README.md
Due: unit, intra-crate-integration, cross-crate-integration

style(auth): format OIDC integration test assertion
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(auth): group code exchange parameters
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oidc_op/protocol.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): run anyhow scan without workspace metadata
  .github/workflows/anyhow-check.yml
Due: none

fix(auth)!: bind OAuth continuations and token issuance to validated state
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/http.rs
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth)!: bind OIDC continuations to sessions and retire accounts atomically
  crates/reinhardt-auth/src/oidc_op/http.rs
  crates/reinhardt-auth/src/oidc_op/postgres.rs
  crates/reinhardt-auth/src/oidc_op/protocol.rs
  crates/reinhardt-auth/src/oidc_op/store.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(auth): document atomic code exchange and OIDC state maintenance
  crates/reinhardt-auth/CHANGELOG.md
  crates/reinhardt-auth/README.md
Due: unit, intra-crate-integration, cross-crate-integration

test(auth): cover OIDC HTTPS and client IP behind trusted proxies
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): reject case-variant HTTP resource audiences
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): align OIDC HTTP responses with protocol requirements
  crates/reinhardt-auth/src/oidc_op/http.rs
  crates/reinhardt-auth/src/oidc_op/protocol.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): revoke OIDC tokens on expired code replay
  crates/reinhardt-auth/src/oidc_op/protocol.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): reject subsecond OIDC token lifetimes
  crates/reinhardt-auth/src/oidc_op/protocol.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): refresh standalone example dependencies
  crates/reinhardt-db/Cargo.toml
  examples/Cargo.lock
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): address capability review findings
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/static_asset_settings.rs
  crates/reinhardt-commands/tests/capability_consumer_smoke.rs
  crates/reinhardt-conf/src/settings/scoped.rs
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/state_loader.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, Utilities & Infrastructure

fix(commands): resolve follow-up capability review
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/state_loader.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

ci(auth): prepare isolated verification for PR 6372 review fixes
  .github/workflows/pr-6372-review-verification.yml
Due: none

ci(auth): reproduce PR 6372 review regressions
  .github/workflows/pr-6372-review-verification.yml
Due: none

ci(auth): validate the review regression patch checksum
  .github/workflows/pr-6372-review-verification.yml
Due: none

ci(auth): verify PR 6372 authorization lifecycle fixes
  .github/workflows/pr-6372-review-verification.yml
Due: none

ci(auth): independently verify PR 6372 concurrency fixes
  .github/workflows/pr-6372-concurrency-verification.yml
Due: none
