Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(infra): add import blocks for existing Cloudflare resources
  infra/imports.tf
  infra/terraform.example.tfvars
  infra/variables.tf
Due: none

docs: add official website link to Quick Navigation
  README.md
Due: none

style(infra): align import ID variable padding in example tfvars
  infra/terraform.example.tfvars
Due: none

feat(infra): add google search console DNS TXT record verification
  infra/cloudflare.tf
  infra/imports.tf
  infra/terraform.example.tfvars
  infra/variables.tf
Due: none

ci(test-examples): add concurrency to cancel runs on PR close
  .github/workflows/test-examples.yml
Due: none

docs: update internal documentation links to official website URLs
  README.md
Due: none

docs: remove repository-hosted documentation migrated to reinhardt-web.dev
  docs/FEATURE_FLAGS.md
  docs/GETTING_STARTED.md
  docs/SETTINGS_DOCUMENT.md
  docs/api/README.md
  docs/cookbook/README.en.md
  docs/cookbook/cors.en.md
  docs/cookbook/middleware-creation.en.md
  docs/cookbook/pagination.en.md
  docs/cookbook/request-body-parsing.en.md
  docs/cookbook/response-serialization.en.md
  docs/cookbook/static-files.en.md
  docs/field_attributes.md
  docs/migration-guides/from-actix.en.md
  docs/migration-guides/from-axum.en.md
  docs/migration-guides/from-django.en.md
  docs/troubleshooting/README.en.md
  docs/troubleshooting/common-errors.en.md
  docs/troubleshooting/performance-optimization.en.md
  docs/tutorials/en/basis/1-project-setup.md
  docs/tutorials/en/basis/2-models-and-database.md
  docs/tutorials/en/basis/3-views-and-urls.md
  docs/tutorials/en/basis/4-forms-and-generic-views.md
  docs/tutorials/en/basis/5-testing.md
  docs/tutorials/en/basis/6-static-files.md
  docs/tutorials/en/basis/7-admin-customization.md
  docs/tutorials/en/basis/README.md
  docs/tutorials/en/rest/0-http-macros.md
  docs/tutorials/en/rest/1-serialization.md
  docs/tutorials/en/rest/2-requests-and-responses.md
  docs/tutorials/en/rest/3-class-based-views.md
  docs/tutorials/en/rest/4-authentication-and-permissions.md
  docs/tutorials/en/rest/5-relationships-and-hyperlinked-apis.md
  docs/tutorials/en/rest/6-viewsets-and-routers.md
  docs/tutorials/en/rest/quickstart.md
Due: none

refactor(infra): move terraform files from infra/ to infra/website/
  .gitignore
  infra/website/.terraform.lock.hcl
  infra/website/cloudflare.tf
  infra/website/github.tf
  infra/website/imports.tf
  infra/website/main.tf
  infra/website/outputs.tf
  infra/website/terraform.example.tfvars
  infra/website/variables.tf
Due: none

docs: update localized README links to official website
  docs/readme-langs/README_AR.md
  docs/readme-langs/README_FA.md
  docs/readme-langs/README_JA.md
  docs/readme-langs/README_RU.md
  docs/readme-langs/README_UK.md
  docs/readme-langs/README_ZH_CN.md
  docs/readme-langs/README_ZH_TW.md
Due: none

fix(commands): add feature gates and test for requires_router()
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(db): gate sqlite-dependent tests with feature flag
  crates/reinhardt-db/src/migrations/introspection.rs
  crates/reinhardt-db/src/migrations/state_loader.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): add warning log test for .sql file detection
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/src/migrations/source/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): replace float test values to avoid clippy approx_constant lint
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(integration-tests): use index-based access for mysql information_schema columns
  tests/integration/tests/migrations/mysql_edge_cases.rs
Due: none

test(reinhardt-db): replace #[test] with #[rstest] in migration tests
  crates/reinhardt-db/src/migrations/migration_numbering.rs
  crates/reinhardt-db/src/migrations/source/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

chore(serena): update project.yml with new configuration fields
  .serena/project.yml
Due: none

chore(serena): set language_backend to LSP
  .serena/project.yml
Due: none

fix(workspace): enforce RFC 430 naming convention across public APIs
  Cargo.toml
  crates/reinhardt-middleware/src/circuit_breaker.rs
  crates/reinhardt-middleware/src/flatpages.rs
  crates/reinhardt-middleware/src/metrics.rs
  crates/reinhardt-middleware/src/rate_limit.rs
  crates/reinhardt-middleware/src/site.rs
  crates/reinhardt-middleware/src/tracing.rs
  crates/reinhardt-middleware/tests/boundary_value_integration.rs
  crates/reinhardt-middleware/tests/decision_table_integration.rs
  crates/reinhardt-middleware/tests/edge_cases_integration.rs
  crates/reinhardt-middleware/tests/error_path_integration.rs
  crates/reinhardt-middleware/tests/fixtures.rs
  crates/reinhardt-middleware/tests/happy_path_integration.rs
  crates/reinhardt-middleware/tests/property_based_integration.rs
  crates/reinhardt-middleware/tests/sanity_integration.rs
  crates/reinhardt-middleware/tests/state_transition_integration.rs
  crates/reinhardt-rest/src/filters/caching.rs
  crates/reinhardt-rest/src/filters/fulltext.rs
  crates/reinhardt-rest/src/filters/fuzzy.rs
  crates/reinhardt-rest/src/filters/geo.rs
  crates/reinhardt-rest/src/filters/range.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework, Authentication & Security

fix(integration-tests): update filter getter calls to use RFC 430 field access
  tests/integration/tests/rest/serializers_filters_integration.rs
Due: none

chore(ci): integrate cargo-semver-checks and document breaking change audit
  .github/workflows/ci.yml
  .github/workflows/semver-check.yml
  docs/breaking-change-audit.md
Due: none

fix(auth): add #[non_exhaustive] to all public error enums
  crates/reinhardt-auth/src/group_management.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/sessions/backends/cache.rs
  crates/reinhardt-auth/src/sessions/backends/jwt.rs
  crates/reinhardt-auth/src/sessions/compression.rs
  crates/reinhardt-auth/src/sessions/serialization.rs
  crates/reinhardt-auth/src/social/core/error.rs
  crates/reinhardt-auth/src/token_storage.rs
  crates/reinhardt-auth/src/user_management.rs
  crates/reinhardt-websockets/src/integration/pages.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Communication

fix(db): add #[non_exhaustive] to all public error enums
  crates/reinhardt-db/src/backends/error.rs
  crates/reinhardt-db/src/backends/schema.rs
  crates/reinhardt-db/src/backends_pool/errors.rs
  crates/reinhardt-db/src/contenttypes/migration.rs
  crates/reinhardt-db/src/contenttypes/persistence.rs
  crates/reinhardt-db/src/contenttypes/serialization.rs
  crates/reinhardt-db/src/contenttypes/sync.rs
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/introspect/config.rs
  crates/reinhardt-db/src/migrations/introspect/type_mapping.rs
  crates/reinhardt-db/src/migrations/operations/models.rs
  crates/reinhardt-db/src/nosql/error.rs
  crates/reinhardt-db/src/orm/composite_pk.rs
  crates/reinhardt-db/src/orm/composite_synonym.rs
  crates/reinhardt-db/src/orm/cross_db_constraints.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/file_fields.rs
  crates/reinhardt-db/src/orm/order_with_respect_to.rs
  crates/reinhardt-db/src/orm/pool_types.rs
  crates/reinhardt-db/src/orm/reflection.rs
  crates/reinhardt-db/src/orm/session.rs
  crates/reinhardt-db/src/orm/two_phase_commit/core.rs
  crates/reinhardt-db/src/orm/type_decorator.rs
  crates/reinhardt-db/src/pool/errors.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): add #[non_exhaustive] to all public config structs
  crates/reinhardt-db/src/associations/markers.rs
  crates/reinhardt-db/src/backends/drivers/cockroachdb/connection.rs
  crates/reinhardt-db/src/backends/optimization/connection_pool.rs
  crates/reinhardt-db/src/backends/optimization/query_cache.rs
  crates/reinhardt-db/src/backends_pool/config.rs
  crates/reinhardt-db/src/contenttypes/inspect.rs
  crates/reinhardt-db/src/contenttypes/serialization.rs
  crates/reinhardt-db/src/contenttypes/sync.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/di_support.rs
  crates/reinhardt-db/src/migrations/introspect/config.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/squash.rs
  crates/reinhardt-db/src/nosql/document.rs
  crates/reinhardt-db/src/nosql/types.rs
  crates/reinhardt-db/src/orm/engine.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/polymorphic.rs
  crates/reinhardt-db/src/orm/query_options.rs
  crates/reinhardt-db/src/orm/relations.rs
  crates/reinhardt-db/src/orm/relationship.rs
  crates/reinhardt-db/src/pool/config.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core,http,conf): add #[non_exhaustive] to all public error enums
  crates/reinhardt-conf/src/settings/advanced.rs
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/dynamic.rs
  crates/reinhardt-conf/src/settings/env.rs
  crates/reinhardt-conf/src/settings/secrets/types.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/src/settings/validation.rs
  crates/reinhardt-core/src/exception.rs
  crates/reinhardt-core/src/negotiation/negotiator.rs
  crates/reinhardt-core/src/pagination/cursor/database.rs
  crates/reinhardt-core/src/security.rs
  crates/reinhardt-core/src/security/bounds.rs
  crates/reinhardt-core/src/security/redirect.rs
  crates/reinhardt-core/src/serializers/fields.rs
  crates/reinhardt-core/src/serializers/recursive.rs
  crates/reinhardt-core/src/serializers/serializer.rs
  crates/reinhardt-core/src/serializers/validator.rs
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/validators/errors.rs
  crates/reinhardt-core/src/validators/i18n.rs
  crates/reinhardt-core/src/validators/identifier.rs
  crates/reinhardt-core/src/validators/schema.rs
  crates/reinhardt-http/src/chunked_upload.rs
  crates/reinhardt-http/src/upload.rs
  crates/reinhardt-views/src/detail.rs
  crates/reinhardt-views/src/list.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework

docs: add API stability policy documentation
  docs/API_STABILITY.md
Due: none

feat(core): add missing common trait implementations to public types
  crates/reinhardt-core/src/negotiation/negotiator.rs
  crates/reinhardt-core/src/pagination/core.rs
  crates/reinhardt-core/src/security/csrf.rs
  crates/reinhardt-core/src/security/headers.rs
  crates/reinhardt-core/src/security/hsts.rs
  crates/reinhardt-core/src/security/ip_filter.rs
  crates/reinhardt-core/src/security/redirect.rs
  crates/reinhardt-core/src/serializers/serializer.rs
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/validators/color.rs
  crates/reinhardt-core/src/validators/i18n.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

chore(ci): add MSRV test workflow to verify minimum supported Rust version
  .github/workflows/ci.yml
  .github/workflows/msrv-test.yml
Due: none

chore(ci): add cross-platform test coverage verification
  .github/workflows/ci.yml
  .github/workflows/cross-platform-check.yml
Due: none

feat(core): extend common trait implementations to additional public types
  crates/reinhardt-core/src/exception.rs
  crates/reinhardt-core/src/pagination/core.rs
  crates/reinhardt-core/src/security/headers.rs
  crates/reinhardt-core/src/security/hsts.rs
  crates/reinhardt-core/src/security/ip_filter.rs
  crates/reinhardt-core/src/signals/error.rs
  crates/reinhardt-core/src/signals/history.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(docs): add doc_cfg feature gate to fix docs.rs build failure
  .github/workflows/ci.yml
  .github/workflows/docs-rs-check.yml
  Cargo.toml
  Makefile.toml
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(ci): add cross-platform support to setup-protoc action
  .github/actions/setup-protoc/action.yml
Due: none

fix(ci): exclude reinhardt-web and reinhardt-pages from semver-checks to resolve cargo doc failures
  .github/workflows/semver-check.yml
Due: none

fix(integration-tests): update integration tests to use struct update syntax for non-exhaustive config structs
  tests/integration/tests/introspect/edge_cases_integration.rs
  tests/integration/tests/introspect/sanity_integration.rs
  tests/integration/tests/migrations/db_specific_optimizations.rs
  tests/integration/tests/migrations/large_dataset_integration.rs
  tests/integration/tests/orm/pool_integration.rs
Due: none

style(integration-tests): apply rustfmt formatting to db_specific_optimizations
  tests/integration/tests/migrations/db_specific_optimizations.rs
Due: none

fix(integration-tests): convert Settings struct literals to field mutation for non-exhaustive compatibility
  tests/integration/tests/settings/settings_system_integration.rs
Due: none

fix(examples): update Cargo.toml versions to match release PR #1365
  examples/Cargo.toml
Due: none

fix(integration-tests): convert MetadataOptions struct literals to field mutation for non-exhaustive compatibility
  tests/integration/tests/api/metadata_integration.rs
Due: none

fix(ci): set OPENSSL_DIR for Windows in cross-platform-check workflow
  .github/workflows/cross-platform-check.yml
Due: none

chore: add issue template for API change proposals
  .github/ISSUE_TEMPLATE/8-api_change.yml
Due: none
