Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs(meta): forbid Rust keywords at start of doc-comment continuation lines
  instructions/DOCUMENTATION_STANDARDS.md
  instructions/QUICK_REFERENCE.md
Due: none

fix(examples-tutorial-basis): redirect poll vote success via form! success_url
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/bin/manage.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

fix(examples-twitter): mark is_active migration column NOT NULL with default true
  examples/examples-twitter/migrations/auth/0001_initial.rs
Due: none

fix(macros): route viewset manifest via per-call alias to fix Issue #4523 end-to-end
  crates/reinhardt-core/macros/src/url_patterns.rs
  tests/integration/tests/url_patterns_viewset_collision_regression.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(macros): document upstream workaround for #[viewset] + #[url_patterns]
  crates/reinhardt-core/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(tutorials/basis): sync all 7 chapters to examples-tutorial-basis
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
  website/content/quickstart/tutorials/basis/4-forms-and-generic-views.md
  website/content/quickstart/tutorials/basis/5-testing.md
  website/content/quickstart/tutorials/basis/6-static-files.md
  website/content/quickstart/tutorials/basis/7-admin-customization.md
Due: none

docs(tutorials/basis): correct static files 404 guidance in Part 6
  website/content/quickstart/tutorials/basis/6-static-files.md
Due: none

chore(ci): add concurrency cancellation to PR-only workflows
  .github/workflows/announce-breaking-change.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/cancel-on-pr-close.yml
  .github/workflows/cleanup-release-branch.yml
  .github/workflows/osv-scanner.yml
Due: none

test(macros): harden non_uuid_pk_with_default_manager fixture against future warnings
  crates/reinhardt-core/macros/tests/ui/user/fail/non_uuid_pk_with_default_manager.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(tutorials/basis): replace stale SPA bootstrap API in prose
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/6-static-files.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

perf(ci): defer wasm-test to phase 2b to release self-hosted runners earlier
  .github/workflows/wasm-check.yml
Due: none

perf(ci): cache cargo-semver-checks binary via actions/cache
  .github/workflows/semver-check.yml
Due: none

perf(ci): extend cache-seed pattern to wasm-check, coverage, intra-crate-integration-test
  .github/workflows/coverage.yml
  .github/workflows/wasm-check.yml
Due: none

perf(ci): scope cargo registry/git cache per-example
  .github/workflows/examples-test.yml
Due: none

fix(ci): skip binary-only crates in semver-check matrix
  .github/workflows/semver-check.yml
Due: none

test(integration): add positive-path fixtures for #[routes] flag permutations
  tests/integration/tests/routes_registration_no_client_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_no_ws_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_server_only_idempotent_trybuild.rs
  tests/integration/tests/routes_registration_server_only_trybuild.rs
Due: none

fix(ci): move wasm-check phase-2b dependency from reusable workflow to orchestrator
  .github/workflows/ci.yml
  .github/workflows/wasm-check.yml
Due: none

refactor(macros): add explicit basename to #[viewset] with deprecation fallback
  crates/reinhardt-core/macros/CHANGELOG.md
  crates/reinhardt-core/macros/src/viewset_macro.rs
  crates/reinhardt-core/macros/tests/ui/viewset/pass/viewset_basename_explicit.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(integration): drop redundant manual mount from #[routes] pass fixtures
  tests/integration/tests/routes_registration_no_client_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_no_ws_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_server_only_idempotent_trybuild.rs
  tests/integration/tests/routes_registration_server_only_trybuild.rs
Due: none

revert(integration): restore manual mount in #[routes] pass fixtures
  tests/integration/tests/routes_registration_no_client_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_no_ws_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_server_only_idempotent_trybuild.rs
  tests/integration/tests/routes_registration_server_only_trybuild.rs
Due: none

test(migrations): parametrize rollback tests across postgres/mysql/sqlite
  tests/integration/tests/migrations/migration_rollback_integration.rs
Due: none

docs(examples): migrate examples-tutorial-rest to typed ResolvedUrls accessor
  examples/examples-tutorial-rest/Cargo.toml
  examples/examples-tutorial-rest/README.md
  examples/examples-tutorial-rest/src/lib.rs
  examples/examples-tutorial-rest/src/urls_demo.rs
  examples/examples-tutorial-rest/tests/urls_typed_accessors.rs
Due: none

docs(examples-tutorial-basis): clarify success_url closure signature
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

fix(ci): scope concurrency groups by PR number and event name
  .github/workflows/auto-label-pr.yml
  .github/workflows/osv-scanner.yml
Due: none

refactor(ci): deduplicate cargo-semver-checks version literal
  .github/workflows/semver-check.yml
Due: none

docs(examples-tutorial-basis): fix outdated UserManager docblock
  examples/examples-tutorial-basis/src/apps/users/models.rs
Due: none

docs(meta): align RD-7 token list with Semgrep rule and dedupe Quick Reference
  instructions/DOCUMENTATION_STANDARDS.md
  instructions/QUICK_REFERENCE.md
Due: none

fix(ci): prevent wasm-check skip cascade from selectively-skipped tests
  .github/workflows/ci.yml
Due: none

test(integration): drop unused ServerRouter import from #[routes] fixtures
  tests/integration/tests/routes_registration_no_client_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_no_ws_resolvers_trybuild.rs
  tests/integration/tests/routes_registration_server_only_idempotent_trybuild.rs
  tests/integration/tests/routes_registration_server_only_trybuild.rs
Due: none

fix(migrations): emit ON <table> clause for DROP INDEX on MySQL
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(examples-tutorial-rest): add #[serial(routes_global)] to global-state tests
  examples/examples-tutorial-rest/Cargo.toml
  examples/examples-tutorial-rest/tests/urls_typed_accessors.rs
Due: none

test(migrations): address Copilot review on rollback integration matrix
  tests/integration/tests/migrations/migration_rollback_integration.rs
Due: none

refactor(macros): dedupe upstream-workaround rustdoc via include_str!
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/upstream_workaround_note.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): dispatch ALTER COLUMN TYPE per backend (MySQL MODIFY, SQLite recreate)
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): release MySQL migration lock between apply and rollback phases
  crates/reinhardt-db/src/migrations/recorder.rs
  tests/integration/tests/migrations/mysql_edge_cases.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): release SQLite schema lock between atomic DDL operations
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/schema_editor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): restore rustfmt and resolve client_url_resolvers E0433 on main
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/src/viewset_macro.rs
  tests/integration/tests/url_patterns_viewset_collision_regression.rs
  tests/integration/tests/url_patterns_viewset_namespace_regression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): check MySQL RELEASE_LOCK result to detect silent lock leaks
  crates/reinhardt-db/src/migrations/recorder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): clarify introspection query semantics and harden column lookups
  crates/reinhardt-db/src/migrations/schema_editor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

ci(release-plz): cancel in-flight Release PR runs on newer pushes
  .github/workflows/release-plz.yml
Due: none
