Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

refactor(pages): deprecate Router and related types in favor of urls::ClientRouter
  crates/reinhardt-pages/benches/wasm_framework_benchmarks.rs
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/components.rs
  crates/reinhardt-pages/src/router/core.rs
  crates/reinhardt-pages/src/router/handler.rs
  crates/reinhardt-pages/src/router/params.rs
  crates/reinhardt-pages/src/router/pattern.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/router.rs
  crates/reinhardt-pages/tests/router_effect_reactivity_tests.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_router_client_test.rs
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
  crates/reinhardt-pages/tests/wasm/nav_diag_dom_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_named_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_tier3_test.rs
  crates/reinhardt-pages/tests/wasm/wasm_bindgen_abi_pin_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style(conf): apply rustfmt to one-line the regression test deserialize chain
  crates/reinhardt-conf/tests/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(core): replace integration test with pk_uuid_shape unit-test coverage
  crates/reinhardt-core/macros/src/user_attribute.rs
  tests/integration/tests/auth.rs
  tests/integration/tests/auth/superuser_init_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore(admin, examples): suppress deprecation warnings on pages::Router consumers
  crates/reinhardt-admin/src/pages/components/layout.rs
  crates/reinhardt-admin/src/pages/router.rs
  examples/examples-tutorial-basis/src/client/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages, urls): document migration path from pages::Router to ClientRouter
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/params.rs
  crates/reinhardt-urls/src/routers/client_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

ci: run wasm tests on reinhardt-urls alongside reinhardt-pages
  .github/workflows/wasm-check.yml
Due: none

chore(pages, urls): silence deprecation/clippy/fmt fallout from #4234
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/app/spa_router.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/router/pattern.rs
  crates/reinhardt-urls/tests/wasm/client_router_listener_panic_isolation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): rephrase comment in spa_router.rs to dodge semgrep commented-out-code rule
  crates/reinhardt-pages/src/app/spa_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore(commands): add autoreload spawn diagnostics for #4236
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(urls, pages, ci): address Copilot review feedback on #4242
  .github/workflows/wasm-check.yml
  crates/reinhardt-pages/tests/wasm/client_launcher_router_client_test.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(commands): address Copilot review feedback on autoreload diagnostics
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): skip autoreload-parent server setup so child does not hit EADDRINUSE
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/runserver_hooks.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(core/macros): clarify pk_uuid_shape is_option independence
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(conf): assert DATABASE_URL via parsed url::Url fields
  crates/reinhardt-conf/tests/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): silence wasm dead_code lint for unused SpaRouter trait methods
  crates/reinhardt-pages/src/app/spa_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(macros): share Uuid PK shape detector via pk_shape helper
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/src/pk_shape.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore(commands): expose get_database_url_from_settings as pub(crate)
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(db,commands): cover DATABASE_URL loaders against interpolation default
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/tests/database_url_loader_interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

refactor(commands): scope HR-8 test entry point and serialize the test
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(macros): align pk_uuid_shape is_option doc with implementation
  crates/reinhardt-core/macros/src/pk_shape.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(db,commands): preserve prior env values in EnvGuard, fix doc
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/tests/database_url_loader_interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): redact spawn_diagnostics non-debug output (#4250)
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(commands): assert redacted vs full spawn_diagnostics output (#4250)
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(infra): tighten orphan-detector for missed workflow_job queued events
  infra/github-runners/terraform.examples.tfvars
  infra/github-runners/variables.tf
Due: none

ci(wasm-check): seed wasm-feature-check cache for amd64 and arm64
  .github/workflows/wasm-check-standalone.yml
Due: none

docs: add release announcement(s)
  announcements/v0.1.0-rc.27.md
Due: none

refactor(conf): extract deep_merge into shared settings::merge module
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/merge.rs
  crates/reinhardt-conf/src/settings/testing/overrides.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(urls): cfg-gate ClientRouter reactive observation state for native Send+Sync
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(urls): add server_fn stub to ServerRouterStub for cross-target builder
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(conf): add MergeStrategy with Deep default for build_composed
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/fragment.rs
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/tests/merge_strategy.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(conf): fix unresolved intra-doc links on MergeStrategy
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/merge.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(urls): keep on_navigate / __diag_* callable on native after #4258 cfg-gate
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

chore(codex): add codex cli configuration and agents instructions
  .codex/agents/frontend-qa-tester.toml
  .codex/config.toml
  AGENTS.md
Due: none

fix(conf): address Copilot review feedback on merge strategy
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/merge.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(urls): address Copilot review feedback on ClientRouter
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(examples): make `cargo make runserver` launch the dev server
  examples/examples-tutorial-basis/Makefile.toml
  examples/examples-tutorial-rest/Makefile.toml
  examples/examples-twitter/Makefile.toml
Due: none

docs(policy): add Reinhardt-family Autonomous Operation Policy and CLAUDE.md↔AGENTS.md sync rule
  AGENTS.md
  CLAUDE.md
  instructions/COMMIT_GUIDELINE.md
  instructions/GITHUB_INTERACTION.md
  instructions/ISSUE_GUIDELINES.md
  instructions/PR_GUIDELINE.md
Due: none

docs: add release announcement(s)
  announcements/v0.1.0-rc.28.md
Due: none

fix(examples): unify tutorial binaries on `manage`
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/Makefile.toml
  examples/examples-tutorial-rest/Cargo.toml
  examples/examples-tutorial-rest/Makefile.toml
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
