Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

docs: add macro usage guideline for #[model(...)]
  CLAUDE.md
  instructions/MACRO_USAGE.md
Due: none

docs: add research escalation policy
  CLAUDE.md
  instructions/RESEARCH_ESCALATION.md
Due: none

docs(commit): exclude superpowers and agent runtime artifacts from commits
  CLAUDE.md
  instructions/COMMIT_GUIDELINE.md
Due: none

fix(pages): address Copilot review feedback on PR #4129
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/tests/integration/spa_navigation_full_layout_e2e_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_tier3_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: address copilot review feedback on macro usage and sql guidance
  instructions/GITHUB_INTERACTION.md
  instructions/MACRO_USAGE.md
Due: none

feat(commands): add wasm staleness detection helpers
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/wasm_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): rebuild stale wasm bundle in runserver
  crates/reinhardt-commands/src/bin/runserver.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(macros): emit per-app client URL accessors on wasm32
  crates/reinhardt-core/macros/src/macro_state.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(packer): prebake cargo-make into aarch64 AMI
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

ci: install wasm-pack in intra-crate integration tests
  .github/workflows/intra-crate-integration-test.yml
Due: none

fix(ci): bump arm64 AMI build instance to t4g.medium
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

fix(ci): disable command-not-found post-invoke hook in AMI build
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

fix(ci): disable command-not-found hook globally in AMI build
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

ci(terraform): exclude run-once bootstrap stack from plan/apply matrix
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan-privileged.yml
  .github/workflows/terraform-plan.yml
  infra/github-runners/bootstrap/main.tf
Due: none

ci: scope mold linker to host target so wasm-pack builds succeed
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-test.yml
Due: none

fix(infra/repository)!: replace data "github_user" reviewer lookup with numeric user-ID variable
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan-privileged.yml
  .github/workflows/terraform-plan.yml
  infra/repository/environments.tf
  infra/repository/variables.tf
Due: none

fix(macros): expose routes/url_patterns re-exports on wasm targets
  Cargo.toml
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs: add release announcement(s)
  announcements/v0.1.0-rc.26.md
Due: none

chore(serena): add additional_workspace_folders config option
  .serena/project.yml
Due: none

docs(rfc): add hot-reload + wasm rebuild design for #4128
  docs/rfc/issue-4128-wasm-hot-reload-design.md
Due: none

docs(rfc): add implementation plan for #4128
  docs/rfc/issue-4128-wasm-hot-reload-plan.md
Due: none

fix(infra/packer): use makers alias for cargo-make smoke test
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

build(commands): expose cargo_metadata under autoreload feature
  crates/reinhardt-commands/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands): add SourceRoots derived from cargo metadata
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/source_roots.rs
  crates/reinhardt-commands/tests/fixtures/source_roots/registry_dep.json
  crates/reinhardt-commands/tests/fixtures/source_roots/single_crate.json
  crates/reinhardt-commands/tests/fixtures/source_roots/workspace.json
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(commands): add WasmRebuildPipeline with structured log lines
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/wasm_builder.rs
  crates/reinhardt-commands/src/wasm_rebuild_pipeline.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(infra/packer): pin smoke test to /usr/local/bin/makers absolute path
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

feat(commands): add ServerRebuildPipeline with cargo build + swap
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/server_rebuild_pipeline.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): rebuild wasm bundle on hot-reload file change
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/server_rebuild_pipeline.rs
  crates/reinhardt-commands/src/source_roots.rs
  crates/reinhardt-commands/src/wasm_rebuild_pipeline.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(commands): add --no-wasm-rebuild flag to runserver
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(commands): add HR-1..HR-6 hot-reload integration tests
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/server_rebuild_pipeline.rs
  crates/reinhardt-commands/src/source_roots.rs
  crates/reinhardt-commands/src/wasm_rebuild_pipeline.rs
  crates/reinhardt-commands/tests/fixtures/hot_reload_fixture/Cargo.toml.tpl
  crates/reinhardt-commands/tests/fixtures/hot_reload_fixture/src/lib.rs.tpl
  crates/reinhardt-commands/tests/fixtures/hot_reload_fixture/src/main.rs.tpl
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

chore(build): remove bacon-based watch tasks
  Makefile.toml
  crates/reinhardt-commands/templates/project_pages_template/Makefile.toml.tpl
  crates/reinhardt-commands/templates/project_pages_template/bacon.toml.tpl
  crates/reinhardt-commands/templates/project_restful_template/Makefile.toml.tpl
  crates/reinhardt-commands/templates/project_restful_template/bacon.toml.tpl
  examples/examples-tutorial-basis/Makefile.toml
  examples/examples-tutorial-rest/Makefile.toml
  examples/examples-twitter/Makefile.toml
  examples/examples-twitter/bacon.toml
  instructions/MIGRATION_CARGO_WATCH_TO_BACON.md
Due: unit, intra-crate-integration, cross-crate-integration

docs: document built-in runserver hot-reload, drop bacon mentions
  README.md
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/runserver_hooks.rs
  website/content/quickstart/getting-started.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(changelog): record hot-reload fix and bacon removal
  crates/reinhardt-commands/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): run wasm + server rebuild pipelines in parallel
  crates/reinhardt-commands/src/debounced_watcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(rfc): defer latest-wins event coalescing to follow-up issue
  docs/rfc/issue-4128-wasm-hot-reload-design.md
Due: none

test(commands): add run_watcher integration test for OL-1 resilience
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(macros): expose reinhardt_apps::apps::AppLabel on wasm targets
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(macros): ungate urls module for wasm targets
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(macros): ungate app_config/AppConfig/installed_apps re-exports for wasm
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(macros): add wasm-only WebSocketRouter shim for url_patterns(mode=ws)
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
