Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(tasks): clean up SQLite schema probes after interrupted checks
  crates/reinhardt-tasks/src/durable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(query): add checked SQLite foreign-key settings
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/src/query.rs
  crates/reinhardt-query/src/query/sqlite_foreign_keys.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(migrations): use typed SQLite foreign-key settings
  crates/reinhardt-db/src/migrations/schema_editor.rs
  crates/reinhardt-db/src/migrations/sql_plan.rs
  docs/migration/sqlite-foreign-key-settings.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(query): add owned SQLx argument adaptation
  Cargo.toml
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-query-sqlx/Cargo.toml
  crates/reinhardt-query-sqlx/README.md
  crates/reinhardt-query-sqlx/src/any.rs
  crates/reinhardt-query-sqlx/src/lib.rs
  crates/reinhardt-query-sqlx/src/mysql.rs
  crates/reinhardt-query-sqlx/src/postgres.rs
  crates/reinhardt-query-sqlx/src/sqlite.rs
  crates/reinhardt-query-sqlx/src/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(conf): support standalone database settings feature
  .github/workflows/reinhardt-feature-check.yml
  Makefile.toml
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/settings/composed.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(tasks): complete probe cleanup across runtime shutdown
  crates/reinhardt-tasks/src/durable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(query): support checked SQLite insert or replace
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/error.rs
  crates/reinhardt-query/src/query/insert.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(conf): execute settings queries with generated arguments
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-conf/src/settings/audit/backends/database.rs
  crates/reinhardt-conf/src/settings/backends/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(tasks): build SQLite task and result queries as typed statements
  crates/reinhardt-tasks/Cargo.toml
  crates/reinhardt-tasks/src/backends/sqlite.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

refactor(tasks): migrate durable queue persistence to typed queries
  crates/reinhardt-tasks/src/durable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(auth): bind generated token storage values with native JSONB
  crates/reinhardt-auth/src/token_storage.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(testkit): render table truncation with the typed builder
  crates/reinhardt-testkit/src/server_fn/transaction.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(query): support typed PostgreSQL and SQLite expression indexes
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/query/create_index.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(query): add checked numeric PostgreSQL epoch extraction
  crates/reinhardt-db/src/orm/query_fields/expression.rs
  crates/reinhardt-db/src/orm/query_fields/expression/compiler.rs
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/error.rs
  crates/reinhardt-query/src/expr/func.rs
  crates/reinhardt-query/src/expr/simple_expr.rs
  crates/reinhardt-query/src/query/explain.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(query): remove unused develop-only parameter test imports
  crates/reinhardt-query/tests/inline_params.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(query): add checked SQLite database-list inspection
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/src/query.rs
  crates/reinhardt-query/src/query/sqlite_database_list.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(tasks): use typed sqlite database-list inspection
  crates/reinhardt-tasks/README.md
  crates/reinhardt-tasks/src/durable.rs
  tests/integration/Cargo.toml
  tests/integration/tests/sqlite_database_list.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(query): record sqlite database-list contract and validation
  docs/rfc/2026-10-04-sqlite-database-list-inspection.md
Due: none

refactor(auth): consume generated PostgreSQL authentication arguments
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/src/database_query.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oidc_op/postgres.rs
  crates/reinhardt-auth/src/token_storage.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(auth): render built-in OAuth and OIDC migration schemas
  crates/reinhardt-auth/migrations/0001_oauth_server.sql
  crates/reinhardt-auth/migrations/0002_oidc_op.sql
  crates/reinhardt-auth/src/database_query.rs
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
  crates/reinhardt-auth/src/oidc_op/postgres.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(auth): build the token storage schema with typed defaults
  crates/reinhardt-auth/src/token_storage.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

test(conf): verify native generated settings bindings
  tests/integration/Cargo.toml
  tests/integration/tests/runtime_sql_conf.rs
Due: none

ci(sql): audit runtime query provenance across the repository
  .github/workflows/runtime-sql-audit.yml
  .gitignore
  docs/runtime-sql-inventory.json
  scripts/audit-runtime-sql/Cargo.lock
  scripts/audit-runtime-sql/Cargo.toml
  scripts/audit-runtime-sql/README.md
  scripts/audit-runtime-sql/src/main.rs
Due: none

feat(query): support structural insert expression rows
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/error.rs
  crates/reinhardt-query/src/query/insert.rs
  crates/reinhardt-query/tests/insert_expression_values.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(testkit): prepare typed database readiness probes
  crates/reinhardt-testkit/Cargo.toml
  crates/reinhardt-testkit/src/containers.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(testkit): construct test inserts with the query ast
  crates/reinhardt-testkit/src/server_fn/transaction.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(sql): record testkit provenance and reviewed non-sql candidates
  docs/runtime-sql-inventory.json
Due: none

feat(migrations): resolve confined SQL assets in filesystem loads
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/source/filesystem.rs
  crates/reinhardt-db/src/migrations/source_assets.rs
  crates/reinhardt-db/src/migrations/source_format.rs
  crates/reinhardt-db/tests/migration_sql_assets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(admin-cli): preflight SQL assets before migration source upgrades
  crates/reinhardt-admin-cli/src/migration_source.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): retain String types in upgraded metadata
  crates/reinhardt-db/src/migrations/source_format.rs
  tests/integration/tests/commands/migration_source_upgrade.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): verify SQL assets through management commands
  tests/integration/tests/commands/makemigrations_command_boundary.rs
  tests/integration/tests/commands/migration_visibility_management.rs
  tests/integration/tests/commands/squashmigrations_management.rs
Due: none

refactor(db): consume generated content type arguments
  crates/reinhardt-db/src/contenttypes/orm_integration.rs
  crates/reinhardt-db/src/contenttypes/persistence.rs
  crates/reinhardt-db/tests/runtime_sql_contenttypes.rs
  docs/runtime-sql-inventory.json
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(orm): own generated async query arguments
  crates/reinhardt-db/src/orm/async_query.rs
  crates/reinhardt-db/src/orm/engine.rs
  crates/reinhardt-db/tests/runtime_sql_async_query.rs
  docs/runtime-sql-inventory.json
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

ci(sql): track contextual wrappers and trait defaults
  docs/runtime-sql-inventory.json
  scripts/audit-runtime-sql/README.md
  scripts/audit-runtime-sql/src/main.rs
Due: none

feat(query-sqlx): support explicit uuid text bindings
  crates/reinhardt-query-sqlx/README.md
  crates/reinhardt-query-sqlx/src/lib.rs
  crates/reinhardt-query-sqlx/src/mysql.rs
  crates/reinhardt-query-sqlx/src/sqlite.rs
  crates/reinhardt-query-sqlx/src/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(ui-tests): fetch dependencies before offline consumer checks
  .github/workflows/ui-test.yml
Due: none

fix(query-sqlx): isolate pgvector codecs from sqlx resolution
  crates/reinhardt-query-sqlx/Cargo.toml
  crates/reinhardt-query-sqlx/README.md
  crates/reinhardt-query-sqlx/src/lib.rs
  crates/reinhardt-query-sqlx/src/postgres.rs
  crates/reinhardt-query-sqlx/src/tests.rs
  crates/reinhardt-query-sqlx/src/vector.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(db): execute generated queries with native owned arguments
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends.rs
  crates/reinhardt-db/src/backends/backend.rs
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/generated.rs
  crates/reinhardt-db/tests/runtime_sql_generated_backend.rs
  docs/runtime-sql-inventory.json
  scripts/audit-runtime-sql/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): release SQL asset handles after identity reads
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/src/migrations/source_assets.rs
  crates/reinhardt-db/src/migrations/source_assets/file_identity.rs
  crates/reinhardt-db/tests/migration_sql_assets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
