Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

refactor(examples): align tutorial settings with Reinhardt schema
  examples/examples-tutorial-basis/settings/base.toml
  examples/examples-tutorial-basis/settings/ci.toml
  examples/examples-tutorial-basis/settings/local.example.toml
  examples/examples-tutorial-rest/settings/base.toml
  examples/examples-tutorial-rest/settings/ci.toml
  examples/examples-tutorial-rest/settings/local.example.toml
Due: none

refactor(examples): migrate client router to urls::ClientRouter
  examples/examples-tutorial-basis/src/client/router.rs
Due: none

test(examples): migrate WASM mock tests to MockServiceWorker
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
Due: none

docs(policy): align Autonomous Operation Policy wording with PC-4a (Copilot review)
  AGENTS.md
  CLAUDE.md
  instructions/PR_GUIDELINE.md
Due: none

refactor(examples): move ClientRouter to apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/polls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/server_urls.rs
  examples/examples-tutorial-basis/src/client.rs
  examples/examples-tutorial-basis/src/client/lib.rs
  examples/examples-tutorial-basis/src/lib.rs
Due: none

test(examples): switch MSW migration to typed handle_server_fn API
  examples/Cargo.toml
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
Due: none

feat(middleware): add BrokenLinkConfig::managers field and from_settings constructor
  crates/reinhardt-middleware/src/broken_link.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(middleware): drop REINHARDT_SETTINGS env::var hot-path read from broken_link
  crates/reinhardt-middleware/src/broken_link.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(middleware): document from_settings as canonical broken_link entry point
  crates/reinhardt-middleware/src/broken_link.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(conf): add HasCommonSettings marker trait
  crates/reinhardt-conf/src/lib.rs
  crates/reinhardt-conf/src/settings/fragment.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(db): add database_url_from accepting HasCoreSettings
  crates/reinhardt-db/src/backends/connection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(commands): promote CommandContext.settings to Arc<dyn HasCommonSettings>
  crates/reinhardt-commands/src/context.rs
  crates/reinhardt-commands/src/mail_commands.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(rest): add VersioningSettings fragment for [rest_versioning] section
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-rest/src/versioning.rs
  crates/reinhardt-rest/src/versioning/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

refactor(rest): remove VersioningConfig::from_env in favor of settings fragment
  crates/reinhardt-rest/README.md
  crates/reinhardt-rest/src/versioning/config.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

refactor(db): allow unsized settings in database_url_from
  crates/reinhardt-db/src/backends/connection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(commands): consume ProjectSettings in CheckCommand instead of env::var
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(rest): rewrite versioning env tests as settings-based unit tests
  crates/reinhardt-rest/src/versioning/config.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

test(db): cover database_url_from API and silence deprecated loader warnings
  crates/reinhardt-db/tests/database_url_loader_interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(commands): migrate sendtestemail tests to HasCommonSettings stub
  crates/reinhardt-commands/tests/test_sendtestemail.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): add reinhardt-version-sync marker for reinhardt-test dep
  examples/Cargo.toml
Due: none

style: apply rustfmt to PR-A files
  crates/reinhardt-commands/tests/test_sendtestemail.rs
  crates/reinhardt-conf/src/lib.rs
  crates/reinhardt-conf/src/settings/fragment.rs
  crates/reinhardt-db/tests/database_url_loader_interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(commands): collapse nested if in CheckCommand::resolve_database_url
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

refactor(examples): adopt declarative #[url_patterns] + ClientLauncher
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/server_urls.rs
  examples/examples-tutorial-basis/src/client/lib.rs
  examples/examples-tutorial-basis/src/config.rs
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

test(examples): exercise real polls server_fn round-trips via MSW
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
Due: none

fix(test/msw): repair wasm32 build + expose facade msw feature
  Cargo.toml
  crates/reinhardt-test/src/msw/interceptor.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore(examples): scaffold MSW test wiring; full enablement blocked on #4288 + #4290
  examples/Cargo.toml
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/tests/integration.rs
Due: none

docs(middleware): fix synthesises spelling in broken_link
  crates/reinhardt-middleware/src/broken_link.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(middleware): simplify broken_link manager fallback with Cow
  crates/reinhardt-middleware/src/broken_link.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(examples): clarify polls client router bootstrap in config urls
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

refactor(rest): address copilot review on versioning settings
  crates/reinhardt-rest/src/versioning/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(pages-macros): emit WASM marker module + drop unreachable env-var guard
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(db): fix database_url_from doc examples and error description
  crates/reinhardt-db/src/backends/connection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(commands): rename unused ctx param to _ctx in resolve_static_root_configured
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(db): improve database_url_loader failure message diagnostic
  crates/reinhardt-db/tests/database_url_loader_interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(examples): match on structured ServerFnError variant in error-path tests
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
Due: none

feat(di): add testing-only register_override API with OverrideGuard
  crates/reinhardt-di/CHANGELOG.md
  crates/reinhardt-di/Cargo.toml
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/src/registry.rs
  crates/reinhardt-di/src/testing.rs
  crates/reinhardt-di/tests/register_override.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

refactor(di): tighten register_override docs and Send/Sync invariants
  crates/reinhardt-di/src/registry.rs
  crates/reinhardt-di/src/testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(pages-macros): address Copilot review feedback on PR #4293
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit-macros): new crate providing with_di_overrides! macro
  Cargo.toml
  crates/reinhardt-testkit-macros/CHANGELOG.md
  crates/reinhardt-testkit-macros/Cargo.toml
  crates/reinhardt-testkit-macros/README.md
  crates/reinhardt-testkit-macros/src/lib.rs
  crates/reinhardt-testkit-macros/src/with_di_overrides.rs
  crates/reinhardt-testkit-macros/tests/trybuild.rs
  crates/reinhardt-testkit-macros/tests/ui/fail_unknown_kind.rs
  crates/reinhardt-testkit-macros/tests/ui/fail_unknown_kind.stderr
  crates/reinhardt-testkit-macros/tests/ui/pass_factory.rs
  crates/reinhardt-testkit-macros/tests/ui/pass_singleton.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(testkit-macros): route generated paths through reinhardt-testkit
  crates/reinhardt-testkit-macros/Cargo.toml
  crates/reinhardt-testkit-macros/README.md
  crates/reinhardt-testkit-macros/src/with_di_overrides.rs
  crates/reinhardt-testkit-macros/tests/trybuild.rs
  crates/reinhardt-testkit-macros/tests/ui/pass_factory.rs
  crates/reinhardt-testkit/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration
