Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

refactor(db): extract sqlite dflt_value and PRAGMA identifier helpers
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/sqlite_pragma.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(db): route SQLiteIntrospector::introspect_table through pragma helpers
  crates/reinhardt-db/src/migrations/introspection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(db): route read_sqlite_table_via_editor through pragma helpers
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): regression for SQLite string default preservation across table recreation
  tests/integration/tests/migrations.rs
  tests/integration/tests/migrations/sqlite_default_value_preservation.rs
Due: none

docs(basis): rewrite _index.md to match current example layout
  website/content/quickstart/tutorials/basis/_index.md
Due: none

docs(basis): sync part 1 (project setup) with example structure
  website/content/quickstart/tutorials/basis/1-project-setup.md
Due: none

feat(examples-tutorial-basis): add fallback CSS and richer UnoCSS shortcuts
  examples/examples-tutorial-basis/index.html
  examples/examples-tutorial-basis/static/css/style.css
Due: none

refactor(examples-tutorial-basis): replace Bootstrap holdovers with theme-aware UnoCSS classes
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/client/components/users.rs
Due: none

docs(basis): sync part 2 (models) and introduce users app
  website/content/quickstart/tutorials/basis/2-models-and-database.md
Due: none

docs(examples-tutorial-basis): refresh README project structure
  examples/examples-tutorial-basis/README.md
Due: none

docs(basis): sync part 7 (admin) with split admin layout
  website/content/quickstart/tutorials/basis/7-admin-customization.md
Due: none

docs(basis): sync part 4 (forms) snippets with shared/forms.rs
  website/content/quickstart/tutorials/basis/4-forms-and-generic-views.md
Due: none

docs(basis): rewrite part 3 (views and server_fn) for per-app layout
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
Due: none

docs(basis): sync part 6 (static files) with dist-wasm pipeline
  website/content/quickstart/tutorials/basis/6-static-files.md
Due: none

docs(basis): sync part 5 (testing) with integration + msw tests
  website/content/quickstart/tutorials/basis/5-testing.md
Due: none

docs(db): add rustdoc to MockParticipant test fixture builder methods
  crates/reinhardt-db/src/orm/two_phase_commit/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(basis): drop stale references to nonexistent tests/availability.rs
  examples/examples-tutorial-basis/README.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

refactor(examples-tutorial-rest): replace Postman/Newman with Bruno
  examples/examples-tutorial-rest/.gitignore
  examples/examples-tutorial-rest/Dockerfile.bruno
  examples/examples-tutorial-rest/Makefile.toml
  examples/examples-tutorial-rest/bruno/Snippets CRUD/Create Snippet.bru
  examples/examples-tutorial-rest/bruno/Snippets CRUD/Delete Snippet.bru
  examples/examples-tutorial-rest/bruno/Snippets CRUD/Get Snippet.bru
  examples/examples-tutorial-rest/bruno/Snippets CRUD/List Snippets (Initial).bru
  examples/examples-tutorial-rest/bruno/Snippets CRUD/Update Snippet.bru
  examples/examples-tutorial-rest/bruno/Snippets CRUD/Verify Deletion (404).bru
  examples/examples-tutorial-rest/bruno/Snippets CRUD/folder.bru
  examples/examples-tutorial-rest/bruno/Validation Tests/Create Snippet - Empty Code (400).bru
  examples/examples-tutorial-rest/bruno/Validation Tests/Create Snippet - Missing Title (400).bru
  examples/examples-tutorial-rest/bruno/Validation Tests/folder.bru
  examples/examples-tutorial-rest/bruno/bruno.json
  examples/examples-tutorial-rest/bruno/environments/local.bru
  examples/examples-tutorial-rest/bruno/reports/.gitkeep
  examples/examples-tutorial-rest/docker-compose.api-tests.yml
  examples/examples-tutorial-rest/postman/collection.json
  examples/examples-tutorial-rest/postman/environment.json
Due: none

feat(middleware): add OptionalSessionValueNamed<K, T> extractor
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/value.rs
  crates/reinhardt-middleware/tests/session_value_from_request.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(macros): emit ClientRouterRegistration submit on wasm target
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-urls/src/lib.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

docs(examples-tutorial-basis): drop misleading rustdoc link in non-doc comment
  examples/examples-tutorial-basis/src/apps/users/models.rs
Due: none

fix(examples-tutorial-basis): address Copilot review feedback on styling
  examples/examples-tutorial-basis/index.html
  examples/examples-tutorial-basis/static/css/style.css
Due: none

feat(pages): add select_router_source_counts helper and tests
  crates/reinhardt-pages/src/app/launcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(middleware): share TenantIdKey fixture via test_support module
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/test_support.rs
  crates/reinhardt-middleware/src/session/value.rs
  crates/reinhardt-middleware/tests/session_value_from_request.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(pages): add ClientLauncher::register_routes_from_inventory
  crates/reinhardt-pages/src/app/launcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): extend launch() to 3-way mutual exclusion for inventory
  crates/reinhardt-pages/src/app/launcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore(examples-tutorial-basis): aggregate client patterns via .client(...) closure
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

chore(examples-tutorial-basis): adopt register_routes_from_inventory in client/lib
  examples/examples-tutorial-basis/src/client/lib.rs
Due: none

test(core-macros): add missing manager_disabled_no_manager.stderr
  crates/reinhardt-core/macros/tests/ui/user/fail/manager_disabled_no_manager.stderr
Due: unit, intra-crate-integration, cross-crate-integration

docs(basis): fix mermaid syntax errors in tutorial diagrams
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/basis/4-forms-and-generic-views.md
Due: none

chore(examples-tutorial-basis): switch to #[routes(standalone, client_inventory)]
  examples/examples-tutorial-basis/src/client/lib.rs
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

feat(macros): make WASM client inventory submission opt-in via client_inventory flag
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/registration.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing, Frontend & Pages

feat(macros): reject #[routes(client_inventory)] on async functions at compile time
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/unknown_argument.stderr
Due: unit, intra-crate-integration, cross-crate-integration

feat(macros): add #[shared_model] for cfg_attr(native) DTO boilerplate
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/shared_model.rs
  crates/reinhardt-core/macros/tests/ui.rs
  crates/reinhardt-core/macros/tests/ui/shared_model/fail/enum_rejected.rs
  crates/reinhardt-core/macros/tests/ui/shared_model/fail/enum_rejected.stderr
  crates/reinhardt-core/macros/tests/ui/shared_model/fail/with_args.rs
  crates/reinhardt-core/macros/tests/ui/shared_model/fail/with_args.stderr
  crates/reinhardt-core/macros/tests/ui/shared_model/pass/login_request.rs
  crates/reinhardt-core/macros/tests/ui/shared_model/pass/no_validate.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(examples-tutorial-basis): migrate shared/types.rs to #[shared_model]
  examples/examples-tutorial-basis/src/shared/types.rs
Due: none

refactor(examples-twitter): migrate shared/types.rs to #[shared_model]
  examples/examples-twitter/src/apps/auth/shared/types.rs
  examples/examples-twitter/src/apps/dm/shared/types.rs
  examples/examples-twitter/src/apps/profile/shared/types.rs
  examples/examples-twitter/src/apps/tweet/shared/types.rs
Due: none

test(core-macros): regenerate stderr for non_uuid_pk_with_default_manager fixture
  crates/reinhardt-core/macros/tests/ui/user/fail/non_uuid_pk_with_default_manager.stderr
Due: unit, intra-crate-integration, cross-crate-integration

style(middleware): apply rustfmt to session value modules
  crates/reinhardt-middleware/src/session/value.rs
  crates/reinhardt-middleware/tests/session_value_from_request.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(macros): rename #[shared_model] to #[shared_schema]
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/shared_schema.rs
  crates/reinhardt-core/macros/tests/ui.rs
  crates/reinhardt-core/macros/tests/ui/shared_model/fail/enum_rejected.rs
  crates/reinhardt-core/macros/tests/ui/shared_model/fail/enum_rejected.stderr
  crates/reinhardt-core/macros/tests/ui/shared_model/fail/with_args.rs
  crates/reinhardt-core/macros/tests/ui/shared_model/fail/with_args.stderr
  crates/reinhardt-core/macros/tests/ui/shared_schema/fail/enum_rejected.rs
  crates/reinhardt-core/macros/tests/ui/shared_schema/fail/enum_rejected.stderr
  crates/reinhardt-core/macros/tests/ui/shared_schema/fail/with_args.rs
  crates/reinhardt-core/macros/tests/ui/shared_schema/fail/with_args.stderr
  crates/reinhardt-core/macros/tests/ui/shared_schema/pass/login_request.rs
  crates/reinhardt-core/macros/tests/ui/shared_schema/pass/no_validate.rs
  examples/examples-tutorial-basis/src/shared/types.rs
  examples/examples-twitter/src/apps/auth/shared/types.rs
  examples/examples-twitter/src/apps/dm/shared/types.rs
  examples/examples-twitter/src/apps/profile/shared/types.rs
  examples/examples-twitter/src/apps/tweet/shared/types.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix: address Copilot review threads on PR #4477
  Cargo.toml
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/async_with_client_inventory.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/async_with_client_inventory.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_client_inventory.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_client_inventory.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_standalone.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_standalone.stderr
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  examples/examples-tutorial-basis/src/config/urls.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages
