Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

style: format files from merge resolution
  crates/reinhardt-di/src/context.rs
  crates/reinhardt-di/tests/scope_hierarchy_tests.rs
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/ui/page/fail/component_missing_required_prop.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_invocation.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_with_children.rs
  crates/reinhardt-storages/tests/local_tests.rs
  crates/reinhardt-urls/src/routers/reverse/tests.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-twitter/src/apps/auth/client/components.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection, Server & Routing

fix(pages): restore brace-form component invocation tests
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/ui/page/fail/component_missing_required_prop.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_invocation.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_with_children.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: add release announcement(s)
  announcements/v0.1.2.md
Due: none

Revert "fix(pages): restore brace-form component invocation tests"
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/ui/page/fail/component_missing_required_prop.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_invocation.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_with_children.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): remove references to deleted url_patterns helpers
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-rest/Cargo.toml
Due: none

fix(examples): add hand-written url helper modules for polls and users
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
Due: none

fix(tree-sitter): replace from_utf8_unchecked with safe alternatives in wasm facade
  vendor/topiary-tree-sitter-facade/src/language.rs
  vendor/topiary-tree-sitter-facade/src/node.rs
  vendor/topiary-tree-sitter-facade/src/parser.rs
Due: none

fix(tree-sitter): fix infinite loop, iterator, and double-free bugs in wasm facade
  vendor/topiary-tree-sitter-facade/src/node.rs
  vendor/topiary-tree-sitter-facade/src/tree_cursor.rs
Due: none

fix(tree-sitter): return false for is_extra in wasm facade instead of panicking
  vendor/topiary-tree-sitter-facade/src/node.rs
Due: none

fix(tree-sitter): fix LoggerParams indexing setter signature in wasm sys crate
  vendor/topiary-web-tree-sitter-sys/src/lib.rs
Due: none

docs(tree-sitter): add SAFETY comments for unsafe impls in wasm facade
  vendor/topiary-tree-sitter-facade/src/parser.rs
  vendor/topiary-tree-sitter-facade/src/query.rs
  vendor/topiary-tree-sitter-facade/src/range.rs
Due: none

chore(templates): add breaking change assessment to issue and PR templates
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/5-performance.yml
  .github/ISSUE_TEMPLATE/7-security.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

docs: enforce breaking-change label requirement in guidelines
  instructions/COMMIT_GUIDELINE.md
  instructions/ISSUE_GUIDELINES.md
  instructions/PR_GUIDELINE.md
  instructions/QUICK_REFERENCE.md
Due: none

feat(storages)!: add #[non_exhaustive] to StorageError
  crates/reinhardt-storages/src/error.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(templates): restore breaking change dropdowns to issue templates
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/5-performance.yml
  .github/ISSUE_TEMPLATE/7-security.yml
Due: none

fix(templates): correct checkbox options indentation in security template
  .github/ISSUE_TEMPLATE/7-security.yml
Due: none

Revert "fix(templates): restore breaking change dropdowns to issue templates"
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/5-performance.yml
  .github/ISSUE_TEMPLATE/7-security.yml
Due: none

feat(pages): add ServerFnError::message() accessor and parse_server_error_message() helper
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): re-export parse_server_error_message from crate root
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(examples): replace format_server_error with framework-provided parse_server_error_message
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
Due: none

fix(tree-sitter): prevent repeat of last match in children_by_field_* iterators
  vendor/topiary-tree-sitter-facade/src/node.rs
Due: none

style(templates): convert tab indentation to spaces in issue templates
  .github/ISSUE_TEMPLATE/5-performance.yml
  .github/ISSUE_TEMPLATE/7-security.yml
Due: none

fix(tree-sitter): handle empty-child case in children_by_field_* iterators
  vendor/topiary-tree-sitter-facade/src/node.rs
Due: none

fix(macros): emit function and ClientRouterRegistration on WASM
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(tree-sitter): preserve cursor state in TreeCursor::clone via copy()
  vendor/topiary-tree-sitter-facade/src/tree_cursor.rs
  vendor/topiary-web-tree-sitter-sys/src/lib.rs
Due: none

fix(pages): handle Display-formatted strings in parse_server_error_message
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): unwrap nested JSON in parse_server_error_message
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

ci(deploy-website): use AWS self-hosted runner for website deployment
  .github/workflows/deploy-website.yml
Due: none

refactor(middleware)!: replace deprecated SecurityConfig with builder pattern on SecurityMiddleware
  crates/reinhardt-middleware/src/lib.rs
  crates/reinhardt-middleware/src/security_middleware.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security

fix(urls): resolve UrlReverser Debug trait bound and dead code errors
  crates/reinhardt-core/macros/src/macro_state.rs
  crates/reinhardt-urls/src/routers/reverse/reverser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(ci): add PR checkbox opt-in guard for AWS runner in deploy-website
  .github/workflows/deploy-website.yml
Due: none

fix(ci): resolve compilation and semver check failures on develop/0.2.0
  crates/reinhardt-conf/tests/profile_switching.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-manouche/src/parser/form.rs
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/reactive_autowrap_integration_tests.rs
  crates/reinhardt-storages/src/backends/gcs.rs
  tests/integration/tests/auth/mfa_integration.rs
  tests/integration/tests/auth/session_authentication_integration.rs
  tests/integration/tests/settings/composable_use_cases.rs
  tests/integration/tests/settings/settings_system_integration.rs
  tests/integration/tests/validation/validator_orm_constraints.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(ci): delete broken page! macro tests instead of cfg-gating
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/reactive_autowrap_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(facade): split root lib.rs into exports/compat/prelude layers
  src/compat.rs
  src/compat/websockets.rs
  src/exports.rs
  src/exports/auth.rs
  src/exports/core_types.rs
  src/exports/database.rs
  src/exports/di.rs
  src/exports/forms.rs
  src/exports/macros.rs
  src/exports/middleware_exports.rs
  src/exports/misc.rs
  src/exports/rest.rs
  src/exports/routing.rs
  src/exports/settings.rs
  src/exports/views.rs
  src/lib.rs
  src/prelude.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(commands)!: remove workspace templates and consolidate onto non-workspace templates
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/app_pages_template/lib.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/server_urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/admin.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/build.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/lib.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/models.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/models/.gitkeep
  crates/reinhardt-commands/templates/app_pages_workspace_template/serializers.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/serializers/.gitkeep
  crates/reinhardt-commands/templates/app_pages_workspace_template/tests/.gitkeep
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls/server_urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/views.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/lib.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/admin.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/admin/.gitkeep
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/lib.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/models.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/models/.gitkeep
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/serializers.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/serializers/.gitkeep
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/tests.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/tests/.gitkeep
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/urls.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/views.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/views/.gitkeep
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(facade): move session re-exports from auth to misc module
  src/exports/auth.rs
  src/exports/misc.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(commands): use project_crate_name for with_nav import in workspace pages template
  crates/reinhardt-commands/templates/app_pages_template/client/pages.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(macros)!: generate Info companion type via #[model] macro
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  instructions/MACRO_USAGE.md
  tests/integration/tests/macros.rs
  tests/integration/tests/macros/model_info_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
