Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(ci): add #[allow(deprecated)] to re-exports and tests using deprecated mock APIs
  crates/reinhardt-pages/src/testing.rs
  crates/reinhardt-pages/src/testing/mock_fetch.rs
  crates/reinhardt-pages/src/testing/mock_http.rs
  crates/reinhardt-test/src/wasm/mock.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(macros): use module-scoped inner allow to suppress unexpected_cfgs in consuming crates
  crates/reinhardt-core/macros/src/installed_apps.rs
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(di): fix misleading auto-injectable doc comment on Injectable trait
  crates/reinhardt-di/src/injectable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

feat(testkit): add with_test_di_context() for isolated parallel-safe test DI contexts
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/di.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(di)!: deprecate Injected<T> in favor of Depends<T> and remove auto-Clone
  crates/reinhardt-core/macros/src/injectable_common.rs
  crates/reinhardt-core/macros/src/injectable_fn.rs
  crates/reinhardt-core/macros/src/injectable_struct.rs
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/use_inject.rs
  crates/reinhardt-di/macros/src/injectable.rs
  crates/reinhardt-di/src/injected.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/src/validation.rs
  crates/reinhardt-di/tests/auto_injectable_tests.rs
  crates/reinhardt-di/tests/compile_fail/injectable_non_clone_field.rs
  crates/reinhardt-di/tests/compile_fail/injectable_non_clone_field.stderr
  crates/reinhardt-di/tests/fastapi_style_depends_tests.rs
  crates/reinhardt-graphql/macros/src/graphql_handler.rs
  crates/reinhardt-grpc/macros/src/grpc_handler.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-views/src/generic/composite.rs
  crates/reinhardt-views/src/generic/create_api.rs
  crates/reinhardt-views/src/viewsets/injectable.rs
  crates/reinhardt-websockets/src/consumers.rs
  examples/examples-di-showcase/src/apps/di_showcase/services.rs
  examples/examples-di-showcase/src/apps/di_showcase/views.rs
  src/di.rs
  src/lib.rs
  tests/integration/tests/di/circular_dependency_detection.rs
  tests/integration/tests/di/injected_tests.rs
  tests/integration/tests/viewsets/di_e2e_integration.rs
  tests/integration/tests/viewsets/di_field_injection_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Dependency Injection, Communication

fix(macros): remove url-resolver feature flag, gate on platform instead
  Cargo.toml
  crates/reinhardt-core/macros/src/installed_apps.rs
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/tests/installed_apps_empty_test.rs
  crates/reinhardt-core/macros/tests/installed_apps_tests.rs
  crates/reinhardt-core/macros/tests/ui/fail/duplicate_labels.stderr
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/tests/url_resolver.rs
  crates/reinhardt-urls/tests/url_resolver_extension_trait.rs
  examples/Cargo.toml
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

fix(di): fall back to Injectable::inject() when type is not in registry
  crates/reinhardt-di/src/depends.rs
  crates/reinhardt-di/src/injectable.rs
  crates/reinhardt-di/tests/fastapi_style_depends_tests.rs
  crates/reinhardt-graphql/tests/di_integration.rs
  tests/integration/tests/di/macros_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(docs): add Injectable impl to module-level doc example in depends.rs
  crates/reinhardt-di/src/depends.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

feat(conf): add per-test settings override for TestContainers integration
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/src/settings/testing.rs
  crates/reinhardt-conf/src/settings/testing/overrides.rs
  crates/reinhardt-conf/tests/settings_override.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

build(testkit): add auth-testing feature with reinhardt-auth and reinhardt-middleware optional deps
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-testkit/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit): add builder-based auth testing API
  crates/reinhardt-test/src/fixtures/auth.rs
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-testkit/src/auth.rs
  crates/reinhardt-testkit/src/auth/builder.rs
  crates/reinhardt-testkit/src/auth/error.rs
  crates/reinhardt-testkit/src/auth/identity.rs
  crates/reinhardt-testkit/src/auth/secondary.rs
  crates/reinhardt-testkit/src/auth/server_fn_builder.rs
  crates/reinhardt-testkit/src/auth/traits.rs
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/factory.rs
  crates/reinhardt-testkit/src/lib.rs
  crates/reinhardt-testkit/src/server_fn/auth.rs
  crates/reinhardt-testkit/src/server_fn/context.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): replace heredoc with echo in announce-breaking-change workflow
  .github/actions/announce-breaking-change/action.yml
  .github/workflows/announce-breaking-change.yml
Due: none

fix(admin): suppress unexpected check-cfg warning for msw feature
  crates/reinhardt-admin/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

style(testkit): format cookie value assertion in client.rs
  crates/reinhardt-testkit/src/client.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(macros): add to_pascal_case_with_suffix helper
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/pascal_case.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(macros): emit metadata macro and deprecated trait from URL resolver generation
  crates/reinhardt-core/macros/src/routes.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): resolve DI bypass in auth server_fn tests
  examples/examples-twitter/Cargo.toml
  examples/examples-twitter/src/apps/auth/tests/server_fn.rs
Due: none

feat(urls): generate per-app URL resolver structs in #[routes] macro
  Cargo.toml
  crates/reinhardt-core/macros/src/routes_registration.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(admin): remove #[awt] attribute from middleware E2E tests
  tests/integration/tests/admin/server_fn_middleware_e2e_tests.rs
Due: none

fix(macros): use resolve_from_registry() in #[routes] for factory type compatibility
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): add --first-parent, retry logic, and 1M context support to release announcements
  .github/workflows/release-plz.yml
  scripts/collect-release-data.sh
Due: none

fix(docs): use backticks for feature-gated types in testkit auth docs
  crates/reinhardt-testkit/src/auth.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): prevent false-negative in backfill breaking change job
  .github/workflows/announce-breaking-change.yml
Due: none

docs: add release announcement(s)
  announcements/v0.1.0-alpha.1.md
  announcements/v0.1.0-alpha.11.md
  announcements/v0.1.0-alpha.12.md
  announcements/v0.1.0-alpha.13.md
  announcements/v0.1.0-alpha.14.md
  announcements/v0.1.0-alpha.15.md
  announcements/v0.1.0-alpha.16.md
  announcements/v0.1.0-alpha.17.md
  announcements/v0.1.0-alpha.18.md
  announcements/v0.1.0-alpha.19.md
  announcements/v0.1.0-alpha.2.md
  announcements/v0.1.0-alpha.20.md
  announcements/v0.1.0-alpha.3.md
  announcements/v0.1.0-alpha.4.md
  announcements/v0.1.0-alpha.5.md
  announcements/v0.1.0-alpha.6.md
  announcements/v0.1.0-alpha.7.md
  announcements/v0.1.0-alpha.8.md
  announcements/v0.1.0-alpha.9.md
  announcements/v0.1.0-rc.1.md
  announcements/v0.1.0-rc.10.md
  announcements/v0.1.0-rc.11.md
  announcements/v0.1.0-rc.12.md
  announcements/v0.1.0-rc.13.md
  announcements/v0.1.0-rc.14.md
  announcements/v0.1.0-rc.15.md
  announcements/v0.1.0-rc.2.md
  announcements/v0.1.0-rc.3.md
  announcements/v0.1.0-rc.4.md
  announcements/v0.1.0-rc.5.md
  announcements/v0.1.0-rc.6.md
  announcements/v0.1.0-rc.7.md
  announcements/v0.1.0-rc.8.md
  announcements/v0.1.0-rc.9.md
Due: none

fix(ci): replace gh discussion CLI with GraphQL createDiscussion mutation
  .github/actions/announce-breaking-change/action.yml
  .github/workflows/announce-breaking-change.yml
Due: none

docs: replace fallback announcements with Claude-generated versions
  announcements/v0.1.0-alpha.16.md
  announcements/v0.1.0-alpha.17.md
  announcements/v0.1.0-alpha.18.md
  announcements/v0.1.0-alpha.19.md
  announcements/v0.1.0-alpha.20.md
  announcements/v0.1.0-rc.1.md
Due: none

fix(macros): add standalone mode to #[routes] for projects without installed_apps!
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/unknown_argument.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/unknown_argument.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): integrate standalone mode with namespaced URL resolvers
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(docs): escape intra-doc link in TestUser deprecated note
  crates/reinhardt-test/src/fixtures/auth.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): include orphaned config/apps.rs in module tree
  examples/examples-github-issues/src/config.rs
  examples/examples-twitter/src/config.rs
Due: none

fix(examples): use routes(standalone) and apply cargo fmt
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-twitter/src/config/urls.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

style(examples): apply reinhardt-admin fmt to github-issues and twitter
  examples/examples-github-issues/src/config.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
Due: none

fix(examples): use routes(standalone) for examples without url_prelude
  examples/examples-database-integration/src/config/urls.rs
  examples/examples-di-showcase/src/config/urls.rs
  examples/examples-hello-world/src/config/urls.rs
  examples/examples-rest-api/src/config/urls.rs
Due: none

fix(macros): remove useless Into::into conversion on syn::Ident
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(examples): rename cfg aliases from server/client to native/wasm
  examples/examples-tutorial-basis/build.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/config.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/src/lib.rs
  examples/examples-tutorial-basis/src/server_fn/polls.rs
  examples/examples-tutorial-basis/src/shared.rs
  examples/examples-tutorial-basis/src/shared/types.rs
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
  examples/examples-twitter/build.rs
  examples/examples-twitter/src/apps/auth/client/components.rs
  examples/examples-twitter/src/apps/auth/shared/types.rs
  examples/examples-twitter/src/apps/auth/urls.rs
  examples/examples-twitter/src/apps/dm/client/hooks.rs
  examples/examples-twitter/src/apps/dm/models/message.rs
  examples/examples-twitter/src/apps/dm/models/room.rs
  examples/examples-twitter/src/apps/dm/shared/types.rs
  examples/examples-twitter/src/apps/dm/urls.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/profile/models/profile.rs
  examples/examples-twitter/src/apps/profile/shared/types.rs
  examples/examples-twitter/src/apps/profile/urls.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/relationship/urls.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/apps/tweet/models/tweet.rs
  examples/examples-twitter/src/apps/tweet/shared/server_fn.rs
  examples/examples-twitter/src/apps/tweet/shared/types.rs
  examples/examples-twitter/src/apps/tweet/urls.rs
  examples/examples-twitter/src/config.rs
  examples/examples-twitter/src/config/urls.rs
  examples/examples-twitter/src/core.rs
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/lib.rs
  examples/examples-twitter/tests/wasm/auth_test.rs
  examples/examples-twitter/tests/wasm/tweet_test.rs
Due: none

refactor(examples): use build_composed and move defaults to TOML
  examples/examples-tutorial-basis/settings/base.toml
  examples/examples-tutorial-basis/src/config/settings.rs
  examples/examples-tutorial-rest/settings/base.toml
  examples/examples-tutorial-rest/src/config/settings.rs
  examples/examples-twitter/settings/base.toml
  examples/examples-twitter/src/config/settings.rs
Due: none

style(examples): apply reinhardt-admin fmt formatting
  examples/examples-tutorial-basis/src/config/settings.rs
  examples/examples-tutorial-rest/src/config/settings.rs
  examples/examples-twitter/src/apps/dm/shared/server_fn.rs
  examples/examples-twitter/src/config/settings.rs
Due: none

fix(ci): remove deleted examples from CI matrix
  .github/workflows/examples-test.yml
Due: none

style(admin): apply rustfmt to site.rs
  crates/reinhardt-admin/src/core/site.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages
