Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

refactor(examples-tutorial-basis): migrate Model::new() to typestate builder
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/server_fn/polls.rs
Due: none

fix(pages-macros): let form! initial and inner watch capture outer scope
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages-macros): trybuild compile_pass for #4420 env capture
  crates/reinhardt-pages/tests/ui/form/pass/initial_and_inner_watch_capture_outer_local.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples-tutorial-basis): register polls CUD server_fns in routes
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

fix(examples-tutorial-basis): resolve CI failures
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/tests/integration.rs
Due: none

fix(examples-tutorial-basis): address Copilot review feedback
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question_id.rs
  examples/examples-tutorial-basis/src/server_fn/users.rs
Due: none

fix(examples-tutorial-basis): register SessionStore in DI singletons
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

style(examples-tutorial-basis): apply reinhardt-admin fmt-all to client polls
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

fix(examples-tutorial-basis): rephrase prose to avoid `// TODO` false positive
  examples/examples-tutorial-basis/tests/integration.rs
Due: none

docs(examples-tutorial-basis): document makemigrations FK workaround
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question_id.rs
Due: none

refactor(db-migrations): add nullable field to FieldMetadata
  crates/reinhardt-db/src/migrations/model_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db-migrations): resolve foreign-key column type from target model PK
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core-macros): emit not_null and nullable for ForeignKeyField _id columns
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(integration-migrations): cover FK column metadata resolution
  tests/integration/tests/migrations.rs
  tests/integration/tests/migrations/fk_column_metadata_resolution.rs
Due: none

feat(http,di): add Middleware::di_registrations hook and type-erased DI APIs
  crates/reinhardt-di/src/registration.rs
  crates/reinhardt-di/src/scope.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Dependency Injection

feat(middleware): auto-register SessionMiddleware's Arc<SessionStore> via di_registrations
  crates/reinhardt-middleware/src/session/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(urls): harvest middleware-contributed DI registrations in with_middleware
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

refactor(examples-tutorial-basis): drop manual session DI wiring now that SessionMiddleware auto-registers
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

fix(middleware): register session store under Arc<SessionStore> TypeId
  crates/reinhardt-middleware/src/session/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(urls): apply middleware DI to local InjectionContext when present
  crates/reinhardt-urls/src/routers/server_router/builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(middleware): cover SessionData::inject end-to-end via InjectionContext
  crates/reinhardt-middleware/src/session/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(db): make FieldMetadata.nullable the single source of truth and harden FK metadata tests
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
  tests/integration/tests/migrations/fk_column_metadata_resolution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(urls): stage middleware DI on router to survive any builder order
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/server_router/introspection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): propagate with_di_context into already-mounted children
  crates/reinhardt-urls/src/routers/server_router/builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): drain nested children pending DI on mount
  crates/reinhardt-urls/src/routers/server_router/builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): drain grouped routers' pending DI in group()
  crates/reinhardt-urls/src/routers/server_router/builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(db-migrations): store FieldMetadata nullability in params to keep SemVer clean
  crates/reinhardt-db/src/migrations/model_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(urls): address Copilot review on PR #4438
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

perf(db): add direct lookup APIs to ModelRegistry
  crates/reinhardt-db/src/migrations/model_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(macros): emit fk_target_app for same-app FK targets
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

perf(db): migrate resolve_foreign_key_column_type to direct lookup
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): fall back to by-name FK lookup on qualified miss
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): refuse FK resolution when target name is ambiguous
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db,macros): path-typed FK targets disambiguate ambiguous model names
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(macros): source FK app label from target type's Model::app_label()
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(examples-tutorial-basis): add get_choice_parent server fn for choice→question lookup
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/src/server_fn/polls.rs
Due: none

feat(examples-tutorial-basis): wire all page links through ResolvedUrls and add shared nav bar
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/client.rs
  examples/examples-tutorial-basis/src/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/client/components/users.rs
  examples/examples-tutorial-basis/src/client/lib.rs
  examples/examples-tutorial-basis/src/client/links.rs
  examples/examples-tutorial-basis/src/client/pages.rs
Due: none

fix(examples-tutorial-basis): route not_found error page link through ResolvedUrls
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
Due: none

refactor(examples-tutorial-basis): address Copilot review feedback on PR #4441
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/client/lib.rs
  examples/examples-tutorial-basis/src/client/links.rs
  examples/examples-tutorial-basis/src/client/pages.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/src/server_fn/polls.rs
Due: none

chore(examples-tutorial-basis): consolidate Makefile tasks and extract inline scripts
  examples/examples-tutorial-basis/Makefile.toml
  examples/examples-tutorial-basis/scripts/clean-cache.sh
  examples/examples-tutorial-basis/scripts/run-dev-release-server.sh
  examples/examples-tutorial-basis/scripts/run-dev-server.sh
  examples/examples-tutorial-basis/scripts/wasm-build-dev.sh
  examples/examples-tutorial-basis/scripts/wasm-build-release.sh
  examples/examples-tutorial-basis/scripts/wasm-finalize-release.sh
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
