Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(db): preserve absolute sqlite url paths
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/tests/sqlite_connection_urls.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): decode native EXISTS results across database backends
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/execution.rs
  tests/integration/tests/orm_exists.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): bind generated values through native codecs
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/associations/many_to_many_manager.rs
  crates/reinhardt-db/src/backends.rs
  crates/reinhardt-db/src/backends/backend.rs
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/generated.rs
  crates/reinhardt-db/src/backends/generated/mysql.rs
  crates/reinhardt-db/src/backends/generated/postgres.rs
  crates/reinhardt-db/src/backends/generated/sqlite.rs
  crates/reinhardt-db/src/backends/generated/tests.rs
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/many_to_many_accessor.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
  crates/reinhardt-db/tests/generated_execution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): isolate PostgreSQL parameter signatures
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/dialect/postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db)!: preserve NULL elements in PostgreSQL array rows
  crates/reinhardt-db/CHANGELOG.md
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/tests/postgres_nullable_arrays.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(db): bind native backend builder statements
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
  crates/reinhardt-db/tests/runtime_sql_backend_builders.rs
  docs/runtime-sql-inventory.json
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(contenttypes): keep SQLite insert IDs on one connection
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/contenttypes/orm_integration.rs
  crates/reinhardt-db/src/contenttypes/persistence.rs
  crates/reinhardt-db/tests/contenttypes_connection_affinity.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(storage): gate backend-only settings errors
  crates/reinhardt-storages/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(sql): classify QuerySet validation message provenance
  docs/runtime-sql-inventory.json
Due: none

fix(storage): keep backend-free library builds warning-free
  crates/reinhardt-storages/src/backend.rs
  crates/reinhardt-storages/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(orm): reject zero batch sizes in bulk operations
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/tests/bulk_batch_size.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): reject unsigned composite key overflow
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix!: preserve unsigned composite key bindings
  crates/reinhardt-db/CHANGELOG.md
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/tests/composite_key_unsigned.rs
  crates/reinhardt-db/tests/pgvector_feature_boundary.rs
  crates/reinhardt-db/tests/transaction_executor_orm.rs
  docs/migration/0.4.0-unsigned-query-values.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(query): add typed MySQL index column prefixes
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/src/query/create_index.rs
  crates/reinhardt-query/tests/index_prefix.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(auth): validate params feature combinations
  crates/reinhardt-auth/src/auth_user.rs
  crates/reinhardt-auth/src/guard.rs
  crates/reinhardt-auth/tests/feature_flags_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(conf): initialize MySQL settings and audit indexes safely
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/audit/backends/database.rs
  crates/reinhardt-conf/src/settings/backends/database.rs
  crates/reinhardt-conf/src/settings/database_index.rs
  tests/integration/Cargo.toml
  tests/integration/tests/conf_database_indexes.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(auth): gate optional integration test targets
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/tests/hasher_boundary_value.rs
  crates/reinhardt-auth/tests/jwt_property_based.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(auth): simplify mock authentication result types
  crates/reinhardt-auth/src/rest_authentication.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(auth): simplify mock authentication helpers
  crates/reinhardt-auth/src/rest_authentication.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

test(auth): move OAuth status tests after production items
  crates/reinhardt-auth/src/oauth2_server/http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(db): compile backend-free validation without warnings
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/migrations/introspection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): wait for native MySQL SQL port readiness
  crates/reinhardt-db/tests/runtime_sql_generated_backend.rs
  docs/mysql-fixture-readiness.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(orm): render LIKE filters with native escaping
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/expr/expr_trait.rs
  crates/reinhardt-query/tests/inline_params.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(orm): cover native model array storage contracts
  crates/reinhardt-db/README.md
  crates/reinhardt-db/tests/runtime_sql_generated_backend.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): resolve replacement keys in rollback plans
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/migrate_cross_app_rollback.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(query): add typed conditional conflict actions
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/error.rs
  crates/reinhardt-query/src/query/on_conflict.rs
  crates/reinhardt-query/tests/conditional_on_conflict.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): use exact float samples in backend builder tests
  crates/reinhardt-db/tests/backend_query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(orm): normalize MySQL generated fixed-offset datetimes
  crates/reinhardt-db/src/backends/generated/mysql.rs
  crates/reinhardt-db/src/backends/generated/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): apply field metadata to MySQL bulk inserts
  crates/reinhardt-db/src/orm/manager.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(orm): clarify native generated binding coverage
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/orm/execution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(contenttypes): remove testkit fixture dependency
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/tests/contenttypes_connection_affinity.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(contenttypes): describe pool-backed contexts in examples
  crates/reinhardt-db/src/contenttypes/orm_integration.rs
  tests/integration/tests/contrib/contenttypes_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(contenttypes): state SQLite ORM integration requirements
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/contenttypes/orm_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): render current timestamps without bound slots
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): use exact floating-point builder samples
  crates/reinhardt-db/tests/backend_query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): exclude inline null values from builder bindings
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(db): bind backend insert statements
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
  crates/reinhardt-db/tests/runtime_sql_backend_inserts.rs
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/tests/conditional_on_conflict.rs
  docs/runtime-sql-inventory.json
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): reject incomplete cross-app rollback metadata
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/migrate_cross_app_rollback.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure
