Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

ci(auth): reproduce and verify the additional review findings
  .github/workflows/pr-6372-review-verification.yml
Due: none

ci(auth): verify all review fixes with strict pipeline failures
  .github/workflows/pr-6372-concurrency-verification.yml
Due: none

ci(auth): finish source verification and stage reviewed Git objects
  .github/workflows/pr-6372-final-source-verification.yml
Due: none

ci(auth): stage checksum-verified review source on an available runner
  .github/workflows/pr-6372-stage-verified.yml
Due: none

fix(auth)!: make authorization lifecycle transitions atomic
  .github/workflows/pr-6372-concurrency-verification.yml
  .github/workflows/pr-6372-final-source-verification.yml
  .github/workflows/pr-6372-review-verification.yml
  .github/workflows/pr-6372-stage-verified.yml
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/http.rs
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
  crates/reinhardt-auth/src/oauth2_server/tests/review_tests.rs
  crates/reinhardt-auth/src/oidc_op/postgres.rs
  crates/reinhardt-auth/src/oidc_op/protocol.rs
  crates/reinhardt-auth/src/oidc_op/store.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
  crates/reinhardt-auth/src/oidc_op/tests/review_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

ci(auth): reproduce and prepare late review fixes
  .github/workflows/pr-6372-late-candidate.yml
Due: none

fix(auth)!: resolve resource rotation and OIDC review findings
  .github/workflows/pr-6372-late-candidate.yml
  .github/workflows/pr-6372-review-verification.yml
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests/review_tests.rs
  crates/reinhardt-auth/src/oidc_op/http.rs
  crates/reinhardt-auth/src/oidc_op/protocol.rs
  crates/reinhardt-auth/src/oidc_op/tests/review_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

chore(ci): remove unused cargo-deny policy entries
  deny.toml
Due: none

fix(auth): correct OAuth and OIDC endpoint error responses
  crates/reinhardt-auth/src/oauth2_server/http.rs
  crates/reinhardt-auth/src/oauth2_server/tests.rs
  crates/reinhardt-auth/src/oidc_op/http.rs
  crates/reinhardt-auth/src/oidc_op/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): move OIDC RSA signing to blocking workers
  crates/reinhardt-auth/src/oidc_op/signer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth)!: reject conflicting OAuth registrations atomically
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
  crates/reinhardt-auth/src/oauth2_server/tests/review_tests.rs
  crates/reinhardt-auth/src/oidc_op/tests/review_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): allow temporary Salsa advisory exception
  deny.toml
Due: none

docs: add release announcement(s)
  announcements/v0.3.20.md
Due: none

docs(auth): clarify legacy OAuth2 helper scope
  crates/reinhardt-auth/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(utils): align security logging guide with API
  crates/reinhardt-utils/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(query): split database and maintenance support rows
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(db): clarify before_save hook purpose
  crates/reinhardt-db/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(tasks): document Kafka task backend
  README.md
  crates/reinhardt-tasks/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(dentdelion): complete capability matrix
  crates/reinhardt-dentdelion/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(deps): remove AWS Smithy compatibility pin
  Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-providers/Cargo.toml
  crates/reinhardt-tasks/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

docs(db): update Django composite key comparison
  crates/reinhardt-db/src/orm/composite_pk/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(query): list all feature flags
  crates/reinhardt-query/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(admin): correct feature flag descriptions
  crates/reinhardt-admin/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document feature flags accurately
  crates/reinhardt-pages/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands): add makemigrations check option
  crates/reinhardt-commands/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(auth): keep router test dependency out of published manifest
  crates/reinhardt-auth/Cargo.toml
  instructions/RELEASE_PROCESS.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): clarify the SPA navigation E2E suite
  crates/reinhardt-pages/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(query): list all optional feature flags
  crates/reinhardt-query/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs: remove stale AWS Smithy pin guidance
  README.md
Due: none

docs(dentdelion): correct capability implementation status
  crates/reinhardt-dentdelion/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(tasks): document Kafka backend limitations
  crates/reinhardt-tasks/README.md
  crates/reinhardt-tasks/src/backends/kafka.rs
  website/content/docs/feature-flags.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(query): correct database DDL backend support
  crates/reinhardt-query/README.md
  crates/reinhardt-query/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(utils): fix security logging setup example
  crates/reinhardt-utils/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(auth): clarify OAuth2 helper scope and validation
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(utils): fix version marker and native facade note
  crates/reinhardt-utils/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(auth): complete OAuth setup and token docs
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/oauth2.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(tasks): document Kafka configuration dependencies
  crates/reinhardt-tasks/README.md
  website/content/docs/feature-flags.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(auth): align OAuth2 module catalog wording
  crates/reinhardt-auth/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(tasks): document Kafka delivery semantics
  crates/reinhardt-tasks/README.md
  crates/reinhardt-tasks/src/lib.rs
  website/content/docs/feature-flags.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(auth): repair alpha.17 publication source
  crates/reinhardt-auth/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration
