Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(ci): prevent auto-fix patch policy overwrite
  .github/workflows/ci.yml
  docs/rfc/2026-06-30-ci-style-auto-fix-design.md
  scripts/tests/test-ci-auto-fix-style-target.sh
Due: none

fix(orm): bind explicit queryset parameters
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(auth): deny bare legacy extension authentication
  crates/reinhardt-http/src/auth_state.rs
  crates/reinhardt-views/src/viewsets/handler/model_view_set_handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework

test(pages): clarify validation conversion phases
  .superpowers/sdd/task-3-report.md
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): route structured server errors to form fields
  .superpowers/sdd/task-4-report.md
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): allow syn major-version duplicates
  deny.toml
Due: none

fix(pages): resolve serde-renamed client form errors
  .superpowers/sdd/task-4-report.md
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): preserve tracked release-plz inputs
  .github/workflows/release-plz.yml
  .gitignore
  examples/.gitignore
Due: none

style(examples): format tutorial poll services
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server.rs
Due: none

feat(pages): add typed server function submits
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/server_fn_error_submit.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(pages): migrate model-set error adapters
  crates/reinhardt-admin/src/server/error.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/model_set/error.rs
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
  crates/reinhardt-pages/tests/server_fnset_error_tests.rs
  crates/reinhardt-test/src/msw/handler.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server_error.rs
  examples/examples-tutorial-basis/tests/integration.rs
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
  examples/examples-tutorial-basis/tests/wasm/users_mock_test.rs
  tests/integration/tests/pages/api_model_crud_integration.rs
  tests/integration/tests/pages/server_fn_execution_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): scope error-kind imports to tests
  crates/reinhardt-admin/src/server/error.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server_error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add headless async UI primitives
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/ui.rs
  crates/reinhardt-pages/src/ui/action_button.rs
  crates/reinhardt-pages/src/ui/action_result_panel.rs
  crates/reinhardt-pages/src/ui/resource_panel.rs
  crates/reinhardt-pages/src/ui/state.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover headless UI primitives
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/tests/ui_primitives_integration.rs
  crates/reinhardt-pages/tests/wasm/ui_primitives_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document headless UI primitives
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document structured server function errors
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/server_fn_macro.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  docs/rfc/2026-07-02-client-form-bindings-design.md
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  instructions/MIGRATION_0.4.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): align client form metadata contract
  docs/rfc/2026-07-02-client-form-bindings-design.md
Due: none

fix(pages): satisfy clippy in model error sanitizer
  crates/reinhardt-pages/src/server_fn/model_set/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve structured pre-validation errors
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/server_fn_macro.md
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/server_fn/structured_error_public_api.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore(docs): untrack local superpowers specs
  .gitignore
  docs/superpowers/specs/2026-07-01-typed-generated-column-expressions-design.md
  docs/superpowers/specs/2026-07-04-native-component-test-harness-design.md
  docs/superpowers/specs/2026-07-05-issue-5575-arena-copy-handles-design.md
Due: none

feat(manouche): lower page templates for hot reload
  crates/reinhardt-core/CHANGELOG.md
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/hot_reload.rs
  crates/reinhardt-manouche/CHANGELOG.md
  crates/reinhardt-manouche/src/hot_reload.rs
  crates/reinhardt-manouche/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(pages): apply transactional template hot patches
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/Cargo.toml
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/hot_reload.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hmr.rs
  crates/reinhardt-pages/src/hmr/bridge.rs
  crates/reinhardt-pages/src/hmr/client_script.rs
  crates/reinhardt-pages/src/hmr/diagnostics.rs
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-pages/src/hmr/overlay.rs
  crates/reinhardt-pages/src/hmr/patch_transaction.rs
  crates/reinhardt-pages/src/hmr/protocol.rs
  crates/reinhardt-pages/src/hmr/server.rs
  crates/reinhardt-pages/src/hmr/template_instance.rs
  crates/reinhardt-pages/src/hmr/template_registry.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/ssr/control_binding.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/hot_patch.rs
  crates/reinhardt-pages/tests/hmr_e2e_tests.rs
  crates/reinhardt-pages/tests/hmr_integration_tests.rs
  crates/reinhardt-pages/tests/template_hot_reload_fixture.rs
  crates/reinhardt-pages/tests/template_hot_reload_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(commands): dispatch static page edits as HMR patches
  crates/reinhardt-commands/CHANGELOG.md
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/examples/page_hot_patch_bench.rs
  crates/reinhardt-commands/examples/page_hot_patch_probe.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/page_hot_patch.rs
  crates/reinhardt-commands/src/template_classifier.rs
  crates/reinhardt-commands/src/template_diagnostics.rs
  crates/reinhardt-commands/src/template_hot_reload.rs
  crates/reinhardt-commands/src/template_manifest.rs
  crates/reinhardt-commands/src/template_state.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
  crates/reinhardt-commands/tests/template_classifier.rs
  crates/reinhardt-commands/tests/template_descriptor_identity.rs
  crates/reinhardt-commands/tests/template_hot_reload.rs
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
  docs/build-perf/issue-5581-template-hot-patch-results.md
  instructions/BUILD_PERFORMANCE.md
  scripts/bench-build.sh
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): allow syn major-version duplicates on develop
  deny.toml
Due: none

fix(pages): restore WASM hydration compilation
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/server_fn/model_set/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(orm): repair transaction documentation
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/transaction.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): preserve typed codec error sources
  crates/reinhardt-core/src/exception.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM

test(migrations): align physical table fixtures
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(orm): align FieldRef filter fixture with typed codecs
  crates/reinhardt-db/src/orm/expressions.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(macros): align generated column fixture
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): derive style scope test snapshots
  crates/reinhardt-pages/tests/style_macro_runtime_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(manouche): clamp representative style fixture width
  crates/reinhardt-manouche/tests/fixtures/style/representative.css
  crates/reinhardt-manouche/tests/style_pipeline.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): ignore stale reactive subscribers
  crates/reinhardt-core/src/reactive/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(orm): decode string decimals as floating values
  crates/reinhardt-db/src/orm/json.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(examples): format basis tutorial sources
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server.rs
Due: none

test(migrations): cover mysql enum check expressions
  tests/integration/tests/migrations/model_enum_migration_integration.rs
Due: none

test(macros): update model UI fixtures
  crates/reinhardt-core/macros/tests/ui/model/pass/fixture_projection_preserves_deserializer.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/foreign_key_string_pk_accessor.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/native_model_without_serde.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): retain document head hooks during hydration
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): gate HMR fixture test target
  crates/reinhardt-pages/tests/template_hot_reload_fixture.rs
Due: unit, intra-crate-integration, cross-crate-integration

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
