Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

feat(router): add on_navigate explicit subscription API as escape hatch
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): reproduce Issue #4088 navigation flow with diagnostic asserts
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): eliminate two-phase mount in ClientLauncher to fix SPA navigation
  crates/reinhardt-pages/src/app.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): add e2e_cdp regression test for SPA link interceptor navigation
  .github/workflows/wasm-check.yml
  Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/.gitignore
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/Cargo.toml
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/index.html
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/lib.rs
  crates/reinhardt-pages/tests/integration/spa_navigation_e2e_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document #4088 fix and on_navigate API in CHANGELOGs
  crates/reinhardt-core/CHANGELOG.md
  crates/reinhardt-pages/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

style(conf): apply rustfmt to source_priority.rs to restore fmt-check
  crates/reinhardt-conf/tests/source_priority.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): propagate initial mount error and harden e2e test setup
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/tests/integration/spa_navigation_e2e_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): make host.docker.internal resolvable in cdp_browser fixture
  crates/reinhardt-test/src/fixtures/wasm/e2e_cdp.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): dump page state on e2e wait_for failure for diagnosis
  crates/reinhardt-pages/tests/integration/spa_navigation_e2e_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(test): document Docker Engine 20.10 requirement for host-gateway
  crates/reinhardt-test/src/fixtures/wasm/e2e_cdp.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(integration): add client-router feature passthrough
  tests/integration/Cargo.toml
Due: none

test(integration): cover #[routes] client URL accessors under client-router
  tests/integration/tests/client_router_typed_url_integration.rs
Due: none

fix(pages): extract notify_observers helper from Router::navigate
  crates/reinhardt-pages/src/router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): invoke notify_observers from popstate listener
  crates/reinhardt-pages/src/router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover popstate-driven on_navigate dispatch
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): note that on_navigate fires on popstate as well
  crates/reinhardt-pages/src/router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): bind spa e2e test server to 0.0.0.0 for container access
  crates/reinhardt-pages/tests/integration/spa_navigation_e2e_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): cover back-to-back navigation regression class
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(pages): extract render_and_mount helper from launcher Effect
  crates/reinhardt-pages/src/app.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(pages)!: switch ClientLauncher render to Router::on_navigate
  crates/reinhardt-pages/src/app.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover on_path_pattern param diff detection
  crates/reinhardt-pages/tests/router_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(pages)!: switch on_path subscriptions to Router::on_navigate
  crates/reinhardt-pages/src/app.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): rewrite launch() pipeline doc for on_navigate-based design
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): silence clippy violations in two test targets
  crates/reinhardt-pages/tests/router_integration_tests.rs
  crates/reinhardt-pages/tests/static_resolver_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): restore on_path initial-route delivery in launcher
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/tests/router_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): drop stale path-signal subscriber diagnostic
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

deprecated(conf): mark JsonFileSource and auto_source as deprecated
  crates/reinhardt-conf/CHANGELOG.md
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/tests/file_sources.rs
  crates/reinhardt-conf/tests/source_priority.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(conf): tighten JsonFileSource deprecation per Copilot review
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/tests/file_sources.rs
  crates/reinhardt-conf/tests/source_priority.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

ci(workflows): bump sccache/setup-chrome/sticky-pr-comment to node24 builds
  .github/actions/setup-rust/action.yml
  .github/workflows/deploy-website.yml
  .github/workflows/examples-test.yml
  .github/workflows/wasm-check.yml
Due: none

ci(workflows): opt in to FORCE_JAVASCRIPT_ACTIONS_TO_NODE24 for still-node20 actions
  .github/workflows/build-runner-ami.yml
  .github/workflows/check.yml
  .github/workflows/clippy.yml
  .github/workflows/coverage.yml
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/cross-platform-check.yml
  .github/workflows/deploy-website.yml
  .github/workflows/doc-test.yml
  .github/workflows/docs-rs-check.yml
  .github/workflows/examples-test.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/msrv-test.yml
  .github/workflows/mutation-test.yml
  .github/workflows/publish-check.yml
  .github/workflows/reinhardt-feature-check.yml
  .github/workflows/release-plz-dry-run.yml
  .github/workflows/release-plz.yml
  .github/workflows/semver-check.yml
  .github/workflows/todo-check.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-test.yml
Due: none

feat(router): add hidden diagnostic counters for navigation observers
  crates/reinhardt-pages/src/router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add hidden render-count counter on ClientLauncher
  crates/reinhardt-pages/src/app.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore(pages): add throwaway tracing for navigation observer diagnosis
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

Revert "chore(pages): add throwaway tracing for navigation observer diagnosis"
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): add Tier 2 sidebar-signal fixture and wasm-bindgen-test
  Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_sidebar_signal_app/.gitignore
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_sidebar_signal_app/Cargo.toml
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_sidebar_signal_app/index.html
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_sidebar_signal_app/src/lib.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): add Tier 3 full-layout fixture, wasm-bindgen-test, e2e_cdp test
  Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_full_layout_app/.gitignore
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_full_layout_app/Cargo.toml
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_full_layout_app/index.html
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_full_layout_app/src/lib.rs
  crates/reinhardt-pages/tests/integration/spa_navigation_full_layout_e2e_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_tier3_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): add CHANGELOG entry for hidden diagnostic counters
  crates/reinhardt-pages/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

docs: redirect SQL construction guidance to reinhardt-query
  CLAUDE.md
  instructions/GITHUB_INTERACTION.md
  instructions/ISSUE_GUIDELINES.md
Due: none

docs(pr-policy): allow autonomous draft pr conversion when readiness criteria met
  CLAUDE.md
  instructions/PR_GUIDELINE.md
Due: none

docs: make github mcp the default and gh cli the fallback
  CLAUDE.md
Due: none
