Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

feat(pages): add owned WebSocket event subscriptions
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket/subscription.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): decode typed WebSocket events within owner scopes
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket/subscription.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): expose query invalidation state for realtime reconciliation
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/examples/realtime_state.rs
  crates/reinhardt-pages/examples/realtime_state/status.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/query/client.rs
  crates/reinhardt-pages/src/reactive/query/hook.rs
  crates/reinhardt-pages/src/reactive/query/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(commands): constrain shell parser dependencies to compatible versions
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/README.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): add bounded history and live log reconciliation example
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/examples/realtime_state.rs
  crates/reinhardt-pages/examples/realtime_state/logs.rs
  crates/reinhardt-pages/examples/realtime_state/tests.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style(pages): format realtime integration
  crates/reinhardt-pages/examples/realtime_state.rs
  crates/reinhardt-pages/examples/realtime_state/logs.rs
  crates/reinhardt-pages/examples/realtime_state/status.rs
  crates/reinhardt-pages/examples/realtime_state/tests.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket/subscription.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(agents): gate external publication by destination policy
  AGENTS.md
  CLAUDE.md
  instructions/COMMIT_GUIDELINE.md
  instructions/GITHUB_INTERACTION.md
  instructions/ISSUE_GUIDELINES.md
  instructions/QUICK_REFERENCE.md
  instructions/UPSTREAM_ISSUE_REPORTING.md
Due: none

feat(core): add generation-bound static asset url snapshots
  crates/reinhardt-core/src/types.rs
  crates/reinhardt-core/src/types/static_assets.rs
  crates/reinhardt-core/tests/static_asset_urls.rs
  crates/reinhardt-pages/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(staticfiles): define unified manifest and classification contract
  crates/reinhardt-utils/src/staticfiles.rs
  crates/reinhardt-utils/src/staticfiles/publication.rs
  crates/reinhardt-utils/src/staticfiles/publication/classify.rs
  crates/reinhardt-utils/src/staticfiles/publication/manifest.rs
  crates/reinhardt-utils/src/staticfiles/publication/model.rs
  crates/reinhardt-utils/src/staticfiles/storage.rs
  crates/reinhardt-utils/src/staticfiles/template_integration.rs
  crates/reinhardt-utils/tests/static_publication_classification.rs
  crates/reinhardt-utils/tests/static_publication_manifest.rs
  website/content/docs/cookbook/static-files.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): require concrete manifest media types
  crates/reinhardt-utils/src/staticfiles/publication/manifest.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(staticfiles): prepare deterministic asset generations
  crates/reinhardt-utils/Cargo.toml
  crates/reinhardt-utils/src/staticfiles/publication.rs
  crates/reinhardt-utils/src/staticfiles/publication/inventory.rs
  crates/reinhardt-utils/src/staticfiles/publication/manifest.rs
  crates/reinhardt-utils/src/staticfiles/publication/pipeline.rs
  crates/reinhardt-utils/src/staticfiles/publication/representations.rs
  crates/reinhardt-utils/src/staticfiles/publication/representations/maps.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/css.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/html.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/javascript.rs
  crates/reinhardt-utils/tests/static_publication_pipeline.rs
  crates/reinhardt-utils/tests/static_publication_references.rs
  crates/reinhardt-utils/tests/static_publication_representations.rs
  website/content/docs/cookbook/static-files.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(staticfiles): atomically activate verified asset generations
  crates/reinhardt-utils/src/staticfiles/publication.rs
  crates/reinhardt-utils/src/staticfiles/publication/publisher.rs
  crates/reinhardt-utils/src/staticfiles/publication/snapshot.rs
  crates/reinhardt-utils/tests/static_publication_atomicity.rs
  crates/reinhardt-utils/tests/static_publication_snapshot.rs
  website/content/docs/cookbook/static-files.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(commands): add unified buildstatic packaging
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/src/buildstatic.rs
  crates/reinhardt-commands/src/buildstatic/inputs.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/static_asset_settings.rs
  crates/reinhardt-commands/src/wasm_builder.rs
  crates/reinhardt-commands/tests/buildstatic_inputs_tests.rs
  crates/reinhardt-commands/tests/buildstatic_tests.rs
  crates/reinhardt-commands/tests/static_asset_settings_tests.rs
  crates/reinhardt-utils/src/staticfiles/publication.rs
  crates/reinhardt-utils/src/staticfiles/publication/pipeline.rs
  crates/reinhardt-utils/src/staticfiles/publication/representations/maps.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite.rs
  crates/reinhardt-utils/src/staticfiles/storage.rs
  crates/reinhardt-utils/tests/static_publication_references.rs
  website/content/docs/cookbook/static-files.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(staticfiles): unify pages and collected asset publication
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-admin/tests/unified_static_publication_e2e.rs
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/buildstatic.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-http/Cargo.toml
  crates/reinhardt-http/src/response.rs
  crates/reinhardt-http/src/response/file_body.rs
  crates/reinhardt-http/tests/file_response_body_tests.rs
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-middleware/src/brotli.rs
  crates/reinhardt-middleware/src/cache.rs
  crates/reinhardt-middleware/src/conditional.rs
  crates/reinhardt-middleware/src/etag.rs
  crates/reinhardt-middleware/src/gzip.rs
  crates/reinhardt-middleware/tests/file_response_middleware.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/static_resolver.rs
  crates/reinhardt-server/Cargo.toml
  crates/reinhardt-server/src/server.rs
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-server/src/server/http2.rs
  crates/reinhardt-server/src/server/response_body.rs
  crates/reinhardt-utils/src/staticfiles/publication.rs
  crates/reinhardt-utils/src/staticfiles/publication/document.rs
  crates/reinhardt-utils/src/staticfiles/publication/manifest.rs
  crates/reinhardt-utils/src/staticfiles/publication/model.rs
  crates/reinhardt-utils/src/staticfiles/publication/pipeline.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/html.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/html/document.rs
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/src/staticfiles/template_integration.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Server & Routing, Frontend & Pages, Utilities & Infrastructure

fix(ci): fetch WASM dependencies before offline integration fixtures
  .github/workflows/intra-crate-integration-test.yml
Due: none

docs: add release announcement(s)
  announcements/v0.3.19.md
Due: none

fix(pages): separate hydrated freshness from query invalidation
  crates/reinhardt-pages/src/reactive/query/client.rs
  crates/reinhardt-pages/src/reactive/query/hook.rs
  crates/reinhardt-pages/src/reactive/query/tests.rs
  instructions/API_PARITY.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): execute websocket decoders in their owner scope
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket/subscription.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): compile typed realtime subscription examples
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/examples/realtime_state.rs
  crates/reinhardt-pages/examples/realtime_state/tests.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(forms): use shared fixtures for validated patch integration
  tests/integration/tests/model_form_patch.rs
Due: none

fix(pages): retain invalidation through failures and ssr reads
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/reactive/query/client.rs
  crates/reinhardt-pages/src/reactive/query/hook.rs
  crates/reinhardt-pages/src/reactive/query/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve websocket payload ownership and parity contracts
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket/subscription.rs
  instructions/API_PARITY.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(forms): enforce patch validation contracts
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/src/model_derive/form_patch.rs
  crates/reinhardt-core/src/model_form/patch.rs
  crates/reinhardt-pages/docs/model_forms.md
  crates/reinhardt-pages/tests/fixtures/facade_model_form_wasm/src/lib.rs
  instructions/API_PARITY.md
  tests/integration/tests/model_form_patch.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(ci): resolve WASM fixture dependencies without a tracked lockfile
  .github/workflows/intra-crate-integration-test.yml
Due: none

fix(deps): cover rand 0.10 patch updates in duplicate policy
  deny.toml
Due: none

docs(commands): explain manifest selection and publication validation
  crates/reinhardt-commands/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(staticfiles): prioritize static mounts over passthrough routes
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): reject templates that reverse stylesheet order
  crates/reinhardt-utils/src/staticfiles/publication/manifest.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(middleware): preserve existing representation etags
  crates/reinhardt-middleware/src/etag.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(testkit): consume owned file response bodies in APIClient
  crates/reinhardt-testkit/src/client.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(staticfiles): verify retained files before publication activation
  crates/reinhardt-utils/src/staticfiles/publication/publisher.rs
  crates/reinhardt-utils/tests/static_publication_atomicity.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): honor selected and required static asset generations
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/runserver_assets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): stream owned file ranges in standalone runserver
  crates/reinhardt-commands/src/bin/runserver.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): preserve explicit document-relative runtime imports
  crates/reinhardt-admin/assets/wasm-init.js
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/javascript.rs
  crates/reinhardt-utils/tests/static_publication_references.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(forms): reject non-nullable null patch values before cleaning
  crates/reinhardt-core/macros/src/model_derive/form_patch.rs
  crates/reinhardt-core/macros/tests/fixtures/model_wasm_parity/src/lib.rs
  crates/reinhardt-core/macros/tests/fixtures/model_wasm_parity/src/patch_validation.rs
  crates/reinhardt-core/macros/tests/model_wasm_parity.rs
  crates/reinhardt-forms/README.md
Due: unit, intra-crate-integration, cross-crate-integration

test(commands): account for registered assets in rebuild checks
  crates/reinhardt-commands/tests/buildstatic_inputs_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(middleware): log owned file response lengths
  crates/reinhardt-middleware/src/logging.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
