Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(auth): handle password policy fallback errors
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/basic.rs
  crates/reinhardt-auth/src/core/hasher.rs
  crates/reinhardt-auth/tests/password_hash_policy.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(pages): harden reactive i18n state
  crates/reinhardt-i18n/src/lib.rs
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/i18n.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/i18n_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

fix(auth): prefer identifier-less policy hasher
  crates/reinhardt-auth/src/core/hasher.rs
  crates/reinhardt-auth/tests/password_hash_policy.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(auth): recheck basic auth current hash
  crates/reinhardt-auth/src/basic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(db): stabilize generated column migration tokens
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): complete native component harness review
  benchmarks/frontend/runner/servers.ts
  crates/reinhardt-core/src/lib.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): complete ssr suspense resource replay
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/ssr_resource_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): normalize gb freephone numbers
  crates/reinhardt-db/src/orm/type_decorator.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): tighten client form serde checks
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/duplicate_serialized_value.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/duplicate_serialized_value.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_request_serialize.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_request_serialize.stderr
  crates/reinhardt-pages/tests/ui/client_form/pass/basic.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): preserve generated-column replacement metadata
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/migration_namer.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
  crates/reinhardt-db/src/migrations/squash.rs
  crates/reinhardt-db/src/migrations/state_loader.rs
  crates/reinhardt-db/src/migrations/zero_downtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): normalize phone dialing variants
  crates/reinhardt-db/src/orm/type_decorator.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): tighten client form review bounds
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/serde_renames.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_error_conversion.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_error_conversion.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_error_display.stderr
  crates/reinhardt-pages/tests/ui/server_fn/response_metadata.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): drain streamed ssr resource replays
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(auth): preserve legacy hasher order
  crates/reinhardt-auth/src/core/hasher.rs
  crates/reinhardt-auth/tests/password_hash_policy.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(pages): harden native component harness queries
  crates/reinhardt-pages/src/testing/component/role.rs
  crates/reinhardt-pages/src/testing/component/scheduler.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): preserve generated column dependency repairs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-query/src/types/schema_expr.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): tighten client form generated contracts
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/ignored_container_options.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_request_signature.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_request_signature.stderr
  crates/reinhardt-pages/tests/ui/client_form/pass/public_values_fields.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): stabilize suspense resource replay
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/component/suspense.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): harden native component harness semantics
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/query.rs
  crates/reinhardt-pages/src/testing/component/role.rs
  crates/reinhardt-pages/src/testing/component/scheduler.rs
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): simplify SSR boundary replay tracking
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(i18n): keep utility deps out of wasm pages
  crates/reinhardt-i18n/Cargo.toml
  crates/reinhardt-i18n/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): collapse client form default check
  crates/reinhardt-pages/macros/src/client_form_choices.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): simplify binary SQL type branch
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): address generated column review feedback
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(query): design typed generated column expressions
  docs/superpowers/specs/2026-07-01-typed-generated-column-expressions-design.md
Due: none

fix(query,migrations): address generated column review feedback
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/types/ddl.rs
  docs/superpowers/specs/2026-07-01-typed-generated-column-expressions-design.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): handle generated column followups
  README.md
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): rerender completed native test work
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): document native component tests
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/README.md
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): clean all-features clippy warnings
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/hooks/sync.rs
  crates/reinhardt-pages/tests/component_system_integration.rs
  crates/reinhardt-pages/tests/context_api_integration.rs
  crates/reinhardt-pages/tests/hooks_integration.rs
  crates/reinhardt-pages/tests/hydration_execution_integration.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/static_asset_decision_table_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): scope native component harness state
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/scheduler.rs
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/src/testing/component/server_fn_mock.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add native component testing harness
  Cargo.toml
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/platform/native.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/testing.rs
  crates/reinhardt-pages/src/testing/component.rs
  crates/reinhardt-pages/src/testing/component/error.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/pretty.rs
  crates/reinhardt-pages/src/testing/component/query.rs
  crates/reinhardt-pages/src/testing/component/role.rs
  crates/reinhardt-pages/src/testing/component/scheduler.rs
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/src/testing/component/server_fn_mock.rs
  crates/reinhardt-pages/src/testing/component/tests.rs
  crates/reinhardt-pages/src/testing/component/text_match.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/component_testing.rs
  crates/reinhardt-pages/tests/snapshots/component_testing__pretty_dom_snapshot_is_stable.snap
  src/test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

docs(pages): design native component test harness
  docs/superpowers/specs/2026-07-04-native-component-test-harness-design.md
Due: none
