Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

test(commands): cover Cargo.lock detection in source_roots and watcher filter
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/source_roots.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(commands): update runserver_hot_reload fixtures for SourceRoots.lockfile
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands): document Cargo.lock subscription in watcher rustdoc
  crates/reinhardt-commands/src/debounced_watcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(routing): deduplicate client_router::history module
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/router/history.rs
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/history.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

fix(routing): gate wasm-only history fns to wasm targets
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/history.rs
  crates/reinhardt-urls/src/routers/client_router/history.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

test(routing): add direct symptom-shape test for history.state regression
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): add `pages/nav-diag-dom` opt-in DOM navigation diagnostic
  Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/logging.rs
  crates/reinhardt-pages/src/router/core.rs
  crates/reinhardt-pages/tests/wasm/nav_diag_dom_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(routing): add ABI pin guard for serde-wasm-bindgen → push_state round-trip
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/tests/wasm/wasm_bindgen_abi_pin_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(routing): address Copilot review on history_state_shape_test
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): address Copilot review on nav_diag_dom_test
  crates/reinhardt-pages/tests/wasm/nav_diag_dom_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): include reinhardt-web in workspace package step
  .github/workflows/publish-check.yml
Due: none

test(pages): add link-click reproducer to nav_diag_dom suite
  crates/reinhardt-pages/tests/wasm/nav_diag_dom_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(conf)!: enable TomlFileSource interpolation by default
  crates/reinhardt-conf/src/settings/interpolation.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/tests/interpolation.rs
  crates/reinhardt-conf/tests/source_priority.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(conf): document TomlFileSource interpolation default flip
  crates/reinhardt-conf/CHANGELOG.md
  crates/reinhardt-conf/README.md
Due: unit, intra-crate-integration, cross-crate-integration

refactor(conf): widen KeyPath visibility to pub(super)
  crates/reinhardt-conf/src/settings/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

build(conf): make base64 a required dep
  crates/reinhardt-conf/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(conf): add typed_deserializer module skeleton
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(pages): isolate link-click reproducer from sibling wasm tests
  crates/reinhardt-pages/tests/wasm/nav_diag_dom_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(conf): coerce String to bool/int at deserialize time
  crates/reinhardt-conf/src/settings/interpolation.rs
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): coerce String to float/char at deserialize time
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): coerce Option<T> with empty-string-as-None policy
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): coerce String to bytes via base64 STANDARD
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): reject String->struct/tuple coercion explicitly
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): coerce String to Vec<T> via JSON parse + recursive SeqAccess
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): coerce String to Map<K, V> via JSON parse
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(conf): wire TypedSettingsDeserializer into SettingsBuilder
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(conf): hot-reload rejects coercion-breaking TOML edits
  crates/reinhardt-conf/tests/typed_coercion.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(conf): document typed TOML interpolation
  crates/reinhardt-conf/CHANGELOG.md
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/settings/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(conf): clarify CoercionError messaging for non-string inputs
  crates/reinhardt-conf/src/settings/typed_deserializer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(commands): support REINHARDT_SUPERUSER_PASSWORD env var for noninteractive createsuperuser
  crates/reinhardt-commands/CHANGELOG.md
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/createsuperuser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(urls): add reactive navigation observation to ClientRouter
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(commands): address Copilot feedback on createsuperuser tests
  crates/reinhardt-commands/src/createsuperuser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(urls): add SPA navigation observer regression tests
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-urls/tests/wasm/client_router_listener_panic_isolation_test.rs
  crates/reinhardt-urls/tests/wasm/client_router_observer_dispatch_test.rs
  crates/reinhardt-urls/tests/wasm/client_router_subscription_drop_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): add ClientLauncher::router_client for ClientRouter routes
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/app/spa_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): opt DATABASE_URL settings loader explicitly in to TOML interpolation
  crates/reinhardt-db/src/backends/connection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): opt DATABASE_URL validation helper explicitly in to TOML interpolation
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(conf): regression coverage for nested ${VAR:-default} via SettingsBuilder
  crates/reinhardt-conf/tests/interpolation.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): add wasm regression test for ClientLauncher::router_client
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/tests/wasm/client_launcher_router_client_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): generate UUID primary-key setter in init_superuser to avoid nil UUID write
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(integration): assert SuperuserInit::init_superuser produces non-nil UUID
  tests/integration/tests/auth.rs
  tests/integration/tests/auth/superuser_init_integration.rs
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
