Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(query): respect backend syntax during parameter inlining
  crates/reinhardt-query/src/query/traits.rs
  crates/reinhardt-query/tests/inline_params.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(urls): classify rejected path captures as not found
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/server_router/types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): validate route compilation in descendant routers
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(query): preserve postgres backtick operators
  crates/reinhardt-query/src/query/traits.rs
  crates/reinhardt-query/tests/inline_params.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(urls): reject windows drive prefixes in typed paths
  crates/reinhardt-urls/src/routers/pattern/tests.rs
  crates/reinhardt-urls/src/routers/pattern/validation.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): reverse nested path converter values safely
  crates/reinhardt-urls/src/routers/pattern/path_pattern.rs
  crates/reinhardt-urls/src/routers/pattern/tests.rs
  crates/reinhardt-urls/src/routers/pattern/validation.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): reject mixed path separator traversal
  crates/reinhardt-urls/src/routers/pattern/tests.rs
  crates/reinhardt-urls/src/routers/pattern/validation.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): reject encoded windows drive prefixes
  crates/reinhardt-urls/src/routers/pattern/tests.rs
  crates/reinhardt-urls/src/routers/pattern/validation.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): retain route compilation failures
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

docs: add release announcement(s)
  announcements/v0.4.0-alpha.18.md
Due: none

test(router): fetch standalone parity fixture dependencies
  tests/unified_router_target_parity.rs
Due: none

fix(query): preserve raw PostgreSQL bind markers when inlining
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sql_writer.rs
  crates/reinhardt-query/src/query/alter_table.rs
  crates/reinhardt-query/src/query/create_index.rs
  crates/reinhardt-query/src/query/create_table.rs
  crates/reinhardt-query/src/query/create_trigger.rs
  crates/reinhardt-query/src/query/create_view.rs
  crates/reinhardt-query/src/query/delete.rs
  crates/reinhardt-query/src/query/insert.rs
  crates/reinhardt-query/src/query/materialized_view/create_materialized_view.rs
  crates/reinhardt-query/src/query/select.rs
  crates/reinhardt-query/src/query/traits.rs
  crates/reinhardt-query/src/query/update.rs
  crates/reinhardt-query/tests/inline_params.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix!: preserve i32 parameter types in native database execution
  crates/reinhardt-db/CHANGELOG.md
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query/aggregate.rs
  crates/reinhardt-db/src/orm/upsert/execution.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
  tests/integration/tests/query_integer_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(query): render LIKE escape literals per backend
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/expr/expr_trait.rs
  crates/reinhardt-query/src/expr/simple_expr.rs
  crates/reinhardt-query/src/expr/tests.rs
  crates/reinhardt-query/tests/inline_params.rs
  crates/reinhardt-rest/tests/filters_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(commands): qualify the runserver command link
  crates/reinhardt-commands/src/runserver_hooks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(db): align executor assertions with i32 binding
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/server/relation.rs
  crates/reinhardt-db/tests/pgvector_feature_boundary.rs
  crates/reinhardt-db/tests/transaction_executor_orm.rs
  crates/reinhardt-db/tests/upsert_builders.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(commands): qualify the runserver hook command link
  crates/reinhardt-commands/src/runserver_hooks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(admin): remove redundant authentication state link target
  crates/reinhardt-admin/src/server/cookie_auth.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: correct command and admin rustdoc links
  crates/reinhardt-admin/src/server/cookie_auth.rs
  crates/reinhardt-commands/src/runserver_hooks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

docs(admin): qualify the authentication state link
  crates/reinhardt-admin/src/server/cookie_auth.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): qualify reactive type links in ui module
  crates/reinhardt-pages/src/ui.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): accept literal string conversions
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/source/filesystem.rs
  crates/reinhardt-db/tests/migration_literal_strings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): distinguish expression and partial index names
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/tests/migration_index_names.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(query): omit empty conflict targets
  crates/reinhardt-query/CHANGELOG.md
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/query/on_conflict.rs
  crates/reinhardt-query/tests/on_conflict.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs!: document ORM text primary-key implementation conflicts
  crates/reinhardt-db/CHANGELOG.md
  crates/reinhardt-db/src/orm/into_primary_key.rs
  crates/reinhardt-db/tests/into_primary_key_source_compat.rs
  crates/reinhardt-db/tests/ui/into_primary_key_text_impl_conflicts.rs
  crates/reinhardt-db/tests/ui/into_primary_key_text_impl_conflicts.stderr
  docs/migration/0.4.0-string-primary-key-conversions.md
  instructions/MIGRATION_0.4.md
  tests/integration/tests/orm_string_primary_key.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(di): preserve provider function braces in cargo fix
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/macros/src/lib.rs
  crates/reinhardt-di/tests/fixtures/injectable_body/src/lib.rs
  crates/reinhardt-di/tests/injectable_body_lint_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(query): preserve PostgreSQL expression grouping
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/tests/expression_grouping.rs
  crates/reinhardt-query/tests/expression_grouping_postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix!(migrations): preserve declared partial index names
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-db/src/migrations/repository/filesystem.rs
  crates/reinhardt-db/src/migrations/sql_plan.rs
  crates/reinhardt-db/tests/migration_index_names.rs
  crates/reinhardt-db/tests/migration_operation_source_compat.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): align negated filter SQL expectations
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): align migration checks with current index contracts
  crates/reinhardt-db/tests/pgvector_feature_boundary.rs
  tests/integration/tests/migrations/db_specific_optimizations.rs
Due: unit, intra-crate-integration, cross-crate-integration

test: restore default-feature unit test compilation
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/orm/manager.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

test(db): consolidate repeated ORM contract cases
  crates/reinhardt-db/src/orm/constraints.rs
  crates/reinhardt-db/src/orm/expressions.rs
  crates/reinhardt-db/src/orm/relationship.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(commands): retain environment restoration at its owner
  crates/reinhardt-commands/tests/admin_scripts_additional_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): bind relation aliases in executed select-related queries
  crates/reinhardt-db/src/orm/query.rs
  tests/integration/tests/orm/loading_strategy_integration.rs
  tests/integration/tests/viewsets/filtering_viewsets_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): initialize migration history for fresh fake runs
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/commands/fixtures.rs
  tests/integration/tests/commands/migrate_edge_cases.rs
  tests/integration/tests/commands/migrate_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(admin): observe emitted CRUD audit records
  crates/reinhardt-admin/src/server/audit.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
