Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

feat(testkit): add DiOverrideBuilder + with_di_overrides! re-export
  crates/reinhardt-testkit-macros/Cargo.toml
  crates/reinhardt-testkit-macros/tests/ui/pass_factory.rs
  crates/reinhardt-testkit-macros/tests/ui/pass_singleton.rs
  crates/reinhardt-testkit/CHANGELOG.md
  crates/reinhardt-testkit/Cargo.toml
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/di_overrides.rs
  crates/reinhardt-testkit/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(testkit-macros): use path-only dev-dep on reinhardt-testkit (KI-2)
  crates/reinhardt-testkit-macros/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

docs(testing): document DI mock fixtures and override patterns
  crates/reinhardt-testkit/README.md
  instructions/TESTING_STANDARDS.md
Due: unit, intra-crate-integration, cross-crate-integration

style(test/msw): apply rustfmt to interceptor.rs
  crates/reinhardt-test/src/msw/interceptor.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore: cargo fmt after di-mock-fixtures
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/tests/register_override.rs
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/di_overrides.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

style(test/msw): apply rustfmt to interceptor.rs (post-#4288 follow-up)
  crates/reinhardt-test/src/msw/interceptor.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(testkit): make request_value seed the request scope and document the round-trip
  crates/reinhardt-testkit/src/fixtures/di_overrides.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: tighten with_di_overrides! grammar comment and TI-8 serialization rule
  crates/reinhardt-testkit-macros/src/with_di_overrides.rs
  instructions/TESTING_STANDARDS.md
Due: unit, intra-crate-integration, cross-crate-integration

refactor: post-simplify-review cleanups for DI mock fixtures
  crates/reinhardt-di/src/registry.rs
  crates/reinhardt-di/tests/register_override.rs
  crates/reinhardt-testkit-macros/src/with_di_overrides.rs
  crates/reinhardt-testkit/src/fixtures/di_overrides.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(admin): use fully-qualified type paths in server_fn signatures
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/export.rs
  crates/reinhardt-admin/src/server/import.rs
  crates/reinhardt-admin/src/server/list.rs
  crates/reinhardt-admin/src/server/update.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style(di): apply rustfmt to register_override.rs
  crates/reinhardt-di/tests/register_override.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(testkit): extract RequestSeedFn alias to satisfy clippy::type_complexity
  crates/reinhardt-testkit/src/fixtures/di_overrides.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples-tutorial-basis): rustfmt drift on polls components and mock tests
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
Due: none

fix(commands/templates): switch settings scaffold to build_composed (Deep merge)
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands/templates): document TOML interpolation and server_fn cross-target stub
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands/templates): surface ClientLauncher lifecycle hooks and Depends/guard DI patterns
  crates/reinhardt-commands/templates/app_restful_template/views.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/lib.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(rest): add Ideal implementation block to versioning router stubs
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

docs(db): align migration workaround comment with WP-3 template
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(make): extend auto-fix to walk the examples/ sub-workspace
  Makefile.toml
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

chore(examples): apply cargo make quality-fix to examples
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

fix(commands/templates): clarify settings panic message for build/compose failure modes
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands/templates): clarify TOML interpolation wording for runtime vs build-time
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

fix(make): allow --allow-staged for clippy-fix and clippy-fix-examples
  Makefile.toml
Due: none

style(examples-tutorial-basis): apply rustfmt drift on polls components
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

docs(rest): address Copilot review on versioning router stubs
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

docs(db): address Copilot review on composite-PK workaround comment
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): replace SELECT 1/0 with syntax-error SQL on empty composite PK
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(make): use reinhardt-admin-cli for examples fmt tasks
  Makefile.toml
Due: none

style(examples): apply reinhardt-admin fmt to examples/ tree
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

refactor(pages): split app.rs (1441 lines) into submodules
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/link_interceptor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): resolve rustdoc intra-doc link for with_router
  crates/reinhardt-pages/src/app/launcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): match target="_blank" case-insensitively in link interceptor
  crates/reinhardt-pages/src/app/link_interceptor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(router): add reinhardt-router crate exposing VersionedRouter trait
  Cargo.toml
  crates/reinhardt-router/CHANGELOG.md
  crates/reinhardt-router/Cargo.toml
  crates/reinhardt-router/README.md
  crates/reinhardt-router/src/lib.rs
  crates/reinhardt-router/src/router.rs
  crates/reinhardt-router/src/version.rs
  release-plz.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(urls): impl VersionedRouter for DefaultRouter and SimpleRouter
  crates/reinhardt-urls/CHANGELOG.md
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/versioned.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

refactor(rest): replace versioning router stubs with VersionedRouter-generic impls
  crates/reinhardt-rest/CHANGELOG.md
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-rest/src/versioning.rs
  crates/reinhardt-rest/tests/versioning_router_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

refactor(ci): drop public-api diff from semver-check and require local semver-check
  .github/workflows/semver-check-standalone.yml
  .github/workflows/semver-check.yml
  AGENTS.md
  CLAUDE.md
  Makefile.toml
  instructions/PR_GUIDELINE.md
Due: none

docs(semver-check): address Copilot review feedback on PR #4334
  AGENTS.md
  CLAUDE.md
  Makefile.toml
  instructions/PR_GUIDELINE.md
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
