Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(views): wire declared viewset serializers
  crates/reinhardt-views/src/openapi_inspector.rs
  crates/reinhardt-views/src/viewsets.rs
  crates/reinhardt-views/src/viewsets/viewset.rs
  tests/integration/tests/rest/openapi_parameter_recognition_tests.rs
  tests/integration/tests/rest/openapi_schema_generation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(middleware): amortize session cleanup
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/store.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): exclude organizations from Terraform automation
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan-privileged.yml
  .github/workflows/terraform-plan.yml
  infra/organizations/imports.tf
  infra/organizations/main.tf
  infra/organizations/terraform.examples.tfvars
Due: none

fix(tests): align viewset serializer fixtures
  crates/reinhardt-views/tests/viewset_routing.rs
  tests/integration/tests/routing/nested_router_integration.rs
  tests/integration/tests/routing/router_viewset_integration.rs
  tests/integration/tests/routing/viewset_register_to_integration.rs
  tests/integration/tests/routing/viewset_router_integration.rs
  tests/integration/tests/viewsets/as_view_integration.rs
  tests/integration/tests/viewsets/filtering_viewsets_integration.rs
  tests/integration/tests/viewsets/model_viewset_crud_e2e.rs
  tests/integration/tests/viewsets/pagination_viewsets_integration.rs
  tests/integration/tests/viewsets/permissions_integration.rs
  tests/integration/tests/viewsets/router_tests.rs
  tests/integration/tests/viewsets/viewset_initialization_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(views): align viewset serializer examples
  crates/reinhardt-views/src/openapi_inspector.rs
  crates/reinhardt-views/src/viewsets/cached.rs
  examples/examples-tutorial-rest/src/apps/snippets/views.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(macros): preserve serde field attributes on Info structs
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/macros/model_info_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(storages): prevent Azure SAS credential exposure
  crates/reinhardt-storages/README.md
  crates/reinhardt-storages/src/backends/azure.rs
  crates/reinhardt-storages/src/config.rs
  crates/reinhardt-storages/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): align tutorial viewset serializer
  examples/examples-tutorial-rest/src/apps/snippets/views.rs
Due: none

docs(views): align viewset doctest serializers
  crates/reinhardt-views/src/openapi_inspector.rs
  crates/reinhardt-views/src/viewsets/cached.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(tutorial): suppress basis runtime drift
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages

fix(scaffolding): split generated Pages routers
  README.md
  crates/reinhardt-commands/templates/app_pages_template/client/components.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/pages.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/server.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/server/views.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/server_router.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/src/apps/polls/server.rs
  examples/examples-tutorial-basis/src/apps/polls/server/models.rs
  examples/examples-tutorial-basis/src/apps/polls/server/serializers.rs
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/server_router.rs
  examples/examples-tutorial-basis/src/apps/users/server.rs
  examples/examples-tutorial-basis/src/apps/users/server/models.rs
  examples/examples-tutorial-basis/src/apps/users/urls.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/urls/server_router.rs
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/3-detail-and-voting.md
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
  website/content/quickstart/tutorials/basis/5-ownership-and-crud.md
  website/content/quickstart/tutorials/basis/_index.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(macros): make user macro inert on wasm
  crates/reinhardt-core/macros/Cargo.toml
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
  crates/reinhardt-core/macros/tests/fixtures/user_wasm_parity/src/lib.rs
  crates/reinhardt-core/macros/tests/user_wasm_parity.rs
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/src/apps/users/models.rs
  src/exports/macros.rs
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(examples): format tutorial basis pages
  examples/examples-tutorial-basis/src/apps/polls.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/users.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
Due: none

style(examples): format tutorial basis for CI
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
Due: none

fix(scaffolding): repair Pages tutorial scaffold gaps
  crates/reinhardt-commands/src/project_config.rs
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/project_pages_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/project_pages_template/Makefile.toml.tpl
  crates/reinhardt-commands/templates/project_pages_template/README.md.tpl
  crates/reinhardt-commands/templates/project_pages_template/scripts/wasm-build-dev.sh
  crates/reinhardt-commands/templates/project_pages_template/scripts/wasm-build-release.sh
  crates/reinhardt-commands/tests/cli_tests.rs
  crates/reinhardt-commands/tests/collectstatic_tests.rs
  crates/reinhardt-commands/tests/e2e_pages.rs
  crates/reinhardt-commands/tests/embedded_startproject.rs
  crates/reinhardt-commands/tests/ui.rs
  website/content/quickstart/tutorials/basis/1-project-setup.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs: add release announcement(s)
  announcements/v0.3.0-rc.3.md
Due: none

fix(scaffolding): stabilize Pages basis tutorial scaffold
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/app_pages_template/lib.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/project_pages_template/Makefile.toml.tpl
  crates/reinhardt-commands/templates/project_pages_template/README.md.tpl
  crates/reinhardt-commands/templates/project_pages_template/scripts/wasm-build-dev.sh
  crates/reinhardt-commands/templates/project_pages_template/scripts/wasm-build-release.sh
  crates/reinhardt-commands/templates/project_pages_template/settings/base.example.toml
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
  crates/reinhardt-commands/tests/embedded_startproject.rs
  examples/examples-tutorial-basis/src/apps/polls/client.rs
  examples/examples-tutorial-basis/src/apps/polls/client/pages.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/client.rs
  examples/examples-tutorial-basis/src/apps/users/client/pages.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/client.rs
  examples/examples-tutorial-basis/src/client/pages.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/6-admin-and-static-files.md
  website/content/quickstart/tutorials/basis/_index.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

refactor(scaffolding): align Pages app layout
  crates/reinhardt-commands/templates/app_pages_template/client.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/client/components.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/client/components/placeholder.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/lib.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/pages.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/serializers.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/serializers/.gitkeep
  crates/reinhardt-commands/templates/app_pages_template/server.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/server/forms.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/server/forms/.gitkeep
  crates/reinhardt-commands/templates/app_pages_template/server/serializers.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/server/serializers/.gitkeep
  crates/reinhardt-commands/templates/app_pages_template/server_fn.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/server_fn/placeholder.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/services.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/services/client.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/services/client/.gitkeep
  crates/reinhardt-commands/templates/app_pages_template/services/server.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/services/server/.gitkeep
  crates/reinhardt-commands/templates/app_pages_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/server_router.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/README.md.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/lib.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/shared.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/shared/forms.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/shared/types.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
  crates/reinhardt-commands/tests/embedded_startproject.rs
  website/content/quickstart/getting-started.md
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/3-detail-and-voting.md
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
  website/content/quickstart/tutorials/basis/5-ownership-and-crud.md
  website/content/quickstart/tutorials/basis/7-testing.md
  website/content/quickstart/tutorials/basis/_index.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(tutorial): address 0.3.0 review feedback
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/src/apps/polls.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/polls/server.rs
  examples/examples-tutorial-basis/src/apps/polls/server/admin.rs
  examples/examples-tutorial-basis/src/apps/polls/server/serializers.rs
  examples/examples-tutorial-basis/src/apps/polls/server_fn.rs
  examples/examples-tutorial-basis/src/apps/polls/services.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server.rs
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/apps/users/server.rs
  examples/examples-tutorial-basis/src/apps/users/server_fn.rs
  examples/examples-tutorial-basis/src/apps/users/urls.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/tests/createsuperuser.rs
  examples/examples-tutorial-basis/tests/integration.rs
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
  examples/examples-tutorial-basis/tests/wasm/users_mock_test.rs
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/3-detail-and-voting.md
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
  website/content/quickstart/tutorials/basis/5-ownership-and-crud.md
  website/content/quickstart/tutorials/basis/6-admin-and-static-files.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

docs(tutorial): gate client route modules
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_route_specs.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/urls.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_route_specs.rs
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

docs(tutorial): remove native client route specs
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_route_specs.rs
  examples/examples-tutorial-basis/src/apps/users/urls.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_route_specs.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

docs(tutorial): align pages scaffolding route gates
  crates/reinhardt-commands/templates/app_pages_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/README.md.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
  examples/examples-tutorial-basis/src/client.rs
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
Due: unit, intra-crate-integration, cross-crate-integration

docs: add release announcement(s)
  announcements/v0.3.0-rc.4.md
Due: none

fix(scaffolding): default pages projects to sqlite
  crates/reinhardt-commands/src/project_config.rs
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/project_pages_template/build.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/components/nav.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/lib.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/wasm.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/lib.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/tests/integration.rs.tpl
  crates/reinhardt-commands/tests/embedded_startproject.rs
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/_index.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): clear pages scaffold ci blockers
  .github/workflows/release-plz-dry-run.yml
  crates/reinhardt-commands/src/project_config.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

ci: reduce test workflow critical path
  .github/scripts/detect-affected-packages.sh
  .github/workflows/ci.yml
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/detect-affected-packages.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-test.yml
  .github/workflows/wasm-check.yml
Due: none

ci: cap hosted test shard fan-out
  .github/scripts/detect-affected-packages.sh
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/detect-affected-packages.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-test.yml
  .github/workflows/wasm-check.yml
Due: none

perf(pages): trim browser wasm check dependencies
  Cargo.toml
  build.rs
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/docs/server_fn_macro.md
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/api/queryset.rs
  crates/reinhardt-pages/src/auth.rs
  crates/reinhardt-pages/src/fetch.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/testing/e2e.rs
  crates/reinhardt-pages/src/testing/mock_fetch.rs
  crates/reinhardt-pages/tests/ui/server_fn/codec_json.rs
  crates/reinhardt-pages/tests/ui/server_fn/codec_url.rs
  crates/reinhardt-pages/tests/ui/server_fn/with_inject.rs
  crates/reinhardt-pages/tests/wasm/server_fn_wasm_test.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

perf(commands): reduce hot reload debounce latency
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
  docs/build-perf/README.md
  instructions/BUILD_PERFORMANCE.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

perf(db): reduce pool acquire overhead
  crates/reinhardt-db/src/backends_pool/pool.rs
  crates/reinhardt-db/src/pool/pool.rs
  tests/bench/README.md
  tests/bench/benches/performance_benchmarks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

perf(commands): propagate runserver watch delay
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

perf(pages): reduce native endpoint dispatch allocations
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/benches/server_fn_endpoint_benchmarks.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/metadata.rs
  crates/reinhardt-pages/src/server_fn/router_ext.rs
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

docs(build-perf): quantify tail latency reductions
  docs/build-perf/README.md
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
