Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

chore(examples): align tutorial-basis Makefile.toml with twitter conventions
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/Makefile.toml
Due: none

refactor(examples): align tutorial-rest manage.rs with twitter pattern
  examples/examples-tutorial-rest/src/bin/manage.rs
Due: none

chore(examples): add missing tasks to tutorial-rest Makefile.toml
  examples/examples-tutorial-rest/Makefile.toml
Due: none

docs: document client-router feature requirement for UnifiedRouter in prelude
  crates/reinhardt-urls/src/lib.rs
  website/content/quickstart/tutorials/rest/6-viewsets-and-routers.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

docs(website): fix ORM and testing API examples in basis tutorial
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
  website/content/quickstart/tutorials/basis/5-testing.md
Due: none

fix(commands): only rename lib.rs for default app location, not custom targets
  crates/reinhardt-commands/src/start_commands.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): update startapp test assertions for Rust 2024 module paths
  crates/reinhardt-commands/tests/admin_scripts_tests.rs
  examples/examples-tutorial-basis/src/config/urls.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci: add workflow to auto-update version refs after release
  .github/workflows/update-version-refs.yml
Due: none

fix(commands): support type option for template selection
  crates/reinhardt-commands/src/start_commands.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix: re-export ctor from reinhardt facade
  Cargo.toml
  crates/reinhardt-commands/templates/project_pages_template/Cargo.toml.tpl
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(commands): fix clippy unnecessary_map_or and formatting
  crates/reinhardt-commands/src/start_commands.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): remove redundant features section from restful template
  crates/reinhardt-commands/templates/project_restful_template/Cargo.toml.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(tutorial): fix create_snippet compile error in REST Tutorial 1
  website/content/quickstart/tutorials/rest/1-serialization.md
Due: none

fix(examples): align serializer code max_length with model constraint
  examples/examples-tutorial-rest/src/apps/snippets/serializers.rs
  website/content/quickstart/tutorials/rest/1-serialization.md
Due: none

docs(tutorial): add note about REST API layer in basis example
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
Due: none

docs(tutorial): add note about WASM test approach in basis Part 5
  website/content/quickstart/tutorials/basis/5-testing.md
Due: none

refactor!(core): replace From<validator::ValidationErrors> with built-in type
  crates/reinhardt-core/src/exception.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

chore!(deps): remove validator crate from all workspace dependencies
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-di/Cargo.toml
  examples/Cargo.toml
  examples/examples-database-integration/Cargo.toml
  examples/examples-github-issues/Cargo.toml
  examples/examples-rest-api/Cargo.toml
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-rest/Cargo.toml
  examples/examples-twitter/Cargo.toml
  tests/Cargo.toml
  tests/integration/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

refactor(tests): migrate integration tests and facade to built-in validation
  src/lib.rs
  tests/integration/src/pre_validate.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(infra): restrict OIDC trust policy to main branch only
  infra/github-runners/ami-builder.tf
Due: none

fix(build): use correct task names fmt-check and clippy-check in quality gate
  Makefile.toml
Due: none

fix(websockets): return registered router instead of empty one in get_or_init
  crates/reinhardt-websockets/src/routing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(throttling): use per-key state in leaky bucket throttle
  crates/reinhardt-throttling/src/leaky_bucket.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(infra): merge duplicate StringEquals keys in OIDC trust policy
  infra/github-runners/ami-builder.tf
Due: none

refactor(query): reuse escape helpers in ATTACH/DETACH DATABASE statements
  crates/reinhardt-query/src/query/database/attach_database.rs
  crates/reinhardt-query/src/query/database/detach_database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(query): add escaping edge case tests for ATTACH/DETACH DATABASE
  crates/reinhardt-query/src/query/database/attach_database.rs
  crates/reinhardt-query/src/query/database/detach_database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs: align API_STABILITY.md with STABILITY_POLICY.md SP-6
  docs/API_STABILITY.md
Due: none

fix(ci): resolve multiple workflow issues
  .github/ISSUE_TEMPLATE/6-ci_cd.yml
  .github/labels.yml
  .github/workflows/auto-label-pr.yml
  .github/workflows/ci.yml
  .github/workflows/release-plz.yml
  .github/workflows/test-examples.yml
Due: none

chore: remove orphaned files and fix codecov config
  codecov.yml
  crates/reinhardt-macros/CHANGELOG.md
  debug_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): resolve runtime behavior issues in example applications
  examples/examples-database-integration/README.md
  examples/examples-rest-api/src/apps/api/views.rs
  examples/examples-tutorial-rest/src/apps/snippets/views.rs
Due: none

fix(throttling): use lazy evaluation for new_bucket_state in TokenBucketThrottle
  crates/reinhardt-throttling/src/token_bucket.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

perf(throttling): add bounded HashMap with eviction for per-key throttle backends
  crates/reinhardt-throttling/src/leaky_bucket.rs
  crates/reinhardt-throttling/src/token_bucket.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

style(pages): add explanatory comments to #[allow(dead_code)] attributes
  crates/reinhardt-pages/src/component/props.rs
  crates/reinhardt-pages/src/component/trait.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): add cleanup step for examples config on failure
  .github/workflows/test-examples.yml
Due: none

style(query,core): add explanatory comments to #[allow(dead_code)] attributes
  crates/reinhardt-core/src/parsers/protobuf.rs
  crates/reinhardt-core/src/security/csrf.rs
  crates/reinhardt-core/src/serializers/recursive.rs
  crates/reinhardt-core/src/signals.rs
  crates/reinhardt-core/src/signals/debugger.rs
  crates/reinhardt-core/src/signals/dispatch.rs
  crates/reinhardt-core/src/signals/injectable_signal.rs
  crates/reinhardt-core/src/signals/orm_integration.rs
  crates/reinhardt-core/src/signals/profiler.rs
  crates/reinhardt-query/src/types/comment.rs
  crates/reinhardt-query/src/types/database.rs
  crates/reinhardt-query/src/types/function.rs
  crates/reinhardt-query/src/types/iden.rs
  crates/reinhardt-query/src/types/materialized_view.rs
  crates/reinhardt-query/src/types/procedure.rs
  crates/reinhardt-query/src/types/sequence.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM

style(db): add explanatory comments to #[allow(dead_code)] attributes
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/introspect/naming.rs
  crates/reinhardt-db/src/migrations/introspect/type_mapping.rs
  crates/reinhardt-db/src/nosql/backends/mongodb/connection.rs
  crates/reinhardt-db/src/orm/expressions.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/query_execution.rs
  crates/reinhardt-db/src/orm/query_fields/compiler.rs
  crates/reinhardt-db/src/orm/reflection.rs
  crates/reinhardt-db/src/orm/relationship.rs
  crates/reinhardt-db/src/orm/reverse_accessor.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

style: add explanatory comments to remaining #[allow(dead_code)] attributes
  crates/reinhardt-admin-cli/src/ast_formatter.rs
  crates/reinhardt-auth/src/token_storage.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-dentdelion/src/wasm/instance.rs
  crates/reinhardt-dentdelion/src/wasm/loader.rs
  crates/reinhardt-di/src/params/query.rs
  crates/reinhardt-dispatch/src/handler.rs
  crates/reinhardt-manouche/src/validator/html_spec.rs
  crates/reinhardt-middleware/src/messages.rs
  crates/reinhardt-server/src/server/websocket.rs
  crates/reinhardt-tasks/src/scheduler.rs
  crates/reinhardt-tasks/src/worker.rs
  crates/reinhardt-testkit/src/containers.rs
  crates/reinhardt-testkit/src/fixtures/resources.rs
  crates/reinhardt-testkit/src/fixtures/shared_postgres.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Dependency Injection, Server & Routing, Utilities & Infrastructure

feat(deploy): add WASM frontend deploy support
  Cargo.toml
  crates/reinhardt-deploy/Cargo.toml
  crates/reinhardt-deploy/src/config.rs
  crates/reinhardt-deploy/src/error.rs
  crates/reinhardt-deploy/src/lib.rs
  crates/reinhardt-deploy/src/template.rs
  crates/reinhardt-deploy/src/wasm.rs
  crates/reinhardt-deploy/templates/Dockerfile.wasm.tera
  crates/reinhardt-deploy/tests/wasm_deploy.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(core): use Cow<'static, str> for ValidationErrors field keys
  crates/reinhardt-core/src/validators/validation_errors.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(http): replace lock().unwrap() with poison-recovery pattern
  crates/reinhardt-http/src/request/body.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework
