Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(manouche): validate reviewed CSS grammar edges
  crates/reinhardt-manouche/src/parser/style/media.rs
  crates/reinhardt-manouche/src/parser/style/value.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): allow cfg_aliases nightly lint in docs build
  .github/workflows/docs-rs-check.yml
Due: none

feat(pages): add loader cancellation scope
  crates/reinhardt-pages/src/cancellation.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/testing/component/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add imperative query leases
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(fixtures): address PR 5630 review follow-ups
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/fixture_projection_preserves_deserializer.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

test(fixtures): serialize migration registry test
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(pages): abort orphaned loader fetches
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/fetch.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/wasm/activity_view_transition_wasm_test.rs
  crates/reinhardt-pages/tests/wasm/server_fn_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(urls): expose matched route loader metadata
  crates/reinhardt-pages/macros/src/component.rs
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/component.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/loader.rs
  crates/reinhardt-urls/src/routers/client_router/scope.rs
  crates/reinhardt-urls/src/routers/client_router/tree.rs
  crates/reinhardt-urls/tests/client_router_layout_tree_tests.rs
  crates/reinhardt-urls/tests/client_router_metadata_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(pages): add route loader runtime
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/loader.rs
  crates/reinhardt-pages/src/router/loader_registry.rs
  crates/reinhardt-pages/src/router/loader_store.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add route loader macro
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/macros/src/loader.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/router/loader.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/loader/fail/duplicate_cancellation.rs
  crates/reinhardt-pages/tests/ui/loader/fail/duplicate_cancellation.stderr
  crates/reinhardt-pages/tests/ui/loader/fail/generic.rs
  crates/reinhardt-pages/tests/ui/loader/fail/generic.stderr
  crates/reinhardt-pages/tests/ui/loader/fail/non_async.rs
  crates/reinhardt-pages/tests/ui/loader/fail/non_async.stderr
  crates/reinhardt-pages/tests/ui/loader/fail/non_result.rs
  crates/reinhardt-pages/tests/ui/loader/fail/non_result.stderr
  crates/reinhardt-pages/tests/ui/loader/fail/receiver.rs
  crates/reinhardt-pages/tests/ui/loader/fail/receiver.stderr
  crates/reinhardt-pages/tests/ui/loader/fail/unsupported_input.rs
  crates/reinhardt-pages/tests/ui/loader/fail/unsupported_input.stderr
  crates/reinhardt-pages/tests/ui/loader/pass/cancellation.rs
  crates/reinhardt-pages/tests/ui/loader/pass/cross_module.rs
  crates/reinhardt-pages/tests/ui/loader/pass/direct_call.rs
  crates/reinhardt-pages/tests/ui/loader/pass/path_query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): bind loaders to routed components
  crates/reinhardt-pages/macros/src/component.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/ui/component/fail/duplicate_loader_option.rs
  crates/reinhardt-pages/tests/ui/component/fail/duplicate_loader_option.stderr
  crates/reinhardt-pages/tests/ui/component/fail/inline_loader.rs
  crates/reinhardt-pages/tests/ui/component/fail/inline_loader.stderr
  crates/reinhardt-pages/tests/ui/component/fail/loader_without_binding.rs
  crates/reinhardt-pages/tests/ui/component/fail/loader_without_binding.stderr
  crates/reinhardt-pages/tests/ui/component/fail/mismatched_loader_data.rs
  crates/reinhardt-pages/tests/ui/component/fail/mismatched_loader_data.stderr
  crates/reinhardt-pages/tests/ui/component/fail/missing_loader_input.rs
  crates/reinhardt-pages/tests/ui/component/fail/missing_loader_input.stderr
  crates/reinhardt-pages/tests/ui/component/fail/multiple_loader_inputs.rs
  crates/reinhardt-pages/tests/ui/component/fail/multiple_loader_inputs.stderr
  crates/reinhardt-pages/tests/ui/component/fail/unknown_route_option.rs
  crates/reinhardt-pages/tests/ui/component/fail/unknown_route_option.stderr
  crates/reinhardt-pages/tests/ui/component/fail/unmarked_loader.rs
  crates/reinhardt-pages/tests/ui/component/fail/unmarked_loader.stderr
  crates/reinhardt-pages/tests/ui/component/pass/cross_module_loader.rs
  crates/reinhardt-pages/tests/ui/component/pass/loader_binding.rs
  crates/reinhardt-pages/tests/ui/layout/fail/mismatched_loader_data.rs
  crates/reinhardt-pages/tests/ui/layout/fail/mismatched_loader_data.stderr
  crates/reinhardt-pages/tests/ui/layout/fail/missing_loader_input.rs
  crates/reinhardt-pages/tests/ui/layout/fail/missing_loader_input.stderr
  crates/reinhardt-pages/tests/ui/layout/pass/loader_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(urls): split navigation match from commit
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/history.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): retain popstate subscription closure
  crates/reinhardt-urls/src/routers/client_router/history.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(pages): retain mounted route loader state
  crates/reinhardt-pages/src/app/launcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): prepare route loaders before navigation commit
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/navigation.rs
  crates/reinhardt-pages/src/reactive/hooks/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): retain routes on loader navigation errors
  crates/reinhardt-pages/src/app/navigation.rs
  crates/reinhardt-pages/src/router/components.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): prefetch route loaders from links
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/link_interceptor.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/components.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): hydrate server-prepared route loaders
  crates/reinhardt-pages/macros/src/loader.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/navigation.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/platform/native.rs
  crates/reinhardt-pages/src/router/loader.rs
  crates/reinhardt-pages/src/router/loader_registry.rs
  crates/reinhardt-pages/src/ssr.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/route.rs
  crates/reinhardt-pages/src/ssr/state.rs
  crates/reinhardt-pages/tests/ssr_route_loader_integration_tests.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

fix(pages): coordinate popstate loader navigation
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/navigation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): include route navigation in transition state
  crates/reinhardt-pages/src/reactive/hooks/transition.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): document route-level data loaders
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/route_loaders.md
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive/query.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_route_loader_integration_tests.rs
  crates/reinhardt-pages/tests/ui/component/fail/duplicate_loader_option.rs
  crates/reinhardt-pages/tests/ui/component/fail/inline_loader.rs
  crates/reinhardt-pages/tests/ui/component/fail/loader_without_binding.rs
  crates/reinhardt-pages/tests/ui/component/fail/missing_loader_input.rs
  crates/reinhardt-pages/tests/ui/component/fail/multiple_loader_inputs.rs
  crates/reinhardt-pages/tests/ui/component/fail/unknown_route_option.rs
  crates/reinhardt-pages/tests/ui/layout/fail/mismatched_loader_data.rs
  crates/reinhardt-pages/tests/ui/layout/fail/missing_loader_input.rs
  crates/reinhardt-pages/tests/ui/layout/pass/loader_binding.rs
  crates/reinhardt-urls/tests/client_router_layout_tree_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): assign monotonic loader navigation history indices
  crates/reinhardt-pages/src/app/navigation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): honor replace links and retain route fallback
  crates/reinhardt-pages/src/app/link_interceptor.rs
  crates/reinhardt-pages/src/router/components.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): fail fast on loader coordinator setup
  crates/reinhardt-pages/src/app/launcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover route loaders in SPA fixture
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/client.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/lib.rs
  crates/reinhardt-pages/tests/integration/spa_navigation_e2e_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): normalize initial loader history state
  crates/reinhardt-pages/docs/route_loaders.md
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/navigation.rs
  crates/reinhardt-urls/src/routers/client_router/history.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

test(pages): cover coordinated loader navigation
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/navigation_coordinator_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_route_loader_integration_tests.rs
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
  crates/reinhardt-pages/tests/wasm/route_loader_navigation_wasm_test.rs
  crates/reinhardt-pages/tests/wasm/route_loader_prefetch_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): satisfy loader macro clippy
  crates/reinhardt-pages/macros/src/loader.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(build): remove cfg alias macro semicolons
  benchmarks/frontend/fixtures/reinhardt-pages/build.rs
  build.rs
  crates/reinhardt-admin/build.rs
  crates/reinhardt-apps/build.rs
  crates/reinhardt-core/build.rs
  crates/reinhardt-db/src/migrations/migration.rs
  crates/reinhardt-pages/build.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/build.rs
  crates/reinhardt-test/build.rs
  crates/reinhardt-testkit/build.rs
  crates/reinhardt-urls/build.rs
  examples/examples-tutorial-basis/build.rs
  examples/examples-tutorial-rest/build.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): bind filters using model field types
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(pages): assert display-formatted extractor logs
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): align tests with scoped reactive dependencies
  crates/reinhardt-pages/src/testing/component/tests.rs
  crates/reinhardt-pages/tests/component_system_integration.rs
  crates/reinhardt-pages/tests/hooks_deps_integration.rs
  crates/reinhardt-pages/tests/hooks_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): use structured errors in custom manager tests
  crates/reinhardt-db/tests/custom_manager_basic.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): call the project state constraint converter
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(manouche): use copyable style function specs
  Cargo.toml
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): simplify effect dependency registration
  crates/reinhardt-core/src/reactive/effect.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
