Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(pages): satisfy view transition clippy lint
  crates/reinhardt-pages/src/component/view_transition.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(forms): align generated widget contracts
  crates/reinhardt-manouche/src/validator/form.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/tests/ui/form/fail/file_multiple_rejected.rs
  crates/reinhardt-pages/tests/ui/form/fail/file_multiple_rejected.stderr
  crates/reinhardt-pages/tests/ui/form/fail/month_input_rejects_uuid_field.rs
  crates/reinhardt-pages/tests/ui/form/fail/month_input_rejects_uuid_field.stderr
  crates/reinhardt-pages/tests/ui/form/fail/unknown_native_attr_rejected.rs
  crates/reinhardt-pages/tests/ui/form/fail/unknown_native_attr_rejected.stderr
  crates/reinhardt-pages/tests/ui/form/fail/week_input_rejects_ip_address_field.rs
  crates/reinhardt-pages/tests/ui/form/fail/week_input_rejects_ip_address_field.stderr
  crates/reinhardt-pages/tests/ui/form/pass/custom_widget_adapter.rs
  crates/reinhardt-pages/tests/ui/form/pass/form_widget_native_attrs.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
  instructions/MACRO_USAGE.md
Due: unit, intra-crate-integration, cross-crate-integration

docs: clarify generated API parity docs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix: keep server-only model PK metadata
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/fail/server_only_info.stderr
Due: unit, intra-crate-integration, cross-crate-integration

docs: explain wasm admin stub allow
  crates/reinhardt-admin/src/types/wasm_stubs.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): export client_page from prelude
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/tests/ui/client_page/pass/prelude.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test: update Rust 1.96 trybuild snapshots
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_use_effect.stderr
  tests/integration/tests/di/ui/fail/missing_injectable_type_trait.stderr
Due: unit, intra-crate-integration, cross-crate-integration

style: format di exports
  src/exports/di.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(di): update injectable trybuild stderr
  tests/integration/tests/di/ui/fail/missing_injectable_type_trait.stderr
Due: none

refactor(admin): use keyed depends for server injections
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-admin/src/core.rs
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/core/site.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/dashboard.rs
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/detail.rs
  crates/reinhardt-admin/src/server/export.rs
  crates/reinhardt-admin/src/server/fields.rs
  crates/reinhardt-admin/src/server/import.rs
  crates/reinhardt-admin/src/server/list.rs
  crates/reinhardt-admin/src/server/login.rs
  crates/reinhardt-admin/src/server/update.rs
  tests/integration/tests/admin/server_fn_combination_tests.rs
  tests/integration/tests/admin/server_fn_create_tests.rs
  tests/integration/tests/admin/server_fn_delete_tests.rs
  tests/integration/tests/admin/server_fn_detail_tests.rs
  tests/integration/tests/admin/server_fn_export_tests.rs
  tests/integration/tests/admin/server_fn_fields_tests.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_import_tests.rs
  tests/integration/tests/admin/server_fn_list_tests.rs
  tests/integration/tests/admin/server_fn_permission_tests.rs
  tests/integration/tests/admin/server_fn_state_transition_tests.rs
  tests/integration/tests/admin/server_fn_update_tests.rs
  tests/integration/tests/admin/server_fn_usecase_tests.rs
  tests/integration/tests/admin/server_fn_uuid_pk_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(di): honor cache false for keyed wrappers
  README.md
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-di/src/context.rs
  crates/reinhardt-di/src/depends.rs
  crates/reinhardt-di/src/injectable_type.rs
  crates/reinhardt-di/tests/injectable_factory_inject_fallback_tests.rs
  crates/reinhardt-testkit/src/fixtures/di.rs
  src/exports/di.rs
  tests/integration/tests/di/auto_injection_basic.rs
  tests/integration/tests/di/core_error_handling.rs
  tests/integration/tests/di/depends_tests.rs
  tests/integration/tests/di/injected_tests.rs
  tests/integration/tests/di/macros_advanced.rs
  tests/integration/tests/di/ui/fail/injectable_factory_invalid_scope.rs
  tests/integration/tests/di/ui/fail/injectable_factory_mixed_params.rs
  tests/integration/tests/di/ui/fail/injectable_factory_non_inject_params.rs
  tests/integration/tests/di/ui/fail/injectable_factory_sync_fn.rs
  tests/integration/tests/di/ui/pass/factory_depends_in_server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Dependency Injection, Frontend & Pages

fix(ci): satisfy pages clippy lint
  crates/reinhardt-pages/src/component/view_transition.rs
  crates/reinhardt-pages/src/form_state.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): reduce form validation error size
  crates/reinhardt-pages/src/form_state.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(website): add technical notes domain
  .github/workflows/deploy-website.yml
  infra/website/cloudflare.tf
  infra/website/outputs.tf
  infra/website/terraform.example.tfvars
  infra/website/variables.tf
  website/content/notes/_index.md
  website/templates/base.html
Due: none

fix(ci): repair release PR integration failures
  examples/examples-tutorial-basis/src/apps/users/server_fn.rs
  examples/examples-tutorial-basis/tests/integration.rs
  tests/integration/tests/viewsets/di_e2e_integration.rs
  tests/integration/tests/viewsets/di_field_injection_integration.rs
Due: none

feat(di): add wasm parity stubs for injectable macros
  crates/reinhardt-di/Cargo.toml
  crates/reinhardt-di/README.md
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/macros/src/injectable_key.rs
  crates/reinhardt-di/macros/src/lib.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/tests/fixtures/wasm_macro_parity/src/lib.rs
  crates/reinhardt-di/tests/wasm_macro_parity.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(infra): import website DNS records
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan-privileged.yml
  .github/workflows/terraform-plan.yml
  infra/website/github.tf
  infra/website/imports.tf
  infra/website/terraform.example.tfvars
  infra/website/variables.tf
Due: none

fix(ci): format tutorial basis example
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/tests/integration.rs
Due: none

fix(ci): refresh tutorial basis formatter output
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
Due: none

fix(ci): skip empty intra-crate affected scope
  .github/workflows/intra-crate-integration-test.yml
Due: none

refactor!: remove 0.3 deprecated public APIs
  CHANGELOG.md
  crates/reinhardt-auth/CHANGELOG.md
  crates/reinhardt-auth/src/auth_user.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/src/endpoint/auth_protection.rs
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/debug.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  instructions/MIGRATION_0.2.md
  instructions/MIGRATION_0.3.md
  src/exports/auth.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Dependency Injection, Frontend & Pages

test(pages): isolate static resolver state
  crates/reinhardt-pages/src/integ/static_context.rs
  crates/reinhardt-pages/src/static_resolver.rs
  crates/reinhardt-pages/tests/static_resolver_state_transition_tests.rs
  crates/reinhardt-pages/tests/ui/server_fn/codec_json.rs
  crates/reinhardt-pages/tests/ui/server_fn/codec_url.rs
  crates/reinhardt-pages/tests/ui/server_fn/no_msw_feature.rs
  crates/reinhardt-pages/tests/ui/server_fn/with_extractors.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): re-export use_callback_with from reactive::hooks
  crates/reinhardt-pages/src/reactive/hooks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: add release announcement(s)
  announcements/v0.3.0-rc.1.md
Due: none

fix(db): suppress replayed migration drift
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(middleware): populate AuthState from sessions
  README.md
  crates/reinhardt-middleware/README.md
  crates/reinhardt-middleware/src/lib.rs
  crates/reinhardt-middleware/src/session/middleware.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  instructions/MIGRATION_0.3.md
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(orm): add QuerySet conditional partial updates
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/orm.rs
  crates/reinhardt-db/src/orm/expressions.rs
  crates/reinhardt-db/src/orm/query.rs
  src/exports/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM

ci(examples): pin Bruno runner base image digest
  examples/examples-tutorial-rest/Dockerfile.bruno
Due: none

docs: add release announcement(s)
  announcements/v0.3.0-rc.2.md
Due: none

fix(ci): restrict wasm cache seed to main pushes
  .github/workflows/wasm-check-standalone.yml
Due: none

fix(utils): verify vendor asset integrity before install
  crates/reinhardt-utils/src/staticfiles/vendor/downloader.rs
  crates/reinhardt-utils/tests/vendor_pipeline.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(middleware): keep session cleanup active above threshold
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/store.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): block fork PRs from website self-hosted runners
  .github/workflows/deploy-website.yml
Due: none

fix(ci): exclude fork PRs from AWS runners
  .github/workflows/determine-runner.yml
Due: none

ci: harden privileged Terraform Lambda build
  .github/workflows/terraform-apply.yml
  .github/workflows/terraform-plan-privileged.yml
  .github/workflows/terraform-plan.yml
Due: none
