Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(apps,throttling): use fully-qualified intra-doc link paths for AppError and ThrottleError
  crates/reinhardt-apps/src/discovery.rs
  crates/reinhardt-apps/src/registry.rs
  crates/reinhardt-throttling/src/scoped.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework

refactor(ci): derive bootstrap s3 bucket name from aws_account_id variable
  infra/github-runners/bootstrap/main.tf
  infra/github-runners/bootstrap/terraform.examples.tfvars
  infra/github-runners/bootstrap/variables.tf
Due: none

feat(ci): add init.sh to auto-generate backend.tfvars from aws_account_id
  infra/github-runners/backend.examples.tfvars
  infra/github-runners/init.sh
  infra/github-runners/terraform.examples.tfvars
  infra/github-runners/variables.tf
Due: none

docs(ci): standardize placeholder convention to <angle-bracket> style in examples.tfvars
  infra/github-runners/bootstrap/.terraform.lock.hcl
  infra/github-runners/bootstrap/terraform.examples.tfvars
  infra/github-runners/terraform.examples.tfvars
  infra/organizations/.terraform.lock.hcl
  infra/organizations/terraform.examples.tfvars
Due: none

chore: exclude auto-generated lambda artifacts and binary zips from git
  .gitignore
Due: none

chore(ci): add terraform provider lock file for github-runners
  infra/github-runners/.terraform.lock.hcl
Due: none

fix(ci): resolve terraform plan errors for github-aws-runners v6.10.1 module
  infra/github-runners/init.sh
  infra/github-runners/lambdas/.gitkeep
  infra/github-runners/runner.tf
Due: none

fix(ci): remove budget circuit breaker lambda with broken pyJWT dependency
  .gitignore
  infra/github-runners/budget.tf
  infra/github-runners/circuit_breaker.tf
  infra/github-runners/lambda/budget_circuit_breaker.py
Due: none

fix(ci): disable scale-up lambda reserved concurrency for new aws accounts
  infra/github-runners/runner.tf
Due: none

fix(ci): remove null_resource webhook provisioner that fails with curl exit 56
  infra/github-runners/github.tf
  infra/github-runners/outputs.tf
Due: none

fix(ci): reduce runner_max_count from 30 to 20 based on actual ci parallelism
  infra/github-runners/variables.tf
Due: none

chore(ci): drop hashicorp/archive from terraform lock after lambda deletion
  infra/github-runners/.terraform.lock.hcl
Due: none

fix(middleware): update integration tests for #[non_exhaustive] config structs
  crates/reinhardt-middleware/tests/boundary_value_integration.rs
  crates/reinhardt-middleware/tests/combination_integration.rs
  crates/reinhardt-middleware/tests/decision_table_integration.rs
  crates/reinhardt-middleware/tests/edge_cases_integration.rs
  crates/reinhardt-middleware/tests/equivalence_partitioning_integration.rs
  crates/reinhardt-middleware/tests/fuzz_integration.rs
  crates/reinhardt-middleware/tests/happy_path_integration.rs
  crates/reinhardt-middleware/tests/property_based_integration.rs
  crates/reinhardt-middleware/tests/sanity_integration.rs
  crates/reinhardt-middleware/tests/use_cases_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): exclude us-east-1e subnet from runner infrastructure
  infra/github-runners/main.tf
Due: none

fix(ci): increase unit-test timeout from 30 to 45 minutes for github-hosted runners
  .github/workflows/unit-test.yml
Due: none

fix(docs): update doc test examples to use Default + field assignment for non-exhaustive structs
  crates/reinhardt-conf/src/lib.rs
  crates/reinhardt-middleware/src/common.rs
  crates/reinhardt-middleware/src/csp.rs
  crates/reinhardt-middleware/src/https_redirect.rs
  crates/reinhardt-rest/src/browsable_api/middleware.rs
  crates/reinhardt-rest/src/metadata.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Authentication & Security

ci: add comment to trigger ci run for doc test fix
  .github/workflows/ci.yml
Due: none

ci: add workflow_dispatch to ci for manual triggering
  .github/workflows/ci.yml
Due: none

fix(middleware,rest): replace non_exhaustive struct literals in doc examples
  crates/reinhardt-middleware/src/cors.rs
  crates/reinhardt-middleware/src/gzip.rs
  crates/reinhardt-middleware/src/security_middleware.rs
  crates/reinhardt-rest/src/openapi/config.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework, Authentication & Security

fix(dentdelion): remove invalid function argument syntax from intra-doc link
  crates/reinhardt-dentdelion/src/wasm/host.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(reinhardt): correct cfg_attr feature annotation for Argon2Hasher re-export
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(admin): wrap Arc<Request> in backticks in doc comment
  crates/reinhardt-admin/src/server/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(deeplink,pages): replace private-item intra-doc links with inline code
  crates/reinhardt-deeplink/src/error.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

fix(urls,views): resolve intra-doc link and unclosed HTML tag errors
  crates/reinhardt-urls/src/routers/client_router/params.rs
  crates/reinhardt-urls/src/routers/registration.rs
  crates/reinhardt-views/src/viewsets.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework, Server & Routing

docs: fix unresolved intra-doc links and unclosed HTML tags in rustdoc
  crates/reinhardt-query/src/query/create_table.rs
  crates/reinhardt-query/src/types/materialized_view.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(auth): remove Copy derive from AnonymousUser to pass semver check
  crates/reinhardt-auth/src/core/user.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): change runner selection to opt-in for self-hosted runners
  .github/workflows/ci.yml
Due: none

fix(ci): add 5-minute grace period for JIT runner scale-down
  infra/github-runners/runner.tf
Due: none

fix(ci): increase JIT runner minimum running time to 15 minutes
  infra/github-runners/runner.tf
Due: none

fix(ci): use ubuntu user for runner userdata and run_as configuration
  infra/github-runners/runner-userdata.sh
  infra/github-runners/runner.tf
Due: none

fix(ci): add Ubuntu userdata template to replace Amazon Linux default
  infra/github-runners/runner.tf
  infra/github-runners/userdata-ubuntu.sh
Due: none

fix(ci): remove nounset flag from userdata to fix unbound variable error
  infra/github-runners/runner-userdata.sh
Due: none

fix(ci): use correct root device name for Ubuntu AMI (/dev/sda1)
  infra/github-runners/runner.tf
Due: none

fix(ci): install protoc v28 instead of system v3.12 for proto3 optional
  infra/github-runners/runner-userdata.sh
Due: none

fix(ci): add unzip to userdata package list for protoc installation
  infra/github-runners/runner-userdata.sh
Due: none
