Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

ci: fail explicitly on gh api errors instead of silently swallowing them
  .github/scripts/detect-affected-packages.sh
  .github/workflows/detect-affected-packages.yml
Due: none

fix(ci): resolve jq context reference bug in affected package detection
  .github/scripts/detect-affected-packages.sh
Due: none

fix(commands): correct project template compilation errors
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/project_pages_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/lib.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/lib.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): correct app template compilation errors
  crates/reinhardt-commands/templates/app_pages_template/admin.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/lib.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/models.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/serializers.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/admin.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/lib.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/models.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/serializers.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/admin.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/lib.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/models.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/serializers.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/views.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/admin.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/lib.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/models.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/serializers.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/urls.rs.tpl
  crates/reinhardt-commands/templates/app_restful_workspace_template/src/views.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

fix(docs): correct non-existent crate references and feature names in feature-flags
  website/content/docs/feature-flags.md
Due: none

fix(docs): correct Response API usage in requests-and-responses tutorial
  website/content/quickstart/tutorials/rest/2-requests-and-responses.md
Due: none

fix(docs): update fallback version to 0.1.0-rc.3 in website config
  website/config.toml
Due: none

fix(release): move reinhardt-test to optional dep in non-cyclic crates
  crates/reinhardt-graphql/Cargo.toml
  crates/reinhardt-i18n/Cargo.toml
  crates/reinhardt-shortcuts/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): use workspace dependency for reinhardt-test
  crates/reinhardt-commands/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

docs(release): update KI-2 to active status with dual-strategy solution
  CLAUDE.md
  instructions/RELEASE_PROCESS.md
Due: none

docs(website): update admin customization tutorial to use separate admin struct pattern
  website/content/quickstart/tutorials/basis/7-admin-customization.md
Due: none

fix(core): add wasm32 platform gate to parallel and jsonschema validator modules
  crates/reinhardt-core/src/validators.rs
  crates/reinhardt-core/src/validators/parallel.rs
  crates/reinhardt-core/src/validators/schema.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(examples): mount admin and OpenAPI routes in examples-twitter
  examples/examples-twitter/Cargo.toml
  examples/examples-twitter/src/config/urls.rs
  src/admin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(readme): add "api stability" promise section
  README.md
Due: none

feat(examples): add quickstart script for twitter demo
  examples/examples-twitter/quickstart.sh
Due: none

docs(examples): improve twitter demo README quick start section
  examples/examples-twitter/README.md
Due: none

docs: update KI-2 in RELEASE_PROCESS.md for reinhardt-testkit solution
  instructions/RELEASE_PROCESS.md
Due: none

feat(manouche): accept reserved keywords as attribute names in page!/head! parsers
  crates/reinhardt-manouche/src/parser/head.rs
  crates/reinhardt-manouche/src/parser/page.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(manouche): extract shared html_name conversion utility
  crates/reinhardt-manouche/src/core.rs
  crates/reinhardt-manouche/src/core/attr_utils.rs
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-manouche/src/core/node.rs
  crates/reinhardt-manouche/src/core/typed_node.rs
  crates/reinhardt-manouche/src/validator/html_spec.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(manouche): add SVG camelCase attribute mapping to html_name conversion
  crates/reinhardt-manouche/src/core/attr_utils.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(manouche): apply rustfmt formatting
  crates/reinhardt-manouche/src/core/attr_utils.rs
  crates/reinhardt-manouche/src/parser/head.rs
  crates/reinhardt-manouche/src/parser/page.rs
  crates/reinhardt-manouche/src/validator/html_spec.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(examples-twitter): replace spawn_task with create_resource for data fetching
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
Due: none

fix(reinhardt-testkit): use reinhardt_testkit in doc test examples
  crates/reinhardt-testkit/src/assertions.rs
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/containers.rs
  crates/reinhardt-testkit/src/debug.rs
  crates/reinhardt-testkit/src/factory.rs
  crates/reinhardt-testkit/src/fixtures/admin.rs
  crates/reinhardt-testkit/src/fixtures/client.rs
  crates/reinhardt-testkit/src/fixtures/dcl.rs
  crates/reinhardt-testkit/src/fixtures/di.rs
  crates/reinhardt-testkit/src/fixtures/loader.rs
  crates/reinhardt-testkit/src/fixtures/mock.rs
  crates/reinhardt-testkit/src/fixtures/resources.rs
  crates/reinhardt-testkit/src/fixtures/schema.rs
  crates/reinhardt-testkit/src/fixtures/server.rs
  crates/reinhardt-testkit/src/fixtures/server_fn.rs
  crates/reinhardt-testkit/src/fixtures/shared_postgres.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  crates/reinhardt-testkit/src/fixtures/validator.rs
  crates/reinhardt-testkit/src/http.rs
  crates/reinhardt-testkit/src/logging.rs
  crates/reinhardt-testkit/src/messages.rs
  crates/reinhardt-testkit/src/mock.rs
  crates/reinhardt-testkit/src/resource.rs
  crates/reinhardt-testkit/src/response.rs
  crates/reinhardt-testkit/src/server.rs
  crates/reinhardt-testkit/src/server_fn/assertions.rs
  crates/reinhardt-testkit/src/server_fn/auth.rs
  crates/reinhardt-testkit/src/server_fn/context.rs
  crates/reinhardt-testkit/src/server_fn/mock_request.rs
  crates/reinhardt-testkit/src/server_fn/transaction.rs
  crates/reinhardt-testkit/src/testcase.rs
  crates/reinhardt-testkit/src/websocket.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(readme): update API stability section with RC phase change rules
  README.md
Due: none

feat(pages): add use_action async mutation hook
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore(labels): add examples scope label
  .github/labels.yml
Due: none

fix(core): escape closing tags in StyleTag content to prevent XSS
  crates/reinhardt-core/src/types/page/head.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(db): quote identifiers in composite primary key SQL generation
  crates/reinhardt-db/src/orm/composite_pk.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): replace unwrap with error propagation in insert builder
  crates/reinhardt-db/src/backends/query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): remove non-existent paths from CODEOWNERS
  .github/CODEOWNERS
Due: none

test(db): add field mapping and migrations integration tests
  tests/integration/tests/migrations.rs
  tests/integration/tests/migrations/field_mapping_integration.rs
  tests/integration/tests/migrations/makemigrations_e2e_integration.rs
  tests/integration/tests/migrations/schema_validation_integration.rs
Due: none

test(throttling): add test coverage for get_country_code GeoIP path
  crates/reinhardt-throttling/src/geo.rs
  crates/reinhardt-throttling/test-data/GeoIP2-Country-Test.mmdb
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix: merge main and resolve CI issues
  crates/reinhardt-pages/tests/wasm/csrf_wasm_test.rs
  crates/reinhardt-pages/tests/wasm/server_fn_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(infra): add reusable terraform check workflow
  .github/workflows/terraform-check.yml
Due: none

ci: add develop branch merge guard for main protection
  .github/labels.yml
  .github/workflows/develop-merge-guard.yml
  CLAUDE.md
  instructions/PR_GUIDELINE.md
Due: none

security(db): quote field identifiers in OuterRef and PostgreSQL-specific operators
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat: add reinhardt-query prelude re-exports to reinhardt-db orm
  crates/reinhardt-db/src/orm.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat: add websocket and query type re-exports to main crate
  Cargo.toml
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework
