Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(ci): skip binary-only crates in doc test workflow
  .github/workflows/doc-test.yml
Due: none

ci: require PR checkbox opt-in for self-hosted runner selection
  .github/workflows/ci.yml
Due: none

ci(codeql): separate CodeQL from CI workflow with independent concurrency
  .github/workflows/codeql.yml
Due: none

fix(di): register type name before circular dependency detection in Depends
  crates/reinhardt-di/src/depends.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

chore: remove duplicate lowercase PR template
  .github/pull_request_template.md
Due: none

chore: sync PR template content
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore: remove duplicate lowercase PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
Due: none

fix(auth): remove unused variable in social storage
  crates/reinhardt-auth/src/social/storage.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(mail): remove unused variable in email validation test
  crates/reinhardt-mail/src/validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(commands): handle unused Result from ctx.insert() in fuzz tests
  crates/reinhardt-commands/tests/fuzz_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(views): suppress dead code warning for test model struct
  crates/reinhardt-views/tests/viewset_routing.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(tests): fix warnings in integration tests
  tests/integration/tests/auth/csrf_protection_integration.rs
  tests/integration/tests/commands/makemigrations_e2e_edge_cases.rs
  tests/integration/tests/commands/template_integration.rs
  tests/integration/tests/di/context_tests.rs
  tests/integration/tests/di/function_handle_tests.rs
  tests/integration/tests/migrations/field_mapping_integration.rs
  tests/integration/tests/migrations/makemigrations_e2e_integration.rs
Due: none

style(examples): fix expression block indentation in polls component
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

test(db): add round-trip tests for migration initial field
  crates/reinhardt-db/src/migrations/repository/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): skip main-ancestor parents in develop leak guard
  .github/workflows/develop-leak-guard.yml
Due: none

docs(tutorial): migrate part 1 code examples from use_state/spawn_local to use_action
  website/content/quickstart/tutorials/basis/1-project-setup.md
Due: none

docs(tutorial): migrate part 2 code examples from use_state/spawn_local to use_action
  website/content/quickstart/tutorials/basis/2-models-and-database.md
Due: none

docs(tutorial): migrate part 4 code examples from spawn_local to use_action
  website/content/quickstart/tutorials/basis/4-forms-and-generic-views.md
Due: none

test(auth): add get_user coverage for TokenAuthentication
  crates/reinhardt-auth/src/rest_authentication.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(infra): add Packer template for Golden AMI builds
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

feat(infra): migrate to Golden AMI + Graviton (arm64) Spot instances
  infra/github-runners/main.tf
  infra/github-runners/outputs.tf
  infra/github-runners/runner-userdata.sh
  infra/github-runners/runner.tf
  infra/github-runners/ssm.tf
  infra/github-runners/terraform.examples.tfvars
  infra/github-runners/userdata-ubuntu.sh
  infra/github-runners/variables.tf
Due: none

refactor(ci): update workflow runner labels from x64 to arm64
  .github/workflows/ci.yml
  .github/workflows/coverage-main.yml
  .github/workflows/coverage.yml
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/doc-test.yml
  .github/workflows/examples-test.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/semver-check.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-test.yml
Due: none

fix(infra): add data_type to SSM parameter for Launch Template resolution
  infra/github-runners/imports.tf
  infra/github-runners/ssm.tf
Due: none

style(infra): apply terraform fmt to ssm.tf and imports.tf
  infra/github-runners/imports.tf
  infra/github-runners/ssm.tf
Due: none

ci: auto-assign self-hosted runner for release-plz PRs
  .github/workflows/ci.yml
Due: none

docs(readme): fix broken links, code examples, and model attribute references
  README.md
Due: none

docs(instructions): fix cross-reference prefixes from @docs/ to @instructions/
  instructions/ANTI_PATTERNS.md
  instructions/DOCUMENTATION_STANDARDS.md
  instructions/ISSUE_HANDLING.md
  instructions/MODULE_SYSTEM.md
  instructions/PR_GUIDELINE.md
  instructions/TESTING_STANDARDS.md
Due: none

docs(views): fix non-existent crate references and outdated versions
  crates/reinhardt-views/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(rest): fix outdated version strings and non-existent crate references
  crates/reinhardt-rest/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(core): fix non-existent reinhardt-contrib crate reference in lib.rs
  crates/reinhardt-core/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

ci(infra): add GitHub Actions OIDC provider and IAM role for AMI builds
  infra/github-runners/oidc.tf
Due: none

ci: change default AMI build architecture from x64 to arm64
  .github/workflows/build-runner-ami.yml
Due: none

docs: update crate documentation for stable release
  crates/reinhardt-rest/README.md
  crates/reinhardt-views/README.md
  examples/CLAUDE.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(shortcuts): add missing public API documentation
  crates/reinhardt-shortcuts/src/get_or_404.rs
  crates/reinhardt-shortcuts/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(server): add missing public API documentation
  crates/reinhardt-server/src/lib.rs
  crates/reinhardt-server/src/server.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

docs(i18n): add missing public API documentation
  crates/reinhardt-i18n/src/lib.rs
  crates/reinhardt-i18n/src/po_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(graphql): add missing public API documentation
  crates/reinhardt-graphql/src/context.rs
  crates/reinhardt-graphql/src/lib.rs
  crates/reinhardt-graphql/src/resolvers.rs
  crates/reinhardt-graphql/src/schema.rs
  crates/reinhardt-graphql/src/subscription.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

docs(dispatch): add missing public API documentation
  crates/reinhardt-dispatch/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(grpc): add missing public API documentation
  crates/reinhardt-grpc/src/error.rs
  crates/reinhardt-grpc/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
