Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

feat(query)!: remove SeaRc type alias (refs #4520)
  crates/reinhardt-query/src/types.rs
  crates/reinhardt-query/src/types/iden.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(query): document SeaRc removal in CHANGELOG and migration guide (refs #4520)
  crates/reinhardt-query/CHANGELOG.md
  instructions/MIGRATION_0.2.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): defer Lookup<M> → Filter bridge; drop unimplemented! arms
  crates/reinhardt-db/src/orm/query_fields/lookup.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(pages): add Trackable trait for reactive dependency identity
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/trackable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

feat(urls)!: collapse route_pathN into arity-generic Handler<Args>
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-urls/CHANGELOG.md
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/handler.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  tests/integration/tests/routing/url_patterns_typed_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(pages)!: use_effect / use_layout_effect take explicit deps
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

feat(pages)!: use_memo / use_callback / use_callback_with take explicit deps
  crates/reinhardt-core/src/reactive/memo.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

refactor!: migrate internal hook call sites to explicit-deps signature
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-pages/tests/hooks_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(tutorial): sync basis tutorial Part 3 with unified named_route_path
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
Due: none

refactor(manouche): add generics field to FormFieldDef
  crates/reinhardt-manouche/src/core/form_node.rs
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(pages-macros): scaffold enforce_capture_discipline pass
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(manouche): parse generic type arguments on form fields
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(manouche)!: TypedFieldType variants carry inner syn::Type
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-manouche/src/validator/form.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(manouche,pages-macros): validator populates inner from generics
  crates/reinhardt-manouche/src/validator/form.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-macros): codegen substitutes inner type into Signal<T>
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): UI pass-case for explicit braced expression
  crates/reinhardt-pages/tests/ui/page/pass/explicit_braced_expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): UI fail-case for bare-identifier shorthand
  crates/reinhardt-pages/tests/ui/page/fail/bare_ident_shorthand_in_body.rs
  crates/reinhardt-pages/tests/ui/page/fail/bare_ident_shorthand_in_body.stderr
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): migrate existing UI pass-cases to explicit braced expressions
  crates/reinhardt-pages/tests/ui/page/pass/for_loop.rs
  crates/reinhardt-pages/tests/ui/page/pass/with_props.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document bare-ident shorthand removal (spec §3.6)
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-macros): codegen emits typed default values
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-macros): enforce no-implicit-captures in page! body
  crates/reinhardt-pages/macros/Cargo.toml
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-macros): typed choices store for ChoiceField<T>
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-macros): emit struct-level where clause for typed fields
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-macros)!: unconditionally wrap {expr}, if, for in Page::reactive
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/tests/reactive_autowrap_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(core): implement Trackable for Memo<T>
  crates/reinhardt-core/src/reactive/deps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(pages): trybuild pass cases for typed form fields
  crates/reinhardt-pages/tests/ui/form/pass/choice_field_typed_i64.rs
  crates/reinhardt-pages/tests/ui/form/pass/hidden_field_default_string.rs
  crates/reinhardt-pages/tests/ui/form/pass/hidden_field_typed_i64.rs
  crates/reinhardt-pages/tests/ui/form/pass/ip_address_field_specialized.rs
  crates/reinhardt-pages/tests/ui/form/pass/json_field_typed.rs
  crates/reinhardt-pages/tests/ui/form/pass/multiple_choice_typed.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(di)!: add Injectable impls for Path/Query/Json extractors
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/src/params/json.rs
  crates/reinhardt-di/src/params/path.rs
  crates/reinhardt-di/src/params/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

feat(core): add run_without_observer and subscribe_node_to_observer
  crates/reinhardt-core/src/reactive/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(pages): trybuild fail cases for typed form fields (.rs only)
  crates/reinhardt-pages/tests/ui/form/fail/char_field_with_generic.rs
  crates/reinhardt-pages/tests/ui/form/fail/choice_value_type_mismatch.rs
  crates/reinhardt-pages/tests/ui/form/fail/hidden_field_no_default.rs
  crates/reinhardt-pages/tests/ui/form/fail/hidden_field_zero_args.rs
  crates/reinhardt-pages/tests/ui/form/fail/ip_address_with_generic.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages-macros): codegen unit tests for typed signal/default emission
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): align existing UI pass tests with spec §3.7
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_dynamic_conditional.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_dynamic_function.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_dynamic_variable.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_standalone_mixed.rs
  crates/reinhardt-pages/tests/ui/page/pass/external_handlers.rs
  crates/reinhardt-pages/tests/ui/page/pass/numeric_attr_dynamic_function.rs
  crates/reinhardt-pages/tests/ui/page/pass/numeric_attr_dynamic_variable.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): UI tests for spec §3.7 + §4.1 contract
  crates/reinhardt-pages/tests/ui/page/fail/implicit_capture_in_event_handler.rs
  crates/reinhardt-pages/tests/ui/page/fail/implicit_capture_lowercase.rs
  crates/reinhardt-pages/tests/ui/page/pass/explicit_param.rs
  crates/reinhardt-pages/tests/ui/page/pass/helper_routed_signal.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(manouche): document inner fields on generic-capable TypedFieldType variants
  crates/reinhardt-manouche/src/core/form_typed.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages-macros)!: reject watch { ... } in v2
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/ui/page/fail/watch_block_removed.rs
  crates/reinhardt-pages/tests/ui/page/fail/watch_empty_block.rs
  crates/reinhardt-pages/tests/ui/page/fail/watch_empty_block.stderr
  crates/reinhardt-pages/tests/ui/page/fail/watch_multiple_expressions.rs
  crates/reinhardt-pages/tests/ui/page/fail/watch_multiple_expressions.stderr
  crates/reinhardt-pages/tests/ui/page/pass/watch_basic.rs
  crates/reinhardt-pages/tests/ui/page/pass/watch_complex.rs
  crates/reinhardt-pages/tests/ui/page/pass/watch_nested.rs
  crates/reinhardt-pages/tests/ui/page/pass/watch_with_component.rs
  crates/reinhardt-pages/tests/ui/page/pass/watch_with_expression.rs
  crates/reinhardt-pages/tests/ui/page/pass/watch_with_for.rs
  crates/reinhardt-pages/tests/ui/page/pass/watch_with_if.rs
  crates/reinhardt-pages/tests/ui/page/pass/watch_with_if_else.rs
  crates/reinhardt-pages/tests/watch_property_tests.rs
  crates/reinhardt-pages/tests/watch_ssr_tests.rs
  crates/reinhardt-pages/tests/watch_syntax_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document v2 auto-wrap + no-implicit-captures rules
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/macros/src/page.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(core)!: gate effect / memo re-runs on explicit deps tuple
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-pages/tests/hooks_deps_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(pages): pin use_state tuple shape (#4195 open Q3)
  crates/reinhardt-pages/tests/ui/hooks/pass/use_state_shape_unchanged.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages,core): document v2 explicit-deps hook contract
  crates/reinhardt-core/CHANGELOG.md
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/src/reactive/hooks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(di)!: remove Injected and OptionalInjected (refs #4520)
  crates/reinhardt-di/macros/src/injectable.rs
  crates/reinhardt-di/src/injected.rs
  crates/reinhardt-di/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

docs(di): document Injected removal in CHANGELOG and migration guide (refs #4520)
  crates/reinhardt-di/CHANGELOG.md
  instructions/MIGRATION_0.2.md
Due: unit, intra-crate-integration, cross-crate-integration
