Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

refactor(rest, router): address Copilot review feedback on PR #4332
  crates/reinhardt-rest/src/versioning.rs
  crates/reinhardt-router/src/version.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(examples-rough2spec): address Copilot review feedback on PR #2777
  examples/examples-rough2spec/settings/base.toml
  examples/examples-rough2spec/settings/local.example.toml
  examples/examples-rough2spec/src/apps/generate/views.rs
  examples/examples-rough2spec/src/config/settings.rs
Due: none

test(streaming): expand Kafka backend error-handling coverage
  crates/reinhardt-streaming/tests/kafka_error_paths.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(forms): replace skeleton validators with real implementations or unimplemented!()
  crates/reinhardt-forms/src/model_form.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(views): split viewsets/handler.rs by responsibility (#4313)
  crates/reinhardt-views/src/viewsets/handler.rs
  crates/reinhardt-views/src/viewsets/handler/error.rs
  crates/reinhardt-views/src/viewsets/handler/model_view_set_handler.rs
  crates/reinhardt-views/src/viewsets/handler/view_set_handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

refactor(middleware): split session.rs by responsibility (#4312)
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/backend.rs
  crates/reinhardt-middleware/src/session/config.rs
  crates/reinhardt-middleware/src/session/data.rs
  crates/reinhardt-middleware/src/session/id.rs
  crates/reinhardt-middleware/src/session/injectable.rs
  crates/reinhardt-middleware/src/session/middleware.rs
  crates/reinhardt-middleware/src/session/store.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(urls): split pattern.rs and reverse.rs by responsibility (#4311)
  crates/reinhardt-urls/src/routers/pattern.rs
  crates/reinhardt-urls/src/routers/pattern/matcher.rs
  crates/reinhardt-urls/src/routers/pattern/path_pattern.rs
  crates/reinhardt-urls/src/routers/pattern/radix.rs
  crates/reinhardt-urls/src/routers/pattern/tests.rs
  crates/reinhardt-urls/src/routers/pattern/validation.rs
  crates/reinhardt-urls/src/routers/reverse.rs
  crates/reinhardt-urls/src/routers/reverse/reverser.rs
  crates/reinhardt-urls/src/routers/reverse/runtime.rs
  crates/reinhardt-urls/src/routers/reverse/tests.rs
  crates/reinhardt-urls/src/routers/reverse/typed.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

refactor(urls): split server_router.rs by responsibility (#4310)
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/introspection.rs
  crates/reinhardt-urls/src/routers/server_router/registration.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/server_router/types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(dispatch): add integration tests for routing × middleware main paths
  crates/reinhardt-dispatch/Cargo.toml
  crates/reinhardt-dispatch/tests/routing_middleware_main_paths_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

perf(rest): reduce per-request allocations in dispatch hot path
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(pages): harden SPA link interceptor (non-Element targets, push errors)
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/tests/wasm/link_interceptor_robustness_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(forms): address Copilot review feedback on PR #4336
  crates/reinhardt-forms/src/form.rs
  crates/reinhardt-forms/src/model_form.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(urls): address Copilot review feedback on PR #4337
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/introspection.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/server_router/types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

refactor(views): address Copilot review feedback on PR #4340
  crates/reinhardt-views/src/viewsets/handler/model_view_set_handler.rs
  crates/reinhardt-views/src/viewsets/handler/view_set_handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

refactor(urls): address Copilot review feedback on PR #4338
  crates/reinhardt-urls/src/routers/reverse/reverser.rs
  crates/reinhardt-urls/src/routers/reverse/typed.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

refactor(middleware): address Copilot review feedback on PR #4339
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/cookie.rs
  crates/reinhardt-middleware/src/session/injectable.rs
  crates/reinhardt-middleware/src/session/middleware.rs
  crates/reinhardt-middleware/src/session/store.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(rest): clarify default-version fallback comments per Copilot review
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(pages): address Copilot review on link interceptor PR
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/tests/wasm/link_interceptor_robustness_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(dispatch-tests): serialize signal tests and correct middleware doc
  crates/reinhardt-dispatch/tests/routing_middleware_main_paths_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(semver-check): exclude new reinhardt-router crate from baseline check
  .github/workflows/semver-check.yml
Due: none

test(streaming): harden Kafka error-path tests against transport flakiness
  crates/reinhardt-streaming/tests/kafka_error_paths.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(docs): extract Quick Reference to shared instructions file
  AGENTS.md
  CLAUDE.md
  instructions/QUICK_REFERENCE.md
Due: none

chore(ci): drop --exclude reinhardt-router from semver-check workflow
  .github/workflows/semver-check.yml
Due: none

style(urls): fix clippy lints in route_pattern_matching and url_converters tests
  crates/reinhardt-urls/tests/route_pattern_matching.rs
  crates/reinhardt-urls/tests/url_converters.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(example/tutorial-basis): gate manage bin behind native-only feature
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/Makefile.toml
Due: none

fix(urls): surface radix insertion errors and add fallible reverse helpers
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/pattern/matcher.rs
  crates/reinhardt-urls/src/routers/pattern/tests.rs
  crates/reinhardt-urls/src/routers/reverse.rs
  crates/reinhardt-urls/src/routers/reverse/reverser.rs
  crates/reinhardt-urls/src/routers/reverse/runtime.rs
  crates/reinhardt-urls/src/routers/reverse/tests.rs
  crates/reinhardt-urls/src/routers/reverse/typed.rs
  crates/reinhardt-urls/src/routers/router.rs
  crates/reinhardt-urls/src/routers/simple.rs
  crates/reinhardt-urls/tests/route_pattern_matching.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(testkit,streaming): module-scoped Kafka fixture + KafkaConfig.partitions
  crates/reinhardt-streaming/src/kafka/config.rs
  crates/reinhardt-streaming/src/kafka/producer.rs
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): scaffold urls/ submodule layout for app_pages templates
  crates/reinhardt-commands/templates/app_pages_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/server_urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls/server_urls.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(apps): make reinhardt-apps cross-target
  crates/reinhardt-apps/Cargo.toml
  crates/reinhardt-apps/build.rs
  crates/reinhardt-apps/src/apps.rs
  crates/reinhardt-apps/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(urls): gate reverse re-exports with cfg(native)
  crates/reinhardt-urls/src/routers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

style(middleware): fix session.rs import order broken by allow(deprecated)
  crates/reinhardt-middleware/src/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(commands): address Copilot review on PR #4357
  crates/reinhardt-commands/templates/app_pages_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(reinhardt-apps): gate inventory + linkme deps behind native target
  crates/reinhardt-apps/Cargo.toml
  crates/reinhardt-apps/src/apps.rs
  crates/reinhardt-apps/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(streaming): tighten Kafka partition typing per Copilot review
  crates/reinhardt-streaming/src/kafka/config.rs
  crates/reinhardt-streaming/src/kafka/producer.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands): expand client_router scaffold with canonical registration hints
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls/client_router.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(facade): split lib.rs into exports/* and compat/* layers
  src/compat.rs
  src/compat/apps.rs
  src/compat/urls.rs
  src/compat/websockets.rs
  src/exports.rs
  src/exports/common.rs
  src/exports/macros.rs
  src/exports/native.rs
  src/exports/wasm.rs
  src/lib.rs
  src/prelude.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(pages): unify spawn into platform/, expose spawn_task from prelude
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/platform.rs
  crates/reinhardt-pages/src/platform/native.rs
  crates/reinhardt-pages/src/platform/wasm.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/hooks/transition.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/spawn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): unblock release-plz rc.29 CI on three pre-existing failures
  .github/fixtures/wasm-consumer-augment.patch
  crates/reinhardt-streaming/src/kafka/config.rs
  crates/reinhardt-streaming/src/kafka/consumer.rs
  crates/reinhardt-streaming/src/kafka/producer.rs
  crates/reinhardt-streaming/tests/kafka_error_paths.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  crates/reinhardt-urls/src/routers/pattern.rs
  crates/reinhardt-urls/src/routers/reverse.rs
  crates/reinhardt-urls/src/routers/reverse/runtime.rs
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/introspection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(docs): drop intra-doc links to private session submodules
  crates/reinhardt-middleware/src/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(ci): resolve SemVer and docs.rs failures on rc.29 branch
  crates/reinhardt-streaming/src/kafka/config.rs
  crates/reinhardt-views/src/viewsets/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework
