Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(admin-cli): fuzz migrate manouche control syntax
  crates/reinhardt-admin-cli/CHANGELOG.md
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/migrate_v2/rules/bare_ident.rs
  crates/reinhardt-admin-cli/tests/migrate_v2_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): address migrate v2 codemod review
  crates/reinhardt-admin-cli/CHANGELOG.md
  crates/reinhardt-admin-cli/src/migrate_v2.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/bare_ident.rs
  crates/reinhardt-admin-cli/tests/migrate_v2_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(release): enforce public API doc coverage
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/macros/src/lib.rs
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-di/Cargo.toml
  crates/reinhardt-di/macros/src/lib.rs
  crates/reinhardt-graphql/macros/src/lib.rs
  crates/reinhardt-grpc/macros/src/lib.rs
  crates/reinhardt-pages/ast/src/lib.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-query/macros/src/lib.rs
  crates/reinhardt-rest/openapi-macros/src/lib.rs
  crates/reinhardt-router/src/lib.rs
  crates/reinhardt-storages/src/lib.rs
  crates/reinhardt-streaming/src/error.rs
  crates/reinhardt-streaming/src/in_memory.rs
  crates/reinhardt-streaming/src/kafka.rs
  crates/reinhardt-streaming/src/kafka/config.rs
  crates/reinhardt-streaming/src/lib.rs
  crates/reinhardt-streaming/src/message.rs
  crates/reinhardt-streaming/src/router.rs
  crates/reinhardt-testkit-macros/src/lib.rs
  crates/reinhardt-urls/routers-macros/src/lib.rs
  crates/tree-sitter-reinhardt-form/src/lib.rs
  crates/tree-sitter-reinhardt-head/src/lib.rs
  crates/tree-sitter-reinhardt-page/src/lib.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(orm): support composite filter combinators
  crates/reinhardt-db/src/orm/custom_manager.rs
  crates/reinhardt-db/src/orm/expressions.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/query_fields/lookup.rs
  crates/reinhardt-views/src/detail.rs
  tests/integration/tests/orm.rs
  tests/integration/tests/orm/queryset_docs_ui.rs
  tests/integration/tests/orm/ui/pass/queryset_docs_example.rs
  website/content/docs/api/_index.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, REST Framework

docs(release): expand 0.2 migration coverage
  instructions/MIGRATION_0.2.md
Due: none

chore(admin-cli): preserve dsl-format feature gate work
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(website): skip develop preview deployments
  .github/workflows/deploy-website.yml
Due: none

fix(orm): address lookup review edge cases
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages

fix(db): align LIKE escape SQL expectations
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(release): fix 0.2 reverse examples
  instructions/MIGRATION_0.2.md
Due: none

docs(release): align stable release quickstarts
  README.md
  crates/reinhardt-admin-cli/README.md
  crates/reinhardt-commands/README.md
  examples/AGENTS.md
  examples/CLAUDE.md
  examples/Cargo.toml
  examples/README.md
  scripts/update-version-refs.sh
  scripts/validate-version-markers.sh
  website/content/quickstart/_index.md
  website/content/quickstart/getting-started.md
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/rest/quickstart.md
Due: unit, intra-crate-integration, cross-crate-integration

fix: document wasm router stubs
  src/compat/websockets.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs: add release announcement(s)
  announcements/v0.2.0-rc.5.md
Due: none

docs(examples): sync tutorial README structures
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-rest/README.md
Due: none

docs(release): record 0.2 validation results
  docs/release/0.2.0-pre-release-validation.md
Due: none

refactor(examples): aggregate tutorial route contracts
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/serializers.rs
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/server_urls.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/apps/users/urls.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/urls/server_urls.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/src/config/admin.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/src/shared/forms.rs
  examples/examples-tutorial-basis/src/shared/types.rs
Due: none

fix(forms): omit unreachable focus path for empty forms
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(tutorial): sync website tutorials with examples
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
  website/content/quickstart/tutorials/basis/4-forms-and-generic-views.md
  website/content/quickstart/tutorials/basis/5-testing.md
  website/content/quickstart/tutorials/basis/6-static-files.md
  website/content/quickstart/tutorials/basis/7-admin-customization.md
  website/content/quickstart/tutorials/basis/_index.md
  website/content/quickstart/tutorials/rest/quickstart.md
Due: none

refactor(examples): inline tutorial route contracts
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/urls.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/src/shared/forms.rs
Due: none

fix(commands): add pages app reverse template
  crates/reinhardt-commands/templates/app_pages_template/urls.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): patch aws-runtime event-stream signer
  Cargo.toml
  vendor/aws-runtime/Cargo.toml
  vendor/aws-runtime/Cargo.toml.orig
  vendor/aws-runtime/LICENSE
  vendor/aws-runtime/README.md
  vendor/aws-runtime/external-types.toml
  vendor/aws-runtime/src/auth.rs
  vendor/aws-runtime/src/auth/sigv4.rs
  vendor/aws-runtime/src/auth/sigv4a.rs
  vendor/aws-runtime/src/content_encoding.rs
  vendor/aws-runtime/src/content_encoding/body.rs
  vendor/aws-runtime/src/content_encoding/body/http_body_0_x.rs
  vendor/aws-runtime/src/content_encoding/body/http_body_1_x.rs
  vendor/aws-runtime/src/content_encoding/options.rs
  vendor/aws-runtime/src/content_encoding/sign.rs
  vendor/aws-runtime/src/env_config.rs
  vendor/aws-runtime/src/env_config/error.rs
  vendor/aws-runtime/src/env_config/file.rs
  vendor/aws-runtime/src/env_config/normalize.rs
  vendor/aws-runtime/src/env_config/parse.rs
  vendor/aws-runtime/src/env_config/property.rs
  vendor/aws-runtime/src/env_config/section.rs
  vendor/aws-runtime/src/env_config/source.rs
  vendor/aws-runtime/src/fs_util.rs
  vendor/aws-runtime/src/invocation_id.rs
  vendor/aws-runtime/src/lib.rs
  vendor/aws-runtime/src/recursion_detection.rs
  vendor/aws-runtime/src/request_info.rs
  vendor/aws-runtime/src/retries.rs
  vendor/aws-runtime/src/retries/classifiers.rs
  vendor/aws-runtime/src/sdk_feature.rs
  vendor/aws-runtime/src/service_clock_skew.rs
  vendor/aws-runtime/src/user_agent.rs
  vendor/aws-runtime/src/user_agent/interceptor.rs
  vendor/aws-runtime/src/user_agent/metrics.rs
  vendor/aws-runtime/src/user_agent/test_data/feature_id_to_metric_value.json
  vendor/aws-runtime/src/user_agent/test_util.rs
  vendor/aws-runtime/test-data/file-location-tests.json
  vendor/aws-runtime/test-data/profile-parser-tests.json
  vendor/aws-runtime/test-data/recursion-detection.json
Due: none

feat(macros): expose model info companions to wasm
  crates/reinhardt-core/macros/src/model_attribute.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/src/lib.rs
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/src/apps/polls.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/users.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/shared/types.rs
  src/exports/macros.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(providers): add minimal S3 provider client
  Cargo.toml
  crates/reinhardt-providers/CHANGELOG.md
  crates/reinhardt-providers/Cargo.toml
  crates/reinhardt-providers/README.md
  crates/reinhardt-providers/src/aws/credentials.rs
  crates/reinhardt-providers/src/aws/mod.rs
  crates/reinhardt-providers/src/aws/s3.rs
  crates/reinhardt-providers/src/error.rs
  crates/reinhardt-providers/src/gcp.rs
  crates/reinhardt-providers/src/lib.rs
  crates/reinhardt-storages/Cargo.toml
  crates/reinhardt-storages/README.md
  crates/reinhardt-storages/src/backends/s3.rs
  crates/reinhardt-storages/src/error.rs
  crates/reinhardt-storages/src/lib.rs
  release-plz.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(providers): preserve AWS credential chain
  crates/reinhardt-providers/Cargo.toml
  crates/reinhardt-providers/README.md
  crates/reinhardt-providers/src/aws/credentials.rs
  crates/reinhardt-providers/src/aws/mod.rs
  crates/reinhardt-providers/src/aws/s3.rs
  crates/reinhardt-storages/README.md
  crates/reinhardt-storages/src/backends/s3.rs
  crates/reinhardt-storages/tests/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(providers): address CodeRabbit review
  crates/reinhardt-providers/Cargo.toml
  crates/reinhardt-providers/README.md
  crates/reinhardt-providers/src/aws.rs
  crates/reinhardt-providers/src/aws/credentials.rs
  crates/reinhardt-providers/src/aws/s3.rs
  crates/reinhardt-storages/README.md
  crates/reinhardt-storages/src/backends/s3.rs
  crates/reinhardt-storages/src/error.rs
  crates/reinhardt-storages/tests/fixtures.rs
  crates/reinhardt-storages/tests/s3_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore: drop vendored aws-runtime patch
  Cargo.toml
  vendor/aws-runtime/Cargo.toml
  vendor/aws-runtime/Cargo.toml.orig
  vendor/aws-runtime/LICENSE
  vendor/aws-runtime/README.md
  vendor/aws-runtime/external-types.toml
  vendor/aws-runtime/src/auth.rs
  vendor/aws-runtime/src/auth/sigv4.rs
  vendor/aws-runtime/src/auth/sigv4a.rs
  vendor/aws-runtime/src/content_encoding.rs
  vendor/aws-runtime/src/content_encoding/body.rs
  vendor/aws-runtime/src/content_encoding/body/http_body_0_x.rs
  vendor/aws-runtime/src/content_encoding/body/http_body_1_x.rs
  vendor/aws-runtime/src/content_encoding/options.rs
  vendor/aws-runtime/src/content_encoding/sign.rs
  vendor/aws-runtime/src/env_config.rs
  vendor/aws-runtime/src/env_config/error.rs
  vendor/aws-runtime/src/env_config/file.rs
  vendor/aws-runtime/src/env_config/normalize.rs
  vendor/aws-runtime/src/env_config/parse.rs
  vendor/aws-runtime/src/env_config/property.rs
  vendor/aws-runtime/src/env_config/section.rs
  vendor/aws-runtime/src/env_config/source.rs
  vendor/aws-runtime/src/fs_util.rs
  vendor/aws-runtime/src/invocation_id.rs
  vendor/aws-runtime/src/lib.rs
  vendor/aws-runtime/src/recursion_detection.rs
  vendor/aws-runtime/src/request_info.rs
  vendor/aws-runtime/src/retries.rs
  vendor/aws-runtime/src/retries/classifiers.rs
  vendor/aws-runtime/src/sdk_feature.rs
  vendor/aws-runtime/src/service_clock_skew.rs
  vendor/aws-runtime/src/user_agent.rs
  vendor/aws-runtime/src/user_agent/interceptor.rs
  vendor/aws-runtime/src/user_agent/metrics.rs
  vendor/aws-runtime/src/user_agent/test_data/feature_id_to_metric_value.json
  vendor/aws-runtime/src/user_agent/test_util.rs
  vendor/aws-runtime/test-data/file-location-tests.json
  vendor/aws-runtime/test-data/profile-parser-tests.json
  vendor/aws-runtime/test-data/recursion-detection.json
Due: none

docs(tutorial): align basis docs with route contracts
  examples/examples-tutorial-basis/README.md
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/3-views-and-urls.md
  website/content/quickstart/tutorials/basis/4-forms-and-generic-views.md
  website/content/quickstart/tutorials/basis/5-testing.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

fix(commands): align startproject scaffold defaults
  crates/reinhardt-admin-cli/src/main.rs
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/project_pages_template/.gitignore.tpl
  crates/reinhardt-commands/templates/project_pages_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/project_pages_template/settings/.gitignore.tpl
  crates/reinhardt-commands/templates/project_pages_template/settings/base.example.toml
  crates/reinhardt-commands/templates/project_pages_template/settings/local.example.toml
  crates/reinhardt-commands/templates/project_pages_template/settings/production.example.toml
  crates/reinhardt-commands/templates/project_pages_template/settings/staging.example.toml
  crates/reinhardt-commands/templates/project_pages_template/src/config/apps.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/.gitignore.tpl
  crates/reinhardt-commands/templates/project_restful_template/settings/.gitignore.tpl
  crates/reinhardt-commands/templates/project_restful_template/settings/base.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/local.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/production.example.toml
  crates/reinhardt-commands/templates/project_restful_template/settings/staging.example.toml
  crates/reinhardt-commands/templates/project_restful_template/src/config/apps.rs.tpl
  crates/reinhardt-commands/tests/embedded_startproject.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/.gitignore
  examples/examples-tutorial-rest/.gitignore
  website/content/docs/settings.md
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/basis/6-static-files.md
  website/content/quickstart/tutorials/basis/_index.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(tutorial): document contacts settings fragment
  README.md
  examples/examples-tutorial-basis/settings/base.toml
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/6-static-files.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

fix(commands): use collectstatic no-input in pages template
  crates/reinhardt-commands/templates/project_pages_template/Makefile.toml.tpl
  crates/reinhardt-commands/tests/embedded_startproject.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(tutorial): align basis modules with pages template
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
Due: none

fix(commands): make generated model placeholders tutorial-safe
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/app_pages_template/models.rs.tpl
  crates/reinhardt-commands/templates/app_restful_template/models.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/build.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/shared/types.rs.tpl
  crates/reinhardt-commands/tests/admin_scripts_tests.rs
  crates/reinhardt-commands/tests/e2e_pages.rs
  crates/reinhardt-commands/tests/embedded_startproject.rs
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
