Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs(website): fix incorrect feature names and crate defaults in feature-flags reference
  website/content/docs/feature-flags.md
Due: none

docs(website): fix non-existent types and incorrect paths in API reference
  website/content/docs/api/_index.md
Due: none

docs(website): fix incorrect imports and API usage in cookbook and tutorials
  website/content/docs/cookbook/cors.md
  website/content/docs/cookbook/middleware-creation.md
  website/content/docs/cookbook/pagination.md
  website/content/docs/cookbook/request-body-parsing.md
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/rest/quickstart.md
Due: none

docs: fix outdated version numbers and incorrect Q object API examples in README
  README.md
Due: none

feat(facade): add hidden reinhardt_auth module re-export
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(auth): add AuthPermission database model
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/permission.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

test(admin): enable 12 ignored E2E tests for DI pipeline and CSRF
  tests/integration/tests/admin/server_fn_e2e_tests.rs
Due: none

feat(orm): add #[field(skip = true)] attribute for non-DB fields
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(auth): add GroupManager integration and user macro tests
  crates/reinhardt-auth/tests/user_macro_integration.rs
  crates/reinhardt-auth/tests/user_model_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(facade): propagate database feature to reinhardt-auth via dep? syntax
  CLAUDE.md
  Cargo.toml
  Makefile.toml
Due: none

docs(website): propagate #3060 changes to tutorials and reference docs
  website/content/docs/api/_index.md
  website/content/docs/feature-flags.md
  website/content/docs/field-attributes.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/rest/4-authentication-and-permissions.md
Due: none

chore(ci): update rust version references in CI workflows
  .github/actions/setup-rust/action.yml
  .github/workflows/msrv-test.yml
  .github/workflows/test-examples.yml
Due: none

refactor(shortcuts): remove hardcoded postgres from database feature
  crates/reinhardt-shortcuts/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

refactor(admin): convert doc test ignore blocks to no_run for compile checking
  crates/reinhardt-admin/src/core/site.rs
  crates/reinhardt-admin/src/pages.rs
  crates/reinhardt-admin/src/pages/components/common.rs
  crates/reinhardt-admin/src/pages/components/features.rs
  crates/reinhardt-admin/src/pages/components/layout.rs
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-admin/src/server.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/dashboard.rs
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/detail.rs
  crates/reinhardt-admin/src/server/export.rs
  crates/reinhardt-admin/src/server/fields.rs
  crates/reinhardt-admin/src/server/import.rs
  crates/reinhardt-admin/src/server/list.rs
  crates/reinhardt-admin/src/server/type_inference.rs
  crates/reinhardt-admin/src/server/update.rs
  crates/reinhardt-admin/src/server/validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(auth): convert doc test ignore blocks to no_run for compile checking
  crates/reinhardt-auth/src/base_user_manager.rs
  crates/reinhardt-auth/src/core/base_user.rs
  crates/reinhardt-auth/src/core/full_user.rs
  crates/reinhardt-auth/src/handlers.rs
  crates/reinhardt-auth/src/oauth2.rs
  crates/reinhardt-auth/src/social.rs
  crates/reinhardt-auth/src/social/core/provider.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

refactor(rest,urls): convert doc test ignore blocks to no_run for compile checking
  crates/reinhardt-urls/src/proxy/collection.rs
  crates/reinhardt-urls/src/proxy/collection/aggregations.rs
  crates/reinhardt-urls/src/proxy/collection/operations.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/params.rs
  crates/reinhardt-urls/src/routers/server_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

refactor(test,testkit): convert doc test ignore blocks to no_run for compile checking
  crates/reinhardt-test/src/wasm/assertions.rs
  crates/reinhardt-test/src/wasm/mock.rs
  crates/reinhardt-test/src/wasm/wait.rs
  crates/reinhardt-testkit/src/containers.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  crates/reinhardt-testkit/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(apps,graphql,http,i18n,middleware,utils): convert doc test ignore blocks to no_run
  crates/reinhardt-apps/src/builder.rs
  crates/reinhardt-graphql/src/schema.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-i18n/src/lib.rs
  crates/reinhardt-middleware/src/messages.rs
  crates/reinhardt-utils/src/cache/hybrid.rs
  crates/reinhardt-utils/src/staticfiles/checks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Communication, Utilities & Infrastructure

fix(pages): revert non-compilable doc test blocks to ignore
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/api/queryset.rs
  crates/reinhardt-pages/src/auth.rs
  crates/reinhardt-pages/src/builder.rs
  crates/reinhardt-pages/src/builder/attributes.rs
  crates/reinhardt-pages/src/builder/html.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/component.rs
  crates/reinhardt-pages/src/component/props.rs
  crates/reinhardt-pages/src/component/trait.rs
  crates/reinhardt-pages/src/csrf.rs
  crates/reinhardt-pages/src/dom/element.rs
  crates/reinhardt-pages/src/form/binding.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/hooks/debug.rs
  crates/reinhardt-pages/src/reactive/hooks/id.rs
  crates/reinhardt-pages/src/reactive/hooks/refs.rs
  crates/reinhardt-pages/src/reactive/hooks/state.rs
  crates/reinhardt-pages/src/reactive/hooks/sync.rs
  crates/reinhardt-pages/src/reactive/hooks/transition.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/core.rs
  crates/reinhardt-pages/src/router/params.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/registration.rs
  crates/reinhardt-pages/src/ssr.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/static_resolver.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(misc): revert non-compilable doc test blocks to ignore
  crates/reinhardt-auth/src/base_user_manager.rs
  crates/reinhardt-auth/src/handlers.rs
  crates/reinhardt-auth/src/oauth2.rs
  crates/reinhardt-auth/src/social.rs
  crates/reinhardt-auth/src/social/core/provider.rs
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/encryption.rs
  crates/reinhardt-di/macros/src/lib.rs
  crates/reinhardt-di/src/injectable.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-forms/src/formsets.rs
  crates/reinhardt-forms/src/model_form.rs
  crates/reinhardt-forms/src/model_formset.rs
  crates/reinhardt-graphql/src/schema.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-manouche/src/core/form_node.rs
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-manouche/src/core/types.rs
  crates/reinhardt-manouche/src/parser/head.rs
  crates/reinhardt-middleware/src/messages.rs
  crates/reinhardt-testkit/src/containers.rs
  crates/reinhardt-testkit/src/lib.rs
  crates/reinhardt-urls/src/proxy/collection.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/params.rs
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-utils/src/staticfiles/checks.rs
  crates/reinhardt-views/src/detail.rs
  crates/reinhardt-views/src/viewsets/injectable.rs
  crates/reinhardt-views/src/viewsets/nested_resources.rs
  crates/reinhardt-views/src/viewsets/viewset.rs
  crates/reinhardt-websockets/src/consumers.rs
  crates/reinhardt-websockets/src/integration/pages.rs
  crates/reinhardt-websockets/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(testkit,integration): revert non-compilable doc test blocks to ignore
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  tests/integration/tests/di/macros_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(conf,graphql,utils): convert additional doc test ignore blocks to no_run
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/encryption.rs
  crates/reinhardt-graphql/src/schema.rs
  crates/reinhardt-utils/src/staticfiles/checks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Communication, Utilities & Infrastructure

feat(admin): add admin_csp_exempt_paths helper for CSP middleware integration
  crates/reinhardt-admin/src/core.rs
  crates/reinhardt-admin/src/core/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): update make_auth_user to return AdminAuthenticatedUser
  tests/integration/tests/admin/server_fn_helpers.rs
Due: none

test(auth): add feature flag tests and expand feature-check coverage
  Makefile.toml
  crates/reinhardt-auth/tests/feature_flags_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(admin): add negative tests for missing DI dependencies
  crates/reinhardt-admin/src/server/admin_auth.rs
  tests/integration/tests/admin/server_fn_e2e_tests.rs
  tests/integration/tests/admin/server_fn_helpers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): use migration registry to resolve PK type for UUID lookups
  crates/reinhardt-admin/src/core/database.rs
  tests/integration/tests/admin/server_fn_detail_tests.rs
  tests/integration/tests/admin/server_fn_helpers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix: correct version references from rc.15 to rc.14
  README.md
  crates/reinhardt-auth/src/core/user.rs
  crates/reinhardt-auth/src/default_user.rs
  crates/reinhardt-db/src/orm/query_execution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Authentication & Security

fix(examples): use flat settings keys to match reinhardt-cloud pattern
  examples/examples-github-issues/src/config/settings.rs
  examples/examples-hello-world/src/config/settings.rs
  examples/examples-twitter/src/config/settings.rs
Due: none

fix(examples): remove [core] section from TOML settings files
  examples/examples-github-issues/settings/base.toml
  examples/examples-github-issues/settings/ci.toml
  examples/examples-github-issues/settings/local.example.toml
  examples/examples-hello-world/settings/base.toml
  examples/examples-hello-world/settings/ci.toml
  examples/examples-hello-world/settings/local.example.toml
  examples/examples-twitter/settings/base.toml
  examples/examples-twitter/settings/ci.toml
  examples/examples-twitter/settings/local.example.toml
Due: none

feat(admin): separate dependencies by target architecture for WASM compilation
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-admin/build.rs
  crates/reinhardt-admin/src/lib.rs
  crates/reinhardt-admin/src/pages.rs
  crates/reinhardt-admin/src/server.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): correct WASM frontend code that was never compiled
  crates/reinhardt-admin/src/pages/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(examples): align import patterns and model conventions with reinhardt-cloud
  examples/examples-database-integration/src/apps/todos/models.rs
  examples/examples-database-integration/src/apps/todos/views.rs
  examples/examples-database-integration/src/apps/users/models.rs
  examples/examples-database-integration/src/config/views.rs
  examples/examples-github-issues/src/apps/auth/models.rs
  examples/examples-github-issues/src/apps/auth/views.rs
  examples/examples-github-issues/src/apps/issues/models.rs
  examples/examples-github-issues/src/apps/projects/models.rs
  examples/examples-rest-api/src/apps/api/models.rs
  examples/examples-rest-api/src/apps/api/serializers.rs
  examples/examples-rest-api/src/config/views.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/polls/serializers.rs
  examples/examples-tutorial-basis/src/apps/polls/views.rs
  examples/examples-tutorial-basis/src/shared/types.rs
  examples/examples-tutorial-rest/src/apps/snippets/models.rs
  examples/examples-tutorial-rest/src/apps/snippets/serializers.rs
  examples/examples-twitter/src/apps/auth/models/password_reset_token.rs
  examples/examples-twitter/src/apps/auth/models/user.rs
  examples/examples-twitter/src/apps/auth/shared/types.rs
  examples/examples-twitter/src/apps/dm/models/message.rs
  examples/examples-twitter/src/apps/dm/models/room.rs
  examples/examples-twitter/src/apps/dm/server/handlers.rs
  examples/examples-twitter/src/apps/dm/shared/types.rs
  examples/examples-twitter/src/apps/profile/models/profile.rs
  examples/examples-twitter/src/apps/profile/shared/types.rs
  examples/examples-twitter/src/apps/tweet/models/tweet.rs
  examples/examples-twitter/src/apps/tweet/shared/pagination.rs
  examples/examples-twitter/src/apps/tweet/shared/types.rs
Due: none

docs(examples): update CLAUDE.md import rules and add model attribute ordering
  examples/CLAUDE.md
Due: none

feat(admin): add wasm-unsafe-eval to CSP for WASM SPA execution
  crates/reinhardt-admin/src/server/security.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(admin): register dist-wasm for collectstatic auto-discovery
  crates/reinhardt-admin/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

chore(admin): add dev workflow tasks and gitignore dist-wasm
  .gitignore
  crates/reinhardt-admin/Makefile.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(admin): serve WASM build output via directory-based static file handler
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/lib.rs
  crates/reinhardt-admin/src/server/security.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages
