Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(admin-cli): address CodeRabbit review — validate --skip, atomic writes, bracket groups, multi-derive, reactive lookahead, walker determinism
  crates/reinhardt-admin-cli/src/migrate_v2.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/bare_ident.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/component_props.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/watch_unwrap.rs
  crates/reinhardt-admin-cli/src/migrate_v2/walker.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: delete vendor.rs instead of cfg-gating, update core.rs module declaration
  crates/reinhardt-admin/src/core.rs
  crates/reinhardt-admin/src/core/vendor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin-cli): use segment-based path comparison for bon::Builder dedup
  crates/reinhardt-admin-cli/src/migrate_v2/rules/component_props.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(reactive): set effect timing before initial execute_effect
  crates/reinhardt-core/src/reactive/effect.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(reactive): update hook docs, tests, and add Trackable for Action
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/state.rs
  crates/reinhardt-pages/src/reactive/hooks/transition.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/tests/hooks_deps_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(examples): wire Action clones into effect deps tuples
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
Due: none

fix(reinhardt-urls): address CodeRabbit review — doc example code fence and url_decode byte handling
  crates/reinhardt-urls/src/routers/client_router/from_request.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(pages-macros): address CodeRabbit review — comma handling and allow comment
  crates/reinhardt-manouche/src/parser/page/component_brace.rs
  crates/reinhardt-pages/tests/ui/page/fail/component_missing_required_prop.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: delete gated items instead of cfg-gating, update callers
  crates/reinhardt-test/src/fixtures/auth.rs
  crates/reinhardt-test/src/fixtures/wasm/browser.rs
  crates/reinhardt-test/src/wasm/mock.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: delete gated stub instead of cfg-gating, update callers
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/backends/connection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

docs: add #[cfg(any())] prohibition policy to 4 files
  AGENTS.md
  CLAUDE.md
  instructions/ANTI_PATTERNS.md
  instructions/QUICK_REFERENCE.md
  instructions/STABILITY_POLICY.md
Due: none

fix: delete gated items instead of cfg-gating, update callers
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/factory.rs
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  crates/reinhardt-testkit/src/server_fn/context.rs
  crates/reinhardt-testkit/src/testcase.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(auth): update core.rs and lib.rs doc references for removed types
  crates/reinhardt-auth/src/core.rs
  crates/reinhardt-auth/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(reinhardt-urls): replace loose contains with strict assert_eq! in ClientRouter integration test
  crates/reinhardt-urls/tests/clientrouter_page_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

style: apply cargo fmt-fix
  crates/reinhardt-manouche/src/parser/form.rs
  crates/reinhardt-manouche/src/validator/form.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): add CHANGELOG entry for typed form fields (#4397)
  crates/reinhardt-pages/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(di): remove unnecessary to_string() in build_request helper
  crates/reinhardt-di/tests/extractor_factory_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(rest): remove deletion-history comments from openapi.rs
  crates/reinhardt-rest/src/openapi.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(urls): fix broken intra-doc link in try_reverse_single_pass doc
  crates/reinhardt-urls/src/routers/reverse/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(storages): add #[allow(clippy::todo)] to unimplemented Phase 2 backends
  crates/reinhardt-storages/src/backends/azure.rs
  crates/reinhardt-storages/src/backends/gcs.rs
  crates/reinhardt-storages/src/factory.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): move redis_url to top-level and track local.toml
  examples/examples-tutorial-basis/.gitignore
  examples/examples-tutorial-basis/settings/base.toml
  examples/examples-tutorial-basis/settings/local.toml
Due: none

docs: fix misleading copy instruction in tracked local.toml
  examples/examples-tutorial-basis/settings/local.toml
Due: none

docs: update stale guidance after tracking local.toml
  examples/examples-tutorial-basis/settings/local.example.toml
  website/content/quickstart/tutorials/basis/1-project-setup.md
Due: none

chore: remove redundant local.example.toml files from examples
  examples/examples-tutorial-basis/settings/local.example.toml
  examples/examples-tutorial-rest/settings/local.example.toml
  examples/examples-twitter/settings/local.example.toml
Due: none

docs: remove local.example.toml references from tutorial
  website/content/quickstart/tutorials/basis/1-project-setup.md
Due: none

docs: update stale local.example.toml references after deletion
  examples/README.md
  examples/examples-tutorial-basis/README.md
  examples/examples-twitter/README.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

fix: update quickstart.sh after local.example.toml deletion
  examples/examples-twitter/quickstart.sh
Due: none

docs: add explicit prohibition of direct commits to protected branches
  AGENTS.md
  CLAUDE.md
  instructions/ANTI_PATTERNS.md
  instructions/QUICK_REFERENCE.md
Due: none

docs: resolve internal inconsistency in protected branch policy
  AGENTS.md
  CLAUDE.md
  instructions/QUICK_REFERENCE.md
Due: none

style: apply reinhardt-admin fmt-all to examples and tests
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
  crates/reinhardt-pages/tests/watch_ssr_tests.rs
  crates/reinhardt-pages/tests/watch_syntax_tests.rs
  examples/examples-tutorial-basis/migrations/auth/0001_initial.rs
  examples/examples-tutorial-basis/migrations/auth/0002_alter_auth_permission_id_alter_auth_group_i_and_more.rs
  examples/examples-tutorial-basis/migrations/default/0001_initial.rs
  examples/examples-tutorial-basis/migrations/default/0002_alter_sessions_session_key.rs
  examples/examples-tutorial-basis/migrations/polls/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0002_alter_choices_question_id.rs
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question__and_more.rs
  examples/examples-tutorial-basis/migrations/users/0001_initial.rs
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_alter_users_is_active_ad_and_more.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-rest/migrations/snippets/0001_initial.rs
  examples/examples-twitter/src/apps/auth/client/components.rs
  examples/examples-twitter/src/apps/dm/client/components.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/core/client/components/icons.rs
  examples/examples-twitter/src/core/client/components/layout.rs
  examples/examples-twitter/src/core/client/router.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages-macros): avoid stringifying typed choice values in load_choices
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(pages): delete gated Router modules and update all callers
  crates/reinhardt-admin/src/pages/components/layout.rs
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-pages/benches/wasm_framework_benchmarks.rs
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/spa_router.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/src/router/components.rs
  crates/reinhardt-pages/src/router/core.rs
  crates/reinhardt-pages/src/router/handler.rs
  crates/reinhardt-pages/src/router/history.rs
  crates/reinhardt-pages/src/router/params.rs
  crates/reinhardt-pages/src/router/pattern.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_full_layout_app/src/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/pages.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/router.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_sidebar_signal_app/src/lib.rs
  crates/reinhardt-pages/tests/navigate_free_fn_integration.rs
  crates/reinhardt-pages/tests/router_effect_reactivity_tests.rs
  crates/reinhardt-pages/tests/router_integration_tests.rs
  crates/reinhardt-pages/tests/use_router_integration.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_router_client_test.rs
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
  crates/reinhardt-pages/tests/wasm/link_interceptor_robustness_test.rs
  crates/reinhardt-pages/tests/wasm/nav_diag_dom_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_named_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_tier3_test.rs
  crates/reinhardt-pages/tests/wasm/wasm_bindgen_abi_pin_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: add workaround comment for redundant UNIQUE constraint in users migration
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_alter_users_is_active_ad_and_more.rs
Due: none

docs(pages): update doc comments removing references to deleted Router API
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/app/spa_router.rs
  crates/reinhardt-pages/src/reactive/hooks/router.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/router.rs
  crates/reinhardt-pages/tests/router_effect_reactivity_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: add #[cfg(any())] prohibition policy for deprecated API removal
  AGENTS.md
  CLAUDE.md
  instructions/ANTI_PATTERNS.md
  instructions/QUICK_REFERENCE.md
  instructions/STABILITY_POLICY.md
Due: none

docs(pages): fix residual doc references to deleted Router API
  crates/reinhardt-admin/src/pages/components/layout.rs
  crates/reinhardt-pages/src/app/spa_router.rs
  crates/reinhardt-pages/src/reactive/hooks/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(admin): fix doc reference to deleted Router type
  crates/reinhardt-admin/src/pages/components/layout.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix: resolve CI failures for unconditional reactive auto-wrap PR
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/tests/reactive_autowrap_integration_tests.rs
  crates/reinhardt-storages/src/backends/gcs.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(conf): remove dead code and unused imports after deprecated API deletion
  crates/reinhardt-conf/src/settings/advanced.rs
  crates/reinhardt-conf/src/settings/sources.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
