Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(db): validate typed relation load paths
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): harden hook dependency migration
  crates/reinhardt-admin-cli/src/migrate_v2/rules/use_effect_deps.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/reactive/trackable.rs
  crates/reinhardt-pages/tests/hooks_deps_integration.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_use_effect.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/covered_dep_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/explicit_deps_use_effect.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/extra_dep_not_flagged_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/get_untracked_escape_inside_page.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/hook_outside_page_unaffected.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/mount_only_unit_deps.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/mount_only_unit_deps_inside_page.rs
  crates/reinhardt-websockets/src/integration/pages.rs
  crates/reinhardt-websockets/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Communication

fix(macros): complete database field metadata integration
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/session.rs
  crates/reinhardt-testkit/src/fixtures/database.rs
  crates/reinhardt-testkit/src/fixtures/schema.rs
  tests/integration/tests/macros/ui/pass/model_enum_fields.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(fixtures): preserve m2m and verbosity handling
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

feat(pages): synchronize bound controls during hydration
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/dom.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): isolate query key number canonicalization
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/reactive/query.rs
  crates/reinhardt-pages/src/reactive/query/canonical_json.rs
  crates/reinhardt-pages/src/server_fn/codec.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(reactive): retain standalone owner scopes
  crates/reinhardt-pages/src/csrf.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/tests/wasm/csrf_wasm_test.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/tests/wasm/client_router_subscription_drop_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

fix(pages): scope hydrated guards to reactive branches
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): preserve typed eager load query semantics
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(orm)!: route model fields through database codecs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/json.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/orm.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): adopt controls before reactive hydration
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(manouche): accept valid one-part style shorthands
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve cfg attributes on generated styles
  crates/reinhardt-pages/macros/src/style.rs
  crates/reinhardt-pages/macros/src/style/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): keep Pages rebuild artifacts in sync
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/server_rebuild_pipeline.rs
  crates/reinhardt-commands/src/style_extractor.rs
  crates/reinhardt-commands/src/wasm_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): stabilize reactive hydration state
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): dispose reactive owners before children
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(fixtures): preserve fixture relation metadata
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/many_to_many_cross_app_target.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): close codec routing review gaps
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/macros/ui/pass/model_enum_fields.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): bind canonical database values directly
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(pages): document controlled input bindings
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/control_binding.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  instructions/API_PARITY.md
  instructions/MIGRATION_0.4.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): correct controlled binding documentation
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  instructions/MIGRATION_0.4.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(orm): preserve canonical primary key bindings
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): clear controlled input quality gates
  crates/reinhardt-core/src/security/xss.rs
  crates/reinhardt-core/tests/security_integration.rs
  crates/reinhardt-manouche/src/core/typed_node.rs
  crates/reinhardt-manouche/src/parser/form.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/src/event.rs
  crates/reinhardt-pages/src/testing/component/tests.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
  crates/reinhardt-pages/tests/native_event_family_handlers.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_dynamic_type.rs
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_dynamic_type.stderr
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_invalid_number_arity.rs
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_invalid_number_arity.stderr
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_missing_radio_value.rs
  crates/reinhardt-pages/tests/ui/page/fail/controlled_bind_missing_radio_value.stderr
  crates/reinhardt-pages/tests/ui/page/pass/controlled_bindings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): resolve controlled binding target parity
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/ssr/control_binding.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

feat(orm)!: type field filter and update values
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/server/error.rs
  crates/reinhardt-admin/src/types/errors.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/custom_manager.rs
  crates/reinhardt-db/src/orm/expressions.rs
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/tests/custom_manager_basic.rs
  crates/reinhardt-db/tests/orm_queryset_builder.rs
  tests/integration/tests/orm/model_enum_integration.rs
  tests/integration/tests/orm/queryset_docs_ui.rs
  tests/integration/tests/orm/ui/fail/model_enum_integer_filter.rs
  tests/integration/tests/orm/ui/fail/model_enum_integer_filter.stderr
  tests/integration/tests/orm/ui/fail/model_enum_string_filter.rs
  tests/integration/tests/orm/ui/fail/model_enum_string_filter.stderr
  tests/integration/tests/orm/ui/pass/model_enum_typed_filter.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages

fix(pages): align inferred option and IME semantics
  crates/reinhardt-manouche/src/validator/html_spec.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/macros/src/page/html_spec.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/ssr.rs
  crates/reinhardt-pages/src/ssr/control_binding.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/ui/page/fail/bound_select_dynamic_option_without_value.rs
  crates/reinhardt-pages/tests/ui/page/fail/bound_select_dynamic_option_without_value.stderr
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): close bound option validation gaps
  crates/reinhardt-manouche/src/validator/html_spec.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page/html_spec.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/src/ssr/control_binding.rs
  crates/reinhardt-pages/tests/ui/page/fail/bound_select_option_tabindex.rs
  crates/reinhardt-pages/tests/ui/page/fail/bound_select_option_tabindex.stderr
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): reset nested select validation context
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): strengthen select sibling context coverage
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): accept spin patch updates in dependency policy
  deny.toml
Due: none

fix(ci): tolerate spin 0.9 patch updates
  deny.toml
Due: none

fix(ci): allow spin 0.9 patch updates
  deny.toml
Due: none

fix(pages): align native callbacks with scoped handles
  crates/reinhardt-admin/src/pages/components/common.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/tests/hooks_deps_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): close controlled binding runtime parity gaps
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/tests.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(orm): propagate typed codec failures
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/foreign_key_id_accessor.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/foreign_key_string_pk_accessor.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/src/orm/annotation.rs
  crates/reinhardt-db/src/orm/custom_manager.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/tests/custom_manager_basic.rs
  crates/reinhardt-db/tests/orm_queryset_builder.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages

fix(orm): resolve foreign key target columns
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/foreign_key_string_pk_accessor.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/model.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): tighten controlled binding review semantics
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

test(pages): fix reactive mount regression fixture
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve reactive and SSR control ownership
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/control_binding.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages
