Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

chore: trigger CI with real file change
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

Revert "chore: trigger CI with real file change"
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): remove AdvancedSettings re-export and unused code
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(db): introduce type-safe nullable field on FieldMetadata
  crates/reinhardt-admin/src/server/type_inference.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/CHANGELOG.md
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
  tests/integration/tests/migrations/field_mapping_integration.rs
  tests/integration/tests/migrations/fk_column_metadata_resolution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages

refactor(pages): delete deprecated mock_server_fn and use_action_state APIs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/action.rs
  crates/reinhardt-pages/src/testing.rs
  crates/reinhardt-pages/src/testing/mock_fetch.rs
  crates/reinhardt-pages/src/testing/mock_http.rs
  crates/reinhardt-test/src/wasm/mock.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): restore missing pub use prefix in wasm mock re-export
  crates/reinhardt-test/src/wasm/mock.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): restore test_clear_mocks after mock_server_fn removal
  crates/reinhardt-pages/src/testing/mock_http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): preserve blank lines inside page! macro DSL when formatting
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/ast_formatter.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(di): delete deprecated Injected<T> and OptionalInjected<T> types
  crates/reinhardt-di/macros/src/injectable.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): remove stale Lookup-to-Filter bridge from doc comments
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(core-macros): remove deprecated attribute generation from proc macros
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/viewset_macro.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): remove duplicate Trackable module after merge
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/trackable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): add trybuild UI tests for hooks explicit deps (#4195)
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_use_effect.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_use_effect.stderr
  crates/reinhardt-pages/tests/ui/hooks/pass/explicit_deps_use_effect.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/mount_only_unit_deps.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/use_state_shape_unchanged.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(testkit): remove residual doc references to deleted deprecated APIs
  crates/reinhardt-testkit/src/auth.rs
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/fixtures/server_fn.rs
  crates/reinhardt-testkit/src/server_fn/context.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(test): return None::<fn()> from closures to match use_effect Option<C> signature
  crates/reinhardt-pages/tests/ui/hooks/pass/explicit_deps_use_effect.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/mount_only_unit_deps.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(deps): make Deps::as_slice pub for cross-crate use by reinhardt-pages
  crates/reinhardt-core/src/reactive/deps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(deps): add rustdoc for public Deps::as_slice method
  crates/reinhardt-core/src/reactive/deps.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

refactor(conf): delete deprecated Settings, AdvancedSettings, JsonFileSource, and related APIs
  crates/reinhardt-apps/src/lib.rs
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/introspect.rs
  crates/reinhardt-commands/src/mail_commands.rs
  crates/reinhardt-conf/src/lib.rs
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/advanced.rs
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/tests/file_sources.rs
  crates/reinhardt-conf/tests/interpolation.rs
  crates/reinhardt-conf/tests/profile_switching.rs
  crates/reinhardt-conf/tests/settings_builder.rs
  crates/reinhardt-conf/tests/source_priority.rs
  crates/reinhardt-middleware/src/allowed_hosts.rs
  crates/reinhardt-middleware/src/broken_link.rs
  crates/reinhardt-middleware/src/csrf.rs
  crates/reinhardt-middleware/src/security_middleware.rs
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/config.rs
  crates/reinhardt-middleware/src/session/middleware.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Utilities & Infrastructure

refactor: delete deprecated define_views! macro (since rc.16)
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(admin): add form! macro DSL formatting support
  crates/reinhardt-admin-cli/src/ast_formatter.rs
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): preserve comments and blank lines in codemod rewriting
  crates/reinhardt-admin-cli/src/migrate_v2.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): use text-based item search for codemod formatting preservation
  crates/reinhardt-admin-cli/src/migrate_v2.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(templates): add server_only, no_ws_resolvers to RESTful project url template
  crates/reinhardt-commands/templates/project_restful_template/src/config/urls.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

fix(manouche): use String as default JsonField inner type for backward compat
  crates/reinhardt-manouche/src/validator/form.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(manouche): preserve original parse error in generic type argument parsing
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): detect std-qualified String paths in type_is_string utility
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): update JsonField default type docs and rename stale test
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): address CodeRabbit review on CHANGELOG and with_param normalization
  crates/reinhardt-db/CHANGELOG.md
  crates/reinhardt-db/src/migrations/model_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(admin-cli): scaffold migrate-manouche-v2 subcommand
  Makefile.toml
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/lib.rs
  crates/reinhardt-admin-cli/src/main.rs
  crates/reinhardt-admin-cli/src/migrate_v2.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rewriter.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules.rs
  crates/reinhardt-admin-cli/src/migrate_v2/walker.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(admin-cli): codemod pipeline scaffolding (walker + rule trait + review fixes)
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/migrate_v2.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rewriter.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/bare_ident.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/component_props.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/use_effect_deps.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/watch_unwrap.rs
  crates/reinhardt-admin-cli/src/migrate_v2/walker.rs
  crates/reinhardt-admin-cli/tests/migrate_v2_walker.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): address CodeRabbit review on form! detection, char/lifetime scan, temp file, and codemod rules
  crates/reinhardt-admin-cli/src/ast_formatter.rs
  crates/reinhardt-admin-cli/src/main.rs
  crates/reinhardt-admin-cli/src/migrate_v2.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/component_props.rs
Due: unit, intra-crate-integration, cross-crate-integration

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
