Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(examples-twitter): align client SPA with develop/0.2.0 page!/form! API
  examples/examples-twitter/src/apps/auth/client/components.rs
  examples/examples-twitter/src/apps/dm/client/components.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/core/client/components/layout.rs
  examples/examples-twitter/src/core/client/router.rs
Due: none

ci(examples): WASM-build the example library to catch client SPA drift
  .github/workflows/examples-test.yml
Due: none

style(examples): apply reinhardt-admin fmt to satisfy fmt-check
  examples/examples-tutorial-basis/src/apps/polls/di.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

ci: run Examples Tests on self-hosted runner via shared determine-runner
  .github/workflows/ci.yml
  .github/workflows/determine-runner.yml
  .github/workflows/examples-test-standalone.yml
Due: none

style(examples): expand collapsed page! bodies in twitter common.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

refactor(pages): unify spawn into platform/, expose spawn_task from prelude
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/platform.rs
  crates/reinhardt-pages/src/platform/native.rs
  crates/reinhardt-pages/src/platform/wasm.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive/hooks/action.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/hooks/transition.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/spawn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(pages): normalize cfg notation to wasm/native aliases
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/component/suspense.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/testing/mock_fetch.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): keep deprecated reinhardt_pages::spawn re-export shim
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): document spawn compat shim module
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

ci(examples-test): skip headless-Chrome WASM steps on ARM64 self-hosted
  .github/workflows/examples-test.yml
Due: none

fix(exports): native-gate server-only re-exports for WASM consumers
  src/exports/misc.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(ci): skip arm64 browser WASM steps in examples-test
  .github/workflows/examples-test.yml
Due: none

fix(pages): collapse nested if to satisfy clippy::collapsible_if
  crates/reinhardt-pages/src/hydration/reconcile.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style: apply reinhardt-admin fmt-all to pages tests and twitter example
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/tests/page_keyed_for_integration_tests.rs
  crates/reinhardt-pages/tests/ui/form/fail/char_field_with_generic.rs
  crates/reinhardt-pages/tests/ui/form/fail/hidden_field_no_default.rs
  crates/reinhardt-pages/tests/ui/form/fail/ip_address_with_generic.rs
  crates/reinhardt-pages/tests/ui/page/pass/keyed_for.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/core/client/components/layout.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): replace skeleton spawn_task test with behavior assertion
  crates/reinhardt-pages/src/platform.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): make wasm spawn_task example testable (ignore -> no_run)
  crates/reinhardt-pages/src/platform/wasm.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style(pages): reorder form component imports to satisfy rustfmt
  crates/reinhardt-pages/src/form/component.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: mandate RAII pattern for resource management
  AGENTS.md
  CLAUDE.md
  instructions/ANTI_PATTERNS.md
  instructions/QUICK_REFERENCE.md
Due: none

fix(storages): gate gcs/azure integration tests behind their features
  crates/reinhardt-storages/tests/azure_tests.rs
  crates/reinhardt-storages/tests/gcs_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(storages): escape #[settings] in deprecation notes for rustdoc
  crates/reinhardt-storages/src/config.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): drop disposed-flag clone from Memo compute closure
  crates/reinhardt-core/src/reactive/memo.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(examples): apply reinhardt-admin fmt to example sources
  examples/examples-tutorial-basis/src/apps/polls/di.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-rest/src/apps/snippets/models.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/core/client/components/layout.rs
Due: none

style(examples): format twitter common page components
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

fix(core): drop unused mut on Memo::new parameter
  crates/reinhardt-core/src/reactive/memo.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(examples): apply reinhardt-admin fmt to remaining twitter client components
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/core/client/components/layout.rs
Due: none

docs(wiki): distribute Obsidian pages across categories and raise capture frequency
  instructions/OBSIDIAN_WIKI.md
  instructions/QUICK_REFERENCE.md
Due: none

docs(wiki): sync CLAUDE.md/AGENTS.md Obsidian section with OW-7 policy
  AGENTS.md
  CLAUDE.md
Due: none

style(examples): expand twitter common page! bodies to satisfy fmt-all
  examples/examples-twitter/src/core/client/components/common.rs
Due: none

test(pages): sync trybuild .stderr with rustfmt-collapsed empty braces
  crates/reinhardt-pages/tests/ui/form/fail/char_field_with_generic.stderr
  crates/reinhardt-pages/tests/ui/form/fail/ip_address_with_generic.stderr
Due: unit, intra-crate-integration, cross-crate-integration

test(storages): wait for Azurite readiness log instead of fixed delay
  crates/reinhardt-storages/tests/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(doc-test): link doctests with mold to cut documentation-test wall time
  .github/workflows/doc-test.yml
Due: none

fix(examples): resolve DATABASE_URL via db_url.sh for the management CLI
  examples/examples-tutorial-basis/Makefile.toml
  examples/examples-tutorial-basis/scripts/db_url.sh
  examples/examples-tutorial-basis/scripts/run-dev-release-server.sh
  examples/examples-tutorial-basis/scripts/run-dev-server.sh
  examples/examples-tutorial-rest/Makefile.toml
  examples/examples-tutorial-rest/scripts/db_url.sh
  examples/examples-twitter/Makefile.toml
  examples/examples-twitter/scripts/db_url.sh
Due: none

fix(examples): reference the correct upstream issue in db_url.sh
  examples/examples-tutorial-basis/scripts/db_url.sh
  examples/examples-tutorial-rest/scripts/db_url.sh
  examples/examples-twitter/scripts/db_url.sh
Due: none

docs(examples): align README management commands with db_url.sh resolution
  examples/examples-tutorial-rest/README.md
  examples/examples-twitter/README.md
Due: none

docs(examples-twitter): use the examples-twitter binary, not a manage bin
  examples/examples-twitter/README.md
Due: none

fix(commands): resolve management-command database URL from project settings
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(commands): pass get_settings() from generated manage.rs templates
  crates/reinhardt-commands/templates/project_pages_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/bin/manage.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration
