Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(benchmarks): clean up managed servers on interrupts
  benchmarks/frontend/runner/servers.ts
Due: none

fix(db): remove inactive n plus one prefetch guidance
  crates/reinhardt-db/src/orm/n_plus_one.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(manouche)!: add compile-time accessibility validation
  crates/reinhardt-manouche/src/core/typed_node.rs
  crates/reinhardt-manouche/src/validator.rs
  crates/reinhardt-manouche/src/validator/html_spec.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/ast/src/typed_node.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/html_spec.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/ui/page/fail/accessibility_validation.rs
  crates/reinhardt-pages/tests/ui/page/fail/accessibility_validation.stderr
  crates/reinhardt-pages/tests/ui/page/pass/accessibility_validation.rs
  crates/reinhardt-pages/tests/ui/page/pass/all_event_types.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_dynamic_conditional.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_dynamic_function.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_dynamic_variable.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_standalone.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_standalone_mixed.rs
  crates/reinhardt-pages/tests/ui/page/pass/complex_attributes.rs
  crates/reinhardt-pages/tests/ui/page/pass/events.rs
  crates/reinhardt-pages/tests/ui/page/pass/keyed_for.rs
  crates/reinhardt-pages/tests/ui/page/pass/numeric_attr_dynamic_function.rs
  crates/reinhardt-pages/tests/ui/page/pass/numeric_attr_dynamic_variable.rs
  crates/reinhardt-pages/tests/ui/page/pass/numeric_attr_int_literal.rs
  crates/reinhardt-pages/tests/ui/page/pass/void_elements.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(auth): keep legacy logins valid on rehash failure
  crates/reinhardt-auth/src/core/hasher.rs
  crates/reinhardt-auth/tests/password_hash_policy.rs
  crates/reinhardt-db/src/orm/type_decorator.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Authentication & Security

docs(rest): remove inactive prefetch guidance
  crates/reinhardt-rest/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(bench): coordinate signal cleanup handlers
  benchmarks/frontend/runner/__tests__/signal-cleanup.test.ts
  benchmarks/frontend/runner/dev-loop.ts
  benchmarks/frontend/runner/servers.ts
  benchmarks/frontend/runner/signal-cleanup.ts
Due: none

fix(pages): harden client form metadata generation
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/server_fn/metadata.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/skipped_default.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/skipped_default.stderr
  crates/reinhardt-pages/tests/ui/server_fn/fail/result_alias.rs
  crates/reinhardt-pages/tests/ui/server_fn/fail/result_alias.stderr
  crates/reinhardt-pages/tests/ui/server_fn/response_metadata.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages)!: add outlet page node
  crates/reinhardt-core/src/types/page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(pages): cover outlet head lookup
  crates/reinhardt-core/src/types/page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(migrations): address generated column review feedback
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(manouche): address accessibility validation review feedback
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/tests/ui/page/fail/accessibility_validation.rs
  crates/reinhardt-pages/tests/ui/page/fail/accessibility_validation.stderr
  crates/reinhardt-pages/tests/ui/page/pass/accessibility_validation.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(urls)!: match nested client layout routes
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/component.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/error.rs
  crates/reinhardt-urls/src/routers/client_router/handler.rs
  crates/reinhardt-urls/src/routers/client_router/scope.rs
  crates/reinhardt-urls/src/routers/client_router/tree.rs
  crates/reinhardt-urls/tests/client_router_layout_tree_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(pages): address client form review feedback
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/tagged_enum.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/tagged_enum.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/untagged_enum.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/untagged_enum.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/serde_renames.rs
  crates/reinhardt-pages/tests/ui/server_fn/response_metadata.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(manouche): handle composed accessibility labels
  crates/reinhardt-admin/src/pages/components/common.rs
  crates/reinhardt-admin/src/pages/components/features.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/tests/ui/page/fail/accessibility_validation.rs
  crates/reinhardt-pages/tests/ui/page/fail/accessibility_validation.stderr
  crates/reinhardt-pages/tests/ui/page/pass/accessibility_validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): handle generated column followups
  README.md
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): handle relative marker visibility
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): harden client layout route matching
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/error.rs
  crates/reinhardt-urls/src/routers/client_router/scope.rs
  crates/reinhardt-urls/src/routers/client_router/tree.rs
  crates/reinhardt-urls/tests/client_router_layout_tree_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(urls)!: compose client layout guards and metadata
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/tree.rs
  crates/reinhardt-urls/tests/client_router_layout_tree_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(ci): format basis tutorial page closures
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
Due: none

feat(pages): add reactive i18n translations
  Cargo.toml
  crates/reinhardt-i18n/Cargo.toml
  crates/reinhardt-i18n/src/catalog.rs
  crates/reinhardt-i18n/src/lib.rs
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/i18n_requirements.md
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/i18n.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/i18n_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

feat(pages)!: preserve client layout shells
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

docs(pages): design native component test harness
  docs/superpowers/specs/2026-07-04-native-component-test-harness-design.md
Due: none

feat(pages)!: add layout component macro
  crates/reinhardt-pages/macros/src/component.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/src/component.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/tests/layout_macro_integration_tests.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/layout/fail/missing_outlet.rs
  crates/reinhardt-pages/tests/ui/layout/fail/missing_outlet.stderr
  crates/reinhardt-pages/tests/ui/layout/pass/basic.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/component.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Frontend & Pages

feat(pages): add native component testing harness
  Cargo.toml
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/platform/native.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/server_fn.rs
  crates/reinhardt-pages/src/testing.rs
  crates/reinhardt-pages/src/testing/component.rs
  crates/reinhardt-pages/src/testing/component/error.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/pretty.rs
  crates/reinhardt-pages/src/testing/component/query.rs
  crates/reinhardt-pages/src/testing/component/role.rs
  crates/reinhardt-pages/src/testing/component/scheduler.rs
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/src/testing/component/server_fn_mock.rs
  crates/reinhardt-pages/src/testing/component/tests.rs
  crates/reinhardt-pages/src/testing/component/text_match.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/component_testing.rs
  crates/reinhardt-pages/tests/snapshots/component_testing__pretty_dom_snapshot_is_stable.snap
  src/test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

docs(pages): document native component tests
  crates/reinhardt-pages/CHANGELOG.md
  crates/reinhardt-pages/README.md
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): clean all-features clippy warnings
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/hooks/sync.rs
  crates/reinhardt-pages/tests/component_system_integration.rs
  crates/reinhardt-pages/tests/context_api_integration.rs
  crates/reinhardt-pages/tests/hooks_integration.rs
  crates/reinhardt-pages/tests/hydration_execution_integration.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/static_asset_decision_table_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat!(pages): resolve SSR resources asynchronously
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/benches/wasm_framework_benchmarks.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/component/suspense.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/ssr.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/src/ssr/state.rs
  crates/reinhardt-pages/src/ssr/stream.rs
  crates/reinhardt-pages/src/static_resolver.rs
  crates/reinhardt-pages/tests/ssr_head_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_hydration_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_resource_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
  crates/reinhardt-pages/tests/static_files_integration_tests.rs
  crates/reinhardt-shortcuts/README.md
  crates/reinhardt-shortcuts/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages, Utilities & Infrastructure

docs(pages): design arena-backed copy handles
  docs/superpowers/specs/2026-07-05-issue-5575-arena-copy-handles-design.md
Due: none

feat(core): add reactive scope arena foundation
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/scope.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(migrations): simplify binary SQL type branch
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): use keyword type in page fixtures
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/tests/ui/page/fail/accessibility_validation.rs
  crates/reinhardt-pages/tests/ui/page/pass/accessibility_validation.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(benchmark,macros): address develop merge review feedback
  benchmarks/frontend/runner/commands.ts
  benchmarks/frontend/runner/servers.ts
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/relation_info_serde.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-core/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(query,migrations): address generated column review feedback
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/types/ddl.rs
  docs/superpowers/specs/2026-07-01-typed-generated-column-expressions-design.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): allow release-plz examples lockfile updates
  instructions/RELEASE_PROCESS.md
  release-plz.toml
Due: none

fix(pages): scope native component harness state
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/relation_info_serde.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-core/src/lib.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/scheduler.rs
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/src/testing/component/server_fn_mock.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): rerender completed native test work
  crates/reinhardt-pages/src/testing/component/screen.rs
  crates/reinhardt-pages/tests/component_testing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: add release announcement(s)
  announcements/v0.3.1.md
Due: none

fix(pages): harden async SSR resource rendering
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/src/ssr/state.rs
  crates/reinhardt-pages/tests/ssr_resource_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

fix(urls): reduce client route registration arguments
  crates/reinhardt-urls/src/routers/client_router/scope.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing
