Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix: use strict assertions in format_engine tests
  crates/reinhardt-admin-cli/src/format_engine.rs
Due: unit, intra-crate-integration, cross-crate-integration

test: add comprehensive tests for tree-sitter scanners and format engine
  crates/reinhardt-admin-cli/src/format_engine.rs
  crates/tree-sitter-reinhardt-form/src/lib.rs
  crates/tree-sitter-reinhardt-head/src/lib.rs
  crates/tree-sitter-reinhardt-page/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): add reinhardt-testkit-macros to release-plz version group
  release-plz.toml
Due: none

docs: complete MIGRATION_0.2.md for all removed APIs
  instructions/MIGRATION_0.2.md
Due: none

fix(storages): reject path traversal in LocalStorage
  crates/reinhardt-storages/src/backends/local.rs
  crates/reinhardt-storages/src/error.rs
  crates/reinhardt-storages/tests/local_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): improve Topiary block formatting rules
  crates/reinhardt-admin-cli/queries/form_formatting.scm
  crates/reinhardt-admin-cli/queries/head_formatting.scm
  crates/reinhardt-admin-cli/queries/page_formatting.scm
  crates/reinhardt-admin-cli/src/format_engine.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(di)!: enforce scope hierarchy at resolution time
  crates/reinhardt-di/src/context.rs
  crates/reinhardt-di/src/cycle_detection.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/src/registry.rs
  crates/reinhardt-di/tests/scope_hierarchy_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(storages): reject Windows drive-letter absolute paths in validate_path
  crates/reinhardt-storages/src/backends/local.rs
  crates/reinhardt-storages/tests/local_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): skip raw strings in unary minus normalization
  crates/reinhardt-admin-cli/src/format_engine.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(di): enforce scope check on cache-hit path
  crates/reinhardt-di/src/context.rs
  crates/reinhardt-di/tests/scope_hierarchy_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

security(storages): add symlink containment check and expand test coverage
  crates/reinhardt-storages/src/backends/local.rs
  crates/reinhardt-storages/tests/local_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat!: remove type-safe URL reversal layer (typed.rs)
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/reverse.rs
  crates/reinhardt-urls/src/routers/reverse/tests.rs
  crates/reinhardt-urls/src/routers/reverse/typed.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

fix(di): enforce scope check on pre-seeded request cache and bypass path
  crates/reinhardt-di/src/context.rs
  crates/reinhardt-di/tests/scope_hierarchy_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

test(storages): align dangerous path test coverage across all methods
  crates/reinhardt-storages/tests/local_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): resolve format, publish, and semgrep CI failures
  .semgrepignore
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/format_engine.rs
  vendor/topiary-tree-sitter-facade/Cargo.toml
  vendor/topiary-web-tree-sitter-sys/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): exclude reinhardt-admin-cli from publish check temporarily
  .github/workflows/publish-check.yml
  crates/reinhardt-admin-cli/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(di): address Copilot review feedback on scope hierarchy tests
  crates/reinhardt-di/Cargo.toml
  crates/reinhardt-di/src/context.rs
  crates/reinhardt-di/src/cycle_detection.rs
  crates/reinhardt-di/tests/scope_hierarchy_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

feat!: require name on ClientRouter::route*; remove named_route* variants
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-commands/tests/e2e_pages.rs
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-pages/benches/wasm_framework_benchmarks.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_full_layout_app/src/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/router.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_sidebar_signal_app/src/lib.rs
  crates/reinhardt-pages/tests/navigate_free_fn_integration.rs
  crates/reinhardt-pages/tests/router_effect_reactivity_tests.rs
  crates/reinhardt-pages/tests/use_router_integration.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_router_client_test.rs
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
  crates/reinhardt-pages/tests/wasm/link_interceptor_robustness_test.rs
  crates/reinhardt-pages/tests/wasm/nav_diag_dom_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_named_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_test.rs
  crates/reinhardt-pages/tests/wasm/spa_navigation_diag_tier3_test.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/registration.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
  crates/reinhardt-urls/tests/client_url_resolver.rs
  crates/reinhardt-urls/tests/wasm/client_router_listener_panic_isolation_test.rs
  crates/reinhardt-urls/tests/wasm/client_router_observer_dispatch_test.rs
  crates/reinhardt-urls/tests/wasm/client_router_subscription_drop_test.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-twitter/src/apps/auth/urls.rs
  examples/examples-twitter/src/apps/dm/urls.rs
  examples/examples-twitter/src/apps/profile/urls.rs
  examples/examples-twitter/src/apps/tweet/urls.rs
  src/lib.rs
  tests/integration/tests/client_router_typed_url_integration.rs
  tests/integration/tests/routing/url_patterns_typed_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing, Frontend & Pages

feat!: unify UrlReverser; remove ClientUrlReverser
  crates/reinhardt-core/macros/src/crate_paths.rs
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/src/reactive/signal.rs
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/global.rs
  crates/reinhardt-urls/src/routers/client_router/reverser.rs
  crates/reinhardt-urls/src/routers/registration.rs
  crates/reinhardt-urls/src/routers/reverse/reverser.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
  crates/reinhardt-urls/tests/client_url_resolver.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-rest/Cargo.toml
  examples/examples-tutorial-rest/tests/urls_typed_accessors.rs
  src/lib.rs
  tests/integration/tests/client_router_typed_url_integration.rs
  tests/integration/tests/routing/url_patterns_typed_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

feat!: remove Route::with_name() builder method
  crates/reinhardt-dispatch/src/handler.rs
  crates/reinhardt-dispatch/src/lib.rs
  crates/reinhardt-urls/src/routers/helpers.rs
  crates/reinhardt-urls/src/routers/reverse/reverser.rs
  crates/reinhardt-urls/src/routers/reverse/tests.rs
  crates/reinhardt-urls/src/routers/route.rs
  crates/reinhardt-urls/src/routers/router.rs
  crates/reinhardt-urls/src/routers/simple.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Utilities & Infrastructure

fix(auth)!: migrate internal consumers from removed User/SimpleUser types
  crates/reinhardt-auth/src/advanced_permissions.rs
  crates/reinhardt-auth/src/basic.rs
  crates/reinhardt-auth/src/core/backend.rs
  crates/reinhardt-auth/src/core/permission.rs
  crates/reinhardt-auth/src/default_user_manager.rs
  crates/reinhardt-auth/src/handlers.rs
  crates/reinhardt-auth/src/internal_user.rs
  crates/reinhardt-auth/src/jwt.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/mfa.rs
  crates/reinhardt-auth/src/model_permissions.rs
  crates/reinhardt-auth/src/oauth2.rs
  crates/reinhardt-auth/src/object_permissions.rs
  crates/reinhardt-auth/src/rate_limit_permission.rs
  crates/reinhardt-auth/src/remote_user.rs
  crates/reinhardt-auth/src/repository.rs
  crates/reinhardt-auth/src/rest_authentication.rs
  crates/reinhardt-auth/src/user_management.rs
  crates/reinhardt-middleware/src/auth.rs
  crates/reinhardt-middleware/src/remote_user.rs
  crates/reinhardt-rest/src/authentication.rs
  crates/reinhardt-rest/src/lib.rs
  crates/reinhardt-views/src/viewsets/handler/model_view_set_handler.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Authentication & Security

fix(auth): migrate integration tests from removed auth types
  tests/integration/src/flatpages_app.rs
  tests/integration/tests/api/authentication_integration.rs
  tests/integration/tests/auth.rs
  tests/integration/tests/auth/auth_integration.rs
  tests/integration/tests/auth/base_user_integration.rs
  tests/integration/tests/auth/concurrent_auth_integration.rs
  tests/integration/tests/auth/current_user_di_integration.rs
  tests/integration/tests/auth/default_user_orm_integration.rs
  tests/integration/tests/auth/full_user_integration.rs
  tests/integration/tests/auth/multi_auth_backend_integration.rs
  tests/integration/tests/auth/oauth2_flows_integration.rs
  tests/integration/tests/auth/permissions_mixin_integration.rs
  tests/integration/tests/auth/rate_limit_redis_integration.rs
Due: none

feat!: simplify #[routes] to inventory registration only
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/macro_state.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/async_with_client_inventory.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/async_with_client_inventory.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_client_inventory.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_client_inventory.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_no_client_resolvers.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_no_client_resolvers.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_no_ws_resolvers.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_no_ws_resolvers.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_server_only.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_server_only.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_standalone.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/duplicate_standalone.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/no_client_resolvers_with_client_inventory.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/no_client_resolvers_with_client_inventory.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/server_only_with_client_inventory.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/server_only_with_client_inventory.stderr
  crates/reinhardt-core/macros/tests/ui/routes_registration/fail/unknown_argument.stderr
  crates/reinhardt-pages/src/app/launcher.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/client/lib.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-rest/src/apps/snippets/urls.rs
  examples/examples-tutorial-rest/src/config/urls.rs
  examples/examples-tutorial-rest/src/lib.rs
  examples/examples-tutorial-rest/src/urls_demo.rs
  examples/examples-tutorial-rest/tests/urls_typed_accessors.rs
  examples/examples-twitter/src/config/urls.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(auth): replace non-existent BackendError with DatabaseError in tests
  tests/integration/tests/api/authentication_integration.rs
Due: none

refactor(examples): update stale #[url_patterns] comment in tutorial-rest
  examples/examples-tutorial-rest/src/lib.rs
Due: none

test: remove dangling url_patterns_typed_integration module reference
  tests/integration/tests/routing.rs
Due: none

chore: final cleanup and formatting for URL routing simplification
  crates/reinhardt-admin/src/pages/components/layout.rs
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/prelude.rs
  crates/reinhardt-conf/src/settings/sources.rs
  crates/reinhardt-conf/tests/profile_switching.rs
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
  crates/reinhardt-manouche/src/parser/page/component_brace.rs
  crates/reinhardt-middleware/src/allowed_hosts.rs
  crates/reinhardt-middleware/src/csrf.rs
  crates/reinhardt-middleware/src/session/config.rs
  crates/reinhardt-pages/benches/wasm_framework_benchmarks.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/src/app.rs
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/testing/mock_http.rs
  crates/reinhardt-pages/tests/navigate_free_fn_integration.rs
  crates/reinhardt-pages/tests/router_effect_reactivity_tests.rs
  crates/reinhardt-test/src/fixtures/auth.rs
  crates/reinhardt-test/src/wasm/mock.rs
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/from_request.rs
  crates/reinhardt-urls/src/routers/resolver.rs
  crates/reinhardt-urls/src/routers/reverse/tests.rs
  src/di.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, Authentication & Security, Server & Routing, Frontend & Pages, Utilities & Infrastructure

fix: remove deleted #[routes] arguments from project templates
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/urls.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor: remove StreamingRef accessor and stale ResolvedUrls references
  crates/reinhardt-core/macros/src/action.rs
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/streaming.rs
  crates/reinhardt-core/macros/src/streaming_patterns.rs
  crates/reinhardt-core/src/ws.rs
  crates/reinhardt-streaming/src/lib.rs
  crates/reinhardt-streaming/tests/streaming_e2e.rs
  crates/reinhardt-streaming/tests/streaming_patterns_typed.rs
  crates/reinhardt-urls/src/routers/resolver.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

docs: update #[streaming_patterns] doc to reflect removed accessor
  crates/reinhardt-core/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(tree-sitter): handle Rust lifetime annotations in DSL scanner
  crates/tree-sitter-reinhardt-form/src/scanner.c
  crates/tree-sitter-reinhardt-head/src/scanner.c
  crates/tree-sitter-reinhardt-page/src/scanner.c
  examples/examples-twitter/src/apps/dm/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): exclude reinhardt-admin-cli from semver check
  .github/workflows/semver-check.yml
Due: none

fix(pages): update trybuild stderr line numbers after formatting
  crates/reinhardt-pages/tests/ui/form/fail/client_validators_rejected.stderr
  crates/reinhardt-pages/tests/ui/form/fail/derived_duplicate_name.stderr
  crates/reinhardt-pages/tests/ui/form/fail/strip_arguments_duplicate_key.stderr
  crates/reinhardt-pages/tests/ui/form/fail/strip_arguments_field_collision.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(auth): address CodeRabbit review feedback
  crates/reinhardt-auth/src/advanced_permissions.rs
  crates/reinhardt-auth/src/basic.rs
  crates/reinhardt-auth/src/jwt.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/mfa.rs
  crates/reinhardt-auth/src/model_permissions.rs
  crates/reinhardt-auth/src/oauth2.rs
  crates/reinhardt-auth/src/object_permissions.rs
  crates/reinhardt-auth/src/remote_user.rs
  crates/reinhardt-auth/src/rest_authentication.rs
  crates/reinhardt-auth/src/user_management.rs
  crates/reinhardt-middleware/src/auth.rs
  crates/reinhardt-middleware/src/remote_user.rs
  crates/reinhardt-rest/src/authentication.rs
  src/lib.rs
  tests/integration/src/flatpages_app.rs
  tests/integration/tests/api/authentication_integration.rs
  tests/integration/tests/auth/auth_integration.rs
  tests/integration/tests/auth/multi_auth_backend_integration.rs
  tests/integration/tests/auth/rate_limit_redis_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Authentication & Security

fix(auth): replace InternalUser in UserManager public API with ManagedUser
  crates/reinhardt-admin/src/pages/components/login.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/user_management.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-core/src/reactive/memo.rs
  crates/reinhardt-manouche/src/parser/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/resolver.rs
  crates/reinhardt-urls/src/routers/reverse.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Server & Routing, Frontend & Pages, Utilities & Infrastructure

fix(auth,urls,pages): remove stale references and fix latent clippy lints
  crates/reinhardt-auth/src/internal_user.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-urls/src/routers/reverse/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Server & Routing, Frontend & Pages

fix(urls): migrate reverse tests from removed panicking helpers to try_ variants
  crates/reinhardt-urls/src/routers/reverse/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
