Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(staticfiles): rewrite HTML prefetch dependencies
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/html.rs
  crates/reinhardt-utils/tests/static_publication_references.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): reject competing legacy publication manifests
  crates/reinhardt-utils/src/staticfiles/publication/publisher.rs
  crates/reinhardt-utils/tests/static_publication_atomicity.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): honor HTML fallback quality values
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): ignore unsupported multipart ranges
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): preserve admin routes under manifest serving
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(staticfiles): clarify manifest serving edge cases
  crates/reinhardt-utils/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(staticfiles): normalize encoded mounts and encoding quality parameters
  crates/reinhardt-utils/README.md
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): share manifest selection and admin routing across runservers
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/runserver_assets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): allow compatible rand 0.10 patch releases
  deny.toml
Due: none

fix(staticfiles): relocate CSS image-set string candidates
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/css.rs
  crates/reinhardt-utils/tests/static_publication_image_set.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

ci: allow WASM dependency fetch without an existing lockfile
  .github/workflows/intra-crate-integration-test.yml
Due: none

ci: allow WASM fixture prefetch to create the workspace lockfile
  .github/workflows/intra-crate-integration-test.yml
Due: none

fix(staticfiles): encode v2 paths in legacy template integration
  crates/reinhardt-utils/src/staticfiles/template_integration.rs
  crates/reinhardt-utils/tests/static_template_v2_urls.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(middleware): retain representation metadata on conditional responses
  crates/reinhardt-middleware/src/etag.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(commands): reject static URL aliases that shadow logical inputs
  crates/reinhardt-commands/src/buildstatic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): address publication and browser review findings
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/src/wasm_builder.rs
  crates/reinhardt-commands/tests/buildstatic_source_namespace_tests.rs
  crates/reinhardt-middleware/src/conditional.rs
  crates/reinhardt-pages/src/static_resolver.rs
  crates/reinhardt-pages/tests/static_resolver_browser_snapshot.rs
  crates/reinhardt-pages/tests/static_resolver_invalid_browser_snapshot.rs
  crates/reinhardt-utils/src/staticfiles/publication/manifest.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/html.rs
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/tests/static_publication_application_routes.rs
  crates/reinhardt-utils/tests/static_publication_html_integrity.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
  crates/reinhardt-utils/tests/static_publication_legacy_metadata_names.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Frontend & Pages, Utilities & Infrastructure

ci: validate PR 6347 management entrypoint
  .github/workflows/pr-6347-cli-entrypoint-validation.yml
Due: none

fix(commands): expose the management asset entrypoint selector
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

ci: remove completed PR 6347 validation workflow
  .github/workflows/pr-6347-cli-entrypoint-validation.yml
Due: none

test(commands): account for registered static assets in repeat builds
  crates/reinhardt-commands/tests/buildstatic_source_namespace_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(forms): preserve JSON null in validated form patches
  crates/reinhardt-core/macros/src/model_derive/form_patch.rs
  tests/integration/tests/model_form_patch.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(forms): reject SQL null in optional JSON form patches
  crates/reinhardt-core/macros/src/model_derive/form_patch.rs
  crates/reinhardt-core/macros/tests/fixtures/model_wasm_parity/src/patch_validation.rs
  crates/reinhardt-forms/README.md
  crates/reinhardt-pages/docs/model_forms.md
  tests/integration/tests/model_form_patch.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(staticfiles): resolve actionable publication review comments
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-utils/README.md
  crates/reinhardt-utils/src/staticfiles/publication/document.rs
  crates/reinhardt-utils/src/staticfiles/publication/pipeline.rs
  crates/reinhardt-utils/src/staticfiles/publication/publisher.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/html.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/javascript.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/manifest.rs
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/src/staticfiles/storage.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
  crates/reinhardt-utils/tests/static_publication_references.rs
  crates/reinhardt-utils/tests/static_template_v2_urls.rs
  deny.toml
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(staticfiles): address manifest and serving regressions
  crates/reinhardt-commands/src/buildstatic/inputs.rs
  crates/reinhardt-commands/tests/buildstatic_inputs_tests.rs
  crates/reinhardt-utils/src/staticfiles/publication/document.rs
  crates/reinhardt-utils/src/staticfiles/publication/pipeline.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite.rs
  crates/reinhardt-utils/src/staticfiles/publication/rewrite/html.rs
  crates/reinhardt-utils/src/staticfiles/publication/serving.rs
  crates/reinhardt-utils/src/staticfiles/storage.rs
  crates/reinhardt-utils/tests/static_publication_http.rs
  crates/reinhardt-utils/tests/static_publication_references.rs
  crates/reinhardt-utils/tests/static_template_v2_urls.rs
  website/content/docs/cookbook/static-files.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): forward-port WebSocket retry lifecycle
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket/connection.rs
  crates/reinhardt-pages/tests/websocket_reconnect_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): constrain Rust shell dependencies in release baselines
  instructions/RELEASE_PROCESS.md
  scripts/prepare-release-baseline.py
  scripts/tests/test_release_pr_baseline.py
Due: none

feat(conf): resolve selected settings paths lazily
  crates/reinhardt-conf/README.md
  crates/reinhardt-conf/src/lib.rs
  crates/reinhardt-conf/src/settings.rs
  crates/reinhardt-conf/src/settings/builder.rs
  crates/reinhardt-conf/src/settings/scoped.rs
  crates/reinhardt-conf/src/settings/sources.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(commands): prepare declared command capabilities
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/capabilities.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/registry.rs
  crates/reinhardt-commands/src/static_asset_settings.rs
  crates/reinhardt-commands/tests/capability_bootstrap_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(commands): adopt scoped bootstrap in project scaffolds
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/templates/project_pages_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/settings.rs.tpl
  crates/reinhardt-commands/tests/capability_consumer_smoke.rs
  crates/reinhardt-commands/tests/embedded_startproject.rs
  crates/reinhardt-commands/tests/fixtures/capability_project/Cargo.toml.tpl
  crates/reinhardt-commands/tests/fixtures/capability_project/assets/logo.txt
  crates/reinhardt-commands/tests/fixtures/capability_project/settings/base.toml.tpl
  crates/reinhardt-commands/tests/fixtures/capability_project/src/bin/manage.rs.tpl
  crates/reinhardt-commands/tests/fixtures/capability_project/src/lib.rs.tpl
  docs/migration/0.4.0-command-capability-bootstrap.md
  website/content/docs/cookbook/static-files.md
Due: unit, intra-crate-integration, cross-crate-integration

test(commands): exercise generated Pages and migration boundaries
  crates/reinhardt-commands/tests/capability_consumer_smoke.rs
  crates/reinhardt-commands/tests/capability_pages_smoke.rs
  crates/reinhardt-commands/tests/fixtures/capability_project/Cargo.toml.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(policy): remove agent-suspect issue handling
  .github/labels.yml
  .github/workflows/monitor-rc-stability.yml
  .github/workflows/stale.yml
  docs/API_STABILITY.md
  instructions/ISSUE_GUIDELINES.md
  instructions/STABILITY_POLICY.md
Due: none

fix(auth): accept array audiences in OIDC ID tokens
  crates/reinhardt-auth/src/social/core/claims.rs
  crates/reinhardt-auth/src/social/oidc/id_token.rs
  crates/reinhardt-auth/tests/generic_oidc_integration.rs
  crates/reinhardt-auth/tests/oauth_mock_integration.rs
  crates/reinhardt-auth/tests/social/claims_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(commands): scope built-in command requirements
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/capabilities.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/introspect.rs
  crates/reinhardt-commands/src/local_infra/command.rs
  crates/reinhardt-commands/src/local_infra/config.rs
  crates/reinhardt-commands/src/local_infra/service.rs
  crates/reinhardt-commands/src/showmigrations.rs
  crates/reinhardt-commands/tests/capability_bootstrap_tests.rs
  crates/reinhardt-commands/tests/capability_consumer_smoke.rs
  crates/reinhardt-conf/src/settings/scoped.rs
  docs/migration/0.4.0-command-capability-bootstrap.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

docs(auth): record OAuth authorization server contract
  docs/rfc/2026-09-23-oauth2-authorization-server-design.md
Due: none

fix(auth): validate legacy OAuth codes and stop refresh issuance
  crates/reinhardt-auth/src/oauth2.rs
  tests/integration/tests/auth/oauth2_flows_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(auth): add OAuth authorization and token core
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
  crates/reinhardt-auth/src/oauth2_server/store.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(auth): persist OAuth state in PostgreSQL
  crates/reinhardt-auth/migrations/0001_oauth_server.sql
  crates/reinhardt-auth/src/oauth2_server.rs
  crates/reinhardt-auth/src/oauth2_server/postgres.rs
  crates/reinhardt-auth/src/oauth2_server/protocol.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security
