Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

perf(build): keep measured dev profile defaults
  Cargo.toml
  docs/build-perf/issue-5218-incremental-check-results.md
  docs/rfc/build-time-reduction-rfc.md
Due: none

perf(commands): notify browsers after hot reload rebuilds
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
  crates/reinhardt-pages/src/hmr/server.rs
  crates/reinhardt-utils/src/staticfiles/middleware.rs
  docs/build-perf/README.md
  instructions/BUILD_PERFORMANCE.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

perf(build): measure pages wasm and server loops
  docs/build-perf/README.md
  scripts/bench-build.sh
Due: none

perf(commands): use staleness check for pages wasm reuse
  crates/reinhardt-commands/src/builtin.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

perf(pages): batch generated page attributes
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

perf(build): measure hot reload target selection
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
  scripts/bench-build.sh
Due: none

test(commands): verify hmr reload after rebuild
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(build): update wasm loop measurements
  docs/build-perf/issue-5218-incremental-check-results.md
Due: none

perf(pages): prune unused runtime parser deps
  crates/reinhardt-pages/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

perf(pages): gate non-browser wasm modules
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/ssr.rs
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

perf(pages): trim wasm dependency graph
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/reactive/context.rs
  crates/reinhardt-manouche/Cargo.toml
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/ast/Cargo.toml
  crates/reinhardt-pages/ast/src/form_typed.rs
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

perf(build): tune dev profile for hot reload
  Cargo.toml
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/templates/project_pages_template/Cargo.toml.tpl
  crates/reinhardt-commands/templates/project_restful_template/Cargo.toml.tpl
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/Cargo.toml
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
  scripts/bench-build.sh
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

perf(pages): hot patch static page edits
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/examples/page_hot_patch_probe.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/page_hot_patch.rs
  crates/reinhardt-pages/src/hmr/client_script.rs
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/client.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/lib.rs
  docs/build-perf/README.md
  docs/build-perf/issue-5218-incremental-check-results.md
  scripts/bench-build.sh
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

fix(build): address CodeRabbit review feedback
  README.md
  crates/reinhardt-commands/src/page_hot_patch.rs
  crates/reinhardt-pages/src/hmr/client_script.rs
  crates/reinhardt-pages/src/hmr/message.rs
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-utils/src/staticfiles/middleware.rs
  docs/build-perf/issue-5218-incremental-check-results.md
  scripts/bench-build.sh
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

perf(build): measure cold workspace build
  Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
  docs/build-perf/issue-5218-incremental-check-results.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): adapt hot reload tests for develop
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): satisfy clippy for hot reload notification
  crates/reinhardt-commands/src/debounced_watcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(build): address CodeRabbit hot patch feedback
  crates/reinhardt-commands/src/page_hot_patch.rs
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(build): address Codex review follow-ups
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-deeplink/Cargo.toml
  crates/reinhardt-shortcuts/Cargo.toml
  crates/reinhardt-test/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(build): port Codex review follow-ups
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/page_hot_patch.rs
  crates/reinhardt-deeplink/Cargo.toml
  crates/reinhardt-shortcuts/Cargo.toml
  crates/reinhardt-test/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(build): port strict hot patch regression assertion
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(features): gate signals facade exports
  Cargo.toml
  crates/reinhardt-pages/macros/src/page/codegen.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(ci): refresh release CI expectations
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): generalize release dry-run false positive handling
  .github/workflows/release-plz-dry-run.yml
  instructions/RELEASE_PROCESS.md
Due: none

docs(release): complete 0.2 migration guide
  instructions/MIGRATION_0.2.md
Due: none

chore(release): record 0.2 readiness audits
  instructions/RELEASE_0.2_READINESS.md
Due: none

docs(conf): document embedded settings nodes
  crates/reinhardt-conf/README.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(release): record 0.2 changelog review
  instructions/RELEASE_0.2_CHANGELOG_REVIEW.md
Due: none

chore(release): add 0.2 execution tracker
  instructions/RELEASE_0.2_EXECUTION_TRACKER.md
Due: none

fix(commands): preserve wasm-optional in autoreload child
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): unblock release wasm and semver checks
  .github/workflows/wasm-check.yml
  crates/reinhardt-conf/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): tolerate semver baseline rustdoc failures
  .github/workflows/semver-check.yml
Due: none

fix(ci): pre-pull mysql for intra-crate tests
  .github/docker-images-intra-crate.txt
Due: none

test(auth): remove time-based permission clock flake
  crates/reinhardt-auth/src/time_based_permission.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

ci: enable pages testing feature for wasm tests
  .github/workflows/wasm-check.yml
Due: none

fix(ci): tolerate develop semver and wasm gate noise
  .github/workflows/semver-check.yml
  .github/workflows/wasm-check.yml
Due: none

docs(release): scope 0.2 migration guide to 0.1 delta
  instructions/MIGRATION_0.2.md
Due: none

test(admin-cli): cover migrate manouche v2 command
  crates/reinhardt-admin-cli/CHANGELOG.md
  crates/reinhardt-admin-cli/src/migrate_v2/rules/bare_ident.rs
  crates/reinhardt-admin-cli/tests/migrate_v2_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): handle complex manouche v2 codemod syntax
  crates/reinhardt-admin-cli/CHANGELOG.md
  crates/reinhardt-admin-cli/src/migrate_v2.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/bare_ident.rs
  crates/reinhardt-admin-cli/tests/migrate_v2_e2e.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(orm): add Django-like lookup helpers
  README.md
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/expressions.rs
  crates/reinhardt-db/src/orm/query.rs
  website/content/docs/api/_index.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages
