Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(db): address typed relation review findings
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
  docs/migration/0.4.0-typed-relation-traversal.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): complete typed relation review followups
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/relations/traversal.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): close keyed query review gaps
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/docs/server_fn_macro.md
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive/query.rs
  crates/reinhardt-pages/tests/component_testing.rs
  crates/reinhardt-pages/tests/server_fn_native_handler_tests.rs
  crates/reinhardt-pages/tests/ui/server_fn/with_extractors.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): preserve typed JSON values across ORM paths
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/migrations/operations/models.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/json.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/many_to_many_accessor.rs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/reverse_accessor.rs
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/macros/model_derive_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): preserve JSON provenance across backend paths
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/migrations/operations/fields.rs
  crates/reinhardt-db/src/migrations/operations/models.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/json.rs
  crates/reinhardt-db/src/orm/manager.rs
  tests/integration/tests/orm.rs
  tests/integration/tests/orm/mysql_json_transaction_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): remove redundant rustdoc link target
  crates/reinhardt-commands/src/runserver_hooks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(docs): remove redundant command links
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/runserver_hooks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(manouche): add component style semantic compiler
  crates/reinhardt-manouche/Cargo.toml
  crates/reinhardt-manouche/src/core.rs
  crates/reinhardt-manouche/src/core/style_node.rs
  crates/reinhardt-manouche/src/core/style_typed.rs
  crates/reinhardt-manouche/src/lib.rs
  crates/reinhardt-manouche/src/parser.rs
  crates/reinhardt-manouche/src/parser/style.rs
  crates/reinhardt-manouche/src/parser/style/media.rs
  crates/reinhardt-manouche/src/parser/style/name.rs
  crates/reinhardt-manouche/src/parser/style/selector.rs
  crates/reinhardt-manouche/src/parser/style/value.rs
  crates/reinhardt-manouche/src/style.rs
  crates/reinhardt-manouche/src/style/compiler.rs
  crates/reinhardt-manouche/src/style/css_ir.rs
  crates/reinhardt-manouche/src/style/diagnostic.rs
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/style/scope.rs
  crates/reinhardt-manouche/src/style/serializer.rs
  crates/reinhardt-manouche/src/validator.rs
  crates/reinhardt-manouche/src/validator/style.rs
  crates/reinhardt-manouche/src/validator/style/dependency.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
  crates/reinhardt-manouche/src/validator/style/selector.rs
  crates/reinhardt-manouche/tests/fixtures/style/cascade-order.css
  crates/reinhardt-manouche/tests/fixtures/style/representative.css
  crates/reinhardt-manouche/tests/fixtures/style/selector-list.css
  crates/reinhardt-manouche/tests/fixtures/style/variables.css
  crates/reinhardt-manouche/tests/style_pipeline.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(manouche): document component style compiler contract
  crates/reinhardt-manouche/CHANGELOG.md
  crates/reinhardt-manouche/README.md
  docs/rfc/2026-07-10-component-scoped-style-dsl-design.md
Due: unit, intra-crate-integration, cross-crate-integration

refactor(manouche): avoid redundant field name allocation
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(core): make Signal handles scope-backed Copy keys
  .superpowers/sdd/issue-5575-progress.md
  crates/reinhardt-core/src/reactive/deps.rs
  crates/reinhardt-core/src/reactive/signal.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(macros): gate MySQL generated-column test
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(core,http): add HttpError response mapping
  crates/reinhardt-core/macros/src/http_error_derive.rs
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/src/exception.rs
  crates/reinhardt-core/src/lib.rs
  crates/reinhardt-http/src/response.rs
  src/exports/core_types.rs
  src/exports/macros.rs
  tests/integration/tests/macros.rs
  tests/integration/tests/macros/http_error_integration.rs
  tests/integration/tests/macros/http_error_ui.rs
  tests/integration/tests/macros/ui/http_error/fail/duplicate_message_source.rs
  tests/integration/tests/macros/ui/http_error/fail/duplicate_message_source.stderr
  tests/integration/tests/macros/ui/http_error/fail/invalid_body.rs
  tests/integration/tests/macros/ui/http_error/fail/invalid_body.stderr
  tests/integration/tests/macros/ui/http_error/fail/missing_message.rs
  tests/integration/tests/macros/ui/http_error/fail/missing_message.stderr
  tests/integration/tests/macros/ui/http_error/fail/missing_status.rs
  tests/integration/tests/macros/ui/http_error/fail/missing_status.stderr
  tests/integration/tests/macros/ui/http_error/fail/non_enum.rs
  tests/integration/tests/macros/ui/http_error/fail/non_enum.stderr
  tests/integration/tests/macros/ui/http_error/fail/recursive_message_fn.rs
  tests/integration/tests/macros/ui/http_error/fail/recursive_message_fn.stderr
  tests/integration/tests/macros/ui/http_error/fail/unknown_enum_option.rs
  tests/integration/tests/macros/ui/http_error/fail/unknown_enum_option.stderr
  tests/integration/tests/macros/ui/http_error/fail/unknown_variant_option.rs
  tests/integration/tests/macros/ui/http_error/fail/unknown_variant_option.stderr
  tests/integration/tests/macros/ui/http_error/pass/basic.rs
  tests/integration/tests/macros/ui/http_error/pass/body_error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(http): document HttpError derive mappings
  README.md
  crates/reinhardt-core/README.md
  website/content/quickstart/migration-guides/from-axum.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(core): make Memo and Effect scope-backed handles
  .superpowers/sdd/issue-5575-progress.md
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-core/src/reactive/memo.rs
  crates/reinhardt-core/src/reactive/scope.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(orm): restore wasm relation loading compatibility
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-rest/src/serializers/relation_fields_orm.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

feat(pages): make Callback handles scope-backed Copy keys
  .superpowers/sdd/issue-5575-progress.md
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/pages_arena.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): make Action and Resource handles Copy
  .superpowers/sdd/issue-5575-progress.md
  crates/reinhardt-core/src/reactive/signal.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/pages_arena.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/reactive/resource_value.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

feat(pages): own reactive scopes at render boundaries
  .superpowers/sdd/issue-5575-progress.md
  crates/reinhardt-pages/src/app/launcher.rs
  crates/reinhardt-pages/src/component.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): document Copy reactive handle migration
  .superpowers/sdd/issue-5575-progress.md
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/hooks/state.rs
  crates/reinhardt-pages/tests/hooks_deps_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

refactor(pages): finish scoped Copy migration
  .superpowers/sdd/issue-5575-progress.md
  crates/reinhardt-core/src/reactive/deps.rs
  crates/reinhardt-core/src/reactive/runtime.rs
  crates/reinhardt-core/src/reactive/scope.rs
  crates/reinhardt-core/src/signals/orm_integration.rs
  crates/reinhardt-pages/src/auth.rs
  crates/reinhardt-pages/src/component/suspense.rs
  crates/reinhardt-pages/src/csrf.rs
  crates/reinhardt-pages/src/form/binding.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/reactive/hooks/action.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/hooks/state.rs
  crates/reinhardt-pages/src/reactive/hooks/sync.rs
  crates/reinhardt-pages/src/reactive/hooks/transition.rs
  crates/reinhardt-pages/src/reactive/hooks/websocket.rs
  crates/reinhardt-pages/src/reactive/trackable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

feat(formatter): format component style DSL
  Cargo.toml
  crates/reinhardt-admin-cli/CHANGELOG.md
  crates/reinhardt-admin-cli/README.md
  crates/reinhardt-admin-cli/src/main.rs
  crates/reinhardt-formatter/CHANGELOG.md
  crates/reinhardt-formatter/Cargo.toml
  crates/reinhardt-formatter/queries/style_formatting.scm
  crates/reinhardt-formatter/src/format_engine.rs
  crates/reinhardt-formatter/src/main.rs
  crates/reinhardt-formatter/tests/fixtures/style/comments.expected.rs
  crates/reinhardt-formatter/tests/fixtures/style/comments.input.rs
  crates/reinhardt-formatter/tests/fixtures/style/expressions.expected.rs
  crates/reinhardt-formatter/tests/fixtures/style/expressions.input.rs
  crates/reinhardt-formatter/tests/fixtures/style/representative.expected.rs
  crates/reinhardt-formatter/tests/fixtures/style/representative.input.rs
  crates/tree-sitter-reinhardt-style/CHANGELOG.md
  crates/tree-sitter-reinhardt-style/Cargo.toml
  crates/tree-sitter-reinhardt-style/build.rs
  crates/tree-sitter-reinhardt-style/grammar.js
  crates/tree-sitter-reinhardt-style/src/grammar.json
  crates/tree-sitter-reinhardt-style/src/lib.rs
  crates/tree-sitter-reinhardt-style/src/node-types.json
  crates/tree-sitter-reinhardt-style/src/parser.c
  crates/tree-sitter-reinhardt-style/src/tree_sitter/alloc.h
  crates/tree-sitter-reinhardt-style/src/tree_sitter/array.h
  crates/tree-sitter-reinhardt-style/src/tree_sitter/parser.h
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands): deliver component styles as static assets
  crates/reinhardt-commands/CHANGELOG.md
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/src/component_styles.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/source_roots.rs
  crates/reinhardt-commands/src/static_asset_settings.rs
  crates/reinhardt-commands/src/style_extractor.rs
  crates/reinhardt-commands/templates/project_pages_template/index.html.tpl
  crates/reinhardt-commands/tests/component_style_delivery_tests.rs
  crates/reinhardt-commands/tests/runserver_hot_reload.rs
  crates/reinhardt-commands/tests/static_asset_settings_tests.rs
  crates/reinhardt-commands/tests/style_extractor_tests.rs
  crates/reinhardt-commands/tests/style_macro_extractor_parity.rs
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/static_resolver.rs
  crates/reinhardt-pages/tests/static_resolver_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

style: format component style sources
  crates/reinhardt-pages/tests/style_runtime_tests.rs
  crates/tree-sitter-reinhardt-style/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): scope merged reactive tests
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(core)!: add authoritative page event catalog
  Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/event.rs
  crates/reinhardt-core/src/types/page/native_event.rs
  crates/reinhardt-event-catalog/Cargo.toml
  crates/reinhardt-event-catalog/README.md
  crates/reinhardt-event-catalog/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

feat(pages)!: add typed event payload runtime
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/component.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/event.rs
  crates/reinhardt-pages/src/event/payload.rs
  crates/reinhardt-pages/src/event/target.rs
  crates/reinhardt-pages/src/event/value.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/platform.rs
  crates/reinhardt-pages/src/platform/native.rs
  crates/reinhardt-pages/src/platform/wasm.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add native typed event fixtures
  crates/reinhardt-pages/src/testing.rs
  crates/reinhardt-pages/src/testing/component.rs
  crates/reinhardt-pages/src/testing/component/error.rs
  crates/reinhardt-pages/src/testing/component/events.rs
  crates/reinhardt-pages/src/testing/component/fixture.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(manouche,pages): lower typed intrinsic event handlers
  crates/reinhardt-admin/src/pages/components/common.rs
  crates/reinhardt-admin/src/pages/components/features.rs
  crates/reinhardt-manouche/Cargo.toml
  crates/reinhardt-manouche/src/core/node.rs
  crates/reinhardt-manouche/src/core/typed_node.rs
  crates/reinhardt-manouche/src/parser/page.rs
  crates/reinhardt-manouche/src/parser/page/component_brace.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/Cargo.toml
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/hook_deps_validator.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover typed event payload parity
  crates/reinhardt-pages/src/testing/component/tests.rs
  crates/reinhardt-pages/tests/component_system_integration.rs
  crates/reinhardt-pages/tests/component_testing.rs
  crates/reinhardt-pages/tests/native_event_family_handlers.rs
  crates/reinhardt-pages/tests/typed_event_interface_data.rs
  crates/reinhardt-pages/tests/typed_event_payload_wasm_test.rs
  crates/reinhardt-pages/tests/ui/page/fail/custom_event_invalid_syntax.rs
  crates/reinhardt-pages/tests/ui/page/fail/custom_event_invalid_syntax.stderr
  crates/reinhardt-pages/tests/ui/page/fail/deprecated_keypress_payload.rs
  crates/reinhardt-pages/tests/ui/page/fail/deprecated_keypress_payload.stderr
  crates/reinhardt-pages/tests/ui/page/fail/mismatched_event_payload.rs
  crates/reinhardt-pages/tests/ui/page/fail/mismatched_event_payload.stderr
  crates/reinhardt-pages/tests/ui/page/pass/all_event_types.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_with_event.rs
  crates/reinhardt-pages/tests/ui/page/pass/custom_raw_event.rs
  crates/reinhardt-pages/tests/ui/page/pass/external_handlers.rs
  crates/reinhardt-pages/tests/ui/page/pass/implicit_body_capture.rs
  crates/reinhardt-pages/tests/ui/page/pass/native_local_event_captures.rs
  crates/reinhardt-pages/tests/ui/page/pass/typed_event_handlers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs(pages): document typed event migration
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/native_component_testing.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  docs/rfc/2026-07-10-typed-page-event-payloads-design.md
  docs/rfc/2026-07-10-typed-page-event-payloads-implementation-plan.md
  instructions/MIGRATION_0.4.md
  instructions/PAGES_CFG_MIGRATION.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): gate typed event test targets
  crates/reinhardt-pages/tests/typed_event_interface_data.rs
  crates/reinhardt-pages/tests/ui/page/pass/all_event_types.rs
Due: unit, intra-crate-integration, cross-crate-integration

style: format component style fixtures
  crates/reinhardt-commands/tests/style_macro_extractor_parity.rs
  crates/reinhardt-formatter/tests/fixtures/style/comments.input.rs
  crates/reinhardt-formatter/tests/fixtures/style/expressions.input.rs
  crates/reinhardt-formatter/tests/fixtures/style/representative.input.rs
  crates/reinhardt-pages/tests/style_macro_runtime_tests.rs
  crates/reinhardt-pages/tests/ui/style/fail/accessor_collision.rs
  crates/reinhardt-pages/tests/ui/style/fail/ambiguous_selector.rs
  crates/reinhardt-pages/tests/ui/style/fail/arithmetic_mismatch.rs
  crates/reinhardt-pages/tests/ui/style/fail/const_item.rs
  crates/reinhardt-pages/tests/ui/style/fail/dependency_cycle.rs
  crates/reinhardt-pages/tests/ui/style/fail/direct_calc.rs
  crates/reinhardt-pages/tests/ui/style/fail/direct_var.rs
  crates/reinhardt-pages/tests/ui/style/fail/duplicate_global.rs
  crates/reinhardt-pages/tests/ui/style/fail/duplicate_variable.rs
  crates/reinhardt-pages/tests/ui/style/fail/invalid_function_arguments.rs
  crates/reinhardt-pages/tests/ui/style/fail/invalid_receiver_method.rs
  crates/reinhardt-pages/tests/ui/style/fail/missing_default.rs
  crates/reinhardt-pages/tests/ui/style/fail/property_mismatch.rs
  crates/reinhardt-pages/tests/ui/style/fail/qualified_type.rs
  crates/reinhardt-pages/tests/ui/style/fail/standalone_style.rs
  crates/reinhardt-pages/tests/ui/style/fail/static_mut.rs
  crates/reinhardt-pages/tests/ui/style/fail/style_def_nonempty_arguments.rs
  crates/reinhardt-pages/tests/ui/style/fail/unanchored_selector.rs
  crates/reinhardt-pages/tests/ui/style/fail/undeclared_reference.rs
  crates/reinhardt-pages/tests/ui/style/fail/unknown_function.rs
  crates/reinhardt-pages/tests/ui/style/fail/unknown_property.rs
  crates/reinhardt-pages/tests/ui/style/fail/unsupported_item_attribute.rs
  crates/reinhardt-pages/tests/ui/style/pass/attribute_propagation.rs
  crates/reinhardt-pages/tests/ui/style/pass/canonical_envelope.rs
  crates/reinhardt-pages/tests/ui/style/pass/page_attributes.rs
  crates/reinhardt-pages/tests/ui/style/pass/plain_string_compat.rs
  crates/reinhardt-pages/tests/ui/style/pass/prelude_import.rs
  tests/pages_style_facade.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): preserve generated style template syntax
  crates/reinhardt-commands/templates/project_pages_template/index.html.tpl
  crates/reinhardt-commands/tests/embedded_startproject.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): compile autoreload without pages
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

ci: migrate dependency policy checks to cargo-deny
  .github/workflows/security-audit.yml
  Cargo.toml
  Makefile.toml
  SECURITY.md
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-forms/Cargo.toml
  crates/reinhardt-grpc/Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-server/Cargo.toml
  crates/reinhardt-storages/Cargo.toml
  crates/reinhardt-testkit/Cargo.toml
  crates/reinhardt-websockets/Cargo.toml
  deny.toml
  tests/Cargo.toml
  tests/integration/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): remove clones from Copy signals
  crates/reinhardt-admin/src/pages/components/common.rs
  crates/reinhardt-admin/src/pages/components/features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages
