Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(throttling): resolve token bucket validation and timing bugs
  crates/reinhardt-throttling/src/token_bucket.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(core): limit signal throttle capacity by max_emissions instead of refill_rate
  crates/reinhardt-core/src/signals/dispatch.rs
  crates/reinhardt-core/src/signals/throttling.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(testkit): add retry backoff and remove lock file race condition
  crates/reinhardt-testkit/src/fixtures/resources.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(conf): reject empty keys in parse_dict
  crates/reinhardt-conf/src/settings/env_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(grpc): use character count instead of byte length for string validation
  crates/reinhardt-grpc/src/validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(http): include error detail for Conflict (409) responses
  crates/reinhardt-http/src/response.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(views): return 405 Method Not Allowed instead of 400 for unsupported methods
  crates/reinhardt-views/src/viewsets/viewset.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(infra): replace hardcoded availability zones with dynamic lookup
  infra/github-runners/main.tf
  infra/github-runners/variables.tf
Due: none

feat(commands): accept CommandRegistry parameter in execute_from_command_line
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs: fix outdated references in SECURITY.md, CONTRIBUTING.md, and documentation standards
  CONTRIBUTING.md
  SECURITY.md
  crates/reinhardt-di/src/lib.rs
  instructions/DOCUMENTATION_STANDARDS.md
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

style(throttling): apply auto-fix formatting and lint corrections
  crates/reinhardt-db/src/migrations/ast_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

style(http): apply auto-fix formatting and lint corrections
  crates/reinhardt-db/src/migrations/ast_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

style(commands): apply auto-fix formatting and lint corrections
  crates/reinhardt-db/src/migrations/ast_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

style(web): apply auto-fix formatting and lint corrections
  crates/reinhardt-db/src/migrations/ast_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

style(testkit): apply auto-fix formatting and lint corrections
  crates/reinhardt-db/src/migrations/ast_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

style(conf): apply auto-fix formatting and lint corrections
  crates/reinhardt-db/src/migrations/ast_parser.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(infra): rename excluded_az_ids to excluded_zone_ids for clarity
  infra/github-runners/main.tf
  infra/github-runners/variables.tf
Due: none

fix(throttling): avoid last_accessed side-effect in wait_time and centralize builder validation
  crates/reinhardt-throttling/src/token_bucket.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(commands): restrict unknown-subcommand interception and parse verbosity for custom commands
  crates/reinhardt-commands/src/cli.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(docs): remove non-printable ENQ control characters from CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

perf(grpc): use early-exit counting and clarify Unicode scalar semantics
  crates/reinhardt-grpc/src/validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

refactor(graphql): extract exceeds_max_chars helper with short-circuit and add multi-byte tests
  crates/reinhardt-graphql/src/schema.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

feat(test): add fantoccini E2E browser testing utility fixtures
  Cargo.toml
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-test/src/fixtures.rs
  crates/reinhardt-test/src/fixtures/wasm.rs
  crates/reinhardt-test/src/fixtures/wasm/browser.rs
  crates/reinhardt-test/src/fixtures/wasm/e2e.rs
  crates/reinhardt-test/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(core): reject NaN quality values in AcceptHeader parsing
  crates/reinhardt-core/src/negotiation/accept.rs
  crates/reinhardt-core/src/negotiation/encoding.rs
  crates/reinhardt-core/src/negotiation/language.rs
  crates/reinhardt-core/src/negotiation/media_type.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(conf): add else branch for SSL redirect validation
  crates/reinhardt-conf/src/settings/validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(conf): rewrite unescape as single-pass parser
  crates/reinhardt-conf/src/settings/env_loader.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(forms): add path traversal validation to file field
  crates/reinhardt-forms/src/fields/file_field.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): guard tokio::spawn in Drop with Handle::try_current()
  crates/reinhardt-db/src/backends_pool/pool.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): use SQLSTATE code instead of Debug string for error matching
  crates/reinhardt-db/src/backends/connection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(throttling): use distinct key prefixes for burst and sustained windows
  crates/reinhardt-throttling/src/burst.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(rest): correct module path in versioning macro
  crates/reinhardt-rest/src/versioning/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(mail): validate pool configuration parameters
  crates/reinhardt-mail/src/lib.rs
  crates/reinhardt-mail/src/pooling.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

docs: update CRATE_STRUCTURE.md with accurate crate count and descriptions
  instructions/CRATE_STRUCTURE.md
Due: none

docs: fix broken links, typos, and outdated info in root docs
  CLAUDE.md
  CONTRIBUTING.md
  docs/API_STABILITY.md
Due: none

fix(infra): enforce IMDSv2 and EBS encryption on cancel runner EC2 instance
  infra/github-runners/cancel-runner.tf
Due: none

fix(ci): use DPkg::Lock::Timeout, preserve cargo config, check terraform init outcome
  .github/workflows/coverage.yml
  .github/workflows/release-plz-dry-run.yml
  .github/workflows/terraform-plan.yml
  .github/workflows/ui-test.yml
Due: none

docs(core,query): correct lib.rs module descriptions and feature flag defaults
  crates/reinhardt-core/src/lib.rs
  crates/reinhardt-query/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM

fix(deps): consolidate colored and criterion versions to workspace dependencies
  Cargo.toml
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  tests/bench/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): guard PooledConnection Drop against panic when no tokio runtime is available
  crates/reinhardt-db/src/backends_pool/pool.rs
  crates/reinhardt-db/src/pool/pool.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core): reject zero limit in LimitOffsetPagination to prevent infinite next-link loop
  crates/reinhardt-core/src/pagination.rs
  crates/reinhardt-core/src/pagination/limit_offset.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework
