Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix: constrain WASM server_fn prefixes to same-origin paths
  crates/reinhardt-pages/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix: harden formatter temp file creation
  crates/reinhardt-formatter/src/main.rs
  crates/reinhardt-formatter/src/utils.rs
Due: unit, intra-crate-integration, cross-crate-integration

security(ci): keep untrusted PR gates on hosted runners
  .github/workflows/auto-label-pr.yml
  .github/workflows/ci.yml
  .github/workflows/develop-leak-guard.yml
  .github/workflows/develop-merge-guard.yml
Due: none

fix(staticfiles): normalize passthrough prefix matching
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): redact sqlite database paths in logs
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): address scaffold review feedback
  crates/reinhardt-commands/templates/app_pages_template/server/views.rs.tpl
  crates/reinhardt-commands/tests/embedded_startproject.rs
Due: unit, intra-crate-integration, cross-crate-integration

security(orm): reject deletes without built where conditions
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): include auth tutorial scaffold features
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/tests/e2e_pages.rs
  crates/reinhardt-commands/tests/embedded_startproject.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix: harden WASM server_fn prefix sanitization
  crates/reinhardt-pages/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(staticfiles): harden passthrough prefix normalization
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): restrict orphan detector to managed runner labels
  infra/github-runners/lambda-src/orphan-detector/src/detector.ts
  infra/github-runners/lambda-src/orphan-detector/src/payload-builder.ts
  infra/github-runners/lambda-src/orphan-detector/test/detector.test.ts
  infra/github-runners/lambda-src/orphan-detector/test/github-client.test.ts
  infra/github-runners/lambda-src/orphan-detector/test/handler.test.ts
  infra/github-runners/lambda-src/orphan-detector/test/payload-builder.test.ts
Due: none

fix(macros): avoid debug logging extractor errors
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): run release version sync from trusted checkout
  .github/workflows/release-plz.yml
  scripts/update-version-refs.sh
Due: none

security(rest): run sync validators in async config validation
  crates/reinhardt-rest/src/serializers/validator_config.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(pages): reject parser redirects in server_fn prefixes
  crates/reinhardt-pages/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(rest): preserve sync validator validation errors
  crates/reinhardt-rest/src/serializers/validator_config.rs
  crates/reinhardt-rest/src/serializers/validators.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

docs(tutorial): fix basis rc5 follow-ups
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/7-testing.md
Due: none

docs(tutorial): clarify basis reference boundary
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

feat(params): generalize cookie extractors
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-di/README.md
  crates/reinhardt-di/src/params/cookie_named.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  src/exports/di.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Dependency Injection

docs(tutorial): remove branch link from basis index
  website/content/quickstart/tutorials/basis/_index.md
Due: none

docs(tutorial): sync basis rc5 dependency snippet
  website/content/quickstart/tutorials/basis/1-project-setup.md
Due: none

fix(migrations): handle field changes on renamed models
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): tighten autodetector assertions
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): address autodetector review gaps
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(security): align 0.3.0 cargo audit gate
  .cargo/audit.toml
  .github/workflows/security-audit.yml
  docs/security-audit-0.3.0.md
Due: none

docs(release): expose 0.3 migration guide
  README.md
  crates/reinhardt-admin-cli/src/main.rs
  instructions/MIGRATION_0.3.md
  website/content/quickstart/_index.md
  website/content/quickstart/migration-guides/0-2-to-0-3.md
  website/content/quickstart/migration-guides/_index.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(todo-check): clear public api audit markers
  Cargo.toml
  crates/reinhardt-conf/src/settings/secrets/providers/hashicorp.rs
  crates/reinhardt-db/src/orm/constraints.rs
  crates/reinhardt-db/src/orm/transaction.rs
  crates/reinhardt-db/src/orm/typed_join.rs
  crates/reinhardt-forms/src/formset.rs
  crates/reinhardt-forms/src/model_form.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-rest/src/serializers/nested.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Frontend & Pages

fix(ci): scan ignored files in OSV full job
  .github/workflows/osv-scanner.yml
Due: none

test(examples): guard polls question FK migration type
  examples/examples-tutorial-basis/tests/integration.rs
Due: none

fix(macros): stop propagating serde skip to Info relation fields
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document WASM server fn resolver
  crates/reinhardt-pages/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

docs: add release announcement(s)
  announcements/v0.3.0-rc.6.md
Due: none

fix(db): replay foreign key constraints and defaults
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(bench): avoid unused server error bindings
  benchmarks/Cargo.lock
  benchmarks/benches/runtime_http.rs
Due: none

fix(db): apply alter column defaults in migrations
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM
