Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

refactor(db)!: use framework errors in database backends
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/drivers/cockroachdb/connection.rs
  crates/reinhardt-db/src/backends/drivers/cockroachdb/distributed_tx.rs
  crates/reinhardt-db/src/backends/drivers/mysql/two_phase.rs
  crates/reinhardt-db/src/backends/drivers/postgresql/two_phase.rs
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/migrations/recorder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): track recoverable number editor positions
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/dom/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover number editor prediction limits
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): bound number raw preservation guarantees
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): preserve framework migration errors
  crates/reinhardt-db/src/migrations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(db): map SQLx errors in CockroachDB examples
  crates/reinhardt-db/src/backends/drivers/cockroachdb/distributed_tx.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(db)!: type ORM connection failures
  crates/reinhardt-db/src/associations/many_to_many_manager.rs
  crates/reinhardt-db/src/orm/async_query.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/custom_manager.rs
  crates/reinhardt-db/src/orm/engine.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/query_execution.rs
  crates/reinhardt-db/tests/custom_manager_basic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): preserve drop constraint compatibility
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/migrations.rs
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/auto_migration.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/migration.rs
  crates/reinhardt-db/src/migrations/migration_namer.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/operations/to_tokens.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
  crates/reinhardt-db/tests/migration_operation_source_compat.rs
  crates/reinhardt-db/tests/ui/drop_constraint_legacy.rs
  tests/integration/tests/migrations/model_enum_migration_integration.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(migrations): preserve typed constraint rollback
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(db)!: preserve typed transaction errors
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/src/orm.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/transaction.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): disambiguate SQLx test result
  crates/reinhardt-db/src/orm/async_query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): preserve constraint migration details
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(db): classify initial PostgreSQL timeouts
  crates/reinhardt-db/src/backends/connection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(pages): validate deps macro hook arguments
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/hook_deps_validator.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/auto_deps_use_callback.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/auto_deps_use_callback.stderr
  crates/reinhardt-pages/tests/ui/hooks/fail/auto_deps_use_resource.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/auto_deps_use_resource.stderr
  crates/reinhardt-pages/tests/ui/hooks/fail/auto_deps_use_retained_effect.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/auto_deps_use_retained_effect.stderr
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_inside_page.stderr
  crates/reinhardt-pages/tests/ui/hooks/fail/missing_deps_use_effect.stderr
  crates/reinhardt-pages/tests/ui/hooks/fail/non_trackable_dep.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/non_trackable_dep.stderr
  crates/reinhardt-pages/tests/ui/hooks/fail/tuple_deps_removed.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/tuple_deps_removed.stderr
  crates/reinhardt-pages/tests/ui/hooks/fail/unit_deps_removed.rs
  crates/reinhardt-pages/tests/ui/hooks/fail/unit_deps_removed.stderr
  crates/reinhardt-pages/tests/ui/hooks/pass/auto_deps_supported_hooks.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/hook_outside_page_unaffected.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/mount_only_empty_deps_inside_page.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): tolerate spin patch updates
  deny.toml
Due: none

test(db): verify portable database error kinds
  tests/integration/Cargo.toml
  tests/integration/tests/backends.rs
  tests/integration/tests/backends/database_error_classification.rs
Due: none

fix(migrations): preserve sqlite foreign key details
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(db): document native model enum fields
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/field_codec.rs
  website/content/docs/field-attributes.md
  website/content/quickstart/migration-guides/0-3-to-0-4.md
  website/content/quickstart/migration-guides/_index.md
  website/content/quickstart/tutorials/rest/3-models-and-database.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(pages): explain hook dependency modes
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/reactive.rs
  crates/reinhardt-pages/src/reactive/hooks.rs
  crates/reinhardt-pages/src/reactive/hooks/effect.rs
  crates/reinhardt-pages/src/reactive/hooks/memo.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  docs/migration/0.4.0-hook-dependency-modes.md
  instructions/MIGRATION_0.2.md
  instructions/MIGRATION_0.3.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): quote sqlite recreation identifiers
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): box controlled binding expressions
  crates/reinhardt-manouche/src/core/typed_node.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): fix resource migration example
  instructions/MIGRATION_0.2.md
Due: none

docs(pages): note hook dependency migration
  crates/reinhardt-pages/CHANGELOG.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): preserve historical migration examples
  instructions/MIGRATION_0.2.md
  instructions/MIGRATION_0.3.md
Due: none

test(db): build classification SQL with query API
  tests/integration/tests/backends/database_error_classification.rs
Due: none

fix(migrations): restore sqlite foreign key state
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/schema_editor.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core): satisfy memo clippy lints
  crates/reinhardt-core/src/reactive/memo.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(migrations): preserve renamed many-to-many columns
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor!: replace dynamic domain error adapters
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-admin/src/types/errors.rs
  crates/reinhardt-core/src/serializers/serializer.rs
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-rest/src/browsable_api/middleware.rs
  crates/reinhardt-rest/src/serializers/nested_orm.rs
  crates/reinhardt-rest/src/serializers/validator_config.rs
  crates/reinhardt-rest/src/serializers/validators.rs
  crates/reinhardt-server/Cargo.toml
  crates/reinhardt-server/src/server/http.rs
  examples/Cargo.lock
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/src/apps/polls/services/server.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Server & Routing, Frontend & Pages

test(orm): cover model enum backend contracts
  crates/reinhardt-db/src/orm/model.rs
  tests/integration/tests/migrations/model_enum_migration_integration.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(manouche): accept reviewed CSS shorthand forms
  crates/reinhardt-manouche/README.md
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): use library target names for Pages WASM
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/style_extractor.rs
  crates/reinhardt-commands/src/wasm_builder.rs
  crates/reinhardt-commands/tests/style_extractor_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(formatter): normalize component style fixtures
  crates/reinhardt-formatter/queries/style_formatting.scm
  crates/reinhardt-formatter/tests/fixtures/style/comments.expected.rs
  crates/reinhardt-formatter/tests/fixtures/style/comments.input.rs
  crates/reinhardt-formatter/tests/fixtures/style/expressions.expected.rs
  crates/reinhardt-formatter/tests/fixtures/style/expressions.input.rs
  crates/reinhardt-formatter/tests/fixtures/style/representative.expected.rs
  crates/reinhardt-formatter/tests/fixtures/style/representative.input.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(tests): align style delivery CI expectations
  crates/reinhardt-admin-cli/tests/e2e_embedded_templates.rs
  crates/reinhardt-commands/tests/component_style_delivery_tests.rs
  crates/reinhardt-pages/tests/ui/style/fail/accessor_collision.stderr
  crates/reinhardt-pages/tests/ui/style/fail/ambiguous_selector.stderr
  crates/reinhardt-pages/tests/ui/style/fail/arithmetic_mismatch.stderr
  crates/reinhardt-pages/tests/ui/style/fail/const_item.stderr
  crates/reinhardt-pages/tests/ui/style/fail/dependency_cycle.stderr
  crates/reinhardt-pages/tests/ui/style/fail/direct_calc.stderr
  crates/reinhardt-pages/tests/ui/style/fail/direct_var.stderr
  crates/reinhardt-pages/tests/ui/style/fail/duplicate_global.stderr
  crates/reinhardt-pages/tests/ui/style/fail/duplicate_variable.stderr
  crates/reinhardt-pages/tests/ui/style/fail/invalid_function_arguments.stderr
  crates/reinhardt-pages/tests/ui/style/fail/invalid_receiver_method.stderr
  crates/reinhardt-pages/tests/ui/style/fail/missing_default.stderr
  crates/reinhardt-pages/tests/ui/style/fail/property_mismatch.stderr
  crates/reinhardt-pages/tests/ui/style/fail/qualified_type.stderr
  crates/reinhardt-pages/tests/ui/style/fail/standalone_style.stderr
  crates/reinhardt-pages/tests/ui/style/fail/static_mut.stderr
  crates/reinhardt-pages/tests/ui/style/fail/unanchored_selector.stderr
  crates/reinhardt-pages/tests/ui/style/fail/undeclared_reference.stderr
  crates/reinhardt-pages/tests/ui/style/fail/unknown_function.stderr
  crates/reinhardt-pages/tests/ui/style/fail/unknown_property.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(fixtures): honor registered relation metadata
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(rest): preserve domain error boundaries
  crates/reinhardt-rest/src/serializers/nested_orm.rs
  crates/reinhardt-rest/src/serializers/validator_config.rs
  crates/reinhardt-rest/src/serializers/validators.rs
  examples/examples-tutorial-basis/src/apps/polls/services.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server_error.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(pages): update dynamic dependency test
  crates/reinhardt-pages/tests/hooks_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(rest): format tutorial error mapping
  examples/examples-tutorial-basis/src/apps/polls/services.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server_error.rs
Due: none

fix(migrations): make sqlite recreation cancellation safe
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/schema_editor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
