Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(examples): complete tutorial migration definitions
  examples/Cargo.lock
  examples/examples-tutorial-basis/migrations/auth/0001_initial.rs
  examples/examples-tutorial-basis/migrations/default/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0002_question_author.rs
  examples/examples-tutorial-basis/migrations/users/0001_initial.rs
Due: none

fix(examples): use workspace formatter for tutorial checks
  examples/examples-tutorial-basis/Makefile.toml
Due: none

fix(pages): remove redundant UI doc link targets
  crates/reinhardt-pages/src/ui.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): stabilize release test failures
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-pages/src/document_head/registry.rs
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Frontend & Pages

ci(nextest): terminate stalled default tests
  .config/nextest.toml
Due: none

test(pages): align page CI expectations
  crates/reinhardt-pages/tests/component_testing.rs
  crates/reinhardt-pages/tests/page_keyed_for_integration_tests.rs
  crates/reinhardt-pages/tests/server_fnset_error_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(urls): unwrap route metadata in tests
  crates/reinhardt-urls/tests/clientrouter_component_integration_tests.rs
  crates/reinhardt-urls/tests/clientrouter_page_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(integration): align ORM CI expectations
  tests/integration/tests/macros/model_derive_integration.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: none

test(macros): repair model UI fixture contracts
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/fixture_projection_preserves_deserializer.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): refresh UI macro diagnostics
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_error_conversion.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_error_display.stderr
  crates/reinhardt-pages/tests/ui/head/fail/base_missing_href.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): restore nested hydration control adoption
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): satisfy WASM clippy checks
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hmr/bridge.rs
  crates/reinhardt-pages/src/hmr/template_instance.rs
  crates/reinhardt-pages/src/hmr/template_registry.rs
  crates/reinhardt-pages/src/server_fn/model_set/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): align hydration and SSR regression tests
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/tests/page_keyed_for_integration_tests.rs
  crates/reinhardt-pages/tests/static_files_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(orm): resolve to-field physical columns
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/macros/model_derive_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

ci(test): isolate DI UI test target
  .github/workflows/coverage.yml
  .github/workflows/cross-crate-integration-test.yml
  Makefile.toml
  tests/integration/tests/di.rs
  tests/integration/tests/di/ui.rs
  tests/integration/tests/di_ui.rs
Due: none

ci(test): isolate macro UI test target
  tests/integration/tests/macros.rs
  tests/integration/tests/macros_ui.rs
Due: none

fix(pages): retain server DOM after hydration rollback
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

ci(test): bound integration cache disk usage
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/intra-crate-integration-test.yml
Due: none

test(pages): unwrap HMR template metadata in keyed test
  crates/reinhardt-pages/tests/page_keyed_for_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): scope document head wasm signals
  crates/reinhardt-pages/tests/wasm/document_head_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): align server function error display test
  crates/reinhardt-pages/tests/wasm/server_fn_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: add release announcement(s)
  announcements/v0.4.0-alpha.1.md
Due: none

fix(pages): ignore named interpolation keys in captures
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/i18n_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands): add hooks module to Pages app template
  README.md
  crates/reinhardt-commands/templates/app_pages_template/client.rs.tpl
  crates/reinhardt-commands/templates/app_pages_template/client/hooks.rs.tpl
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages-macros): pass bound signals by value
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/src/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): expose i18n APIs through facade
  crates/reinhardt-pages/src/i18n.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  tests/pages_i18n_facade.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): verify crate-root i18n exports
  tests/pages_i18n_facade.rs
Due: none

fix(pages): validate server function DTO arguments
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/tests/server_fn_native_handler_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): add safe injected parameter identifiers
  crates/reinhardt-core/macros/src/action.rs
  crates/reinhardt-core/macros/src/injectable_common.rs
  crates/reinhardt-core/macros/src/receiver.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document facade i18n imports
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/i18n_requirements.md
  crates/reinhardt-pages/src/i18n.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): retain launcher root contexts
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/app/launcher.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(i18n): honor registered app catalogs
  crates/reinhardt-commands/src/i18n_commands.rs
  crates/reinhardt-commands/tests/i18n_commands_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): serve collected assets under static URL
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/server/runserver_project_static.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(macros): preserve injected argument order
  crates/reinhardt-core/macros/src/action.rs
  crates/reinhardt-core/macros/src/injectable_common.rs
  crates/reinhardt-core/macros/src/receiver.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): compose validated form actions
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/react_to_reinhardt.md
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/reactive/resource_value.rs
  crates/reinhardt-pages/src/ui.rs
  crates/reinhardt-pages/src/ui/form_action_button.rs
  crates/reinhardt-pages/src/ui/form_action_result_panel.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(macros): forward mutable injected patterns safely
  .superpowers/sdd/task-2-report.md
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/use_inject.rs
  crates/reinhardt-core/macros/src/websocket.rs
  crates/reinhardt-core/macros/tests/ui/routes/pass/mutable_inject_patterns.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/pass/mutable_inject_patterns.rs
  crates/reinhardt-core/macros/tests/ui/use_inject/pass/mutable_inject_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(macros): compile mutable core inject paths
  .superpowers/sdd/task-2-report.md
  crates/reinhardt-core/macros/tests/ui/routes/pass/mutable_inject_patterns.rs
  crates/reinhardt-core/macros/tests/ui/routes_registration/pass/mutable_inject_patterns.rs
  crates/reinhardt-core/macros/tests/ui/use_inject/pass/mutable_inject_patterns.rs
  tests/integration/tests/di/ui.rs
  tests/integration/tests/di/ui/pass/mutable_inject_patterns_core_paths.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): forward server function inject bindings
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/CHANGELOG.md
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/server_fn/with_inject.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): make server inject bindings hygienic
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/CHANGELOG.md
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/tests/ui/server_fn/with_inject.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(di): forward provider injection patterns
  crates/reinhardt-di/README.md
  crates/reinhardt-di/macros/CHANGELOG.md
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/tests/injectable_factory_inject_fallback_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration
