Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(deps): align dependency versions to workspace definitions
  Cargo.toml
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-auth/src/social/backend.rs
  crates/reinhardt-auth/src/social/flow/pkce.rs
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-commands/src/template.rs
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-db/src/orm/type_decorator.rs
  crates/reinhardt-middleware/src/csp.rs
  crates/reinhardt-middleware/src/csrf.rs
  crates/reinhardt-tasks/src/load_balancer.rs
  crates/reinhardt-tasks/src/webhook.rs
  crates/reinhardt-utils/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Authentication & Security, Frontend & Pages, Utilities & Infrastructure

fix(conf): update test fixture versions from alpha.1 to rc.1
  crates/reinhardt-dentdelion/tests/fixtures/plugins/config/Cargo.toml
  crates/reinhardt-dentdelion/tests/fixtures/plugins/logging/Cargo.toml
  crates/reinhardt-dentdelion/tests/fixtures/plugins/minimal/Cargo.toml
  tests/bench/Cargo.toml
  tests/integration/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix: use workspace inheritance for authors, edition, license, and repository
  crates/reinhardt-apps/Cargo.toml
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-di/macros/Cargo.toml
  crates/reinhardt-grpc/macros/Cargo.toml
  crates/reinhardt-http/Cargo.toml
  crates/reinhardt-manouche/Cargo.toml
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/ast/Cargo.toml
  crates/reinhardt-pages/macros/Cargo.toml
  crates/reinhardt-query/macros/Cargo.toml
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-throttling/Cargo.toml
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(test): migrate plain #[test] to #[rstest] across codebase
  crates/reinhardt-rest/src/metadata/dependencies.rs
  examples/examples-github-issues/src/config/settings.rs
  examples/examples-hello-world/src/config/settings.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/polls/serializers.rs
  examples/examples-tutorial-basis/src/shared/forms.rs
  examples/examples-tutorial-rest/src/apps/snippets/models.rs
  examples/examples-tutorial-rest/src/apps/snippets/serializers.rs
  examples/examples-tutorial-rest/tests/integration.rs
  examples/examples-twitter/src/config/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

test: add model-to-migration round-trip test suite (#1703)
  tests/integration/tests/migrations.rs
  tests/integration/tests/migrations/migration_e2e_cycle_integration.rs
  tests/integration/tests/migrations/model_roundtrip_integration.rs
  tests/integration/tests/migrations/schema_verification_integration.rs
Due: none

test: expand round-trip test suite with 76 additional scenarios (#1703)
  tests/integration/tests/migrations/migration_e2e_cycle_integration.rs
  tests/integration/tests/migrations/model_roundtrip_integration.rs
  tests/integration/tests/migrations/schema_verification_integration.rs
Due: none

style: fix formatting in collectstatic and i18n_commands
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/src/i18n_commands.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

style: fix formatting in rest_authentication
  crates/reinhardt-auth/src/rest_authentication.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(deps): convert Vec to Bytes for tungstenite message types
  crates/reinhardt-test/src/websocket.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(auth): add missing created_at field to AuthorizationCode initialization
  tests/integration/tests/auth/oauth2_flows_integration.rs
Due: none

fix(auth): add missing .await in async test assertions
  tests/integration/tests/auth/concurrent_auth_integration.rs
Due: none

fix(ci): treat skipped CI jobs as failure in ci-success check
  .github/workflows/ci.yml
Due: none

ci(semver): auto-detect breaking changes from commit messages
  .github/workflows/semver-check.yml
Due: none

test: add MySQL and SQLite schema verification and e2e cycle tests
  tests/integration/tests/migrations.rs
  tests/integration/tests/migrations/mysql_e2e_cycle.rs
  tests/integration/tests/migrations/mysql_schema_verification.rs
  tests/integration/tests/migrations/sqlite_e2e_cycle.rs
  tests/integration/tests/migrations/sqlite_schema_verification.rs
Due: none

fix(ci): add Rust toolchain setup to security audit workflow
  .github/workflows/security-audit.yml
Due: none

fix(test): update viewset test to expect 405 response instead of error
  tests/integration/tests/viewsets/as_view_integration.rs
Due: none

ci(semver): skip semver-check for pre-release versions
  .github/workflows/semver-check.yml
Due: none

fix(deps): update rand API usage to 0.9 (distributions→distr, thread_rng→rng)
  crates/reinhardt-auth/tests/helpers/test_fixtures.rs
  tests/integration/tests/auth/csrf_protection_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): correct Float/Double SQL type mapping for PostgreSQL
  crates/reinhardt-db/src/migrations/fields.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test: add RwLock poison recovery tests for codecov coverage
  crates/reinhardt-auth/src/default_user_manager.rs
  crates/reinhardt-auth/src/token_storage.rs
  crates/reinhardt-middleware/src/cache.rs
  crates/reinhardt-middleware/src/circuit_breaker.rs
  crates/reinhardt-middleware/src/rate_limit.rs
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/site.rs
  crates/reinhardt-middleware/src/tracing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(core): propagate auto_increment, nullable, and auto_now params to FieldMetadata
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/model_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(test): correct SQLite test compilation errors
  tests/integration/tests/migrations/sqlite_e2e_cycle.rs
  tests/integration/tests/migrations/sqlite_schema_verification.rs
Due: none

fix(db): use app-prefixed table keys and propagate indexes in schema generation
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): normalize BigInteger to INTEGER for SQLite AUTOINCREMENT
  crates/reinhardt-db/src/migrations/fields.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): prevent SQLite schema lock on consecutive DDL in transaction
  crates/reinhardt-db/src/migrations/schema_editor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): add BLOB-to-String UTF-8 fallback for MySQL row conversion
  crates/reinhardt-db/src/backends/dialect/mysql.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

ci(coverage): migrate from LCOV to Codecov JSON for region-level coverage
  .github/workflows/coverage.yml
  Makefile.toml
Due: none

ci(testing): add insta snapshot testing dependency across all crates
  Cargo.toml
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-apps/Cargo.toml
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-deeplink/Cargo.toml
  crates/reinhardt-dentdelion/Cargo.toml
  crates/reinhardt-di/Cargo.toml
  crates/reinhardt-dispatch/Cargo.toml
  crates/reinhardt-forms/Cargo.toml
  crates/reinhardt-graphql/Cargo.toml
  crates/reinhardt-grpc/Cargo.toml
  crates/reinhardt-http/Cargo.toml
  crates/reinhardt-i18n/Cargo.toml
  crates/reinhardt-mail/Cargo.toml
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-openapi/Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-query/Cargo.toml
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-server/Cargo.toml
  crates/reinhardt-shortcuts/Cargo.toml
  crates/reinhardt-tasks/Cargo.toml
  crates/reinhardt-throttling/Cargo.toml
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
  crates/reinhardt-views/Cargo.toml
  crates/reinhardt-websockets/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

chore(deps): unify proptest versions to workspace dependency
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-forms/Cargo.toml
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-query/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(test): update rand 0.9 API usage in csrf integration tests
  tests/integration/tests/auth/csrf_protection_integration.rs
Due: none

ci: increase semver-check timeout from 30 to 45 minutes
  .github/workflows/semver-check.yml
Due: none

ci(mutation): add cargo-mutants mutation testing workflow for all crates
  .config/mutants.toml
  .github/workflows/mutation-test.yml
  Makefile.toml
Due: none

fix(test): update rand 0.9 API usage in auth integration tests
  crates/reinhardt-auth/tests/helpers/test_fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore: add Tachyon Inc. copyright notices
  README.md
  website/templates/base.html
Due: none

fix(ci): allow publish-check to be skipped on release-plz branches
  .github/workflows/ci.yml
Due: none

test(urls): add coverage tests for LazyLoaded clone-based get and get_if_loaded
  crates/reinhardt-urls/src/proxy/loading.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(examples): load JWT secret from environment variable in examples-github-issues
  examples/examples-github-issues/src/config/schema.rs
  examples/examples-github-issues/src/config/urls.rs
Due: none

feat(examples): add multi-auth example demonstrating all authentication types
  examples/Cargo.toml
  examples/examples-multi-auth/Cargo.toml
  examples/examples-multi-auth/src/apps.rs
  examples/examples-multi-auth/src/apps/admin.rs
  examples/examples-multi-auth/src/apps/admin/urls.rs
  examples/examples-multi-auth/src/apps/admin/views.rs
  examples/examples-multi-auth/src/apps/notes.rs
  examples/examples-multi-auth/src/apps/notes/models.rs
  examples/examples-multi-auth/src/apps/notes/serializers.rs
  examples/examples-multi-auth/src/apps/notes/urls.rs
  examples/examples-multi-auth/src/apps/notes/views.rs
  examples/examples-multi-auth/src/apps/users.rs
  examples/examples-multi-auth/src/apps/users/models.rs
  examples/examples-multi-auth/src/apps/users/serializers.rs
  examples/examples-multi-auth/src/apps/users/urls.rs
  examples/examples-multi-auth/src/apps/users/views.rs
  examples/examples-multi-auth/src/bin/manage.rs
  examples/examples-multi-auth/src/config.rs
  examples/examples-multi-auth/src/config/settings.rs
  examples/examples-multi-auth/src/config/urls.rs
  examples/examples-multi-auth/src/config/views.rs
  examples/examples-multi-auth/src/lib.rs
Due: none

fix(examples): return authentication error for unauthenticated me() query
  examples/examples-github-issues/src/apps/auth/views.rs
Due: none

fix(examples): add email uniqueness check in register mutation
  examples/examples-github-issues/src/apps/auth/views.rs
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
