Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

style: apply cargo fmt to exported modules
  src/compat/websockets.rs
  src/exports/auth.rs
  src/exports/core_types.rs
  src/exports/database.rs
  src/exports/di.rs
  src/exports/forms.rs
  src/exports/middleware_exports.rs
  src/exports/misc.rs
  src/exports/rest.rs
  src/exports/routing.rs
  src/exports/settings.rs
  src/exports/views.rs
  src/lib.rs
  src/prelude.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(ci): remove unused imports and dead struct fields
  tests/integration/tests/auth/mfa_integration.rs
  tests/integration/tests/settings/composable_use_cases.rs
  tests/integration/tests/settings/settings_system_integration.rs
Due: none

fix(macros): exclude pinned state params from builder impl generics
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): address Copilot review feedback on deploy-website runner selection
  .github/workflows/deploy-website.yml
Due: none

fix(integration-tests): remove deletion record comments from settings test
  tests/integration/tests/settings/settings_system_integration.rs
Due: none

fix(ci): pin actions/github-script to commit SHA for supply chain security
  .github/workflows/deploy-website.yml
Due: none

feat(pages-macros): add typed value conversion in WASM bind listener
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(pages): add trybuild pass cases for typed bind listener
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_boolean_field.rs
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_choice_typed.rs
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_date_field.rs
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_integer_field.rs
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_ip_address.rs
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_json_field.rs
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_multiple_choice.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): enable web-sys/HtmlOptionElement for MultipleChoiceField bind listener
  crates/reinhardt-pages/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

feat(di)!: make InjectionContext registry-aware for per-test isolation
  crates/reinhardt-di/src/context.rs
  crates/reinhardt-di/src/registry.rs
  crates/reinhardt-testkit/README.md
  crates/reinhardt-testkit/src/fixtures/di_overrides.rs
  instructions/TESTING_STANDARDS.md
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

docs(di): update public docs to reflect per-context registry isolation
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/src/testing.rs
  crates/reinhardt-testkit-macros/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(commands): replace loose contains assertions with strict count checks
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): handle angle-bracket typed path params in extract_url_params
  crates/reinhardt-core/macros/src/viewset_macro.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): correct WASM register_globally doc comment
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(ci): resolve 4 pre-existing compilation failures on develop/0.2.0
  crates/reinhardt-conf/tests/profile_switching.rs
  crates/reinhardt-manouche/src/parser/form.rs
  crates/reinhardt-storages/src/backends/gcs.rs
  crates/reinhardt-storages/src/backends/local.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(facade): add explanatory comment for #[allow(deprecated)] on SecurityConfig re-export
  src/exports/middleware_exports.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(templates): clarify breaking-change as additional label, not type label
  .github/PULL_REQUEST_TEMPLATE.md
  instructions/ISSUE_GUIDELINES.md
  instructions/PR_GUIDELINE.md
Due: none

refactor(commands): replace loose contains() assertions with exact-line checks
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(commands): simplify assert_eq!(expr, bool) to assert!(expr)
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

test: regenerate trybuild stderr for manager_wrong_model
  tests/integration/tests/orm/ui/fail/manager_wrong_model.stderr
Due: none

fix(pages): add explicit type parameters to typed ChoiceField trybuild tests
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_choice_typed.rs
  crates/reinhardt-pages/tests/ui/form/pass/bind_listener_multiple_choice.rs
  crates/reinhardt-pages/tests/ui/form/pass/choice_field_typed_i64.rs
  crates/reinhardt-pages/tests/ui/form/pass/multiple_choice_typed.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): collapse nested if-let and reformat server_fn_trait
  crates/reinhardt-pages/src/server_fn/server_fn_trait.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): qualify Manager in rustdoc examples and add missing Objects type
  crates/reinhardt-db/src/orm/async_query.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/inspection.rs
  crates/reinhardt-db/src/orm/loading.rs
  crates/reinhardt-db/src/orm/many_to_many.rs
  crates/reinhardt-db/src/orm/polymorphic.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/query_fields/field.rs
  crates/reinhardt-db/src/orm/query_fields/lookup.rs
  crates/reinhardt-db/src/orm/query_helpers.rs
  crates/reinhardt-db/src/orm/reflection.rs
  crates/reinhardt-db/src/orm/relationship.rs
  crates/reinhardt-db/src/orm/session.rs
  crates/reinhardt-db/src/orm/sqlalchemy_query.rs
  crates/reinhardt-db/src/orm/typed_join.rs
  crates/reinhardt-views/src/viewsets/handler/model_view_set_handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, REST Framework

fix(macros): address CodeRabbit review on model Info generation
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/macros.rs
  tests/integration/tests/macros/model_info_integration.rs
  tests/integration/tests/macros/model_info_ui.rs
  tests/integration/tests/macros/ui/fail/info_opt_out_no_type.rs
  tests/integration/tests/macros/ui/fail/info_opt_out_no_type.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(tests): correct line number in trybuild stderr expectation
  tests/integration/tests/macros/ui/fail/info_opt_out_no_type.stderr
Due: none

chore(ci): add actionlint config for custom self-hosted runner labels
  .github/actionlint.yaml
Due: none

fix(commands): add parent project crate dependency to workspace app Cargo.toml
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(urls): panic on duplicate client route name registration
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(ci): resolve all pre-existing compilation failures on develop/0.2.0
  crates/reinhardt-conf/tests/profile_switching.rs
  crates/reinhardt-core/src/reactive/deps.rs
  crates/reinhardt-manouche/src/parser/form.rs
  crates/reinhardt-pages/src/router.rs
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_app/src/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_full_layout_app/src/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/router.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_sidebar_signal_app/src/lib.rs
  crates/reinhardt-pages/tests/reactive_autowrap_integration_tests.rs
  crates/reinhardt-pages/tests/wasm/client_launcher_navigation_test.rs
  crates/reinhardt-storages/src/backends/gcs.rs
  crates/reinhardt-storages/src/backends/local.rs
  tests/integration/tests/auth/mfa_integration.rs
  tests/integration/tests/auth/session_authentication_integration.rs
  tests/integration/tests/settings.rs
  tests/integration/tests/settings/composable_use_cases.rs
  tests/integration/tests/settings/settings_system_integration.rs
  tests/integration/tests/validation/validator_orm_constraints.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(tests): remove duplicate TestUser definition in mfa_integration
  tests/integration/tests/auth/mfa_integration.rs
Due: none

fix(admin-cli): restore Topiary formatter wiring from main
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/ast_formatter.rs
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): run rustfmt on DSL-skipped files in fmt command
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): also pass ignore-all files through rustfmt
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): pass ignore-all files through rustfmt in fmt command
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): propagate serde derives to Info companion struct via model_config
  crates/reinhardt-core/macros/src/model_attribute.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/integration/tests/macros/model_info_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
