Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

security(auth): add expiration to OAuth2 authorization codes
  crates/reinhardt-auth/src/oauth2.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(middleware): fix CacheKeyStrategy::UrlOnly copy-paste error
  crates/reinhardt-middleware/src/cache.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(forms): fix FormSet::process_data non-deterministic ordering
  crates/reinhardt-forms/src/formset.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(deps): update reinhardt-test outdated deps
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-test/src/websocket.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(meta): fix workspace inheritance and authors metadata
  crates/reinhardt-apps/Cargo.toml
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-di/macros/Cargo.toml
  crates/reinhardt-grpc/macros/Cargo.toml
  crates/reinhardt-http/Cargo.toml
  crates/reinhardt-manouche/Cargo.toml
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-pages/ast/Cargo.toml
  crates/reinhardt-pages/macros/Cargo.toml
  crates/reinhardt-query/macros/Cargo.toml
  crates/reinhardt-rest/Cargo.toml
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-throttling/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(deps): align workspace dependency versions
  Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-forms/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): use LazyLock for regex compilation
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/src/i18n_commands.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(middleware): add eviction to TraceStore to prevent memory leak
  crates/reinhardt-middleware/src/tracing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(examples): remove DM-1 violations and unused dependencies
  examples/examples-database-integration/Cargo.toml
  examples/examples-hello-world/Cargo.toml
  examples/examples-rest-api/Cargo.toml
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-rest/Cargo.toml
Due: none

fix(ci): fix security template path and todo-check runner
  .github/ISSUE_TEMPLATE/7-security.yml
  .github/workflows/todo-check.yml
Due: none

fix(examples): remove orphaned migration files
  examples/examples-database-integration/migrations/todos/0001_initial.rs
  examples/examples-database-integration/migrations/users/0001_initial.rs
  examples/examples-github-issues/migrations/default/0001_initial.rs
  examples/examples-github-issues/migrations/issues/0001_initial.rs
  examples/examples-github-issues/migrations/projects/0001_initial.rs
  examples/examples-rest-api/migrations/api/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0002_initial.rs
  examples/examples-twitter/migrations/default/0001_initial.rs
Due: none

fix(pages): add explanatory comments to #[allow(dead_code)]
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(websockets): release lock before send in Room::send_to
  crates/reinhardt-websockets/src/room.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

fix(pages): handle Mutex poisoning in ValidatorRegistry
  crates/reinhardt-pages/src/form/validators.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(auth): replace std::sync::RwLock with tokio::sync::RwLock in InMemoryTokenStorage
  crates/reinhardt-auth/src/token_storage.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(urls): convert path-type parameters to matchit catch-all syntax in RadixTree mode
  crates/reinhardt-urls/src/routers/pattern.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(urls): eliminate use-after-unlock unsoundness in LazyLoaded::get()
  crates/reinhardt-urls/src/proxy/loading.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

style(urls): apply project formatting to pattern module
  crates/reinhardt-urls/src/routers/pattern.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(db): prevent SQL injection in PolymorphicQuery, BulkUpdateBuilder, and UpdateBuilder
  crates/reinhardt-db/src/orm/bulk_update.rs
  crates/reinhardt-db/src/orm/hybrid_dml.rs
  crates/reinhardt-db/src/orm/polymorphic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core): use upgradable read lock in SignalRegistry to prevent TOCTOU race
  crates/reinhardt-core/src/signals/registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(db): use checked conversion for BigUnsigned to i64 cast in session
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(middleware): recover from RwLock poisoning instead of panicking
  crates/reinhardt-auth/src/default_user_manager.rs
  crates/reinhardt-auth/src/token_storage.rs
  crates/reinhardt-middleware/src/cache.rs
  crates/reinhardt-middleware/src/circuit_breaker.rs
  crates/reinhardt-middleware/src/flatpages.rs
  crates/reinhardt-middleware/src/messages.rs
  crates/reinhardt-middleware/src/metrics.rs
  crates/reinhardt-middleware/src/rate_limit.rs
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/site.rs
  crates/reinhardt-middleware/src/tracing.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(middleware): make rate limit token consumption atomic to prevent TOCTOU
  crates/reinhardt-middleware/src/rate_limit.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(middleware): use 308 Permanent Redirect for SSL redirect
  crates/reinhardt-middleware/src/security_middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(i18n): remove Hungarian from no-plural language group
  crates/reinhardt-i18n/src/catalog.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(utils): tighten wrap_text property test assertion
  crates/reinhardt-utils/src/utils_core/encoding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(views): return 405 response with Allow header in ViewSetHandler
  crates/reinhardt-views/src/viewsets/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(apps): recover from poisoned mutex in signal implementation
  crates/reinhardt-apps/src/signals.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(admin): use is_update parameter in validate_mutation_data
  crates/reinhardt-admin/src/server/validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): unify toml crate version via workspace dependency inheritance
  Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-dentdelion/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

style(views): format handler code
  crates/reinhardt-views/src/viewsets/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(db): propagate error from InsertStatement::values() in Session::flush
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(openapi): return Result from OpenApiRouter::wrap instead of panicking
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-openapi/src/router_wrapper.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework, Utilities & Infrastructure

fix(db): handle poisoned RwLock in ContentTypeRegistry gracefully
  crates/reinhardt-db/src/contenttypes/contenttypes.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(macros): add auto_increment param to field registration
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): infer not_null from Rust Option type in field registration
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): map DateTime to TimestampTz for timezone-aware columns
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): read nullable param from FieldMetadata in model_registry
  crates/reinhardt-db/src/migrations/model_registry.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix: add explanatory comments to all #[allow(dead_code)] attributes
  crates/reinhardt-auth/src/sessions/replication.rs
  crates/reinhardt-db/src/associations/collection.rs
  crates/reinhardt-db/src/associations/foreign_key.rs
  crates/reinhardt-db/src/associations/loading.rs
  crates/reinhardt-db/src/associations/many_to_many.rs
  crates/reinhardt-db/src/associations/one_to_many.rs
  crates/reinhardt-db/src/associations/one_to_one.rs
  crates/reinhardt-db/src/associations/proxy.rs
  crates/reinhardt-db/src/backends/schema/factory.rs
  crates/reinhardt-db/src/migrations/introspection.rs
  crates/reinhardt-db/src/orm/absolute_url_overrides.rs
  crates/reinhardt-db/src/orm/async_query.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/lambda_stmt.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/polymorphic.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/reverse_accessor.rs
  crates/reinhardt-db/src/orm/sqlalchemy_query.rs
  crates/reinhardt-db/src/orm/transaction.rs
  crates/reinhardt-db/src/orm/types.rs
  crates/reinhardt-forms/src/bound_field.rs
  crates/reinhardt-forms/src/fields/model_choice_field.rs
  crates/reinhardt-forms/src/model_form.rs
  crates/reinhardt-pages/src/component/props.rs
  crates/reinhardt-pages/src/component/trait.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/router/history.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Authentication & Security, Frontend & Pages

fix(examples): remove debug eprintln! statements and TODO placeholder
  examples/examples-rest-api/src/apps/api/storage.rs
  examples/examples-rest-api/src/apps/api/views.rs
  examples/examples-twitter/src/apps/dm/server/server_fn/handlers.rs
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
