Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(migrations): preserve table rename dependencies
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(orm): gate enum codecs for wasm
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/src/model_enum_derive.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(fixtures): support registry-only relations
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): relocate nested reactive ranges
  crates/reinhardt-pages/src/component/reactive_if.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): normalize controlled select handling
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/ssr/control_binding.rs
  crates/reinhardt-pages/src/testing/component/tree.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(orm): guard composite typed relation paths
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): namespace default model tables
  README.md
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/table_name_default.rs
  crates/reinhardt-db/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): reject cyclic table name reuse
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(migrations): scope table rename matching
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): repair hook dependency migration tests
  crates/reinhardt-admin-cli/tests/migrate_v2_e2e.rs
  crates/reinhardt-pages/tests/ui/hooks/pass/cleanup_generic_turbofish.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): align table rename regression tests
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): install ripgrep for anyhow checks
  .github/workflows/anyhow-check.yml
  .github/workflows/ci.yml
Due: none

fix(db): annotate byte array model field
  tests/integration/tests/orm/model_enum_integration.rs
Due: none

fix(pages): complete test resource conversion
  crates/reinhardt-pages/src/server_fn/model_set/context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(core): satisfy effect drop clippy lint
  crates/reinhardt-core/src/reactive/effect.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): clear controlled binding CI failures
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/tests/controlled_input_binding_native.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve reactive control defaults
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(fixtures): validate generated fixture values
  crates/reinhardt-commands/src/cli.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(migrations): harden conventional table rename handling
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
  instructions/MIGRATION_0.4.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(pages): retain controlled selection state
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): scope foreign key table rewrites
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(core): synchronize numeric binding recovery
  crates/reinhardt-core/src/types/page/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(core): isolate ORM signal handlers
  .superpowers/sdd/issue-5575-progress.md
  crates/reinhardt-core/src/signals/orm_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix: preserve facade and reactive range contracts
  crates/reinhardt-pages/src/component/reactive_if.rs
  examples/Cargo.lock
  src/exports/macros.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(orm): preserve binary model fields
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/orm/model_enum_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): refresh adopted hydration branches
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/events.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): retain rejected numeric control state
  crates/reinhardt-pages/src/dom/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): bind PostgreSQL model arrays natively
  crates/reinhardt-db/src/backends/dialect/postgres.rs
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/src/backends/types.rs
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/execution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): hydrate binary fields in bulk queries
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): resolve table rename review findings
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(pages): preserve nested reactive ranges during relocation
  crates/reinhardt-pages/src/component/reactive_if.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): address table naming review feedback
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/templates/app_restful_template/models.rs.tpl
  crates/reinhardt-commands/tests/admin_scripts_tests.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(pages): preserve controlled hydration defaults
  crates/reinhardt-pages/src/component.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(fixtures): address review feedback
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(ci): isolate anyhow scanner from rg config
  scripts/check-anyhow.sh
Due: none

fix(style): parse negative qualified references
  crates/reinhardt-manouche/src/parser/style/value.rs
  crates/reinhardt-pages/tests/ui/style/fail/property_mismatch.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): satisfy migration clippy lints
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): bind arrays for non-Postgres backends
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): compile model resource test
  crates/reinhardt-pages/src/server_fn/model_set/context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(fixtures): satisfy clippy for identity fields
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration
