Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(db): complete generated column review repairs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): preserve i18n hydration owner boundaries
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): validate client form submit serde skips
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/deserialize_rename_collision.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/deserialize_rename_collision.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): scope suspense resource replay caches
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): remove shared suspense head cache
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): preserve hydrated i18n reactive owners
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/component.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/i18n.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): harden client form metadata generation
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing_if.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing_if.stderr
  crates/reinhardt-pages/tests/ui/client_form/pass/private_skipped_value_field.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/skipped_field_custom_default.rs
  crates/reinhardt-pages/tests/ui/server_fn/fail/result_alias.stderr
  crates/reinhardt-pages/tests/ui/server_fn/response_metadata.rs
  crates/reinhardt-pages/tests/ui/server_fn/result_alias.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve hydrated i18n event context
  crates/reinhardt-pages/src/callback.rs
  crates/reinhardt-pages/src/component/reactive_if.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): order generated column migration dependencies
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): complete generated column ordering repairs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): preserve SSR resource replay consistency
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): keep buffered suspense head capture request scoped
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): harden reactive i18n macro handling
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/src/i18n.rs
  crates/reinhardt-pages/tests/i18n_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): use explicit i18n page capture
  crates/reinhardt-pages/tests/i18n_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): harden client form wire compatibility
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/deserialize_rename_collision.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/directional_rename.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/directional_rename.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/directional_rename_all.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/directional_rename_all.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/serde_renames.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/private_editable_field_token.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/private_editable_field_token.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_request_serialize.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_response_deserialize.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_deserializing.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_deserializing.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing_default.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing_default.stderr
  crates/reinhardt-pages/tests/ui/client_form/pass/skipped_field_self_default.rs
  docs/rfc/2026-07-02-client-form-bindings-design.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): stabilize hydrated reactive ownership
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/i18n.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): harden generated column edge cases
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): preserve marker render allocators
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(tasks): satisfy durable transition clippy lint
  crates/reinhardt-tasks/src/durable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): satisfy resource hydration clippy
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): satisfy client form clippy
  crates/reinhardt-pages/macros/src/client_form.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): update generated column CI fixtures
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
  tests/integration/src/migration_duplicate.rs
  tests/integration/tests/migrations/makemigrations_e2e_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(tasks): harden durable retry cancellation
  crates/reinhardt-tasks/src/durable.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(db): harden generated column diffs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
  crates/reinhardt-db/src/orm/manager.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): retain i18n context after hydration
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): harden client form privacy
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form_choices.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/client_form_integration.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/skip_serializing_deserialize_collision.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/skip_serializing_deserialize_collision.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/variant_deserialize_with.rs
  crates/reinhardt-pages/tests/ui/client_form/choices/fail/variant_deserialize_with.stderr
  crates/reinhardt-pages/tests/ui/client_form/choices/pass/ignored_container_options.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/restricted_private_editable_field.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/restricted_private_editable_field.stderr
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_error_conversion.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_error_display.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_request_serialize.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_request_signature.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_response_deserialize.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_deserializing.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing.rs
  crates/reinhardt-pages/tests/ui/client_form/fail/server_fn_submit_skip_serializing_default.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/server_fn_submit.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/skipped_field_custom_default.rs
  crates/reinhardt-pages/tests/ui/client_form/pass/skipped_field_self_default.rs
  docs/rfc/2026-07-02-client-form-bindings-design.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): harden suspense hydration state
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/src/component/suspense.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/ssr_suspense_streaming_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(db): reject invalid generated column writes
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/migrations/schema_diff.rs
  crates/reinhardt-db/src/orm/manager.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(db): add typed JSON model fields
  Cargo.toml
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/typed_json_field.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/migrations/fields.rs
  crates/reinhardt-db/src/migrations/operations.rs
  crates/reinhardt-db/src/orm.rs
  crates/reinhardt-db/src/orm/json.rs
  crates/reinhardt-db/src/orm/session.rs
  src/lib.rs
  tests/integration/tests/macros/model_derive_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM

feat(db)!: unify foreign key id accessors
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/fixtures/model_wasm_parity/src/lib.rs
  crates/reinhardt-core/macros/tests/model_wasm_parity.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/foreign_key_id_accessor.rs
  examples/examples-tutorial-basis/src/apps/polls/server_fn.rs
  examples/examples-tutorial-basis/src/apps/polls/services/server.rs
  instructions/MACRO_USAGE.md
  tests/integration/tests/macros/model_info_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(di)!: add self-keyed dependency wrappers
  crates/reinhardt-di/src/depends.rs
  crates/reinhardt-di/src/factory_output.rs
  crates/reinhardt-di/src/injectable.rs
  crates/reinhardt-di/src/injectable_type.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/src/self_key.rs
  crates/reinhardt-di/tests/auto_injectable_tests.rs
  crates/reinhardt-di/tests/extractor_factory_tests.rs
  crates/reinhardt-di/tests/fastapi_style_depends_tests.rs
  crates/reinhardt-di/tests/injectable_factory_inject_fallback_tests.rs
  crates/reinhardt-di/tests/injectable_field_depends_sugar_tests.rs
  crates/reinhardt-di/tests/keyed_factory_output_tests.rs
  crates/reinhardt-di/tests/self_keyed_depends_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

feat(di)!: allow self-keyed injectable providers
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/macros/src/lib.rs
  tests/integration/tests/di/ui.rs
  tests/integration/tests/di/ui/fail/injectable_factory_mixed_params.rs
  tests/integration/tests/di/ui/fail/injectable_factory_mixed_params.stderr
  tests/integration/tests/di/ui/fail/injectable_factory_non_inject_params.rs
  tests/integration/tests/di/ui/fail/injectable_factory_non_inject_params.stderr
  tests/integration/tests/di/ui/fail/missing_injectable_type_trait.rs
  tests/integration/tests/di/ui/fail/missing_injectable_type_trait.stderr
  tests/integration/tests/di/ui/fail/provider_returns_factory_output.rs
  tests/integration/tests/di/ui/fail/provider_returns_factory_output.stderr
  tests/integration/tests/di/ui/fail/provider_returns_plain_type.rs
  tests/integration/tests/di/ui/fail/provider_returns_plain_type.stderr
  tests/integration/tests/di/ui/pass/depends_result_in_route_macro.rs
  tests/integration/tests/di/ui/pass/depends_result_in_server_fn.rs
  tests/integration/tests/di/ui/pass/factory_depends_in_route_macro.rs
  tests/integration/tests/di/ui/pass/factory_depends_in_server_fn.rs
  tests/integration/tests/di/ui/pass/injectable_factory_inject_params.rs
  tests/integration/tests/di/ui/pass/keyed_depends_in_route_macro.rs
  tests/integration/tests/di/ui/pass/keyed_depends_in_server_fn.rs
  tests/integration/tests/di/ui/pass/keyed_provider_macro.rs
  tests/integration/tests/di/ui/pass/self_keyed_provider_macro.rs
  tests/integration/tests/di/ui/pass/trait_based_inject_wrappers.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(di): document self-keyed dependency wrappers
  README.md
  crates/reinhardt-di/README.md
  crates/reinhardt-middleware/README.md
  crates/reinhardt-views/README.md
  examples/examples-tutorial-rest/README.md
  instructions/MIGRATION_0.3.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(testkit): add model-derived test database fixture
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-test/README.md
  crates/reinhardt-test/src/fixtures.rs
  crates/reinhardt-testkit/README.md
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/database.rs
  crates/reinhardt-testkit/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(di): validate injectable provider value names
  README.md
  crates/reinhardt-di/README.md
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/macros/src/lib.rs
  crates/reinhardt-di/tests/injectable_factory_validation_tests.rs
  instructions/MIGRATION_0.3.md
  tests/integration/tests/di/ui.rs
  tests/integration/tests/di/ui/fail/injectable_factory_invalid_scope.rs
  tests/integration/tests/di/ui/fail/injectable_factory_sync_fn.rs
  tests/integration/tests/di/ui/fail/injectable_factory_sync_fn.stderr
  tests/integration/tests/di/ui/fail/provider_returns_factory_output.stderr
  tests/integration/tests/di/ui/pass/deprecated_factory_output_provider.rs
  tests/integration/tests/di/ui/pass/self_keyed_result_in_server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(di): clarify FactoryOutput deprecation note
  crates/reinhardt-di/src/factory_output.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

test(di): avoid deprecated alias in macro failure fixture
  tests/integration/tests/di/ui/fail/unknown_injectable_arg.rs
Due: none

docs(di): gate request context doctest by params feature
  crates/reinhardt-di/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(db): bind typed JSON scalars as JSON
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM
