Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(pages): preserve controlled binding hydration state
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(fixtures): honor nullable and identity fields
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(reactive): dispose scoped reactive runs
  crates/reinhardt-core/src/reactive.rs
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-core/src/reactive/memo.rs
  crates/reinhardt-pages/src/reactive/hooks/sync.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

test(reactive): cover scoped run disposal
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-core/src/reactive/memo.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(styles): validate shadow blur positions
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(orm): encode array query values
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix: restore facade feature dependencies
  Cargo.toml
  crates/reinhardt-event-catalog/Cargo.toml
  crates/reinhardt-pages/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): restore runtime dependencies
  crates/reinhardt-pages/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix: preserve internal error classification
  crates/reinhardt-db/src/backends/drivers/cockroachdb/distributed_tx.rs
  crates/reinhardt-rest/src/browsable_api/middleware.rs
  crates/reinhardt-rest/src/serializers/validators.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, REST Framework

fix(fixtures): support generated identity columns
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): preserve table rename ordering
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): resolve renamed tables by physical name
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): prefer renamed table identity
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(style): validate generated component CSS
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/debounced_watcher.rs
  crates/reinhardt-commands/src/style_extractor.rs
  crates/reinhardt-manouche/src/style/registry.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

test(pages): declare numeric binding capture types
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(tests): use core errors in deadlock tasks
  tests/integration/tests/migrations/concurrent_execution_integration.rs
Due: none

fix(db): borrow operations during rename ordering
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(macros): declare fixture string length
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): use public unique field reexport
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): order cross-app table reuse
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

style(db): format query annotation rendering
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(macros): stub unique field references
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(reactive): detach observers before scope disposal
  crates/reinhardt-core/src/reactive/effect.rs
  crates/reinhardt-core/src/reactive/memo.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(pages): normalize controlled attribute names
  crates/reinhardt-pages/src/component/into_page.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): reconcile controlled hydration
  crates/reinhardt-pages/src/dom/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix: restore merged runtime integrations
  Cargo.toml
  crates/reinhardt-http/src/auth_state.rs
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/component/reactive_if.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(orm): preserve typed persistence values
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(fixtures): validate generated fixture fields
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(rest): classify invalid model shapes as internal errors
  crates/reinhardt-rest/src/serializers/validators.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(style): preserve pages style runtime boundaries
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/component_styles.rs
  crates/reinhardt-commands/src/style_extractor.rs
  crates/reinhardt-manouche/src/validator/style/expression.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): preserve rejected hydrated controls
  crates/reinhardt-pages/src/component/reactive_if.rs
  crates/reinhardt-pages/src/dom/control_binding.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): unify table rename emission
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix: restore facade feature integrations
  Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-views/src/viewsets/handler/model_view_set_handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(orm): reserve typed relation aliases
  crates/reinhardt-db/src/orm/lateral_join.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): ignore late state completions
  crates/reinhardt-pages/src/reactive/hooks/action.rs
  crates/reinhardt-pages/src/reactive/hooks/state.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(macros): reject ambiguous composite reverse relations
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): normalize controlled form projection
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-core/src/types/page/control_binding.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/controlled_input_binding_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): preserve reactive scopes across deferred work
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/ssr/resource_context.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(fixtures): validate omitted defaults before null fill
  crates/reinhardt-db/src/orm/fixtures.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(style): validate box shadow and grid values
  crates/reinhardt-manouche/src/style/registry.rs
Due: unit, intra-crate-integration, cross-crate-integration
