Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(admin-cli): use unique temp filename in target directory for atomic rename
  crates/reinhardt-admin-cli/src/migrate_v2.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): ensure temp file cleanup runs on rename failure
  crates/reinhardt-admin-cli/src/migrate_v2.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands): add router dispatch to runserver
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/src/bin/runserver.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): call auto_register_router before runserver starts
  crates/reinhardt-commands/src/bin/runserver.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

Revert "docs: add workaround comment for redundant UNIQUE constraint in users migration"
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_alter_users_is_active_ad_and_more.rs
Due: none

Revert "style: apply reinhardt-admin fmt-all to examples and tests"
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
  crates/reinhardt-pages/tests/watch_ssr_tests.rs
  crates/reinhardt-pages/tests/watch_syntax_tests.rs
  examples/examples-tutorial-basis/migrations/auth/0001_initial.rs
  examples/examples-tutorial-basis/migrations/auth/0002_alter_auth_permission_id_alter_auth_group_i_and_more.rs
  examples/examples-tutorial-basis/migrations/default/0001_initial.rs
  examples/examples-tutorial-basis/migrations/default/0002_alter_sessions_session_key.rs
  examples/examples-tutorial-basis/migrations/polls/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0002_alter_choices_question_id.rs
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question__and_more.rs
  examples/examples-tutorial-basis/migrations/users/0001_initial.rs
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_alter_users_is_active_ad_and_more.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-rest/migrations/snippets/0001_initial.rs
  examples/examples-twitter/src/apps/auth/client/components.rs
  examples/examples-twitter/src/apps/dm/client/components.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/core/client/components/icons.rs
  examples/examples-twitter/src/core/client/components/layout.rs
  examples/examples-twitter/src/core/client/router.rs
Due: unit, intra-crate-integration, cross-crate-integration

Reapply "docs: add workaround comment for redundant UNIQUE constraint in users migration"
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_alter_users_is_active_ad_and_more.rs
Due: none

fix: revert unnecessary cargo fmt reformatting on migration files
  examples/examples-tutorial-basis/migrations/auth/0001_initial.rs
  examples/examples-tutorial-basis/migrations/auth/0002_alter_auth_permission_id_alter_auth_group_i_and_more.rs
  examples/examples-tutorial-basis/migrations/default/0001_initial.rs
  examples/examples-tutorial-basis/migrations/default/0002_alter_sessions_session_key.rs
  examples/examples-tutorial-basis/migrations/polls/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0002_alter_choices_question_id.rs
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question__and_more.rs
  examples/examples-tutorial-basis/migrations/users/0001_initial.rs
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_alter_users_is_active_ad_and_more.rs
  examples/examples-tutorial-rest/migrations/snippets/0001_initial.rs
  examples/examples-twitter/migrations/auth/0001_initial.rs
  examples/examples-twitter/src/migrations.rs
Due: none

fix: revert cargo fmt blank-line and comment deletions in ui.rs
  crates/reinhardt-pages/tests/ui.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(runserver): address CodeRabbit review — 413 on body overflow + real peer addr
  crates/reinhardt-commands/src/bin/runserver.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix: revert cargo fmt blank-line and comment deletions in static_macro_compile_tests.rs
  crates/reinhardt-pages/tests/static_macro_compile_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): add named children slots ($slotname) to page! macro Component invocation
  crates/reinhardt-manouche/src/core/node.rs
  crates/reinhardt-manouche/src/core/typed_node.rs
  crates/reinhardt-manouche/src/parser/page.rs
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/ui/page/fail/named_slot_duplicate.rs
  crates/reinhardt-pages/tests/ui/page/fail/named_slot_duplicate.stderr
  crates/reinhardt-pages/tests/ui/page/fail/named_slot_outside_component.rs
  crates/reinhardt-pages/tests/ui/page/fail/named_slot_outside_component.stderr
  crates/reinhardt-pages/tests/ui/page/pass/named_slots_basic.rs
  crates/reinhardt-pages/tests/ui/page/pass/named_slots_empty.rs
  crates/reinhardt-pages/tests/ui/page/pass/named_slots_mixed.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(examples): replace Page::Fragment with for loops in page! macro bodies
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-twitter/src/apps/dm/client/components.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/layout.rs
Due: none

fix(examples): read redis_url from [database] section instead of top-level
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-basis/scripts/parse_local_toml.py
  examples/examples-tutorial-basis/settings/base.toml
  examples/examples-tutorial-basis/settings/local.toml
  examples/examples-tutorial-rest/scripts/parse_local_toml.py
  examples/examples-twitter/README.md
  examples/examples-twitter/quickstart.sh
  examples/examples-twitter/scripts/parse_local_toml.py
Due: none

fix(pages): address CodeRabbit review — acronym handling in pascal_to_snake + NOTE→TODO convention
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(instructions): add PR base branch policy document
  AGENTS.md
  CLAUDE.md
  instructions/PR_BASE_BRANCH_POLICY.md
Due: none

fix(pages): remove TODO: marker from dependency note to avoid CI block
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): clean up temp file when std::fs::write fails in write_developer_file
  crates/reinhardt-admin-cli/src/migrate_v2.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(admin): fix indentation in write_developer_file write-error handler
  crates/reinhardt-admin-cli/src/migrate_v2.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(release): use distinct pr_branch_prefix for develop branch
  release-plz.toml
Due: none

fix(manouche): add named_slots support to brace-form component parser
  crates/reinhardt-manouche/src/core/node.rs
  crates/reinhardt-manouche/src/parser/page/component_brace.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(release): document branch-specific pr_branch_prefix convention
  instructions/QUICK_REFERENCE.md
  instructions/RELEASE_PROCESS.md
  instructions/STABILITY_POLICY.md
  release-plz.toml
Due: none

fix(release): use distinct pr_name for develop branch Release PRs
  release-plz.toml
Due: none

docs(ci): update release-plz workflow comments for branch-specific prefixes
  .github/workflows/release-plz.yml
Due: none

fix(release): use non-overlapping pr_branch_prefix for develop branch
  release-plz.toml
Due: none

docs(release): update branch prefix to develop-release-plz- (non-overlapping)
  instructions/QUICK_REFERENCE.md
  instructions/RELEASE_PROCESS.md
  instructions/STABILITY_POLICY.md
  release-plz.toml
Due: none

style(admin-cli): apply rustfmt to migrate_v2 codemod tests
  crates/reinhardt-admin-cli/src/migrate_v2.rs
  crates/reinhardt-admin-cli/src/migrate_v2/rules/component_props.rs
Due: unit, intra-crate-integration, cross-crate-integration

style: apply reinhardt-admin fmt to examples and page! macro tests
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_full_layout_app/src/lib.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/pages.rs
  crates/reinhardt-pages/tests/fixtures/spa_navigation_with_named_routes_app/src/client/router.rs
  crates/reinhardt-pages/tests/navigate_free_fn_integration.rs
  crates/reinhardt-pages/tests/reactive_autowrap_integration_tests.rs
  crates/reinhardt-pages/tests/ui/page/fail/bare_ident_shorthand_in_body.rs
  crates/reinhardt-pages/tests/ui/page/fail/component_missing_required_prop.rs
  crates/reinhardt-pages/tests/ui/page/fail/implicit_capture_in_event_handler.rs
  crates/reinhardt-pages/tests/ui/page/fail/implicit_capture_lowercase.rs
  crates/reinhardt-pages/tests/ui/page/fail/watch_block_removed.rs
  crates/reinhardt-pages/tests/ui/page/pass/boolean_attr_dynamic_conditional.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_invocation.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_with_children.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_brace_with_event.rs
  crates/reinhardt-pages/tests/ui/page/pass/component_paren_still_works.rs
  crates/reinhardt-pages/tests/ui/page/pass/explicit_braced_expression.rs
  crates/reinhardt-pages/tests/ui/page/pass/explicit_param.rs
  crates/reinhardt-pages/tests/ui/page/pass/for_loop.rs
  crates/reinhardt-pages/tests/ui/page/pass/helper_routed_signal.rs
  crates/reinhardt-pages/tests/ui/page/pass/with_props.rs
  crates/reinhardt-pages/tests/ui/server_fn/with_extractors.rs
  crates/reinhardt-pages/tests/wasm/history_state_shape_test.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-twitter/src/apps/auth/client/components.rs
  examples/examples-twitter/src/apps/auth/shared/server_fn.rs
  examples/examples-twitter/src/apps/dm/client/components.rs
  examples/examples-twitter/src/apps/dm/client/hooks.rs
  examples/examples-twitter/src/apps/profile/client/components.rs
  examples/examples-twitter/src/apps/profile/shared/server_fn.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
  examples/examples-twitter/src/core/client/components/common.rs
  examples/examples-twitter/src/core/client/components/icons.rs
  examples/examples-twitter/src/core/client/components/layout.rs
  examples/examples-twitter/src/core/client/router.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(ci): fix leftover release-plz-develop- references in workflow comments
  .github/workflows/release-plz.yml
Due: none

fix(pages): address CodeRabbit review findings on component brace invocation
  crates/reinhardt-manouche/src/validator/page.rs
  crates/reinhardt-pages/macros/src/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/component_invocation_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin-cli): revert version to 0.1.0
  crates/reinhardt-admin-cli/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): address CodeRabbit review — named slots capture checking, brace codegen, and test assertions
  crates/reinhardt-manouche/src/parser/page.rs
  crates/reinhardt-pages/macros/src/page/codegen.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
  crates/reinhardt-pages/tests/ui/page/pass/named_slots_basic.rs
  crates/reinhardt-pages/tests/ui/page/pass/named_slots_empty.rs
  crates/reinhardt-pages/tests/ui/page/pass/named_slots_mixed.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(page): normalize slot names for duplicate detection and check component event captures
  crates/reinhardt-manouche/src/parser/page.rs
  crates/reinhardt-pages/macros/src/page/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples): restore blank lines, comments, and fix generic spacing in 3 page! consumer files
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-twitter/src/apps/relationship/client/components.rs
  examples/examples-twitter/src/apps/tweet/client/components.rs
Due: none

fix(ci): include develop-release-plz-* branches in self-hosted runner selection
  .github/workflows/ci.yml
Due: none

fix(ci): extend develop-release-plz-* branch handling to all workflows
  .github/workflows/cleanup-release-branch.yml
  .github/workflows/detect-affected-packages.yml
  .github/workflows/publish-check.yml
  .github/workflows/semver-check.yml
Due: none

fix(ci): add parentheses to concurrency group expression
  .github/workflows/ci.yml
Due: none
