Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(pages): stabilize model mutation form resets
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/form/model.rs
  crates/reinhardt-pages/src/form/page.rs
  crates/reinhardt-pages/src/server_mutation.rs
  crates/reinhardt-pages/tests/model_form_mutation_page.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): preserve leading preformatted newlines in SSR
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/form_control_hydration_regressions.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(pages): preserve JSON editor representation in binding snapshots
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/model_form_runtime_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): reload get-or-create winners after alternate unique races
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/upsert/execution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): retain server actions on multipart mutation forms
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/server_mutation.rs
  crates/reinhardt-pages/tests/model_form_runtime_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(macros): track wrapped router binding patterns
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(http): inherit exception handlers in nested dispatch
  crates/reinhardt-http/src/exception.rs
  crates/reinhardt-http/src/middleware.rs
  crates/reinhardt-server/README.md
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

fix(commands): preserve configured exception responses on routing misses
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-urls/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(urls): expose the exception handler builder on WASM
  crates/reinhardt-urls/src/routers/unified_router.rs
  crates/reinhardt-urls/tests/wasm/unified_router_target_parity_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(pages): preserve model form control snapshots
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/form/model.rs
  crates/reinhardt-pages/src/form/page.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
  instructions/API_PARITY.md
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(routing): scope nested URL router analysis
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): validate raw-text hydration children
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/tests/wasm/ui_primitives_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix: track exception handler invocation
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-http/src/exception.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/middleware.rs
  crates/reinhardt-server/README.md
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing, Utilities & Infrastructure

fix: preserve dispatch errors for exception handlers
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-dispatch/README.md
  crates/reinhardt-dispatch/src/handler.rs
  crates/reinhardt-server/README.md
  crates/reinhardt-server/src/server/http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Utilities & Infrastructure

fix(pages): preserve model form editor defaults
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/model_form_runtime_binding.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(routing): harden URL pattern parity checks
  README.md
  crates/reinhardt-core/macros/src/url_patterns.rs
  tests/integration/tests/url_patterns_target_parity.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(http): unify exception handler dispatch
  crates/reinhardt-dispatch/README.md
  crates/reinhardt-dispatch/src/exception.rs
  crates/reinhardt-dispatch/src/handler.rs
  crates/reinhardt-dispatch/src/lib.rs
  crates/reinhardt-urls/README.md
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  tests/integration/tests/server/exception_handler_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Utilities & Infrastructure

fix(routing): track nested builder aliases
  crates/reinhardt-core/macros/src/url_patterns.rs
  tests/integration/tests/url_patterns_target_parity.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): notify model form editor marker changes
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(dispatch): preserve legacy exception handler contract
  crates/reinhardt-dispatch/README.md
  crates/reinhardt-dispatch/src/exception.rs
  crates/reinhardt-dispatch/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): preserve model form editor representations
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/form/page.rs
  crates/reinhardt-pages/tests/model_form_mutation_page.rs
  crates/reinhardt-pages/tests/model_form_runtime_binding.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(routing): track match arm router aliases
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(release): compare main against its stable release tag
  .github/workflows/release-plz.yml
  instructions/RELEASE_PROCESS.md
  scripts/run-release-pr.sh
  scripts/tests/test-release-pr-baseline.sh
  scripts/tests/test_release_pr_baseline.py
Due: none

docs(security): document the 0.3.17 GraphQL compatibility exception
  CHANGELOG.md
  crates/reinhardt-graphql/CHANGELOG.md
  crates/reinhardt-graphql/README.md
  instructions/MIGRATION_0.3.17.md
  instructions/RELEASE_PROCESS.md
  instructions/STABILITY_POLICY.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(http): preserve routing context for exception handlers
  crates/reinhardt-dispatch/src/exception.rs
  crates/reinhardt-dispatch/src/handler.rs
  crates/reinhardt-http/README.md
  crates/reinhardt-http/src/exception.rs
  crates/reinhardt-http/src/middleware.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-urls/src/routers/router.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/simple.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing, Utilities & Infrastructure

fix(routing): track destructured router aliases
  crates/reinhardt-core/macros/src/url_patterns.rs
  instructions/API_PARITY.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve native model form sentinels
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/wasm/model_form_page_upload_cases.rs
  crates/reinhardt-pages/tests/wasm/server_mutation_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(http): preserve routing context through middleware
  crates/reinhardt-dispatch/README.md
  crates/reinhardt-dispatch/src/handler.rs
  crates/reinhardt-dispatch/src/lib.rs
  crates/reinhardt-http/src/middleware.rs
  crates/reinhardt-server/README.md
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-urls/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing, Utilities & Infrastructure

fix(routing): validate if-let router aliases
  .github/workflows/wasm-check.yml
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve reset state metadata
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/model_form_mutation_page.rs
  crates/reinhardt-pages/tests/model_form_runtime_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(http): refresh routing context across middleware paths
  crates/reinhardt-dispatch/src/handler.rs
  crates/reinhardt-http/src/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

fix(routing): preserve aliases across nested blocks
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(http): narrow routing context snapshots
  crates/reinhardt-http/src/exception.rs
  crates/reinhardt-http/src/middleware.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

test(pages): standardize model form test attributes
  crates/reinhardt-pages/src/form/model.rs
  crates/reinhardt-pages/tests/wasm/model_form_page_upload_cases.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_cases.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(routing): cover while aliases and opaque builders
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(routing): mirror exception handlers in wasm stubs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(routing): track loop aliases and preserved macros
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve null runtime sentinels
  crates/reinhardt-core/src/model_form/policy.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(routing): cover match blocks and function scopes
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve native model form defaults
  crates/reinhardt-core/src/model_form/policy.rs
  crates/reinhardt-core/src/types/page.rs
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/model_forms.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/component/into_page.rs
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/src/hydration/runtime.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/model_form_file_upload_wasm_test.rs
  crates/reinhardt-pages/tests/model_form_runtime_scalars.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
  crates/reinhardt-pages/tests/wasm/server_mutation_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
