Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(ci): use .cargo/config.toml instead of RUSTFLAGS for mold in coverage
  .github/workflows/coverage.yml
Due: none

fix(ci): remove mold linker from coverage jobs to fix profraw generation
  .github/workflows/coverage.yml
Due: none

fix(ci): enable job_retry to prevent ephemeral runner scaling deadlock
  infra/github-runners/runner.tf
Due: none

fix(examples): update stale version numbers to match latest published versions
  examples/Cargo.toml
Due: none

docs(issues): add security and api change templates to issue guidelines
  instructions/ISSUE_GUIDELINES.md
Due: none

ci: migrate remaining workflows to support self-hosted runners
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/clippy.yml
  .github/workflows/docs-rs-check.yml
  .github/workflows/fmt.yml
  .github/workflows/msrv-test.yml
  .github/workflows/publish-check.yml
  .github/workflows/release-plz-dry-run.yml
  .github/workflows/semver-check.yml
  .github/workflows/todo-check.yml
Due: none

fix(ci): add missing rust setup and gh cli for self-hosted runners
  .github/workflows/publish-check.yml
  .github/workflows/release-plz-dry-run.yml
  .github/workflows/semver-check.yml
  infra/github-runners/runner-userdata.sh
Due: none

chore(release): add version_group to all publishable crates in release-plz.toml
  release-plz.toml
Due: none

docs(release): add rc stability policy for api freeze and bug-fix-only rules
  instructions/STABILITY_POLICY.md
Due: none

docs: link stability policy from claude.md quick reference
  CLAUDE.md
Due: none

chore(release): enable semver_check for rc stability
  release-plz.toml
Due: none

docs: update version references from alpha to 0.1.0-rc.1
  README.md
  docs/readme-langs/README_AR.md
  docs/readme-langs/README_FA.md
  docs/readme-langs/README_JA.md
  docs/readme-langs/README_RU.md
  docs/readme-langs/README_UK.md
  docs/readme-langs/README_ZH_CN.md
  docs/readme-langs/README_ZH_TW.md
  examples/CLAUDE.md
  examples/Cargo.toml
Due: none

ci: phase test jobs to prevent spot vCPU quota exhaustion
  .github/workflows/ci.yml
Due: none

feat(website): add dynamic version display from crates.io API
  website/config.toml
  website/templates/index.html
  website/templates/shortcodes/crate_version.html
  website/templates/shortcodes/versioned_code.html
Due: none

refactor(website): migrate hardcoded versions to versioned_code shortcodes
  website/content/docs/api/_index.md
  website/content/docs/feature-flags.md
  website/content/quickstart/getting-started.md
  website/content/quickstart/tutorials/basis/1-project-setup.md
  website/content/quickstart/tutorials/basis/2-models-and-database.md
  website/content/quickstart/tutorials/basis/7-admin-customization.md
  website/content/quickstart/tutorials/rest/1-serialization.md
Due: none

ci(website): add scheduled rebuild for automatic version updates
  .github/workflows/deploy-website.yml
Due: none

docs: move operational rules from CLAUDE.local.md to CLAUDE.md
  CLAUDE.md
Due: none

style(website): add link styling for code blocks
  website/sass/style.scss
Due: none

ci: skip CI for out-of-date PR branches
  .github/workflows/ci.yml
Due: none

fix: add singular .example.tfvars exception to .gitignore
  .gitignore
Due: none

ci: add branch status check to test-examples workflow
  .github/workflows/test-examples.yml
Due: none

chore: add agent-suspect and stable-migration labels to labels.yml
  .github/labels.yml
Due: none

docs: add agent-detected bug verification policy (SC-2a, IL-3)
  CLAUDE.md
  instructions/ISSUE_GUIDELINES.md
  instructions/STABILITY_POLICY.md
Due: none

ci: add RC stability timer monitoring workflow
  .github/workflows/monitor-rc-stability.yml
Due: none

fix(deps): remove version field from reinhardt-test dependency
  Cargo.toml
Due: none

fix(http): use char_indices for UTF-8 safe truncation in truncate_for_log
  crates/reinhardt-http/src/response.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(tasks): resolve race conditions in Redis update_status, worker lock release, and TaskLock extend
  crates/reinhardt-tasks/src/backends/redis.rs
  crates/reinhardt-tasks/src/locking.rs
  crates/reinhardt-tasks/src/worker.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(middleware): escape HTML in flatpages to prevent stored XSS
  crates/reinhardt-middleware/src/flatpages.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(rest): use workspace redis dependency instead of pinned rc version
  crates/reinhardt-rest/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

fix(middleware): validate host header against allowed hosts in HTTPS redirect
  crates/reinhardt-middleware/src/https_redirect.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(examples): use UTF-8 safe truncation in twitter truncate_message
  examples/examples-twitter/src/apps/dm/server/server_fn.rs
Due: none

fix(admin): replace unwrap with error propagation in insert values call
  crates/reinhardt-admin/src/core/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(auth): check object-level and role-based permissions instead of only authentication
  crates/reinhardt-auth/src/advanced_permissions.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(conf): replace parking_lot::Mutex with tokio::sync::Mutex in DynamicSettings hot-reload
  crates/reinhardt-conf/src/settings/dynamic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(views): replace std RwLock with parking_lot to prevent poisoning panics
  crates/reinhardt-views/src/viewsets/handler.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(db): prevent SQL injection in BatchUpdateBuilder and QuerySet filters
  crates/reinhardt-db/src/backends/optimization/batch_ops.rs
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(tasks): extract Redis Lua script to module-level constant
  crates/reinhardt-tasks/src/backends/redis.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
