Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs(reinhardt-pages): update server_fn_macro.md example path
  crates/reinhardt-pages/docs/server_fn_macro.md
Due: unit, intra-crate-integration, cross-crate-integration

docs(root): update Pages app directory tree to per-app layout
  README.md
Due: none

test(commands): scope server/client_url assertions to function body
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands/templates): correct project-wide pages template content
  crates/reinhardt-commands/templates/project_pages_template/src/client/components/nav.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/lib.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

refactor(core-macros): single-lock manager ops, route Value via reinhardt-auth
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(auth): document Clone requirement and PK uniqueness caveat for auto-manager
  crates/reinhardt-auth/README.md
Due: unit, intra-crate-integration, cross-crate-integration

test(core-macros): add missing trybuild stderr snapshot for manager_disabled_no_manager
  crates/reinhardt-core/macros/tests/ui/user/fail/manager_disabled_no_manager.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands/templates): switch project routes to standalone mode
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): make per-app templates compile under wasm32
  crates/reinhardt-commands/src/start_commands.rs
  crates/reinhardt-commands/templates/app_pages_template/client/components.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/client/components/nav.rs.tpl
  crates/reinhardt-commands/templates/project_pages_template/src/config.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(urls): expose ClientRouter::merge for multi-app SPA composition
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/client_router.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/client_router/error.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

style(commands): apply rustfmt to e2e_pages.rs
  crates/reinhardt-commands/tests/e2e_pages.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(urls): cover ClientRouter::merge happy path and name-collision
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

refactor(examples-tutorial-basis): use ClientRouter::merge for multi-app SPA composition
  examples/examples-tutorial-basis/src/client/lib.rs
  examples/examples-tutorial-basis/src/client/links.rs
Due: none

docs(readme): align Pages app tree with generator output
  README.md
Due: none

feat(di): add ParamError::Authentication variant for 401 mapping
  crates/reinhardt-di/src/params.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

feat(macros): wire SessionValue extractors into handler auto-extraction
  crates/reinhardt-core/macros/src/routes.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(middleware): support Path-style auto-extraction and SessionValueNamed
  crates/reinhardt-middleware/src/session.rs
  crates/reinhardt-middleware/src/session/value.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

test(middleware): cover FromRequest path and SessionValueNamed extractor
  crates/reinhardt-middleware/tests/session_value_from_request.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(reinhardt,middleware): document #[inject]-free session extractors
  crates/reinhardt-middleware/README.md
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(urls): address Copilot review feedback on MergeError public API
  crates/reinhardt-urls/src/routers/client_router/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(commands/templates): install default empty ClientRouter in Pages WASM entry
  crates/reinhardt-commands/templates/project_pages_template/src/client/lib.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands/templates): correct project urls.rs comment on url_patterns behavior
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): only gate apps.rs Config re-export with cfg(server) for Pages
  crates/reinhardt-commands/src/start_commands.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(pages/macros): note example migration is a follow-up for form! paths
  crates/reinhardt-pages/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands/templates): correct server_urls.rs comment on auto-mount behavior
  crates/reinhardt-commands/templates/app_pages_template/urls/server_urls.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

docs(commands/templates): correct client_router.rs comment on launcher wiring
  crates/reinhardt-commands/templates/app_pages_template/urls/client_router.rs.tpl
  crates/reinhardt-commands/templates/app_pages_workspace_template/urls/client_router.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

chore(examples-tutorial-basis): regenerate polls/0003 after #4430 / #4431 fix
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question__and_more.rs
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question_id.rs
Due: none

chore(examples-tutorial-basis): regenerate users/0002 after #4447 fix
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_add_constraint_users.rs
  examples/examples-tutorial-basis/migrations/users/0002_users_is_superuser_alter_users_is_active_ad_and_more.rs
Due: none

chore(examples-tutorial-basis): adopt #[user] auto-manager opt-out
  examples/examples-tutorial-basis/src/apps/users/models.rs
Due: none

feat(urls): derive Clone for ClientRouter
  crates/reinhardt-urls/src/routers/client_router/core.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(middleware,di): map non-auth DiError variants to ParamError::Internal
  crates/reinhardt-di/src/params.rs
  crates/reinhardt-middleware/src/session/value.rs
  crates/reinhardt-middleware/tests/session_value_from_request.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Dependency Injection

feat(urls): add ClientRouterRegistration and collect helper
  crates/reinhardt-urls/src/routers/registration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(urls): re-export ClientRouterRegistration on wasm
  crates/reinhardt-urls/src/routers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

chore(examples-tutorial-basis): opt out of #[user] auto-manager
  examples/examples-tutorial-basis/src/apps/users/models.rs
Due: none

fix(core-macros): gate #[user(...)] auto-manager to uuid primary keys
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(core-macros): cover non-uuid pk manager guard via trybuild ui tests
  crates/reinhardt-core/macros/tests/ui/user/fail/non_uuid_pk_with_default_manager.rs
  crates/reinhardt-core/macros/tests/ui/user/fail/non_uuid_pk_with_default_manager.stderr
  crates/reinhardt-core/macros/tests/ui/user/pass/non_uuid_pk_with_manager_false.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(auth): update #[user] auto-manager caveat to require uuid primary keys
  crates/reinhardt-auth/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(reinhardt-db): skip redundant AddConstraint for already-unique columns
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(urls): gate registration.rs native items for wasm build
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/registration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

feat(reinhardt): re-export ClientRouterRegistration facade on wasm
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework
