Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

style(middleware): apply rustfmt formatting to test builder chains
  crates/reinhardt-middleware/tests/equivalence_partitioning_integration.rs
  crates/reinhardt-middleware/tests/use_cases_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): set OPENSSL_LIB_DIR for Windows cross-platform check
  .github/workflows/cross-platform-check.yml
Due: none

fix(conf,middleware,rest): replace struct literal initialization in doc tests for #[non_exhaustive] structs
  crates/reinhardt-conf/src/lib.rs
  crates/reinhardt-middleware/src/common.rs
  crates/reinhardt-middleware/src/cors.rs
  crates/reinhardt-middleware/src/csp.rs
  crates/reinhardt-middleware/src/gzip.rs
  crates/reinhardt-middleware/src/https_redirect.rs
  crates/reinhardt-middleware/src/security_middleware.rs
  crates/reinhardt-rest/src/browsable_api/middleware.rs
  crates/reinhardt-rest/src/metadata.rs
  crates/reinhardt-rest/src/openapi/config.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Authentication & Security

fix(dentdelion,web): fix broken intra-doc link and undefined argon2-hasher feature
  Cargo.toml
  crates/reinhardt-dentdelion/src/wasm/host.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Utilities & Infrastructure

fix(middleware): update integration tests for #[non_exhaustive] config structs
  crates/reinhardt-middleware/tests/boundary_value_integration.rs
  crates/reinhardt-middleware/tests/combination_integration.rs
  crates/reinhardt-middleware/tests/decision_table_integration.rs
  crates/reinhardt-middleware/tests/edge_cases_integration.rs
  crates/reinhardt-middleware/tests/equivalence_partitioning_integration.rs
  crates/reinhardt-middleware/tests/fuzz_integration.rs
  crates/reinhardt-middleware/tests/happy_path_integration.rs
  crates/reinhardt-middleware/tests/property_based_integration.rs
  crates/reinhardt-middleware/tests/sanity_integration.rs
  crates/reinhardt-middleware/tests/use_cases_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(web): add argon2-hasher to full feature and fix cfg format in src/lib.rs
  Cargo.toml
  crates/reinhardt-middleware/tests/boundary_value_integration.rs
  crates/reinhardt-middleware/tests/combination_integration.rs
  crates/reinhardt-middleware/tests/decision_table_integration.rs
  crates/reinhardt-middleware/tests/edge_cases_integration.rs
  crates/reinhardt-middleware/tests/equivalence_partitioning_integration.rs
  crates/reinhardt-middleware/tests/fuzz_integration.rs
  crates/reinhardt-middleware/tests/happy_path_integration.rs
  crates/reinhardt-middleware/tests/property_based_integration.rs
  crates/reinhardt-middleware/tests/sanity_integration.rs
  crates/reinhardt-middleware/tests/use_cases_integration.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(middleware): fix rustfmt formatting in combination_integration.rs
  crates/reinhardt-middleware/tests/combination_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): wrap generic type in backticks to fix unclosed HTML tag in doc comment
  crates/reinhardt-admin/src/server/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(ci): add terraform module for aws organizations ci sub-account
  infra/organizations/imports.tf
  infra/organizations/main.tf
  infra/organizations/outputs.tf
  infra/organizations/terraform.examples.tfvars
  infra/organizations/variables.tf
Due: none

feat(ci): add bootstrap terraform config for s3 state bucket
  infra/github-runners/bootstrap/main.tf
  infra/github-runners/bootstrap/outputs.tf
  infra/github-runners/bootstrap/terraform.examples.tfvars
  infra/github-runners/bootstrap/variables.tf
Due: none

chore: add backend.tfvars to gitignore for terraform partial backend config
  .gitignore
Due: none

feat(ci): add terraform provider and variable definitions for github runners
  infra/github-runners/backend.examples.tfvars
  infra/github-runners/main.tf
  infra/github-runners/outputs.tf
  infra/github-runners/terraform.examples.tfvars
  infra/github-runners/variables.tf
Due: none

feat(ci): add github-aws-runners jit module for aws spot runner provisioning
  infra/github-runners/runner-userdata.sh
  infra/github-runners/runner.tf
Due: none

feat(ci): add aws budget circuit breaker for automatic github-hosted fallback
  infra/github-runners/budget.tf
  infra/github-runners/circuit_breaker.tf
  infra/github-runners/lambda/budget_circuit_breaker.py
Due: none

feat(ci): add github repository variable for self-hosted runner toggle
  infra/github-runners/github.tf
Due: none

feat(ci): add import blocks for existing github resources
  infra/github-runners/imports.tf
Due: none

feat(ci): add determine-runner job for conditional self-hosted runner selection
  .github/workflows/ci.yml
Due: none

feat(ci): add runner and cargo-build-jobs inputs to heavy test workflows
  .github/workflows/coverage.yml
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/doc-test.yml
  .github/workflows/examples-test.yml
  .github/workflows/intra-crate-integration-test.yml
  .github/workflows/ui-test.yml
  .github/workflows/unit-test.yml
Due: none

fix(web): add argon2-hasher to full feature and fix cfg format in src/lib.rs
  Cargo.toml
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(deeplink): replace private intra-doc links with backtick references in doc comments
  crates/reinhardt-deeplink/src/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(urls,views): replace broken intra-doc links in doc comments
  crates/reinhardt-urls/src/routers/client_router/params.rs
  crates/reinhardt-urls/src/routers/registration.rs
  crates/reinhardt-views/src/viewsets.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework, Server & Routing

fix(urls): correct UnifiedRouter intra-doc link path to crate::routers::UnifiedRouter
  crates/reinhardt-urls/src/routers/registration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing
