Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(pages): drop hardcoded `since` from deprecation attributes
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/spawn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(facade): hide internal layer modules + use `wasm` cfg alias
  src/lib.rs
  src/prelude.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(pages): apply rustfmt single-line layout to deprecated attrs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/src/spawn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(examples): move tutorial-basis index.html to project root
  examples/examples-tutorial-basis/index.html
Due: none

chore(examples): run migrate before runserver in tutorial-basis
  examples/examples-tutorial-basis/Makefile.toml
Due: none

fix(rest): replace private intra-doc link in versioning
  crates/reinhardt-rest/src/versioning.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(macros): omit auto_increment for non-integer primary keys
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

chore(examples): add initial migrations for tutorial-basis
  examples/examples-tutorial-basis/migrations/auth/0001_initial.rs
  examples/examples-tutorial-basis/migrations/default/0001_initial.rs
  examples/examples-tutorial-basis/migrations/polls/0001_initial.rs
Due: none

chore(examples): add 0002 migrations for tutorial-basis UUID PK switch
  examples/examples-tutorial-basis/migrations/auth/0002_alter_auth_permission_id_alter_auth_group_i_and_more.rs
  examples/examples-tutorial-basis/migrations/default/0002_alter_sessions_session_key.rs
  examples/examples-tutorial-basis/migrations/polls/0002_alter_choices_question_id.rs
Due: none

fix(staticfiles): disable immutable cache for bundle assets in debug builds
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages-macros): allow form! watch handlers to capture outer locals
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/tests/ui/form/pass/watch_captures_outer_local.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands,urls): log registered client routes in runserver --with-pages banner
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-urls/src/routers/client_router/core.rs
  crates/reinhardt-urls/src/routers/registration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Utilities & Infrastructure

docs: add release announcement(s)
  announcements/v0.1.0-rc.29.md
Due: none

fix(pages/macros): apply HiddenField initial to signal at first render
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-manouche/src/validator/form.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages/macros): add success_url for first-class post-submit navigation
  crates/reinhardt-manouche/src/core/form_node.rs
  crates/reinhardt-manouche/src/parser/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: address Copilot review feedback
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix: address Copilot review feedback
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-urls/src/routers/registration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Utilities & Infrastructure

feat(examples-tutorial-basis): add users app with session-cookie auth foundation
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/migrations/users/0001_initial.rs
  examples/examples-tutorial-basis/src/apps.rs
  examples/examples-tutorial-basis/src/apps/users.rs
  examples/examples-tutorial-basis/src/apps/users/models.rs
  examples/examples-tutorial-basis/src/apps/users/urls.rs
  examples/examples-tutorial-basis/src/apps/users/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/urls/server_urls.rs
  examples/examples-tutorial-basis/src/client/components.rs
  examples/examples-tutorial-basis/src/client/components/users.rs
  examples/examples-tutorial-basis/src/client/pages.rs
  examples/examples-tutorial-basis/src/config/apps.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/src/server_fn.rs
  examples/examples-tutorial-basis/src/server_fn/users.rs
  examples/examples-tutorial-basis/src/shared/types.rs
Due: none

feat(examples-tutorial-basis): add Question CUD with session-auth and ownership checks
  examples/examples-tutorial-basis/migrations/polls/0003_questions_author_id_alter_choices_question_id.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/client/pages.rs
  examples/examples-tutorial-basis/src/server_fn/polls.rs
  examples/examples-tutorial-basis/src/server_fn/users.rs
  examples/examples-tutorial-basis/src/shared/types.rs
Due: none

fix(examples-tutorial-basis): gate manage CLI off the wasm32 target
  examples/examples-tutorial-basis/src/bin/manage.rs
Due: none

fix(manouche): resolve clippy errors blocking release-plz PR
  crates/reinhardt-manouche/src/core/form_node.rs
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-manouche/src/validator/form.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(examples-tutorial-basis): add navigation affordances for question CUD
  examples/examples-tutorial-basis/src/client/components/polls.rs
Due: none

feat(examples-tutorial-basis): mount reinhardt-admin at /admin/ for Question/Choice
  examples/examples-tutorial-basis/src/apps/polls.rs
  examples/examples-tutorial-basis/src/apps/polls/admin.rs
  examples/examples-tutorial-basis/src/config.rs
  examples/examples-tutorial-basis/src/config/admin.rs
  examples/examples-tutorial-basis/src/config/urls.rs
Due: none

fix(commands): gate startproject manage.rs template off wasm32 target
  crates/reinhardt-commands/templates/project_pages_template/src/bin/manage.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/bin/manage.rs.tpl
Due: unit, intra-crate-integration, cross-crate-integration

feat(examples-tutorial-basis): add Choice CUD operations for poll authors
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/client/components/polls.rs
  examples/examples-tutorial-basis/src/client/pages.rs
  examples/examples-tutorial-basis/src/server_fn/polls.rs
Due: none

feat(model): add typestate Model::build() constructor alongside new()
  crates/reinhardt-core/macros/src/model_derive.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages-macros): collapse nested if-let into let-chain in extract_initial_expr
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(macros): document Model::build() typestate constructor in MU-3
  instructions/MACRO_USAGE.md
Due: none

test(examples-tutorial-basis): cover CUD auth gate with anonymous-session tests
  examples/examples-tutorial-basis/tests/integration.rs
Due: none

fix(model): box SetterKind::ForeignKey::related_type to satisfy clippy
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(model-macros): add doc comments to generated typestate-builder setters
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): gate server-only imports for wasm32 build
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/dashboard.rs
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/detail.rs
  crates/reinhardt-admin/src/server/export.rs
  crates/reinhardt-admin/src/server/fields.rs
  crates/reinhardt-admin/src/server/import.rs
  crates/reinhardt-admin/src/server/list.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/src/server/update.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(model-macros): include ForeignKeyField<T> in typestate builder
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages-macros): make form! watch handler a real closure (#4414)
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(model-macros): address Copilot review on typestate builder FK
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(model-macros): harden FK keyword handling in typestate builder
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(model-macros): exclude `extern` from reserved-ident set
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(utils): use object form for wasm-bindgen init() to silence deprecation
  crates/reinhardt-utils/src/staticfiles/middleware.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

chore(examples): also patch reinhardt-utils in local-dev cargo config
  examples/.cargo/config.local.toml
Due: none

Revert "chore(examples): also patch reinhardt-utils in local-dev cargo config"
  examples/.cargo/config.local.toml
Due: none
