Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(macros): preserve explicit serde attrs on relation info
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/model_attribute.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/macros/tests/ui/model/pass/relation_info_preserves_explicit_serde.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: add 0.4 performance scorecard
  docs/build-perf/0.4-performance-scorecard.md
  docs/build-perf/README.md
Due: none

perf: lazy-parse request query params
  crates/reinhardt-http/README.md
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-http/src/request/params.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

perf: lazy-initialize request extensions
  crates/reinhardt-http/README.md
  crates/reinhardt-http/src/extensions.rs
  crates/reinhardt-http/src/request.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

perf: skip empty http1 body collection
  crates/reinhardt-server/README.md
  crates/reinhardt-server/src/server.rs
  crates/reinhardt-server/src/server/body.rs
  crates/reinhardt-server/src/server/http.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

perf!: inline path parameter dispatch values
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-di/src/params.rs
  crates/reinhardt-di/src/params/path.rs
  crates/reinhardt-http/src/path_params.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-http/src/request/params.rs
  crates/reinhardt-http/tests/request_tests.rs
  crates/reinhardt-urls/src/routers/pattern/matcher.rs
  crates/reinhardt-urls/src/routers/pattern/radix.rs
  crates/reinhardt-urls/src/routers/pattern/tests.rs
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/server_router/types.rs
  crates/reinhardt-urls/tests/route_pattern_matching.rs
  crates/reinhardt-views/src/detail.rs
  crates/reinhardt-views/src/generic/composite.rs
  crates/reinhardt-views/src/generic/destroy_api.rs
  crates/reinhardt-views/src/generic/retrieve_api.rs
  crates/reinhardt-views/src/generic/update_api.rs
  crates/reinhardt-views/src/viewsets/viewset.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework, Dependency Injection, Server & Routing, Frontend & Pages

perf: avoid warning-path uri allocation
  crates/reinhardt-server/src/server/http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

chore: refresh benchmark lockfile
  benchmarks/Cargo.lock
Due: none

test: simplify request config construction
  crates/reinhardt-di/tests/scope_hierarchy_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs: document 0.4 performance migration
  docs/build-perf/0.4-performance-scorecard.md
  docs/build-perf/README.md
  docs/migration/0.4.0-performance-api.md
Due: none

perf: freeze compiled route tables
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/server_router/types.rs
  docs/build-perf/0.4-performance-scorecard.md
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

perf!: borrow query parameter lookups
  benchmarks/benches/runtime_http.rs
  crates/reinhardt-apps/src/lib.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-http/src/request/params.rs
  crates/reinhardt-http/tests/request_tests.rs
  crates/reinhardt-views/src/generic/composite.rs
  crates/reinhardt-views/src/generic/list_api.rs
  docs/build-perf/0.4-performance-scorecard.md
  docs/build-perf/README.md
  docs/migration/0.4.0-performance-api.md
  tests/integration/tests/http/request_response_integration.rs
  tests/integration/tests/utils/query_encoding_integration.rs
  tests/integration/tests/viewsets/pagination_viewsets_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, REST Framework

perf: skip empty router dispatch work
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(macros): fix relation info serde fixture
  crates/reinhardt-core/macros/tests/ui/model/pass/relation_info_preserves_explicit_serde.rs
  crates/reinhardt-core/macros/tests/ui/model/support.rs
Due: unit, intra-crate-integration, cross-crate-integration

perf: bypass request builder in server adapters
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-server/src/server/http2.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

perf: remove boxed server request futures
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-server/src/server/http2.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

perf: cache raw query parameter ranges
  crates/reinhardt-http/src/request/params.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

perf: borrow matched route handlers
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/server_router/types.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

perf: add concrete router dispatch fast path
  benchmarks/benches/runtime_http.rs
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  docs/build-perf/README.md
  tests/bench/src/bin/request_alloc_probe.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

perf: bypass router handler arc wrapper
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

perf: add static response body fast path
  benchmarks/benches/runtime_http.rs
  crates/reinhardt-http/src/response.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

perf: reuse request body planning
  crates/reinhardt-server/src/server/body.rs
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-server/src/server/http2.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

perf: bypass handler arc wrappers internally
  crates/reinhardt-http/src/middleware.rs
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-server/src/server/http2.rs
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

perf: add synchronous handler fast path
  benchmarks/benches/runtime_http.rs
  crates/reinhardt-apps/src/lib.rs
  crates/reinhardt-http/README.md
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/middleware.rs
  crates/reinhardt-middleware/src/lib.rs
  crates/reinhardt-urls/README.md
  crates/reinhardt-urls/src/routers/route.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/registration.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/server_router/types.rs
  docs/build-perf/0.4-performance-scorecard.md
  docs/build-perf/README.md
  docs/migration/0.4.0-performance-api.md
  src/exports/core_types.rs
  tests/bench/src/bin/request_alloc_probe.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Authentication & Security, Server & Routing

perf: trim query and response fixed costs
  benchmarks/benches/runtime_http.rs
  crates/reinhardt-http/src/request/params.rs
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-server/src/server/http2.rs
  docs/build-perf/0.4-performance-scorecard.md
  docs/build-perf/README.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

docs: design CI style auto-fix
  docs/rfc/2026-06-30-ci-style-auto-fix-design.md
Due: none

docs: refine CI style auto-fix token model
  docs/rfc/2026-06-30-ci-style-auto-fix-design.md
Due: none

ci: auto-fix fmt and clippy failures
  .github/workflows/ci.yml
Due: none

feat(db): add scoped n+1 query detection
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/orm.rs
  crates/reinhardt-db/src/orm/instrumentation.rs
  crates/reinhardt-db/src/orm/n_plus_one.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-rest/README.md
  website/content/docs/troubleshooting/performance-optimization.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test: update path parameter assertions
  crates/reinhardt-admin/src/pages/router.rs
  crates/reinhardt-pages/benches/server_fn_endpoint_benchmarks.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(db): avoid listener map guards across awaits
  crates/reinhardt-db/src/orm/instrumentation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs: record disposable benchmark workflow
  docs/build-perf/0.4-performance-scorecard.md
  docs/build-perf/README.md
Due: none

perf: flatten server router backend dispatch
  crates/reinhardt-http/src/path_params.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

docs: record backend benchmark procedure
  docs/build-perf/0.4-performance-scorecard.md
  docs/build-perf/README.md
Due: none

fix(rest): keep validator doctests feature neutral
  crates/reinhardt-rest/src/serializers/model_serializer.rs
  crates/reinhardt-rest/src/serializers/validators.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

perf: add static server route fast path
  crates/reinhardt-server/src/server/http.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/dispatch.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/server_router/types.rs
  docs/build-perf/0.4-performance-scorecard.md
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
