Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

docs(stability): address Copilot review feedback
  docs/API_STABILITY.md
  instructions/STABILITY_POLICY.md
Due: none

test(pages): use realistic server_fn signature in on_success_ref fixtures
  crates/reinhardt-pages/tests/ui/form/pass/on_success_ref_and_on_success_coexist.rs
  crates/reinhardt-pages/tests/ui/form/pass/on_success_ref_captures_outer_local.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages-macros): address Copilot + CodeRabbit review feedback
  crates/reinhardt-manouche/src/parser/form.rs
  crates/reinhardt-pages/ast/src/form_parser.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(stability): fix anchor remap targets in API_STABILITY.md
  docs/API_STABILITY.md
Due: none

style(pages-macros): apply rustfmt to on_success_ref artifact builder
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages-macros): hoist value-sink before on_success to avoid borrow-after-move
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages-macros): hoist on_success_submit_invocation before navigation
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): emit fully-qualified type name for SuperuserCreatorRegistration
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(macros): fall back to empty client reverser when no_client_resolvers is set
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): split multi-statement reverse SQL and harden MySQL test helper
  crates/reinhardt-db/src/migrations/executor.rs
  tests/integration/tests/migrations/migration_rollback_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(macros): refresh trybuild snapshot for non_uuid_pk_with_default_manager
  crates/reinhardt-core/macros/tests/ui/user/fail/non_uuid_pk_with_default_manager.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): emit ALTER COLUMN reverse as a single comma-separated statement
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): separate CockroachDB ALTER COLUMN reverse from PostgreSQL path
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(macros): address Copilot review on type_name const-ness and stale from_global() docstrings
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/user_attribute.rs
Due: unit, intra-crate-integration, cross-crate-integration

perf(macros): cache empty ClientUrlReverser fallback via OnceLock
  crates/reinhardt-core/macros/src/routes_registration.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore(ci): add concurrency control to mixed-trigger top-level workflows
  .github/workflows/auto-close-parent-issue.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/reinhardt-feature-check.yml
  .github/workflows/release-plz.yml
  .github/workflows/terraform-plan-privileged.yml
Due: none

docs(di): replace `#[scope(...)]` with `(scope = "...")` argument form
  README.md
  crates/reinhardt-di/README.md
  crates/reinhardt-di/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(di): keep singleton scope on Config so the factory example stays valid
  README.md
Due: none

test(db): add CockroachDB unit test for AlterColumn reverse SQL stop-gap
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(di): correct README scope-mix wording to match registry behavior
  README.md
Due: none

docs(db): correct CockroachDB AlterColumn stop-gap comment to reference the actual test
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(di): use a single attribute literal instead of pseudo `"a" | "b"` alternation
  README.md
  crates/reinhardt-di/README.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(tests): symmetrize MySQL column helpers and surface information_schema diagnostics
  tests/integration/tests/migrations/migration_rollback_integration.rs
Due: none

refactor(examples-tutorial-basis): modernize tutorial to current best-practice surface
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/src/apps/polls.rs
  examples/examples-tutorial-basis/src/apps/polls/client.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/client/links.rs
  examples/examples-tutorial-basis/src/apps/polls/di.rs
  examples/examples-tutorial-basis/src/apps/polls/models.rs
  examples/examples-tutorial-basis/src/apps/polls/serializers.rs
  examples/examples-tutorial-basis/src/apps/polls/server_fn.rs
  examples/examples-tutorial-basis/src/apps/polls/urls.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/server_urls.rs
  examples/examples-tutorial-basis/src/apps/polls/views.rs
  examples/examples-tutorial-basis/src/apps/users.rs
  examples/examples-tutorial-basis/src/apps/users/client.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/client/links.rs
  examples/examples-tutorial-basis/src/client.rs
  examples/examples-tutorial-basis/src/client/components.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
  examples/examples-tutorial-basis/src/client/pages.rs
  examples/examples-tutorial-basis/src/config/urls.rs
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
  examples/examples-tutorial-basis/tests/wasm/users_mock_test.rs
Due: none

feat(macros): generate typed urls helpers from #[url_patterns]
  crates/reinhardt-core/macros/src/crate_paths.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(routing): cover typed urls::* helpers from #[url_patterns]
  tests/integration/tests/routing/url_patterns_typed_integration.rs
Due: none

docs(macros): document urls::* helper module emitted by #[url_patterns]
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(macros): drop intra-doc links to types not in reinhardt-macros deps
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(examples-tutorial-basis): surface DB outages as Unavailable session state
  examples/examples-tutorial-basis/Cargo.toml
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/di.rs
Due: none

fix(tests): address Copilot review on MySQL column diagnostic dump
  tests/integration/tests/migrations/migration_rollback_integration.rs
Due: none

test(db): tighten CockroachDB AlterColumn reverse SQL assertion
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

chore(ci): scope mixed-trigger workflow concurrency groups correctly
  .github/workflows/reinhardt-feature-check.yml
  .github/workflows/release-plz.yml
  .github/workflows/terraform-plan-privileged.yml
Due: none

fix(db): use sentinel-row lock on CockroachDB instead of pg_advisory_lock
  crates/reinhardt-db/src/backends/connection.rs
  crates/reinhardt-db/src/migrations/recorder.rs
  tests/integration/tests/migrations.rs
  tests/integration/tests/migrations/cockroachdb_migration_lock.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(macros): pair typed urls::* params by binding name; tighten ClientPath pattern check
  crates/reinhardt-core/macros/src/url_patterns.rs
  tests/integration/tests/routing/url_patterns_typed_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(examples-tutorial-basis): distinguish DB outage from anonymous session in SessionUser factory
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/di.rs
Due: none

fix(macros): pair closure bindings to placeholders by name, not position
  tests/integration/tests/routing/url_patterns_typed_integration.rs
Due: none

fix(db): address Copilot review on CockroachDB probe and test helper
  crates/reinhardt-db/src/backends/connection.rs
  tests/integration/tests/migrations/cockroachdb_migration_lock.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): address CodeRabbit review on flavor-aware ctor and sentinel-row assertion
  crates/reinhardt-db/src/backends/connection.rs
  tests/integration/tests/migrations/cockroachdb_migration_lock.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor(examples-tutorial-basis): replace links.rs wrappers with macro-emitted urls::* helpers
  examples/examples-tutorial-basis/src/apps/polls/client.rs
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/src/apps/polls/client/links.rs
  examples/examples-tutorial-basis/src/apps/polls/urls/client_router.rs
  examples/examples-tutorial-basis/src/apps/users/client.rs
  examples/examples-tutorial-basis/src/apps/users/client/components.rs
  examples/examples-tutorial-basis/src/apps/users/client/links.rs
  examples/examples-tutorial-basis/src/client/components/nav.rs
Due: none

chore(examples-twitter): regenerate migrations and drop static MigrationProvider
  examples/examples-twitter/migrations/auth/0001_initial.rs
  examples/examples-twitter/migrations/default/0001_initial.rs
  examples/examples-twitter/migrations/dm/0001_initial.rs
  examples/examples-twitter/migrations/profile/0001_initial.rs
  examples/examples-twitter/src/lib.rs
  examples/examples-twitter/src/migrations.rs
  examples/examples-twitter/src/test_utils/fixtures/database.rs
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
