Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

refactor(admin-cli): type migration errors
  crates/reinhardt-admin-cli/Cargo.toml
  crates/reinhardt-admin-cli/src/migrate_v2.rs
  crates/reinhardt-admin-cli/src/migrate_v2/error.rs
  crates/reinhardt-admin-cli/src/migrate_v2/walker.rs
  crates/reinhardt-admin-cli/tests/migrate_v2_errors.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(migrations): isolate atomic sqlite recreation
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/schema_editor.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): rebase aliases after manual joins
  crates/reinhardt-db/src/orm/query.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(macros): assert physical relation columns
  tests/integration/tests/macros/model_derive_integration.rs
Due: none

fix(db): make aggregate field mapping explicit
  crates/reinhardt-db/src/orm/postgres_features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(migrations): preserve inactive sqlite sessions
  crates/reinhardt-db/src/migrations/schema_editor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

refactor!: remove remaining dynamic error dependencies
  crates/reinhardt-apps/Cargo.toml
  crates/reinhardt-conf/Cargo.toml
  crates/reinhardt-dentdelion/Cargo.toml
  crates/reinhardt-dentdelion/src/wasm/host.rs
  crates/reinhardt-forms/Cargo.toml
  crates/reinhardt-grpc/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
  crates/reinhardt-websockets/Cargo.toml
  examples/Cargo.lock
  examples/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(db): compile-check model enum examples
  crates/reinhardt-db/src/orm/field_codec.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): preserve legacy field codec compatibility
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-db/src/field_domain.rs
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/inspection.rs
  crates/reinhardt-db/src/orm/json.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/orm/queryset_docs_ui.rs
  tests/integration/tests/orm/ui/pass/legacy_field_codec_compat.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): scope native resource dependency import
  crates/reinhardt-pages/src/reactive/resource.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

ci: prevent direct dynamic error dependencies
  .github/workflows/anyhow-check.yml
  .github/workflows/ci.yml
  Cargo.toml
  Makefile.toml
  crates/reinhardt-core/README.md
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/lib.rs
  crates/reinhardt-db/src/orm.rs
  crates/reinhardt-db/src/orm/transaction.rs
  crates/reinhardt-graphql/GRPC_INTEGRATION.md
  docs/migration/0.4.0-owned-error-types.md
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
  website/content/quickstart/tutorials/basis/3-detail-and-voting.md
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): satisfy clippy question-mark lint
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(macros): sync model fixture codec support
  crates/reinhardt-core/macros/tests/ui/model/support.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): harden dynamic error scanner
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

fix(migrations): preserve sqlite table metadata
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(pages): use target-aware control callback storage
  crates/reinhardt-core/src/types/page/control_binding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(ci): close scanner syntax gaps
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

test(migrations): cover sqlite metadata restoration
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: none

fix(admin): satisfy migration clippy lints
  crates/reinhardt-admin-cli/src/migrate_v2/rules/use_effect_deps.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): scope manifest checks to cargo tables
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

fix(ci): parse manifest comments safely
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

fix(ci): scan multiline dependency aliases
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

fix(pages): remove duplicate native cfg
  crates/reinhardt-pages/src/reactive/resource.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(migrations): restore declared sqlite unique names
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(orm): sync queryset trybuild fixtures
  tests/integration/tests/orm/ui/fail/model_enum_integer_filter.stderr
  tests/integration/tests/orm/ui/fail/model_enum_string_filter.stderr
  tests/integration/tests/orm/ui/pass/queryset_docs_example.rs
Due: none

fix(ci): ignore manifest syntax inside strings
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

docs: add release announcement(s)
  announcements/v0.3.2.md
Due: none

test(migrations): cover duplicate sqlite unique names
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: none

fix(ci): normalize toml dependency strings
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

fix(migrations): retain duplicate sqlite unique names
  crates/reinhardt-db/src/migrations/executor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): cover collated sqlite unique constraints
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: none

fix(ci): track multiline toml strings
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

fix(migrations): preserve sqlite unique definitions
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): cover unnamed sqlite unique drops
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: none

fix(ci): parse cargo manifests semantically
  .github/workflows/anyhow-check.yml
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none

fix(migrations): disambiguate sqlite unique indexes
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/operations.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): gate migration field metadata helper
  crates/reinhardt-db/src/orm/inspection.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(migrations): cover collapsed sqlite unique aliases
  tests/integration/tests/migrations/sqlite_table_recreation_integration.rs
Due: none

fix(ci): complete workspace dependency scan
  scripts/check-anyhow.sh
  scripts/tests/test-check-anyhow.sh
Due: none
