Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(urls): install the exception handler on the router
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/builder.rs
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(server): install the exception handler on HttpServer
  crates/reinhardt-server/src/server/http.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(commands): forward the router's exception handler to the server
  crates/reinhardt-commands/src/builtin.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix: re-export the exception handler from the facade prelude
  src/exports/core_types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(integration): cover exception handler installation end-to-end
  tests/integration/tests/server.rs
  tests/integration/tests/server/exception_handler_integration.rs
Due: none

fix(test): define the native cfg alias in both test packages
  tests/Cargo.toml
  tests/build.rs
  tests/integration/Cargo.toml
  tests/integration/build.rs
  tests/integration/tests/macros/validator_integration.rs
Due: none

fix(urls): route 404/405 middleware failures through the handler
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(integration): import the handler through the facade prelude
  tests/integration/tests/server/exception_handler_integration.rs
Due: none

fix(test): add cfg aliases to root test dependencies
  Cargo.toml
Due: none

test(macros): assert exact generated range attributes
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): render pages from the attached form mutation runtime
  crates/reinhardt-pages/src/form.rs
  crates/reinhardt-pages/src/form/page.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/server_mutation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

security(graphql): enforce gRPC operation classes
  crates/reinhardt-graphql/README.md
  crates/reinhardt-graphql/SECURITY.md
  crates/reinhardt-graphql/src/grpc_service.rs
  crates/reinhardt-graphql/src/grpc_service/tests.rs
  crates/reinhardt-graphql/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

feat(pages): generate runtime-bound ModelForm controls
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/src/form/model.rs
  crates/reinhardt-pages/tests/model_form_mutation_page.rs
  crates/reinhardt-pages/tests/model_form_runtime_binding.rs
  crates/reinhardt-pages/tests/model_form_runtime_scalars.rs
  crates/reinhardt-pages/tests/ui/form/model_contract_support.rs
  crates/reinhardt-pages/tests/ui/form/pass/model_contract.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(pages): cover ModelForm mutation pages in browsers
  crates/reinhardt-pages/tests/fixtures/facade_model_form_wasm/src/lib.rs
  crates/reinhardt-pages/tests/model_form_file_upload_wasm_test.rs
  crates/reinhardt-pages/tests/wasm/model_form_page_upload_cases.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_cases.rs
  crates/reinhardt-pages/tests/wasm/mutation_page_widgets.rs
  crates/reinhardt-pages/tests/wasm/server_mutation_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): explain configured ModelForm mutation rendering
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/model_forms.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(manouche): parse named ClientForm view declarations
  crates/reinhardt-manouche/src/core.rs
  crates/reinhardt-manouche/src/core/client_form_view.rs
  crates/reinhardt-manouche/src/parser.rs
  crates/reinhardt-manouche/src/parser/client_form_view.rs
  crates/reinhardt-manouche/tests/client_form_view.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(pages): add typed ClientForm view runtime bindings
  crates/reinhardt-pages/src/client_form.rs
  crates/reinhardt-pages/src/client_form/binding.rs
  crates/reinhardt-pages/src/client_form/view.rs
  crates/reinhardt-pages/src/client_form/view/errors.rs
  crates/reinhardt-pages/src/client_form/view/presentation.rs
  crates/reinhardt-pages/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): generate views for named ClientForm companions
  crates/reinhardt-pages/macros/src/client_form.rs
  crates/reinhardt-pages/macros/src/client_form/binding.rs
  crates/reinhardt-pages/macros/src/client_form/view.rs
  crates/reinhardt-pages/macros/src/form.rs
  crates/reinhardt-pages/macros/src/form/client_form_view.rs
  crates/reinhardt-pages/macros/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): resolve generated ClientForm paths through renamed facades
  crates/reinhardt-pages/macros/src/crate_paths.rs
Due: unit, intra-crate-integration, cross-crate-integration

perf(pages): read mutation pending state without cloning results
  crates/reinhardt-pages/src/reactive/hooks/async_action.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): reconcile empty presentation text during hydration
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/tests/form_control_hydration_regressions.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(formatter): preserve named ClientForm view syntax
  crates/reinhardt-formatter/Cargo.toml
  crates/reinhardt-formatter/src/format_engine.rs
  crates/reinhardt-formatter/tests/fixtures/form/client_form_view.expected.rs
  crates/reinhardt-formatter/tests/fixtures/form/client_form_view.input
  crates/reinhardt-formatter/tests/fixtures/form/client_form_view_expressions.input
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): document named ClientForm mutation views
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/client_forms.md
  docs/migration/0.4.0-client-form-views.md
Due: unit, intra-crate-integration, cross-crate-integration

feat(macros): erase native server arguments in shared URL declarations
  crates/reinhardt-core/macros/Cargo.toml
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/tests/ui.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/attribute_arguments.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/attribute_arguments.stderr
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/invalid_return_type.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/invalid_return_type.stderr
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/invalid_server_call.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/invalid_server_call.stderr
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.stderr
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/non_function_item.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/non_function_item.stderr
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/non_tail_body.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/non_tail_body.stderr
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/unsupported_method.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/unsupported_method.stderr
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/unsupported_root.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/unsupported_root.stderr
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/unsupported_signature.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/unsupported_signature.stderr
Due: unit, intra-crate-integration, cross-crate-integration

feat(routing): expose shared URL pattern declarations through the facade
  crates/reinhardt-urls/src/routers/unified_router.rs
  src/exports/macros.rs
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Server & Routing

test(routing): verify shared URL declarations across consumer targets
  tests/integration/tests/fixtures/url_patterns_target_parity/README.md
  tests/integration/tests/fixtures/url_patterns_target_parity/build.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/native-only/Cargo.toml
  tests/integration/tests/fixtures/url_patterns_target_parity/native-only/src/lib.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/client_routes.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/evaluation.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/lib.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/native_handlers.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/native_support.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/native_tests.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/registration_routes_first.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/registration_url_patterns_first.rs
  tests/integration/tests/fixtures/url_patterns_target_parity/src/wasm_tests.rs
  tests/integration/tests/url_patterns_target_parity.rs
Due: none

ci(routing): prepare dependencies for URL consumer parity tests
  .config/nextest.toml
  .github/workflows/cross-crate-integration-test.yml
Due: none

docs(routing): explain native handler erasure in shared URL patterns
  README.md
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-urls/README.md
Due: unit, intra-crate-integration, cross-crate-integration

style(routing): format the consumer resolution fallback
  tests/integration/tests/url_patterns_target_parity.rs
Due: none

fix(website): point Notes navigation to Reinhardt Press
  website/templates/base.html
Due: none

test(graphql): initialize DI fixture registrations once
  crates/reinhardt-graphql/tests/di_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix!(graphql): validate operations after request preparation
  crates/reinhardt-graphql/README.md
  crates/reinhardt-graphql/SECURITY.md
  crates/reinhardt-graphql/src/grpc_service.rs
  crates/reinhardt-graphql/src/grpc_service/operation_guard.rs
  crates/reinhardt-graphql/src/grpc_service/tests.rs
  crates/reinhardt-graphql/src/lib.rs
  crates/reinhardt-graphql/src/schema.rs
  tests/bench/graphql_performance.rs
  tests/integration/src/graphql/fixtures/schema.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

docs: add release announcement(s)
  announcements/v0.4.0-alpha.15.md
Due: none

fix(macros): reject aliased nested URL builders
  .github/workflows/coverage.yml
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/url_patterns.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.rs
  crates/reinhardt-core/macros/tests/ui/url_patterns/fail/nested_server_builder.stderr
  instructions/API_PARITY.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(pages): preserve preformatted hydration whitespace
  crates/reinhardt-pages/src/hydration/reconcile.rs
  crates/reinhardt-pages/tests/form_control_hydration_regressions.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(urls): defer unmatched route errors through middleware
  crates/reinhardt-http/README.md
  crates/reinhardt-server/README.md
  crates/reinhardt-urls/README.md
  crates/reinhardt-urls/src/routers/server_router/router_impls.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing
