Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

fix(db): preserve targetless SQLite insert updates
  crates/reinhardt-db/CHANGELOG.md
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): reject MySQL ANALYZE without a table
  crates/reinhardt-db/src/backends/query_builder.rs
  tests/integration/tests/backends/analyze_statement_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): handle current-time insert values
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(query): render portable escaped case-insensitive matching
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/postgres.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/expr/expr_trait.rs
  crates/reinhardt-query/src/expr/simple_expr.rs
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/tests/insensitive_like.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): cover real Session unsigned argument bindings
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): use portable case-insensitive string filters
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/tests/case_insensitive_filters.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): decode complete Session text values
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/session_text_decoding.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): reject unsupported MySQL insert conflict clauses
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
  crates/reinhardt-db/tests/mysql_insert_conflict.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): bind every association manager operation
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/associations/many_to_many_manager.rs
  crates/reinhardt-db/tests/generated_execution.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): match null update predicates with is null
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
  tests/integration/tests/update_builder_null_predicate.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(orm): preserve zoned timestamps in custom backends
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/generated.rs
  crates/reinhardt-db/src/backends/generated/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): scope missing rollback ancestry by dependency app
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/migrate_cross_app_rollback.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(orm): preserve native QuerySet arithmetic rendering
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/queryset_arithmetic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): quote range columns with backend builders
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/tests/queryset_range.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(commands): preserve recorder order for missing rollback files
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/migrate_cross_app_rollback.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): resolve pending squash dependencies to recorded paths
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  tests/integration/tests/migrate_cross_app_rollback.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(db): preserve every field type in migration source
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/ast_parser.rs
  crates/reinhardt-db/src/migrations/source/filesystem.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): move select limit execution coverage to integration
  crates/reinhardt-db/Cargo.toml
  crates/reinhardt-db/tests/backend_query_builder.rs
  tests/integration/tests/select_builder_limit.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(db): pass strict clippy across database tests
  crates/reinhardt-db/src/backends/schema/test_utils.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/migrations/executor.rs
  crates/reinhardt-db/src/migrations/introspect.rs
  crates/reinhardt-db/src/migrations/introspection.rs
  crates/reinhardt-db/src/migrations/source_format.rs
  crates/reinhardt-db/src/orm/instrumentation.rs
  crates/reinhardt-db/src/orm/n_plus_one.rs
  crates/reinhardt-db/src/orm/query.rs
  crates/reinhardt-db/src/orm/query_fields/expression.rs
  crates/reinhardt-db/src/orm/session.rs
  crates/reinhardt-db/src/orm/transaction.rs
  crates/reinhardt-db/src/orm/upsert/assignment.rs
  crates/reinhardt-db/src/orm/upsert/sql.rs
  crates/reinhardt-db/src/orm/vector.rs
  crates/reinhardt-db/tests/atomic_orm_transactions.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
  crates/reinhardt-db/tests/orm_model_fields.rs
  crates/reinhardt-db/tests/orm_queryset_builder.rs
  crates/reinhardt-db/tests/typed_aggregation_backends.rs
  crates/reinhardt-db/tests/ui/typed_aggregation/fail/model_enum_sum.stderr
  crates/reinhardt-db/tests/ui/typed_aggregation/support.rs
  crates/reinhardt-db/tests/upsert_backend_concurrency.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): cover real session unsigned argument bindings
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): cover quoted identifiers in session list_all
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(query): terminate line comments in arithmetic groups
  crates/reinhardt-query/src/backend.rs
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/tests/arithmetic_grouping.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): preserve SQLite insert-select conflict semantics
  crates/reinhardt-db/src/backends/query_builder.rs
  crates/reinhardt-db/tests/backend_query_builder.rs
  crates/reinhardt-db/tests/insert_select_conflict.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): align MySQL conflict fixtures with query builders and CI
  crates/reinhardt-db/tests/mysql_insert_conflict.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(db): pass strict clippy on main database tests
  crates/reinhardt-db/src/backends/schema/test_utils.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-db/src/orm/instrumentation.rs
  crates/reinhardt-db/src/orm/n_plus_one.rs
  crates/reinhardt-db/src/orm/session.rs
  crates/reinhardt-db/tests/orm_model_fields.rs
  crates/reinhardt-db/tests/orm_queryset_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): preserve numeric text in default primary-key codecs
  crates/reinhardt-db/src/orm/model.rs
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): support nullable arrays across ORM paths
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/execution.rs
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/tests/postgres_nullable_arrays.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(release): register query sqlx adapter version group
  release-plz.toml
Due: none

docs(query-sqlx): declare parity for every public item
  crates/reinhardt-query-sqlx/src/any.rs
  crates/reinhardt-query-sqlx/src/lib.rs
  crates/reinhardt-query-sqlx/src/mysql.rs
  crates/reinhardt-query-sqlx/src/postgres.rs
  crates/reinhardt-query-sqlx/src/sqlite.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(query): terminate MySQL hash comments in arithmetic groups
  crates/reinhardt-query/src/backend.rs
  crates/reinhardt-query/src/backend/mysql.rs
  crates/reinhardt-query/src/backend/sqlite.rs
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/tests/arithmetic_grouping.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): move MySQL conflict coverage into root integration suite
  tests/integration/tests/backends.rs
  tests/integration/tests/backends/mysql_insert_conflict.rs
Due: none

fix(db): retain fluent conflicts when converting inserts to SELECT
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/query_builder.rs
  tests/integration/tests/backends.rs
  tests/integration/tests/backends/insert_select_conflict.rs
  tests/integration/tests/backends/mysql_insert_conflict.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): separate session unsigned unit and integration coverage
  crates/reinhardt-db/src/orm/session.rs
  tests/integration/tests/session_unsigned_bindings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(db): retain nullable arrays in bulk updates and hydration
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/connection.rs
  crates/reinhardt-db/src/orm/field_codec.rs
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/tests/postgres_nullable_arrays.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(macros): infer PostgreSQL arrays through nullable elements
  Cargo.toml
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/postgres_nullable_array_facade.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): reject non-finite JSON array parameters
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/backends/dialect/mysql.rs
  crates/reinhardt-db/src/backends/dialect/sqlite.rs
  crates/reinhardt-db/src/backends/types.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

test(db): verify whole-column NULL array writes
  crates/reinhardt-db/README.md
  crates/reinhardt-db/tests/postgres_nullable_arrays.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(db): clarify unsigned Session binding guarantees
  crates/reinhardt-db/src/orm/session.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

fix(macros): infer grouped nullable array element types
  crates/reinhardt-core/macros/README.md
  crates/reinhardt-core/macros/src/model_derive.rs
  tests/postgres_nullable_array_facade.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): quote special floats in postgres bulk array literals
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/orm/manager.rs
  crates/reinhardt-db/tests/postgres_nullable_arrays.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
