Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

docs(admin-cli): add missing public API documentation
  crates/reinhardt-admin-cli/src/main.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(query): add missing public API documentation
  crates/reinhardt-query/src/lib.rs
  crates/reinhardt-query/src/types/sequence.rs
  crates/reinhardt-query/src/types/trigger.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(test): add missing public API documentation
  crates/reinhardt-test/src/fixtures/auth.rs
  crates/reinhardt-test/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(http): add missing public API documentation
  crates/reinhardt-http/src/chunked_upload.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/request.rs
  crates/reinhardt-http/src/response.rs
  crates/reinhardt-http/src/upload.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(throttling): add missing public API documentation
  crates/reinhardt-throttling/src/anon.rs
  crates/reinhardt-throttling/src/backend.rs
  crates/reinhardt-throttling/src/lib.rs
  crates/reinhardt-throttling/src/scoped.rs
  crates/reinhardt-throttling/src/throttle.rs
  crates/reinhardt-throttling/src/tiered.rs
  crates/reinhardt-throttling/src/time_provider.rs
  crates/reinhardt-throttling/src/user.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

docs(server): add missing docs for feature-gated modules
  crates/reinhardt-server/src/server.rs
  crates/reinhardt-server/src/server/websocket.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

docs(apps): add missing public API documentation
  crates/reinhardt-apps/src/apps.rs
  crates/reinhardt-apps/src/builder.rs
  crates/reinhardt-apps/src/lib.rs
  crates/reinhardt-apps/src/validation.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(utils): add missing public API documentation
  crates/reinhardt-utils/src/lib.rs
  crates/reinhardt-utils/src/logging/config.rs
  crates/reinhardt-utils/src/logging/filters.rs
  crates/reinhardt-utils/src/logging/formatters.rs
  crates/reinhardt-utils/src/logging/handlers.rs
  crates/reinhardt-utils/src/logging/logger.rs
  crates/reinhardt-utils/src/logging/params.rs
  crates/reinhardt-utils/src/staticfiles/checks.rs
  crates/reinhardt-utils/src/staticfiles/handler.rs
  crates/reinhardt-utils/src/staticfiles/metrics.rs
  crates/reinhardt-utils/src/staticfiles/storage.rs
  crates/reinhardt-utils/src/storage/errors.rs
  crates/reinhardt-utils/src/storage/file.rs
  crates/reinhardt-utils/src/utils_core/input_validation.rs
  crates/reinhardt-utils/src/utils_core/path_safety.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(di): add missing public API documentation
  crates/reinhardt-di/src/context.rs
  crates/reinhardt-di/src/graph.rs
  crates/reinhardt-di/src/injectable.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/src/params/cookie_named.rs
  crates/reinhardt-di/src/params/header_named.rs
  crates/reinhardt-di/src/params/validation.rs
  crates/reinhardt-di/src/provider.rs
  crates/reinhardt-di/src/registry.rs
  crates/reinhardt-di/src/scope.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

docs(mail): add missing public API documentation
  crates/reinhardt-mail/src/backends.rs
  crates/reinhardt-mail/src/lib.rs
  crates/reinhardt-mail/src/message.rs
  crates/reinhardt-mail/src/pooling.rs
  crates/reinhardt-mail/src/templates.rs
Due: unit, intra-crate-integration, cross-crate-integration, Communication

docs(commands): add missing public API documentation
  crates/reinhardt-commands/src/base.rs
  crates/reinhardt-commands/src/collectstatic.rs
  crates/reinhardt-commands/src/context.rs
  crates/reinhardt-commands/src/lib.rs
  crates/reinhardt-commands/src/mail_commands.rs
  crates/reinhardt-commands/src/registry.rs
  crates/reinhardt-commands/src/template.rs
  crates/reinhardt-commands/src/wasm_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(manouche): add missing public API documentation
  crates/reinhardt-manouche/src/core/form_node.rs
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-manouche/src/ir/form.rs
  crates/reinhardt-manouche/src/lib.rs
  crates/reinhardt-manouche/src/validator/error.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(core): add missing public API documentation
  crates/reinhardt-core/src/endpoint.rs
  crates/reinhardt-core/src/exception.rs
  crates/reinhardt-core/src/exception/param_error.rs
  crates/reinhardt-core/src/lib.rs
  crates/reinhardt-core/src/messages/levels.rs
  crates/reinhardt-core/src/messages/message.rs
  crates/reinhardt-core/src/negotiation/accept.rs
  crates/reinhardt-core/src/negotiation/encoding.rs
  crates/reinhardt-core/src/negotiation/media_type.rs
  crates/reinhardt-core/src/negotiation/negotiator.rs
  crates/reinhardt-core/src/pagination/core.rs
  crates/reinhardt-core/src/parsers/parser.rs
  crates/reinhardt-core/src/security/csrf.rs
  crates/reinhardt-core/src/security/headers.rs
  crates/reinhardt-core/src/serializers/fields.rs
  crates/reinhardt-core/src/serializers/recursive.rs
  crates/reinhardt-core/src/serializers/serializer.rs
  crates/reinhardt-core/src/serializers/validator.rs
  crates/reinhardt-core/src/signals/context.rs
  crates/reinhardt-core/src/signals/db_events.rs
  crates/reinhardt-core/src/signals/error.rs
  crates/reinhardt-core/src/signals/lifecycle_events.rs
  crates/reinhardt-core/src/signals/middleware.rs
  crates/reinhardt-core/src/signals/replay.rs
  crates/reinhardt-core/src/signals/request_events.rs
  crates/reinhardt-core/src/validators.rs
  crates/reinhardt-core/src/validators/errors.rs
  crates/reinhardt-core/src/validators/file_type.rs
  crates/reinhardt-core/src/validators/identifier.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs(testkit): add missing public API documentation
  crates/reinhardt-testkit/src/client.rs
  crates/reinhardt-testkit/src/debug.rs
  crates/reinhardt-testkit/src/factory.rs
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/admin.rs
  crates/reinhardt-testkit/src/fixtures/loader.rs
  crates/reinhardt-testkit/src/lib.rs
  crates/reinhardt-testkit/src/messages.rs
  crates/reinhardt-testkit/src/mock.rs
  crates/reinhardt-testkit/src/response.rs
  crates/reinhardt-testkit/src/server.rs
  crates/reinhardt-testkit/src/views.rs
  crates/reinhardt-testkit/src/viewsets.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(tasks): add missing public API documentation
  crates/reinhardt-tasks/src/backend.rs
  crates/reinhardt-tasks/src/lib.rs
  crates/reinhardt-tasks/src/load_balancer.rs
  crates/reinhardt-tasks/src/queue.rs
  crates/reinhardt-tasks/src/scheduler.rs
  crates/reinhardt-tasks/src/task.rs
  crates/reinhardt-tasks/src/worker.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

docs(rest): add missing public API documentation
  crates/reinhardt-rest/src/browsable_api.rs
  crates/reinhardt-rest/src/browsable_api/renderer.rs
  crates/reinhardt-rest/src/browsable_api/response.rs
  crates/reinhardt-rest/src/filters.rs
  crates/reinhardt-rest/src/filters/filter.rs
  crates/reinhardt-rest/src/filters/multi_term.rs
  crates/reinhardt-rest/src/filters/optimizer.rs
  crates/reinhardt-rest/src/filters/relevance.rs
  crates/reinhardt-rest/src/lib.rs
  crates/reinhardt-rest/src/metadata/base.rs
  crates/reinhardt-rest/src/metadata/fields.rs
  crates/reinhardt-rest/src/metadata/options.rs
  crates/reinhardt-rest/src/metadata/response.rs
  crates/reinhardt-rest/src/metadata/schema.rs
  crates/reinhardt-rest/src/metadata/types.rs
  crates/reinhardt-rest/src/response.rs
  crates/reinhardt-rest/src/serializers.rs
  crates/reinhardt-rest/src/serializers/performance.rs
  crates/reinhardt-rest/src/serializers/validators.rs
  crates/reinhardt-rest/src/versioning.rs
  crates/reinhardt-rest/src/versioning/reverse.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix: capitalize Packer validation error_message for Packer 1.15.0 compatibility
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

fix(ci): resolve Packer 1.15.0 validation failure for runner_arch variable
  .github/workflows/build-runner-ami.yml
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

fix(ci): escape shell variables in Packer HCL2 inline scripts
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

chore(infra): re-integrate AMI builder resources and pin Packer version
  .github/workflows/build-runner-ami.yml
  infra/github-runners/ami-builder.tf
  infra/github-runners/imports.tf
  infra/github-runners/outputs.tf
Due: none

fix(ci): prevent x64 AMI build from overwriting arm64 SSM parameter
  .github/workflows/build-runner-ami.yml
Due: none

docs(conf): add missing documentation for encryption module types
  crates/reinhardt-conf/src/settings/encryption.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs: add missing documentation across workspace crates
  crates/reinhardt-testkit/src/fixtures.rs
  crates/reinhardt-testkit/src/fixtures/resources.rs
  crates/reinhardt-testkit/src/fixtures/schema.rs
  crates/reinhardt-testkit/src/fixtures/testcontainers.rs
  crates/reinhardt-testkit/src/static_files.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(rest): add missing documentation for openapi schema types
  crates/reinhardt-rest/src/openapi.rs
  crates/reinhardt-rest/src/openapi/openapi.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(conf): scope SeaQuery statements to ensure Send-safe futures
  crates/reinhardt-conf/src/settings/audit/backends/database.rs
  crates/reinhardt-conf/src/settings/backends/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style: apply rustfmt formatting to audit database backend
  crates/reinhardt-conf/src/settings/audit/backends/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

fix(ci): reduce coverage build parallelism and enable mold linker for OOM prevention
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/unit-test.yml
Due: none

fix(ci): add cargo llvm-cov clean before coverage runs to fix profraw issue
  .github/workflows/coverage.yml
Due: none

fix(ci): use .cargo/config.toml for mold linker in coverage instead of RUSTFLAGS
  .github/workflows/coverage.yml
Due: none

fix(web): add cfg gate for reinhardt_macros WASM re-export
  src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

style(db): fix formatting alignment in migrations and ORM modules
  crates/reinhardt-db/src/migrations/fields.rs
  crates/reinhardt-db/src/orm/fields.rs
  crates/reinhardt-db/src/orm/indexes.rs
  crates/reinhardt-db/src/orm/query_fields/lookup.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

docs(utils): add missing documentation for cache pubsub message fields
  crates/reinhardt-utils/src/cache/pubsub.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(ci): use show-env approach for integration coverage profraw generation
  .github/workflows/coverage.yml
Due: none

fix(ci): use %m%c profraw pattern to prevent disk exhaustion in coverage
  .github/workflows/coverage.yml
Due: none

fix(ci): fix profraw directory path for cargo-llvm-cov report discovery
  .github/workflows/coverage.yml
Due: none

fix(ci): add diagnostic output for profraw file generation debugging
  .github/workflows/coverage.yml
Due: none

fix(ci): use integrated cargo-llvm-cov nextest and fix dpkg lock race
  .github/actions/setup-protoc/action.yml
  .github/workflows/coverage.yml
Due: none

fix(infra): remove duplicate terraform resources in github-runners
  infra/github-runners/github.tf
  infra/github-runners/oidc.tf
Due: none

fix(ci): force fresh instrumented build by removing llvm-cov-target cache
  .github/workflows/coverage.yml
Due: none

Path conditions:
  unit: any of: crates/**, src/**
  intra-crate-integration: any of: crates/**, src/**
  cross-crate-integration: any of: crates/**, src/**
  Core Framework: any of: crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**
  Database & ORM: any of: crates/reinhardt-db/src/**, crates/reinhardt-query/src/**
  REST Framework: any of: crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**
  Authentication & Security: any of: crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**
  Dependency Injection: any of: crates/reinhardt-di/src/**
  Server & Routing: any of: crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**
  Frontend & Pages: any of: crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**
  Communication: any of: crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**
  Utilities & Infrastructure: any of: crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**
