Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(admin): apply max_rows limit in export and escape TSV newlines
  crates/reinhardt-admin/src/core/export.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): fix sidebar active-link highlighting
  crates/reinhardt-admin/src/pages/components/layout.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): preserve query string in popstate navigation handler
  crates/reinhardt-admin/src/pages/main.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): use JSON array format for bulk delete audit log IDs
  crates/reinhardt-admin/src/server/audit.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): pass user object instead of auth state to model permission checks
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/detail.rs
  crates/reinhardt-admin/src/server/error.rs
  crates/reinhardt-admin/src/server/export.rs
  crates/reinhardt-admin/src/server/import.rs
  crates/reinhardt-admin/src/server/update.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): move audit log after affected-count check to prevent false success records
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/update.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): update extract_count_from_row doc comment to match implementation
  crates/reinhardt-admin/src/core/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): clarify sidebar comment and add active-link matching tests
  crates/reinhardt-admin/src/pages/components/layout.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): render active pagination item as span instead of clickable link
  crates/reinhardt-admin/src/pages/components/common.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): use direct iteration for sorted fields and add sort order test
  crates/reinhardt-admin/src/pages/components/features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): validate CSRF token against cookie and fix auth order in create
  crates/reinhardt-admin/src/server.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/dashboard.rs
  crates/reinhardt-admin/src/server/delete.rs
  crates/reinhardt-admin/src/server/security.rs
  crates/reinhardt-admin/src/server/update.rs
  crates/reinhardt-admin/src/types/requests.rs
  crates/reinhardt-http/src/lib.rs
  crates/reinhardt-http/src/response_cookies.rs
  crates/reinhardt-pages/src/server_fn/router_ext.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

fix(admin): add #[non_exhaustive] to ExportResponse for forward compatibility
  crates/reinhardt-admin/src/types/responses.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(macros): allow too_many_arguments on generated Model::new function
  crates/reinhardt-core/macros/src/model_derive.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): make create() pk_field parameter optional for backward compatibility
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/import.rs
  tests/integration/admin_integration_tests.rs
  tests/integration/tests/admin/admin_database_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(admin): add regression and coverage tests for admin server handlers
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/types/requests.rs
  tests/integration/tests/admin.rs
  tests/integration/tests/admin/admin_database_tests.rs
  tests/integration/tests/admin/admin_handler_logic_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): migrate remaining CurrentUser to AuthUser and update example
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-admin/src/server/fields.rs
  examples/examples-github-issues/src/config/urls.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

test(admin): add require_model_permission tests for auth/permission checks
  crates/reinhardt-admin/src/server/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): replace CRLF before individual char replacement in TSV export
  crates/reinhardt-admin/src/core/export.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): use negated event check for mutation-test workflow shard condition
  .github/workflows/mutation-test.yml
Due: none

fix(admin): update test helpers to use AdminUser trait after merge
  crates/reinhardt-admin/src/server/error.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style: apply rustfmt to user_macro_integration tests
  crates/reinhardt-auth/tests/user_macro_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): prevent Docker Hub rate limit failures in integration tests
  .github/workflows/coverage.yml
  .github/workflows/cross-crate-integration-test.yml
  .github/workflows/intra-crate-integration-test.yml
Due: none

ci: allow SP-3 approved breaking changes to pass SemVer check during RC
  .github/workflows/ci.yml
  .github/workflows/semver-check.yml
Due: none

ci: use breaking-change label for SP-3 semver bypass
  .github/workflows/ci.yml
  .github/workflows/semver-check.yml
Due: none

fix(admin): remove duplicate In/NotIn Array match arms causing unreachable pattern
  crates/reinhardt-admin/src/core/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(admin): update integration tests to match new admin API signatures
  crates/reinhardt-admin/src/server.rs
  crates/reinhardt-admin/src/server/user.rs
  tests/integration/tests/admin/admin_database_tests.rs
  tests/integration/tests/admin/server_fn_delete_tests.rs
  tests/integration/tests/admin/server_fn_detail_tests.rs
  tests/integration/tests/admin/server_fn_export_tests.rs
  tests/integration/tests/admin/server_fn_fields_tests.rs
  tests/integration/tests/admin/server_fn_helpers.rs
  tests/integration/tests/admin/server_fn_list_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(ci): fix coverage-main concurrency bug and add concurrency to long-running workflows
  .github/workflows/build-runner-ami.yml
  .github/workflows/coverage-main.yml
  .github/workflows/mutation-test.yml
Due: none

fix(core): add feature gates to conditionally compiled modules
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-core/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

docs: add issue-linked branch naming convention with range notation
  CLAUDE.md
  CONTRIBUTING.md
  instructions/ISSUE_HANDLING.md
  instructions/PR_GUIDELINE.md
Due: none

ci: restrict feature check to release PRs and add coverage
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/reinhardt-feature-check.yml
  CLAUDE.md
  Makefile.toml
Due: none

update: 📝 プロジェクト名と説明を更新
  llms.txt
Due: none

docs(readme): 📝 日本語READMEを追加
  docs/readmeLangs/README_JA.md
Due: none

feat(examples): add rough2spec example - local LLM spec generator
  examples/Cargo.toml
  examples/examples-rough2spec/Cargo.toml
  examples/examples-rough2spec/README.md
  examples/examples-rough2spec/settings/base.toml
  examples/examples-rough2spec/settings/local.example.toml
  examples/examples-rough2spec/src/apps.rs
  examples/examples-rough2spec/src/apps/generate/lib.rs
  examples/examples-rough2spec/src/apps/generate/urls.rs
  examples/examples-rough2spec/src/apps/generate/views.rs
  examples/examples-rough2spec/src/bin/manage.rs
  examples/examples-rough2spec/src/config.rs
  examples/examples-rough2spec/src/config/apps.rs
  examples/examples-rough2spec/src/config/settings.rs
  examples/examples-rough2spec/src/config/urls.rs
  examples/examples-rough2spec/src/config/views.rs
  examples/examples-rough2spec/src/lib.rs
Due: none

docs(readmeLangs): 📝 添加简体中文和繁体中文README文档
  docs/readmeLangs/README_ZH_CN.md
  docs/readmeLangs/README_ZH_TW.md
Due: none

feat(reinhardt-apps,reinhardt-pages): expose test reset functions behind testing feature
  crates/reinhardt-apps/Cargo.toml
  crates/reinhardt-apps/src/registry.rs
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/src/integ/static_context.rs
  crates/reinhardt-pages/src/integ/url_resolver.rs
  tests/integration/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

ci: promote ui-test to Phase 2a and enable dynamic partitioning
  .github/workflows/ci.yml
Due: none

ci(examples): add Makefile.toml for examples-di-showcase
  examples/examples-di-showcase/Makefile.toml
Due: none

ci(examples): unify duplicate examples test workflows
  .github/workflows/examples-test.yml
  .github/workflows/test-examples.yml
Due: none

fix(di): register DatabaseConnection in user-provided DI context
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-urls/Cargo.toml
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/global.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing, Utilities & Infrastructure

docs(website): fix incorrect SettingsFragment trait and import paths in settings reference
  website/content/docs/settings.md
Due: none
