Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

fix(di): add Authentication variant to DiError for proper 401 responses
  crates/reinhardt-admin/src/server/admin_auth.rs
  crates/reinhardt-di/src/lib.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection, Frontend & Pages

fix(admin): make WASM JS reference test dynamic based on build state
  crates/reinhardt-admin/src/core/router.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(test): update versioning test for ErrorToResponseHandler
  tests/integration/tests/api/versioning_integration.rs
Due: none

fix(admin): use explicit headers and string conversion for CSV/TSV export
  crates/reinhardt-admin/src/server/export.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style: apply rustfmt formatting fixes
  crates/reinhardt-admin/src/core/router.rs
  tests/integration/tests/migrations/makemigrations_e2e_integration.rs
  tests/integration/tests/server/middleware_error_handling_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(middleware): add RemoteUserMiddleware and PersistentRemoteUserMiddleware
  crates/reinhardt-middleware/src/remote_user.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat(middleware): add LoginRequiredMiddleware for unauthenticated redirect
  crates/reinhardt-middleware/src/login_required.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

docs(rest): fix broken intra-doc link to OpenApiSettings
  crates/reinhardt-rest/src/openapi/config.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework

fix(examples): replace deprecated SecurityConfig with SecuritySettings
  examples/examples-twitter/src/config/middleware.rs
Due: none

fix(test): skip hidden files in collectstatic test helper
  crates/reinhardt-commands/tests/collectstatic_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(admin): use write_record for CSV/TSV export to support map-based records
  crates/reinhardt-admin/src/server/export.rs
  tests/integration/tests/admin/server_fn_export_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(conf): maintain backward compatibility for SettingsFragment trait
  crates/reinhardt-admin/src/settings.rs
  crates/reinhardt-conf/src/settings/core_settings.rs
  crates/reinhardt-conf/src/settings/fragment.rs
  crates/reinhardt-conf/src/settings/security.rs
  crates/reinhardt-conf/tests/composable/boundary_values.rs
  crates/reinhardt-conf/tests/composable/combination.rs
  crates/reinhardt-conf/tests/composable/decision_table.rs
  crates/reinhardt-conf/tests/composable/equivalence_partition.rs
  crates/reinhardt-conf/tests/composable/error_path.rs
  crates/reinhardt-conf/tests/composable/fuzz.rs
  crates/reinhardt-conf/tests/composable/happy_path.rs
  crates/reinhardt-conf/tests/composable/property_tests.rs
  crates/reinhardt-conf/tests/composable/state_transitions.rs
  crates/reinhardt-core/macros/src/settings_compose.rs
  crates/reinhardt-core/macros/src/settings_fragment.rs
  tests/integration/tests/settings/composable_use_cases.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Frontend & Pages

style(examples): fix import ordering in twitter middleware
  examples/examples-twitter/src/config/middleware.rs
Due: none

fix(admin): disambiguate validate method call in settings tests
  crates/reinhardt-admin/src/settings.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): add wasm32 cfg guard to non-WASM test files
  crates/reinhardt-pages/tests/api_pagination_tests.rs
  crates/reinhardt-pages/tests/api_queryset_integration_tests.rs
  crates/reinhardt-pages/tests/auth_integration_tests.rs
  crates/reinhardt-pages/tests/component_system_integration.rs
  crates/reinhardt-pages/tests/dom_integration_tests.rs
  crates/reinhardt-pages/tests/head_integration_tests.rs
  crates/reinhardt-pages/tests/hooks_integration.rs
  crates/reinhardt-pages/tests/hydration_execution_integration.rs
  crates/reinhardt-pages/tests/reactive_system_tests.rs
  crates/reinhardt-pages/tests/resource_integration.rs
  crates/reinhardt-pages/tests/router_integration_tests.rs
  crates/reinhardt-pages/tests/server_fn_codec_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_head_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_hydration_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
  crates/reinhardt-pages/tests/static_asset_boundary_tests.rs
  crates/reinhardt-pages/tests/static_asset_combination_tests.rs
  crates/reinhardt-pages/tests/static_asset_decision_table_tests.rs
  crates/reinhardt-pages/tests/static_asset_edge_cases_tests.rs
  crates/reinhardt-pages/tests/static_asset_equivalence_tests.rs
  crates/reinhardt-pages/tests/static_asset_error_tests.rs
  crates/reinhardt-pages/tests/static_asset_fuzz_tests.rs
  crates/reinhardt-pages/tests/static_asset_happy_path_tests.rs
  crates/reinhardt-pages/tests/static_asset_property_tests.rs
  crates/reinhardt-pages/tests/static_asset_sanity_tests.rs
  crates/reinhardt-pages/tests/static_asset_use_case_tests.rs
  crates/reinhardt-pages/tests/static_macro_compile_tests.rs
  crates/reinhardt-pages/tests/static_resolver_state_transition_tests.rs
  crates/reinhardt-pages/tests/static_resolver_tests.rs
  crates/reinhardt-pages/tests/tables.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/watch_ssr_tests.rs
  crates/reinhardt-pages/tests/watch_syntax_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix: remove duplicate winnow entry in workspace Cargo.toml
  Cargo.toml
Due: none

fix(commands): add --lib flag to WASM cargo build
  crates/reinhardt-commands/src/wasm_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(commands): ensure admin vendor assets are collected to STATIC_ROOT
  crates/reinhardt-commands/src/collectstatic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

feat(admin): replace Syne display font with Inter
  crates/reinhardt-admin/assets/style.css
  crates/reinhardt-admin/assets/vendor/fonts/inter-latin-600-normal.woff2
  crates/reinhardt-admin/assets/vendor/fonts/inter-latin-700-normal.woff2
  crates/reinhardt-admin/assets/vendor/fonts/inter-latin-800-normal.woff2
  crates/reinhardt-admin/src/core/vendor.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(auth): add is_staff and is_superuser fields to JWT Claims
  crates/reinhardt-admin/src/server/login.rs
  crates/reinhardt-auth/README.md
  crates/reinhardt-auth/src/jwt.rs
  crates/reinhardt-auth/src/lib.rs
  crates/reinhardt-auth/tests/jwt_property_based.rs
  crates/reinhardt-auth/tests/test_tokens.rs
  crates/reinhardt-middleware/src/jwt_auth.rs
  crates/reinhardt-test/src/fixtures/auth.rs
  examples/examples-github-issues/src/apps/auth/views.rs
  tests/bench/benches/auth_benchmarks.rs
  tests/integration/tests/auth/auth_integration.rs
  tests/integration/tests/auth/multi_auth_backend_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security, Frontend & Pages

fix(middleware): extract is_staff from JWT claims instead of hardcoding false
  crates/reinhardt-middleware/src/jwt_auth.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

fix(commands): resolve WASM artifact path relative to workspace root
  crates/reinhardt-commands/src/bin/runserver.rs
  crates/reinhardt-commands/src/wasm_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

Change AuthState user_id from i64 to String for UUID support
  crates/reinhardt-admin/src/pages/components/login.rs
  crates/reinhardt-pages/src/auth.rs
  crates/reinhardt-pages/src/ssr/renderer.rs
  crates/reinhardt-pages/tests/auth_integration_tests.rs
  crates/reinhardt-pages/tests/ssr_renderer_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

Detect workspace target_dir via cargo metadata in WASM builder
  crates/reinhardt-commands/src/wasm_builder.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(pages): migrate WASM HTTP client from gloo-net to reqwest
  crates/reinhardt-admin/Cargo.toml
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/docs/server_fn_macro.md
  crates/reinhardt-pages/macros/src/server_fn.rs
  crates/reinhardt-pages/src/api/queryset.rs
  crates/reinhardt-pages/src/auth.rs
  crates/reinhardt-pages/src/form/component.rs
  crates/reinhardt-pages/src/testing/e2e.rs
  crates/reinhardt-pages/src/testing/mock_fetch.rs
  crates/reinhardt-pages/tests/ui/server_fn/codec_json.rs
  crates/reinhardt-pages/tests/ui/server_fn/codec_url.rs
  crates/reinhardt-pages/tests/ui/server_fn/with_inject.rs
  crates/reinhardt-pages/tests/wasm/server_fn_wasm_test.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix(pages): defer create_resource initial fetch to next microtask
  crates/reinhardt-pages/src/reactive/resource.rs
  crates/reinhardt-pages/src/spawn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

feat(pages): add autocomplete attribute support to form! macro
  crates/reinhardt-manouche/src/core/form_typed.rs
  crates/reinhardt-manouche/src/validator/form.rs
  crates/reinhardt-pages/ast/src/form_typed.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

style(admin): apply cargo make auto-fix formatting
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/pages/components/common.rs
  crates/reinhardt-admin/src/pages/components/features.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/wasm_builder.rs
  crates/reinhardt-pages/tests/auth_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

style: apply auto-fix formatting
  crates/reinhardt-admin/src/core/database.rs
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-admin/src/server/create.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/src/wasm_builder.rs
  crates/reinhardt-pages/tests/auth_integration_tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages, Utilities & Infrastructure

docs: add upstream issue reporting and workaround conventions
  CLAUDE.md
  instructions/UPSTREAM_ISSUE_REPORTING.md
Due: none

fix(admin): prefix page! event params with underscore to suppress non-WASM warnings
  crates/reinhardt-admin/src/pages/components/common.rs
  crates/reinhardt-admin/src/pages/components/features.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style: apply rustfmt formatting
  crates/reinhardt-manouche/src/parser/form.rs
  crates/reinhardt-manouche/src/validator/form.rs
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/macros/src/form/validator.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor: replace login form page! HTML with form! macro
  crates/reinhardt-admin/src/pages/components/login.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor: migrate login form to form! macro with server_fn
  crates/reinhardt-admin/src/pages/components/login.rs
  crates/reinhardt-admin/src/pages/main.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix: auto-pass CSRF token as server_fn argument in form! macro
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor: remove CSRF workaround now that #3337 is fixed
  crates/reinhardt-admin/src/pages/components/login.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

style: apply rustfmt formatting
  crates/reinhardt-admin/src/pages/components/login.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

fix: suppress unused_variables warnings in form! macro codegen
  crates/reinhardt-pages/macros/src/form/codegen.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(infra): add ed25519 SSH key type for Packer AMI builds
  infra/github-runners/packer/reinhardt-runner.pkr.hcl
Due: none

fix: remove vendor fonts from git tracking to resolve release-plz conflict
  crates/reinhardt-admin/assets/vendor/fonts/inter-latin-600-normal.woff2
  crates/reinhardt-admin/assets/vendor/fonts/inter-latin-700-normal.woff2
  crates/reinhardt-admin/assets/vendor/fonts/inter-latin-800-normal.woff2
Due: unit, intra-crate-integration, cross-crate-integration
