Repository kent8192/reinhardt-web: changes, and which Codecov flags are due for each by the changed paths.
All: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, REST Framework, Authentication & Security, Dependency Injection, Server & Routing, Frontend & Pages, Communication, Utilities & Infrastructure

codecov.yml:

codecov:
  require_ci_to_pass: false

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
        if_ci_failed: success
        flags:
          - unit
          - intra-crate-integration
          - cross-crate-integration
      unit:
        flags:
          - unit
        target: auto
        threshold: 1%
      intra-crate-integration:
        flags:
          - intra-crate-integration
        target: auto
        threshold: 1%
      cross-crate-integration:
        flags:
          - cross-crate-integration
        target: auto
        threshold: 1%
    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: success

  ignore:
    # Proc-macro crates (compile-time only)
    - "crates/reinhardt-core/macros/**"
    - "crates/reinhardt-di/macros/**"
    - "crates/reinhardt-query/macros/**"
    - "crates/reinhardt-graphql/macros/**"
    - "crates/reinhardt-grpc/macros/**"
    - "crates/reinhardt-pages/macros/**"
    - "crates/reinhardt-pages/ast/**"
    - "crates/reinhardt-rest/openapi-macros/**"
    - "crates/reinhardt-urls/routers-macros/**"
    # CLI tools
    - "crates/reinhardt-admin-cli/**"
    - "crates/reinhardt-conf/crates/settings-cli/**"
    # Test infrastructure
    - "crates/reinhardt-test/**"
    - "tests/**"
    # Build scripts, examples, benchmarks
    - "**/build.rs"
    - "examples/**"
    - "tests/bench/**"
    # DSL definitions
    - "crates/reinhardt-manouche/**"

flags:
  unit:
    paths: ["crates/**", "src/**"]
    carryforward: true
  intra-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true
  cross-crate-integration:
    paths: ["crates/**", "src/**"]
    carryforward: true

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
  individual_components:
    - component_id: core
      name: Core Framework
      paths: [crates/reinhardt-core/src/**, crates/reinhardt-apps/src/**, crates/reinhardt-http/src/**, crates/reinhardt-conf/src/**, src/**]
    - component_id: database
      name: Database & ORM
      paths: [crates/reinhardt-db/src/**, crates/reinhardt-query/src/**]
    - component_id: rest
      name: REST Framework
      paths: [crates/reinhardt-rest/src/**, crates/reinhardt-views/src/**, crates/reinhardt-openapi/src/**, crates/reinhardt-throttling/src/**]
    - component_id: auth
      name: Authentication & Security
      paths: [crates/reinhardt-auth/src/**, crates/reinhardt-middleware/src/**]
    - component_id: di
      name: Dependency Injection
      paths: [crates/reinhardt-di/src/**]
    - component_id: server
      name: Server & Routing
      paths: [crates/reinhardt-server/src/**, crates/reinhardt-urls/src/**]
    - component_id: frontend
      name: Frontend & Pages
      paths: [crates/reinhardt-pages/src/**, crates/reinhardt-forms/src/**, crates/reinhardt-admin/src/**]
    - component_id: communication
      name: Communication
      paths: [crates/reinhardt-mail/src/**, crates/reinhardt-graphql/src/**, crates/reinhardt-grpc/src/**, crates/reinhardt-websockets/src/**]
    - component_id: utilities
      name: Utilities & Infrastructure
      paths: [crates/reinhardt-utils/src/**, crates/reinhardt-shortcuts/src/**, crates/reinhardt-dispatch/src/**, crates/reinhardt-commands/src/**, crates/reinhardt-tasks/src/**, crates/reinhardt-i18n/src/**, crates/reinhardt-deeplink/src/**, crates/reinhardt-dentdelion/src/**]

comment:
  layout: "condensed_header, condensed_files, condensed_footer"
  require_changes: true
  require_base: false
  require_head: true
  hide_comment_details: false

github_checks:
  annotations: true

docs(tutorial): add basis tutorial part 7 testing
  website/content/quickstart/tutorials/basis/7-testing.md
Due: none

docs(examples): update basis tutorial example README for feature slices
  examples/examples-tutorial-basis/README.md
Due: none

docs(tutorial): address CodeRabbit basis tutorial feedback
  examples/examples-tutorial-basis/README.md
  website/content/quickstart/tutorials/basis/2-poll-index.md
  website/content/quickstart/tutorials/basis/4-users-and-authentication.md
  website/content/quickstart/tutorials/basis/6-admin-and-static-files.md
  website/content/quickstart/tutorials/basis/7-testing.md
  website/content/quickstart/tutorials/basis/_index.md
Due: none

fix(infra): declare cancel runner terraform variables
  infra/github-runners/variables.tf
Due: none

fix(ci): clear promotion scan blockers
  crates/reinhardt-commands/src/local_infra/command.rs
  crates/reinhardt-conf/src/settings/database_config.rs
  crates/reinhardt-db/src/orm/type_decorator.rs
  crates/reinhardt-websockets/src/redis_channel.rs
  src/exports/database.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, Communication, Utilities & Infrastructure

fix(commands): satisfy clippy for local infra fallback
  crates/reinhardt-commands/src/local_infra/command.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

chore(release): group tree-sitter crates
  release-plz.toml
Due: none

fix(ci): pin brotli allocator dependency
  Cargo.toml
  crates/reinhardt-auth/Cargo.toml
  crates/reinhardt-core/Cargo.toml
  crates/reinhardt-middleware/Cargo.toml
  crates/reinhardt-utils/Cargo.toml
Due: unit, intra-crate-integration, cross-crate-integration

docs(test): design native msw mock server
  docs/rfc/2026-06-14-native-msw-design.md
Due: none

docs(test): clarify native msw URL API
  docs/rfc/2026-06-14-native-msw-design.md
Due: none

fix(logging): avoid zero-millisecond request durations
  crates/reinhardt-middleware/src/logging.rs
Due: unit, intra-crate-integration, cross-crate-integration, Authentication & Security

feat!(macros): expose relation-shaped model info fields
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/model_derive.rs
  crates/reinhardt-core/src/lib.rs
  instructions/MACRO_USAGE.md
  instructions/MIGRATION_0.2.md
  tests/integration/tests/macros/model_info_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework

test(test): add native msw behavior coverage
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-test/tests/native_msw.rs
Due: unit, intra-crate-integration, cross-crate-integration

test(test): tighten native msw coverage
  crates/reinhardt-test/tests/native_msw.rs
Due: unit, intra-crate-integration, cross-crate-integration

chore: migrate Rust toolchain to 1.96.0
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/5-performance.yml
  .github/ISSUE_TEMPLATE/6-ci_cd.yml
  .github/actions/setup-rust/action.yml
  .github/workflows/examples-test.yml
  .github/workflows/msrv-test.yml
  CONTRIBUTING.md
  Cargo.toml
  crates/reinhardt-admin/src/server/validation.rs
  crates/reinhardt-commands/templates/project_pages_template/README.md.tpl
  crates/reinhardt-conf/src/settings/validation.rs
  crates/reinhardt-core/macros/src/installed_apps.rs
  crates/reinhardt-core/macros/src/macro_state.rs
  crates/reinhardt-core/macros/src/schema.rs
  crates/reinhardt-core/macros/src/viewset_macro.rs
  crates/reinhardt-core/src/signals/context.rs
  crates/reinhardt-core/src/signals/doc_generator.rs
  crates/reinhardt-core/src/signals/profiler.rs
  crates/reinhardt-core/src/signals/signal.rs
  crates/reinhardt-db/src/migrations/autodetector.rs
  crates/reinhardt-di/src/profiling.rs
  examples/examples-tutorial-basis/README.md
  examples/examples-tutorial-rest/Dockerfile
  examples/examples-tutorial-rest/README.md
  rust-toolchain.toml
  website/content/quickstart/getting-started.md
  website/content/quickstart/tutorials/rest/_index.md
Due: unit, intra-crate-integration, cross-crate-integration, Core Framework, Database & ORM, Dependency Injection, Frontend & Pages

feat(urls)!: remove raw server route registration APIs
  crates/reinhardt-admin/src/core/router.rs
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-commands/templates/project_pages_template/src/config/urls.rs.tpl
  crates/reinhardt-commands/templates/project_restful_template/src/config/urls.rs.tpl
  crates/reinhardt-deeplink/src/router.rs
  crates/reinhardt-pages/src/server_fn/router_ext.rs
  crates/reinhardt-rest/src/openapi/endpoints.rs
  crates/reinhardt-urls/src/lib.rs
  crates/reinhardt-urls/src/routers.rs
  crates/reinhardt-urls/src/routers/route_group.rs
  crates/reinhardt-urls/src/routers/server_router.rs
  crates/reinhardt-urls/src/routers/server_router/compile.rs
  crates/reinhardt-urls/src/routers/server_router/global.rs
  crates/reinhardt-urls/src/routers/server_router/handlers.rs
  crates/reinhardt-urls/src/routers/server_router/introspection.rs
  crates/reinhardt-urls/src/routers/server_router/registration.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
  crates/reinhardt-urls/src/routers/unified_router.rs
  crates/reinhardt-urls/tests/router_error_middleware.rs
  tests/integration/tests/http/extensions_integration.rs
  tests/integration/tests/http/request_response_integration.rs
  tests/integration/tests/server/use_case_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, REST Framework, Server & Routing, Frontend & Pages, Utilities & Infrastructure

fix(forms): support file fields in use_form runtime
  crates/reinhardt-pages/Cargo.toml
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/macros/src/form/codegen.rs
  crates/reinhardt-pages/src/form_state.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/tests/ui/form/pass/file_fields_use_form.rs
  crates/reinhardt-pages/tests/use_form_integration.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages

refactor(test): share msw state across runtimes
  crates/reinhardt-test/src/msw.rs
  crates/reinhardt-test/src/msw/context.rs
  crates/reinhardt-test/src/msw/error.rs
  crates/reinhardt-test/src/msw/handler.rs
  crates/reinhardt-test/src/msw/native.rs
  crates/reinhardt-test/src/msw/recorder.rs
  crates/reinhardt-test/src/msw/rest.rs
  crates/reinhardt-test/src/msw/state.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(commands): pull missing local infra images
  crates/reinhardt-commands/Cargo.toml
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/local_infra/docker.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

style(test): format native msw changes
  crates/reinhardt-test/src/msw/handler.rs
  crates/reinhardt-test/src/msw/state.rs
  crates/reinhardt-test/tests/native_msw.rs
Due: unit, intra-crate-integration, cross-crate-integration

refactor(test): adapt wasm msw to shared state
  crates/reinhardt-test/src/msw.rs
  crates/reinhardt-test/src/msw/interceptor.rs
  crates/reinhardt-test/src/msw/worker.rs
Due: unit, intra-crate-integration, cross-crate-integration

feat(test): add native msw mock server
  crates/reinhardt-test/Cargo.toml
  crates/reinhardt-test/src/msw/native.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(test): consume native msw network error handlers
  crates/reinhardt-test/src/msw/native.rs
  crates/reinhardt-test/tests/native_msw.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(test): document native msw endpoint injection
  crates/reinhardt-test/CHANGELOG.md
  crates/reinhardt-test/README.md
  crates/reinhardt-test/src/lib.rs
  crates/reinhardt-test/src/msw.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(test): reject concurrent native msw startup
  crates/reinhardt-test/src/msw/native.rs
  crates/reinhardt-test/tests/native_msw.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(di): support trait-based inject wrapper resolution
  README.md
  crates/reinhardt-core/macros/src/injectable_common.rs
  crates/reinhardt-core/macros/src/injectable_fn.rs
  crates/reinhardt-core/macros/src/injectable_struct.rs
  crates/reinhardt-core/macros/src/lib.rs
  crates/reinhardt-core/macros/src/routes.rs
  crates/reinhardt-core/macros/src/routes_registration.rs
  crates/reinhardt-core/macros/src/use_inject.rs
  crates/reinhardt-core/macros/src/websocket.rs
  crates/reinhardt-di/README.md
  crates/reinhardt-di/macros/src/injectable.rs
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/macros/src/lib.rs
  crates/reinhardt-di/macros/src/utils.rs
  crates/reinhardt-di/src/injectable_type.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/tests/injectable_factory_inject_fallback_tests.rs
  crates/reinhardt-di/tests/injectable_field_depends_sugar_tests.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
  tests/integration/tests/di/ui.rs
  tests/integration/tests/di/ui/fail/missing_injectable_type_trait.rs
  tests/integration/tests/di/ui/fail/missing_injectable_type_trait.stderr
  tests/integration/tests/di/ui/pass/depends_result_in_route_macro.rs
  tests/integration/tests/di/ui/pass/factory_depends_in_route_macro.rs
  tests/integration/tests/di/ui/pass/trait_based_inject_wrappers.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(test): serialize native msw lifecycle state
  crates/reinhardt-test/src/msw/native.rs
  crates/reinhardt-test/tests/native_msw.rs
Due: unit, intra-crate-integration, cross-crate-integration

fix(urls): remove duplicate validate_routes doctest import
  crates/reinhardt-urls/src/routers/server_router/compile.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

test(forms): update hidden field runtime stderr
  crates/reinhardt-pages/tests/ui/form/fail/hidden_field_no_default.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(ci): update Rust 1.96 UI stderr expectations
  crates/reinhardt-core/macros/tests/ui/user/fail/manager_disabled_no_manager.stderr
  crates/reinhardt-pages/tests/ui/form/fail/hidden_field_no_default.stderr
  crates/reinhardt-pages/tests/ui/form/fail/old_use_form_options.stderr
  crates/reinhardt-pages/tests/ui/page/fail/component_missing_required_prop.stderr
Due: unit, intra-crate-integration, cross-crate-integration

fix(commands): default untagged image pulls to latest
  crates/reinhardt-commands/src/local_infra/docker.rs
Due: unit, intra-crate-integration, cross-crate-integration, Utilities & Infrastructure

fix(di): preserve Depends inject fallback
  crates/reinhardt-core/macros/src/injectable_common.rs
  crates/reinhardt-di/macros/src/injectable.rs
  crates/reinhardt-di/macros/src/injectable_factory.rs
  crates/reinhardt-di/src/injectable_type.rs
  crates/reinhardt-di/src/lib.rs
  crates/reinhardt-di/tests/injectable_factory_inject_fallback_tests.rs
  crates/reinhardt-pages/macros/src/server_fn.rs
Due: unit, intra-crate-integration, cross-crate-integration, Dependency Injection

fix(examples): align polls info fixtures with relations
  examples/examples-tutorial-basis/src/apps/polls/client/components.rs
  examples/examples-tutorial-basis/tests/wasm/polls_mock_test.rs
Due: none

fix(urls): hide route opt-out sigil in introspection
  crates/reinhardt-urls/src/routers/server_router/introspection.rs
  crates/reinhardt-urls/src/routers/server_router/tests.rs
Due: unit, intra-crate-integration, cross-crate-integration, Server & Routing

fix(test): stop native MSW keep-alive tasks
  crates/reinhardt-test/src/msw/native.rs
  crates/reinhardt-test/src/msw/recorder.rs
  crates/reinhardt-test/src/msw/worker.rs
  crates/reinhardt-test/tests/native_msw.rs
Due: unit, intra-crate-integration, cross-crate-integration

docs(pages): classify React 19 parity outcomes
  crates/reinhardt-pages/docs/react_to_reinhardt.md
Due: unit, intra-crate-integration, cross-crate-integration

fix(db): emit rename columns for safe makemigrations renames
  crates/reinhardt-commands/README.md
  crates/reinhardt-commands/src/builtin.rs
  crates/reinhardt-db/README.md
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM, Utilities & Infrastructure

fix(db): avoid unique constraint churn on column rename
  crates/reinhardt-db/src/migrations/autodetector.rs
Due: unit, intra-crate-integration, cross-crate-integration, Database & ORM

feat(pages): add wasm server API parity macro
  crates/reinhardt-pages/README.md
  crates/reinhardt-pages/docs/wasm_server_api.md
  crates/reinhardt-pages/macros/src/lib.rs
  crates/reinhardt-pages/macros/src/wasm_server_api.rs
  crates/reinhardt-pages/src/lib.rs
  crates/reinhardt-pages/src/prelude.rs
  crates/reinhardt-pages/tests/ui.rs
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/attribute_mismatch.rs
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/attribute_mismatch.stderr
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/marker_on_struct.rs
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/marker_on_struct.stderr
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/missing_server.rs
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/missing_server.stderr
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/non_public.rs
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/non_public.stderr
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/signature_mismatch.rs
  crates/reinhardt-pages/tests/ui/wasm_server_api/fail/signature_mismatch.stderr
  crates/reinhardt-pages/tests/ui/wasm_server_api/pass/basic.rs
Due: unit, intra-crate-integration, cross-crate-integration, Frontend & Pages
